[2021-01-07 07:33] kkartunov commented on #370
Published https://www.topcoder.com/thrive/articles/top-5-api-management-tools
Thanks, @balavenkatesh3322

[2021-01-07 07:37] kkartunov commented on #370
Payment failed: [500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-07 07:43] kreasindo513 commented on #334
Can not login after click the link show this message...
{"message":"Cannot read property 'toLowerCase' of undefined"}

[2021-01-07 08:02] kkartunov commented on #310
Published https://www.topcoder.com/thrive/articles/euclidean-algorithm-and-linear-diophantine-equations
Thanks @shivam-51

[2021-01-07 08:03] shivam-51 commented on #310
Woah! My first Article :)

[2021-01-07 08:03] kkartunov commented on #334
@kreasindo513, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-07 08:05] kkartunov commented on #334
@kreasindo513 we are having some issues currently. Please try login in **using an incognito window**  when member API is back online https://status.topcoder.com/

[2021-01-07 08:05] shubham9455999082 commented on #329
updated article please look into it i have added algorithm part also
@kkartunov @dimkadimon
[TIME SERIES FORECASTING.docx](https://github.com/topcoder-platform/thrive-submit/files/5780301/TIME.SERIES.FORECASTING.docx)

[2021-01-07 12:32] #373 closed

[2021-01-07 12:33] kkartunov commented on #373
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161410<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-07 12:33] #370 closed

[2021-01-07 12:33] kkartunov commented on #370
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161411<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-07 12:33] #310 closed

[2021-01-07 12:34] kkartunov commented on #310
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161290<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-07 15:53] MCC129 commented on #371
Hi, @kkartunov  the article has modified the 3 points mentioned above, please review again, thanks!
[Big data query engine-impala.docx](https://github.com/topcoder-platform/thrive-submit/files/5782596/Big.data.query.engine-impala.docx)

[2021-01-08 06:41] YudhaDM19 commented on #312
thank you @Dara-K

[2021-01-08 07:30] kkartunov commented on #369
Contest https://www.topcoder.com/challenges/30161610 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-08 07:31] kkartunov commented on #369
Contest https://www.topcoder.com/challenges/30161610 has been updated - it has been assigned to XnpioChV.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-08 07:41] kkartunov commented on #354
Contest https://www.topcoder.com/challenges/30161611 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-08 07:42] kkartunov commented on #354
Contest https://www.topcoder.com/challenges/30161611 has been updated - it has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-08 07:47] kkartunov commented on #348
@balavenkatesh3322 thanks for this submission but unfortunately we can't accept it as it brings less value to Topcoder members.

[2021-01-08 07:47] #348 closed

[2021-01-08 07:54] kkartunov commented on #346
@MCC129 please expand article on:
- how to prepare env for crawling. Install BeautifulSoup and etc steps missing
- how CSS selectors work. Does it support XPath
- how is data written to Excel file shown at the end
- Add some more images for each of the involved steps

[2021-01-08 08:00] kkartunov commented on #372
@MCC129 there are too much articles on the internet listing the similarities and differences of Impala vs hive. We do not need another. If you want to expand on topic deeper and more detailed, please update and resubmit.

[2021-01-08 08:07] kkartunov commented on #341
Contest https://www.topcoder.com/challenges/30161619 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-08 08:08] kkartunov commented on #341
Contest https://www.topcoder.com/challenges/30161619 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-08 08:20] kkartunov commented on #363
@anu0012 please:
- remove Access Attributes section as it has to be in classes artcile idally(we can add it to that article)
- cover packages deeply before jumping to exceptions
  - How packages work
  - Types of packages
  - Package naming conventions
  - Adding a class to a Package
- cover Exception Hierarchy
- cover Exceptions Methods
- The Throws/Throw Keywords

[2021-01-08 08:25] kkartunov commented on #334
@kreasindo513, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-08 08:26] kkartunov commented on #334
@kreasindo513 have tried login to TCX again? We need you to do so to process your payment.

[2021-01-08 09:47] kreasindo513 commented on #334
Hi,

I fried many time to login with link that you shared, but still can not. The latest, the page open but login button can not function...![Screenshot_2021-01-08-16-45-51-189_com.mi.globalbrowser.jpg](https://user-images.githubusercontent.com/58783306/104000682-338faa00-51d1-11eb-9cb1-eb26045df60a.jpg)

[2021-01-08 11:10] shubham-dota commented on #339
Updated for GitHub @kkartunov
[Software.Dev.Tools.2.docx](https://github.com/topcoder-platform/thrive-submit/files/5786802/Software.Dev.Tools.2.docx)

[2021-01-08 13:02] kreasindo513 commented on #334
Hi @kkartunov
I can login to Topcoder X now, next what should I do? Sorry, this is my first time, no experience yet about Topcoder X

[2021-01-08 22:00] fajarmln commented on #312
@YudhaDM19, there are tons of grammar and language structure that needs to be revised, but considering the amount of time we've spent on this one article, I am jumping in and edit your article directly so it will be easier for the viewer to read it:

https://docs.google.com/document/d/1HgEXJ2YJIf6KHupu6bPKmVCj212azeahy71bT9Dp1vs/edit

The article looks fine now, I will approve it.

[2021-01-08 22:17] fajarmln commented on #374
@KakaIdan This tutorial is really basic and tons of similar article already available in the internet, one of them available in the adobe help forum since 2017 which contains lesser steps: https://helpx.adobe.com/photoshop/using/creating-patterns.html

I will reject this tutorial, thank you.

[2021-01-08 22:17] #374 closed

[2021-01-08 23:15] fajarmln commented on #364
@kreasindo513

While creating a calendar is a great exercise, it does not serve the real purpose of adobe xd and its capability. The design should be related to web apps and mobile apps. However, I saw the preparation and basic technique used in the article might have some additional value for our members, so, I will let you continue this article with some suggestions:

1. Listed all technique (Gr

[2021-01-08 23:25] fajarmln commented on #368
@kreasindo513

This article is too basic and still incomplete (no screenshot of the steps and further explanation in each step), it depends too much with 3rd party plugin and GUI kit from other resources too. I will reject this article.

[2021-01-08 23:25] #368 closed

[2021-01-09 00:37] YudhaDM19 commented on #312
Thank you @fajarmln

[2021-01-09 02:18] kreasindo513 commented on #368
Hi Bang @fajarmln
Thanks for your review and feedback, I will update the article with design tips/tricks which valuable to Topcoder designer. I saw the Figma quit the popular platform, but I can not see any article about Figma in Thrive.

[2021-01-09 02:32] kreasindo513 commented on #334
Hi @kkartunov
What should I do for payments request in Topcoder X?
Until now I can not access Topcoder X, might I submit a ticket in https://github.com/topcoder-platform/Design-Pool/issues/new
Please need your help here, Thank you

[2021-01-09 14:31] MCC129 commented on #346
Hi, @kkartunov updated, please check.
BeautifulSoup doesn't support XPath. It provides three methods to find elements:
`findall()` 、`find()` 、`selsect()` . This article uses `find()`, So it doesn't introduce CSS selectors much.

[2021-01-09 15:44] kreasindo513 commented on #334
I think this article was published [https://www.topcoder.com/thrive/articles/tips-to-use-source-files-across-sketch-adobe-xd-and-figma-platforms?](url)
Any other suggestion for the payment @kkartunov since the Topcoder X still can not access yet?

[2021-01-09 16:46] Dara-K commented on #364
Hi @kreasindo513,

I agree with @fajarmln. In general we're focusing on designing applications for web or mobile but the techniques shown are useful. I would focus the article more on Repeat Grid Tool with data From a Text file technique. So I suggest to:
- change the title
- add an intro section about this technique and how useful it is and then show that you're focusing on creating a calendar as

[2021-01-09 18:23] kreasindo513 commented on #364
Thank you for read and review this article @fajarmln and @Dara-K.
I Will revised the title and content to more valuable to Topcoder designer community.
I will focus on Repeat Grid Tool with data from a Text file, image event svg icon.
I would change the title to
"How to boost your design process  with repeat grid tool tricks in Adobe XD"
Any other suggestion/idea?

[2021-01-10 08:25] fajarmln commented on #368
Figma just recently being accepted as a new tool in the Topcoder Design challenge, so we don't have a tutorial for this tool yet. If you want to create a Figma tutorial (but with good details), we will be happy to see it.

[2021-01-10 10:22] fajarmln commented on #364
" Boost your design process with these simple tricks in Adobe XD"

[2021-01-10 10:23] fajarmln commented on #364
"Simple Tricks in Adobe XD to speed up your design process"

[2021-01-10 10:25] fajarmln commented on #364
It can be anything, as long it has a simple clickbait on the title that make people interested to read the article, that will be fine.

Please focus on revising the content.

[2021-01-10 15:58] shubham-dota commented on #365
Hi @kkartunov
Updated Plagiarism and extended topic.
[Getting Started with GitLab Extended.docx](https://github.com/topcoder-platform/thrive-submit/files/5792849/Getting.Started.with.GitLab.Extended.docx)

Thanks

[2021-01-11 08:11] kreasindo513 commented on #364
Hi Bang @fajarmln and @Dara-K

I have revised the content in google docs, wait for your review and feedback.
[https://docs.google.com/document/d/1GfaJ8Fjqy730sDtiyVtF-l3jdZ8O0zcvANain8ssZmc/edit?usp=sharing](url)
Thank you

[2021-01-11 15:38] harshitmehta15 commented on #307
Hey @winterflame can you review this one?

[2021-01-12 01:05] kreasindo513 commented on #334
Any update for this @kkartunov ?
Thank you

[2021-01-12 03:31] YudhaDM19 commented on #312
hi @fajarmln @Dara-K , what should i do after this? do I have to click close issue?

[2021-01-12 08:57] kkartunov commented on #334
@kreasindo513, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-12 08:59] kkartunov commented on #334
@kreasindo513 please use the incognito window and [this link](https://x.topcoder.com/api/v1/github/teams/registration/444e9a92-e44c-417f-983a-764800b4446d-1610441894692)to login to the system. We need you to authenticate so we could process your payment. Let me know when you done...

[2021-01-12 09:13] kkartunov commented on #369
https://www.topcoder.com/thrive/articles/mercado-pago-server-with-google-cloud-functions
Thanks to @ChrisChV

[2021-01-12 09:13] #369 closed

[2021-01-12 09:25] kkartunov commented on #354
https://www.topcoder.com/thrive/articles/draw-different-two-dimensional-graphs-with-matplotlib-in-python
Thanks to @MCC129

[2021-01-12 09:25] #354 closed

[2021-01-12 09:26] kkartunov commented on #354
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161611<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-12 10:09] kkartunov commented on #341
https://www.topcoder.com/thrive/articles/getting-started-with-python-part-2
Thanks @shubham-dota

[2021-01-12 10:09] #341 closed

[2021-01-12 10:09] kkartunov commented on #341
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161619<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-12 10:10] kkartunov commented on #312
Contest https://www.topcoder.com/challenges/30161987 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-12 10:11] kkartunov commented on #312
@YudhaDM19, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-12 10:14] kkartunov commented on #371
Contest https://www.topcoder.com/challenges/30161988 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-12 10:15] kkartunov commented on #371
Contest https://www.topcoder.com/challenges/30161988 has been updated - it has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-12 10:18] kkartunov commented on #365
Contest https://www.topcoder.com/challenges/30161989 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-12 10:18] kkartunov commented on #365
Contest https://www.topcoder.com/challenges/30161989 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-12 12:46] kreasindo513 commented on #334
https://user-images.githubusercontent.com/58783306/104316091-8d181180-550e-11eb-9a6f-7ceccce0ff41.mp4

I have tried much time to login by clicking the link you share but still error. I submitted a ticket to support regarding this issue, but no answer yet.
any other solution for payment terms here @kkartunov?

[2021-01-12 13:35] YudhaDM19 commented on #312
I have registered in topcoder x, but I can't log in, just keep loading. @kkartunov

[2021-01-12 17:55] MCC129 commented on #372
Hi, @kkartunov updated, please check.
[The relationship between impala and hive and its application in business intelligence analysis.docx](https://github.com/topcoder-platform/thrive-submit/files/5803878/The.relationship.between.impala.and.hive.and.its.application.in.business.intelligence.analysis.docx)

[2021-01-13 07:37] kkartunov commented on #334
@kreasindo513 my post said you should do it in **incognito window**. Please do as you been instructed and then let us know...

[2021-01-13 07:38] kkartunov commented on #312
@YudhaDM19, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-13 09:14] kkartunov commented on #365
Published https://www.topcoder.com/thrive/articles/getting-started-with-gitlab
Thanks @shubham-dota

[2021-01-13 09:14] #365 closed

[2021-01-13 09:14] kkartunov commented on #365
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161989<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-13 09:30] kkartunov commented on #371
Published https://www.topcoder.com/thrive/articles/big-data-query-engine-impala
Thanks, @MCC129

[2021-01-13 09:30] #371 closed

[2021-01-13 09:30] kkartunov commented on #371
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161988<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-13 17:05] anu0012 commented on #360
@kkartunov PFA the updated document.

[dask.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5810078/dask.md.zip)

[2021-01-14 00:43] kreasindo513 commented on #334
I have done with Topcoder X using incignito window as video
https://drive.google.com/file/d/1qARCieWoOxkZ9sM39itsue9ljseplzhs/view?usp=sharing

[2021-01-14 06:27] kkartunov commented on #334
Contest https://www.topcoder.com/challenges/30161400 has been updated - it has been assigned to kreasindo.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-14 06:28] kkartunov commented on #334
@kreasindo513 thank You for your efforts. Expect the payment in your TC account soon...

[2021-01-14 06:28] kkartunov commented on #334
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-14 06:28] #334 closed

[2021-01-14 06:29] kkartunov commented on #334
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161400<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-14 07:41] fajarmln commented on #364
@kreasindo513

I am adding some comments in the article, please apply them. Some of my suggestion:

- If you want to add the brochure part, please make sure to explain the design process in your article too (not just via watching the video)

- We need to make the user feel comfortable when reading the article, so make sure to use proper grammar and make the reading flow smooth, I feel like some ar

[2021-01-14 15:40] kkartunov commented on #312
@YudhaDM19, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-14 15:53] anu0012 commented on #363
@kkartunov PFA the updated blog.

[core_java_6.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5815452/core_java_6.md.zip)

[2021-01-15 08:01] kkartunov commented on #312
Contest https://www.topcoder.com/challenges/30161987 has been updated - it has been assigned to Yudha19.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-15 08:05] kkartunov commented on #346
@MCC129 I get test failed https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLABYAvjXDR4ydOwBhJEIWAAUmUggXOgZmNmxwyJgmWGIkaTofEXQJKXZEqJSYNNJFMkVHEKcAEy1KlgAbOAAPRVVnOEi4akynF0wAJk9vYT8MBKhKSmIANzgANSRiCDhBWNZ2AGUYNCaHUdFc3XzJ6bnFGaWVxRJKFVXeiP6ATmGhX1F8hqgEYn4zQhrRgbBLfX7-SiAzIHH

[2021-01-15 08:08] kkartunov commented on #360
@anu0012 good update. Can we also add a section to compare Dask to other frameworks for parallel computing? Compare speed, complexity, usage and etc., please.

[2021-01-15 08:10] kkartunov commented on #363
@anu0012 please add examples for "Exception Methods" section too.

[2021-01-15 08:15] kkartunov commented on #372
@MCC129 thanks for the update. Can you please add more screenshots in the application example section? Thank you.

[2021-01-15 10:47] anu0012 commented on #363
@kkartunov Done.

[core_java_6.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5820006/core_java_6.md.zip)

[2021-01-15 11:39] anu0012 commented on #360
@kkartunov Done.

[dask.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5820230/dask.md.zip)

[2021-01-15 13:49] kkartunov commented on #312
Published https://www.topcoder.com/thrive/articles/using-trim-paths-in-after-effects-to-create-simple-animation
Thank you @YudhaDM19

[2021-01-15 13:49] #312 closed

[2021-01-15 13:49] kkartunov commented on #312
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161987<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-15 14:04] MCC129 commented on #346
@kkartunov updated, please check.
[web crawler in python.docx](https://github.com/topcoder-platform/thrive-submit/files/5820914/web.crawler.in.python.docx)

[2021-01-15 16:02] kreasindo513 commented on #364
Thanks, bang @fajarmln for the comments, feedback, and suggestions.
I have revised the article in google docs, add an explanation of the design process of the brochure part.
Thank you

[2021-01-17 17:26] anu0012 commented on #352
@kkartunov PFA the updated document.

[plotly_dash.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5826522/plotly_dash.md.zip)

[2021-01-18 00:40] fajarmln commented on #364
@kreasindo513

To save time, I've edit your article to make it more interesting and easy to ready. I'm done and agree with the article content.

@Dara-K Please let me know your approval or your opinion too before we close the ticket and proceed with the payment, thank you.

[2021-01-18 05:00] harshitmehta15 commented on #357
Hey @goyalrohit The article needs improvement as mentioned by the reviewer. Also I think this kind of theoritical article is available on the internet easily. If you are planning to improve and resubmit - please add some code and hands-on examples to have this article go on thrive.

[2021-01-18 05:00] #357 closed

[2021-01-18 05:05] harshitmehta15 commented on #361
Hi @balavenkatesh3322 Several easily accessible articles are available on the internet around Tensors. The reviewer had a similar point of view.

I suggest we should look at some interesting topic on which not much is available or written or something that

I will have to, unfortunately, reject this.

Really liked your first articles. Looking forward to more of your submissions. Feel free to confi

[2021-01-18 05:05] #361 closed

[2021-01-18 05:19] harshitmehta15 commented on #377
@goyalrohit can you work on enhancing this article. Detailing each type and even adding an examples. There are several articles available on the internet and if you can think of something that would set it apart. - we can publish this. :)

[2021-01-18 05:20] harshitmehta15 commented on #367
Already exists! - Closing this issue!

[2021-01-18 05:20] #367 closed

[2021-01-18 05:21] harshitmehta15 commented on #335
Closing because of no activity/update. Please resubmit incase you want to make improvements!

[2021-01-18 05:21] #335 closed

[2021-01-18 05:26] harshitmehta15 commented on #378
Hey @goyalrohit ,
Unfortunately, I will have to reject this one. There are several articles available around this.

If you'd like to write about RPA - I suggest adding examples to the Topcoder product or any famous Business us. Explaining it with an example and linking variour relevant resources and even some learning paths or projects a member can take is something that would make the article sta

[2021-01-18 05:27] #378 closed

[2021-01-18 05:28] harshitmehta15 commented on #284
Hey @tapishr - Will reject this for now. If you plan to work on it with the improvements suggested - please submit again and we would be happy to publish!

[2021-01-18 05:28] #284 closed

[2021-01-18 05:33] harshitmehta15 commented on #290
Hey @jlhopkins28160  - rejecting this for now. Incase you are able to add some preview images - please re submit! :)

[2021-01-18 05:33] #290 closed

[2021-01-18 05:37] harshitmehta15 commented on #336
Hey Bala - would you mind adding about -Datasets and solutions available on Topcoder too.
Some of the Datasets are here:https://www.topcoder.com/community/data-science/datasets#:~:text=With%20Topcoder%20Datasets%20you%20have,science%20abilities%20along%20the%20way.

[2021-01-18 05:43] harshitmehta15 commented on #329
Hey @shubham9455999082 do you think you can add an example of a Topcoder Marathon Match too in the article and also use a google doc to allow us to comment and suggest edits?

[2021-01-18 05:45] harshitmehta15 commented on #306
Hey @anu0012 - This is a very basic topic and a lot of content is readily easily available on the internet. Unfortunately will have to reject this one.

[2021-01-18 05:45] #306 closed

[2021-01-18 05:46] harshitmehta15 commented on #316
Hey @tarushi96 yes :) Please make the edits

[2021-01-18 05:50] shubham9455999082 commented on #329
ok sir i will do

[2021-01-18 06:26] balavenkatesh3322 commented on #336
Yeah Sure @harshitmehta15 .

[2021-01-18 06:26] shubham9455999082 commented on #329
below is the google docs link

https://docs.google.com/document/d/1jQ41MEgCol6eKHkFAR-cMkrhF0DXBp85qGJ0O-2Q-9Y/edit?usp=sharing

[2021-01-18 06:41] balavenkatesh3322 commented on #336
@harshitmehta15 I have added the topcoder datasets link and solution :)

[2021-01-18 06:45] shubham9455999082 opened #379 "Audio data analysis and prediction"
Author: Shubham Kumar Shukla
Track category: data science, machine learning
Sub category: theory , code
Tags: data science , python, statistics, physics
Top-coder handle: Shubham9455

[2021-01-18 07:57] harshitmehta15 commented on #326
Hey @tarushi96  - this is very basic and is easily available on the internet. Please resubmit incase you are planning to better it  :)

[2021-01-18 07:57] #326 closed

[2021-01-18 11:15] balavenkatesh3322 commented on #328
@harshitmehta15 Is there any reason to remove the "Ready for Review" label?

[2021-01-18 16:12] MCC129 commented on #372
@kkartunov updated, please  check.
[The.relationship.between.impala.and.hive.and.its.application.in.business.intelligence.analysis.docx](https://github.com/topcoder-platform/thrive-submit/files/5831294/The.relationship.between.impala.and.hive.and.its.application.in.business.intelligence.analysis.docx)

[2021-01-18 22:16] Dara-K commented on #364
@kreasindo513  @fajarmln
It looks good by me, I just left a comment to fix the icons on of the designs.
Good work Beni!

[2021-01-18 22:18] fajarmln commented on #364
Thank you @Dara-K

Please fix it @kreasindo513, thanks.

[2021-01-18 23:21] kreasindo513 commented on #364
Great, I have fixed and updated the image and the drive link as well.
Thank you @Dara-K and Bang @fajarmln
https://drive.google.com/file/d/1jQhhp5_xmvfaBP_NoK3qZzZiqkVvN96u/view?usp=sharing
[https://drive.google.com/file/d/1jQhhp5_xmvfaBP_NoK3qZzZiqkVvN96u/view?usp=sharing](url)

[2021-01-18 23:29] Dara-K commented on #364
Perfect, thank you @kreasindo513 ! Nice job!

This article is now approved :)

[2021-01-18 23:33] kreasindo513 commented on #364
Thank you @Dara-K, @fajarmln and @kkartunov .
I much love this blogger/content writer journey, as I can improve my English writing skill and practice more the designing skills.

[2021-01-19 01:28] winterflame commented on #307
@harshitmehta15 Sorry, I missed the notification email. I'll review it ASAP, thank you!

[2021-01-19 04:28] winterflame commented on #307
I think this article is good for readers to get a basic understanding of code coverage.

[2021-01-19 09:14] kkartunov commented on #364
Contest https://www.topcoder.com/challenges/30162841 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:14] kkartunov commented on #364
Contest https://www.topcoder.com/challenges/30162841 has been updated - it has been assigned to kreasindo.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:18] kkartunov commented on #307
Contest https://www.topcoder.com/challenges/30162842 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:19] kkartunov commented on #307
Contest https://www.topcoder.com/challenges/30162842 has been updated - it has been assigned to VanitaW.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:22] kkartunov commented on #372
Contest https://www.topcoder.com/challenges/30162843 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:22] kkartunov commented on #372
Contest https://www.topcoder.com/challenges/30162843 has been updated - it has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:25] kkartunov commented on #363
Contest https://www.topcoder.com/challenges/30162845 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:25] kkartunov commented on #363
Contest https://www.topcoder.com/challenges/30162845 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:28] kkartunov commented on #346
Contest https://www.topcoder.com/challenges/30162847 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:28] kkartunov commented on #346
Contest https://www.topcoder.com/challenges/30162847 has been updated - it has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-19 09:30] kkartunov commented on #305
Closing due to long inactivity.

[2021-01-19 09:30] #305 closed

[2021-01-19 09:31] kkartunov commented on #322
Closing due to long inactivity.

[2021-01-19 09:31] #322 closed

[2021-01-19 09:32] kkartunov commented on #299
@VanitaW do you plan to finish this one?

[2021-01-19 18:44] VanitaW commented on #299
@kkartunov Yes, I do plan to finish this article and submit another one soon.  Tuesdays, Thursdays and Saturdays are my writing days.

[2021-01-20 03:13] shubham9455999082 commented on #329
@kkartunov @dimkadimon please look into i have done lot of effort

[2021-01-20 03:14] harshitmehta15 commented on #329
Hey @shubham9455999082 thanks for the updates, I will review again and get back.

[2021-01-20 03:16] shubham9455999082 commented on #329
thank you too much @harshitmehta15 sir

[2021-01-20 03:23] harshitmehta15 commented on #355
@goyalrohit ^

[2021-01-20 03:26] harshitmehta15 commented on #350
@shubham-dota - thanks for writing. @kkartunov - this is good to go through grammar check.

[2021-01-20 08:13] harshitmehta15 commented on #344
@kkartunov good to publish :)

[2021-01-20 08:34] harshitmehta15 commented on #336
@kkartunov Good to be reviewed and published

[2021-01-20 10:49] harshitmehta15 commented on #340
Hey @balavenkatesh3322 - This article needs more examples and content. Also, a good start would be interesting.
The topic and heading it interesting, we can grow this article to be a good one. Let us know if you are planning to make it bigger and better.

[2021-01-20 11:07] balavenkatesh3322 commented on #340
Yes Sure. I have a plan to make it part 2. anyway, Let me add one more topic called "extracting edge feature"  in this article. @harshitmehta15  Thanks for the review :)

[2021-01-20 13:37] balavenkatesh3322 commented on #340
@harshitmehta15 As you suggested i have added more content on that article. please review it and publish. Thanks :)

[2021-01-21 12:51] tarushi96 commented on #316
Hi @harshitmehta15, @dimkadimon , @kkartunov

I have accommodated @dimkadimon comments to my best,
@harshitmehta15 couldn't site TC examples since I have not participated in any DS challenge here yet.

Attached is the updated article after plagiarism check from my side :)

[tarushi_pysark_article2.docx](https://github.com/topcoder-platform/thrive-submit/files/5849370/tarushi_pysark_article2.docx)

[2021-01-22 02:10] kreasindo513 commented on #364
Hi @kkartunov any task in Topcoder X, like previous article, that should I do yet for the payment process?
Thank you

[2021-01-22 08:26] harshitmehta15 commented on #316
Hey @tarushi96
Thanks for updating. Looks good. Addition of an example would make it great.
Can you use any data set as an example and add showcase the results with each steps?

[2021-01-22 08:36] harshitmehta15 commented on #303
I think some code samples are required to show the example report can be processed. @balavenkatesh3322

[2021-01-22 09:51] balavenkatesh3322 commented on #303
@harshitmehta15 Thanks for the review. I have added code example and screenshot of output.

[2021-01-23 08:34] kkartunov commented on #372
Published https://www.topcoder.com/thrive/articles/the-relationship-between-impala-and-hive-and-its-application-in-business
Thanks to @MCC129

[2021-01-23 08:38] kkartunov commented on #372
Payment failed: [400]: Failed to get challenge details by Id Detail: "id" must be a valid GUID<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-23 15:20] kkartunov commented on #350
@shubham-dota grammer tests fail, please fix and resubmit.
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYA7AF8a4aPGTpWAETh4FHxVOBR7OgYmFmwAcRQofEkUByFfMQkpAKDw0PJwpVJLJQAKKF0pXRgACzhqmu5zGiUgiAA6AEoHLWcAFg8vdJFWYihzc24ANzgANSRuCDgBaOZWAGUYNGM0nxFxSWk2ccmZpSmFpaVQ82LlukdrLAA2QcE

[2021-01-23 15:21] kkartunov commented on #344
Challenge https://www.topcoder.com/challenges/8d5ad635-fdc1-447a-84d3-3cfd93497f43 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-23 15:22] kkartunov commented on #344
Challenge https://www.topcoder.com/challenges/8d5ad635-fdc1-447a-84d3-3cfd93497f43 has been assigned to bhagvanarch.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-23 15:27] kkartunov commented on #336
Challenge https://www.topcoder.com/challenges/679f2f28-43ac-4f39-9ff1-32de530f6ad9 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-23 15:27] kkartunov commented on #336
Challenge https://www.topcoder.com/challenges/679f2f28-43ac-4f39-9ff1-32de530f6ad9 has been assigned to balavenkatesh.s.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-23 15:28] kkartunov commented on #328
Challenge https://www.topcoder.com/challenges/30ea0034-89a2-4141-9bc9-0825b4704429 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-23 15:28] kkartunov commented on #328
Challenge https://www.topcoder.com/challenges/30ea0034-89a2-4141-9bc9-0825b4704429 has been assigned to balavenkatesh.s.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-24 05:43] shubham-dota commented on #350
Hi @kkartunov Updated Plagiarism
[pandas.docx](https://github.com/topcoder-platform/thrive-submit/files/5861627/pandas.docx)
.

[2021-01-25 06:08] tarushi96 commented on #316
Hi @harshitmehta15 , @kkartunov
Thanks, I have added an example at end explaining decision trees, and not went into coding in detail at each step since this is not intended as a coding tutorial.
There is however, some snippets of python code in the example and the libraries for visualization used.
Hope it is better!

[tarushi_pysark_article2.docx](https://github.com/topcoder-platform/thrive-submit

[2021-01-25 10:49] kreasindo513 commented on #364
Any update @Dara-K and @kkartunov about this? Thank you

[2021-01-25 12:51] kkartunov commented on #372
Challenge https://www.topcoder.com/challenges/2124d6cc-3e2a-4e33-b916-a2a2a951d89b has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 12:51] kkartunov commented on #372
Challenge https://www.topcoder.com/challenges/2124d6cc-3e2a-4e33-b916-a2a2a951d89b has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 12:52] kkartunov commented on #372
Thanks, @MCC129

[2021-01-25 12:52] #372 closed

[2021-01-25 12:52] kkartunov commented on #372
Payment task has been updated: https://www.topcoder.com/challenges/2124d6cc-3e2a-4e33-b916-a2a2a951d89b
*Payments Complete*
Winner: M_CC
Copilot: kiril.kartunov
Challenge `2124d6cc-3e2a-4e33-b916-a2a2a951d89b` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 12:59] kkartunov commented on #363
Challenge https://www.topcoder.com/challenges/04b8b8e8-1579-46c4-a12f-94e5e3116a73 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 13:00] kkartunov commented on #363
Challenge https://www.topcoder.com/challenges/04b8b8e8-1579-46c4-a12f-94e5e3116a73 has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 13:09] kkartunov commented on #363
Published https://www.topcoder.com/thrive/articles/core-java-part-6
Thanks to @anu0012

[2021-01-25 13:09] kkartunov commented on #363
Payment task has been updated: https://www.topcoder.com/challenges/04b8b8e8-1579-46c4-a12f-94e5e3116a73
*Payments Complete*
Winner: anu0012
Copilot: kiril.kartunov
Challenge `04b8b8e8-1579-46c4-a12f-94e5e3116a73` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 13:10] kkartunov commented on #346
Challenge https://www.topcoder.com/challenges/7f414006-53fd-4a9b-a023-2def52881a05 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 13:10] kkartunov commented on #346
Challenge https://www.topcoder.com/challenges/7f414006-53fd-4a9b-a023-2def52881a05 has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 13:24] kkartunov commented on #346
Published https://www.topcoder.com/thrive/articles/web-crawler-in-python

[2021-01-25 13:24] #346 closed

[2021-01-25 13:24] kkartunov commented on #346
Payment task has been updated: https://www.topcoder.com/challenges/7f414006-53fd-4a9b-a023-2def52881a05
*Payments Complete*
Winner: M_CC
Copilot: kiril.kartunov
Challenge `7f414006-53fd-4a9b-a023-2def52881a05` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 13:27] kkartunov commented on #364
Challenge https://www.topcoder.com/challenges/9d95bf50-80c0-4c87-83c1-ba5ca3fb90f0 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 13:27] kkartunov commented on #364
Challenge https://www.topcoder.com/challenges/9d95bf50-80c0-4c87-83c1-ba5ca3fb90f0 has been assigned to kreasindo.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-25 13:47] kkartunov commented on #364
Published https://www.topcoder.com/thrive/articles/simple-tricks-in-adobe-xd-to-speed-up-your-design-process
Thanks, @kreasindo513

[2021-01-25 13:47] #364 closed

[2021-01-25 13:47] kkartunov commented on #364
Payment task has been updated: https://www.topcoder.com/challenges/9d95bf50-80c0-4c87-83c1-ba5ca3fb90f0
*Payments Complete*
Winner: kreasindo
Copilot: kiril.kartunov
Challenge `9d95bf50-80c0-4c87-83c1-ba5ca3fb90f0` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 06:26] kkartunov commented on #336
Published https://www.topcoder.com/thrive/articles/top-five-websites-for-generating-datasets-for-machine-learning-projects
Thanks, @balavenkatesh3322

[2021-01-26 06:26] kkartunov commented on #336
Payment task has been updated: https://www.topcoder.com/challenges/679f2f28-43ac-4f39-9ff1-32de530f6ad9
*Payments Complete*
Winner: balavenkatesh.s
Copilot: kiril.kartunov
Challenge `679f2f28-43ac-4f39-9ff1-32de530f6ad9` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 06:37] kkartunov commented on #328
Published https://www.topcoder.com/thrive/articles/top-three-tensorflow-tools-for-data-scientists
Thanks, @balavenkatesh3322

[2021-01-26 06:37] kkartunov commented on #328
Payment task has been updated: https://www.topcoder.com/challenges/30ea0034-89a2-4141-9bc9-0825b4704429
*Payments Complete*
Winner: balavenkatesh.s
Copilot: kiril.kartunov
Challenge `30ea0034-89a2-4141-9bc9-0825b4704429` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 06:55] kkartunov commented on #344
Published https://www.topcoder.com/thrive/articles/introduction-to-streaming-spark-and-databricks
Thanks, @bhagvanarch

[2021-01-26 06:55] kkartunov commented on #344
Payment task has been updated: https://www.topcoder.com/challenges/8d5ad635-fdc1-447a-84d3-3cfd93497f43
*Payments Complete*
Winner: bhagvanarch
Copilot: kiril.kartunov
Challenge `8d5ad635-fdc1-447a-84d3-3cfd93497f43` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 07:10] kkartunov commented on #307
[400]: Failed to create challenge. Detail: "description" is not allowed to be empty<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 07:10] kkartunov commented on #307
[400]: Failed to create challenge. Detail: "description" is not allowed to be empty<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 07:10] kkartunov commented on #307
[400]: Failed to create challenge. Detail: "description" is not allowed to be empty<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 07:11] kkartunov commented on #307
Challenge https://www.topcoder.com/challenges/481277de-5c1c-46e7-be0c-1f056332d47b has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 07:11] kkartunov commented on #307
Challenge https://www.topcoder.com/challenges/481277de-5c1c-46e7-be0c-1f056332d47b has been assigned to VanitaW.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 07:12] kkartunov commented on #307
Published https://www.topcoder.com/thrive/articles/the-abcs-of-code-coverage
Thanks to @VanitaW

[2021-01-26 07:12] #307 closed

[2021-01-26 07:12] kkartunov commented on #307
Payment task has been updated: https://www.topcoder.com/challenges/481277de-5c1c-46e7-be0c-1f056332d47b
*Payments Complete*
Winner: VanitaW
Copilot: kiril.kartunov
Challenge `481277de-5c1c-46e7-be0c-1f056332d47b` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 13:35] kkartunov commented on #350
Challenge https://www.topcoder.com/challenges/ea9640b8-8ace-4ee8-9a0a-9a73bc9210a0 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 13:35] kkartunov commented on #350
Challenge https://www.topcoder.com/challenges/ea9640b8-8ace-4ee8-9a0a-9a73bc9210a0 has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 13:39] kkartunov commented on #366
Challenge https://www.topcoder.com/challenges/65151b5b-4f0e-49cd-b104-929924dc85aa has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-26 13:39] kkartunov commented on #366
Challenge https://www.topcoder.com/challenges/65151b5b-4f0e-49cd-b104-929924dc85aa has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-27 16:45] ksmacleod99 opened #380 "Downloading Data From AWS S3"
https://docs.google.com/document/d/1MoQiRyoqVP62GoOEQs-DdI0woHtFf0Spi8TP-7KUCgY/edit?usp=sharing

[2021-02-02 04:45] tarushi96 commented on #316
@kkartunov @harshitmehta15 any update?

[2021-02-02 07:25] #363 closed

[2021-02-02 07:41] #344 closed

[2021-02-02 07:42] #336 closed

[2021-02-02 07:42] #328 closed

[2021-02-02 07:46] harshitmehta15 commented on #316
@kkartunov can you send it to Eliza? :)

[2021-02-02 08:11] kkartunov commented on #350
Published https://www.topcoder.com/thrive/articles/python-for-data-analysis-and-manipulation-pandas
Thanks, @shubham-dota

[2021-02-02 08:11] #350 closed

[2021-02-02 08:12] kkartunov commented on #350
Payment task has been updated: https://www.topcoder.com/challenges/ea9640b8-8ace-4ee8-9a0a-9a73bc9210a0
*Payments Complete*
Winner: whoami.kdm
Copilot: kiril.kartunov
Challenge `ea9640b8-8ace-4ee8-9a0a-9a73bc9210a0` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-02 08:48] kkartunov commented on #366
Published https://www.topcoder.com/thrive/articles/getting-started-with-python-part-3
Thanks @shubham-dota

[2021-02-02 08:48] #366 closed

[2021-02-02 08:48] kkartunov commented on #366
Payment task has been updated: https://www.topcoder.com/challenges/65151b5b-4f0e-49cd-b104-929924dc85aa
*Payments Complete*
Winner: whoami.kdm
Copilot: kiril.kartunov
Challenge `65151b5b-4f0e-49cd-b104-929924dc85aa` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-02 08:50] kkartunov commented on #316
Challenge https://www.topcoder.com/challenges/21dfc103-2869-4ae5-8307-041ef852bcb1 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-02 08:50] kkartunov commented on #316
Challenge https://www.topcoder.com/challenges/21dfc103-2869-4ae5-8307-041ef852bcb1 has been assigned to tarushi.gupta.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-02 09:02] kkartunov commented on #339
Challenge https://www.topcoder.com/challenges/32c99cf8-a11d-43d2-a4f4-0ee92922c8a5 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-02 09:02] kkartunov commented on #339
Challenge https://www.topcoder.com/challenges/32c99cf8-a11d-43d2-a4f4-0ee92922c8a5 has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-02 09:05] kkartunov commented on #352
Challenge https://www.topcoder.com/challenges/2e01a52b-d952-4fe8-8af5-a93a91a3b999 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-02 09:05] kkartunov commented on #352
Challenge https://www.topcoder.com/challenges/2e01a52b-d952-4fe8-8af5-a93a91a3b999 has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-03 05:06] tarushi96 commented on #316
@kkartunov I am not familiar with the process this year, Do I have to something to get paid or will it reflect in my pending payments automatically?

[2021-02-03 06:53] balavenkatesh3322 commented on #303
@harshitmehta15 can you please review and publish it. :)

[2021-02-03 06:53] balavenkatesh3322 commented on #340
@harshitmehta15  can you please review and publish it. :)

[2021-02-03 08:17] kkartunov commented on #316
Published https://www.topcoder.com/thrive/articles/understanding-random-forest-and-hyper-parameter-tuning
Thanks, @tarushi96

[2021-02-03 08:17] #316 closed

[2021-02-03 08:17] kkartunov commented on #316
Payment task has been updated: https://www.topcoder.com/challenges/21dfc103-2869-4ae5-8307-041ef852bcb1
*Payments Complete*
Winner: tarushi.gupta
Copilot: kiril.kartunov
Challenge `21dfc103-2869-4ae5-8307-041ef852bcb1` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-03 08:29] kkartunov commented on #352
Published https://www.topcoder.com/thrive/articles/creating-interactive-dashboards-using-plotly-dash
Thanks to @anu0012

[2021-02-03 08:29] #352 closed

[2021-02-03 08:29] kkartunov commented on #352
Payment task has been updated: https://www.topcoder.com/challenges/2e01a52b-d952-4fe8-8af5-a93a91a3b999
*Payments Complete*
Winner: anu0012
Copilot: kiril.kartunov
Challenge `2e01a52b-d952-4fe8-8af5-a93a91a3b999` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-03 08:33] kkartunov commented on #339
@shubham-dota please check and correct the issues found for your article. You can do it here in the doc https://docs.google.com/document/d/1cBTXy1Nbt9DVteGnWK7FF4hAQTOkwrqsMRj4Pc04bVA/edit?usp=sharing

Let us know when you ready...

[2021-02-03 08:37] kkartunov commented on #380
Hey, @ksmacleod99 article fails passing plagiarism check. Please correct, update it, and resubmit.

https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgCMAX1rho8ZOnYLJLTmpBRmY2bEDuXn5bYW9xKRl2CJ4YPhNjU0UWewATAHo7fzM4AA9lLQc4Kmtbe0dXdyEvUXYAETh4FDUKOBQbehDWdgBxFCglKBQY5vQJaVkwds7u3uUrZQAK

[2021-02-03 09:49] shubham-dota commented on #339
@kkartunov  updated.

[2021-02-04 06:30] kkartunov commented on #339
Published https://www.topcoder.com/thrive/articles/tools-for-software-development
Thanks @shubham-dota

[2021-02-04 06:30] #339 closed

[2021-02-04 06:31] kkartunov commented on #339
Payment task has been updated: https://www.topcoder.com/challenges/32c99cf8-a11d-43d2-a4f4-0ee92922c8a5
*Payments Complete*
Winner: whoami.kdm
Copilot: kiril.kartunov
Challenge `32c99cf8-a11d-43d2-a4f4-0ee92922c8a5` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-02-09 21:02] ksmacleod99 commented on #380
I'm not trying to be difficult, but the Grammarly check is not useful in pointing out where the plagiarism is.

We do quote (and cite) the AWS documentation for parts of this article. Could Grammarly be picking up on that?

[2021-02-22 14:29] kkartunov commented on #380
@ksmacleod99 we have a repo rule to consider only articles that pass the Grammarly check. Please, make it pass by tweaking the sections you mention. I hope it helps...

[2021-03-03 08:30] harshitmehta15 commented on #380
Hey @kkartunov - Kelly is an admin and we are publishing this as a help article. This would be Topcoder General Category :)

[2021-03-03 08:47] harshitmehta15 commented on #329
Hey @kkartunov Lets run it through Eliza before publishing :)

[2021-03-10 17:00] bhagvanarch opened #381 "[$50] Thrive - Part 3: Databricks Series - Job Processing with DataBricks"
The outline of the article is as below:

1.  Job Creation
2.  Job Information
3. Job Execution
4. Job Editing
5. Job Deleting
6. Job related alerts
7. Job Access Control
8. Job Exporting

[2021-03-20 16:48] Lonakshi131 opened #382 "[$50] Thrive - Introduction to Linear Regression"
Track: Data Science
Author: Lonakshi Bhagat
Top coder handle: Lonakshi

Link to article doc:
https://drive.google.com/file/d/1Cu7oiRjug9csL7w-pm6p-hLar6I5U5m4/view?usp=sharing

Links to pictures of the code snippets:
https://drive.google.com/file/d/1BTsAMO-YIHUyXOgtQ1G4k192Q3aIktay/view?usp=sharing, https://drive.google.com/file/d/1FKXXEM8iSs4jykKFnqoCQLxavPOjMTu5/view?usp=sharing, https://drive.g

[2021-03-22 07:37] kkartunov commented on #381
@bhagvanarch thank you. What is the URL for this article?

[2021-03-22 07:39] bhagvank commented on #381
i will share the url soon.

[2021-03-23 05:56] Lonakshi131 commented on #382
Hi Please have a look at my article

[2021-03-23 08:55] kkartunov commented on #330
Challenge https://www.topcoder.com/challenges/a733d4c6-e831-4cd2-9076-f24d15954f8b has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-23 08:55] kkartunov commented on #330
@shubham9455999082, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-23 08:57] kkartunov commented on #329
Challenge https://www.topcoder.com/challenges/f0be8963-2524-45c9-9f12-eb3507c98674 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-23 08:59] kkartunov commented on #303
Challenge https://www.topcoder.com/challenges/22350208-c060-46d1-9af3-d975ad982900 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-23 09:00] kkartunov commented on #303
Challenge https://www.topcoder.com/challenges/22350208-c060-46d1-9af3-d975ad982900 has been assigned to balavenkatesh.s.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-23 12:07] Lonakshi131 commented on #382
@kkartunov

[2021-03-23 14:25] shubham9455999082 commented on #330
@kkartunov  how to sign up via topcoder x , i have already topcoder account

[2021-03-25 09:11] kkartunov commented on #303
Published https://www.topcoder.com/thrive/articles/how-to-extract-medical-information-from-unstructured-data-using-nlp
Thanks @balavenkatesh3322

[2021-03-25 09:16] kkartunov commented on #303
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-25 13:28] kkartunov commented on #303
Payment failed: [400]: Failed to activate challenge. Detail: Cannot Activate this project, it has no active billing accounts.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-26 13:43] #303 closed

[2021-03-26 13:43] kkartunov commented on #303
Payment task has been updated: https://www.topcoder.com/challenges/22350208-c060-46d1-9af3-d975ad982900
*Payments Complete*
Winner: balavenkatesh.s
Copilot: kiril.kartunov
Challenge `22350208-c060-46d1-9af3-d975ad982900` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-26 15:04] kkartunov commented on #329
Published https://www.topcoder.com/thrive/articles/time-series-forecasting-using-python

[2021-03-26 15:16] kkartunov commented on #330
Published https://www.topcoder.com/thrive/articles/common-smoothing-filters

[2021-03-28 19:18] bhagvank commented on #381
The url for the article is : https://docs.google.com/document/d/1r_xjIEYaAd-2sR_Js3kJCyP1EbkqPWsfO48DRHa_67Y/edit?usp=sharing

[2021-03-28 21:00] psharneja opened #383 "[$50] Thrive - publish your react component to npm registry"
Track: Development
Author: Prabhsimran Singh
TopCoder handle: prabhsimran

Link to article doc: https://drive.google.com/file/d/1lq__h9yBGsEk2Sk4xSdUPaKxkAL1jIl_/view?usp=sharing

@harshitmehta15  please review

[2021-03-28 21:01] psharneja opened #384 "[$50] Thrive - Using Amazon SES with Node.js"
Track: Development
Author: Prabhsimran Singh
TopCoder handle: prabhsimran

Link to article doc: https://drive.google.com/file/d/1_P-vHkUz1YgYRgJ3sVJ1sfrWDaxp2EID/view?usp=sharing

@harshitmehta15   please review

[2021-03-28 21:02] psharneja opened #385 "[$50] Thrive - Ionic apps for Windows & macOS"
Track: Development
Author: Prabhsimran Singh
TopCoder handle: prabhsimran

Link to article doc: https://drive.google.com/file/d/1H0eFNSAr_jlNjAfh3Hyp65iHRFybJfqJ/view?usp=sharing

@harshitmehta15 please review

[2021-03-28 21:03] psharneja opened #386 "[$50] Thrive - I spend a few days with Raspberry Pi- 400"
Track: Development
Author: Prabhsimran Singh
TopCoder handle: prabhsimran

Link to article doc: hhttps://drive.google.com/file/d/1C1rQiz1yLAQ7EKDIJ6RAi9CfzBuBlzCB/view?usp=sharing

@harshitmehta15 please review

[2021-03-29 06:54] #330 closed

[2021-03-29 06:54] kkartunov commented on #330
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-29 06:55] #329 closed

[2021-03-29 06:55] kkartunov commented on #329
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-03-29 08:02] kkartunov commented on #380
Published https://www.topcoder.com/thrive/articles/downloading-data-from-aws-s3
Thank you @ksmacleod99 and @harshitmehta15

[2021-03-29 08:02] #380 closed

[2021-03-29 08:05] kkartunov commented on #382
passed min checks

[2021-03-29 08:07] kkartunov commented on #381
@bhagvank submission fails plagiarisum check. Please update
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLAFYAvjXDR4ydOwBhJEIWAAUmUggXOgZmNmxwyJgmWGIkaTofEXQJKXZEqJSYNNJFMkVHEKcAEy1KlgAbOAAPRVVnOEi4akynF0wARk9vYT8MbABZM0oWOAam6sFY1nYAZVn5sgQHUdFc3XYpyhm5hcUAd1Rqnsg%2BrAAOYaF

[2021-03-29 08:09] kkartunov commented on #383
@psharneja submission fails test -  "Significant plagiarism found"
Please update and re-submit here.
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLADYAvjXDR4ydOwBhJEIWAAUmUggXOgZmNmxwyJgmWGIkaTofEXQJKXZEqJSYNNJFMkVHEKcAEy1KlgAbOAAPRVVnOEi4akynF0wARgBWT29hPwwEqEpKYgA3OAA1JGII

[2021-03-29 08:11] kkartunov commented on #384
@psharneja submission fails tests "Significant plagiarism found"
Update and resubmit https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYArAF8a4aPGTpWxKHNzbgA3OAA1JG4IOAEGJhZsAGUYNGMHIV8xCSl-QOCwpRComKV8bnNSSwctZwBmDy9MkX9DKARuKBQK-DjGZlb2zu7zXrpvYXRxSWkwAFVyVG4O8ihDJXVrK2px2qwANn3Gw

[2021-03-29 08:13] kkartunov commented on #385
@psharneja submission fails the test - "Plagiarism found"
Please update and re-submit...
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYAnAF8a4aPGTpWAETh4FHxVOBR7OgYmFmwAcRQofEkUByFfMQkpAKDw0PJwpVJLJQAKKF0pXRgACzhqmu5zGiUgiAA6AEoHLWcARg8vdJFWADVwgCNI%2BkZmVgSklLSfEXFJaTAASUpUFDg

[2021-03-29 08:15] kkartunov commented on #386
passed min checks

[2021-03-29 08:21] kkartunov commented on #386
@psharneja good artcile in genral. Could you expand on the topic by adding to artcile:
- how you installed the OS and prepared your the SD card?
- what programing languages you tried on the RPi and how it felt?
- more personal coding/usage expirience?

[2021-03-29 17:26] bhagvank commented on #381
i have removed the quote and checked with Grammarly plagiarism. it is now passing.

[2021-03-30 12:25] kkartunov commented on #385
@harshitmehta15 @psharneja I think we can pass this to review as  `Plagiarism` is due to authors articles:

[2021-03-30 12:36] kkartunov commented on #384
@harshitmehta15 @psharneja source appears to be https://javascript.plainenglish.io/using-amazon-ses-with-node-js-to-send-those-otp-emails-1d2dc8da6c30 which belongs to author.

[2021-03-30 12:41] kkartunov commented on #383
Source appears to be from author https://medium.com/swlh/publish-your-react-component-to-npm-registry-31ebd07e51d7

[2021-03-30 13:38] psharneja commented on #386
@kkartunov
1. It covers RPI-Imager which is used for installation. There is no mention of installation as all it requires is to click on 'Next' button to install OS.
2. For Programming Language/ Coding, I am writing a separate article as this one is more towards out-of-the-box setup experience.

[2021-03-31 10:12] kkartunov commented on #383
Great artcile @psharneja! Could you please:
- explain quick why you avoid package-lock.json files and what is benefit of doing it?
- add steps for publishing exsiting project not new one. Say if someone already has the code what are main pseudo steps to follow to publish it?
- add section how versioning works with npm? How to bump the version next time one makes changes to the codebase and republi

[2021-03-31 14:42] kkartunov commented on #386
So you created the SD card or it was included and just clicked on "Next" button to install
Okay for codding experience in next article.

[2021-03-31 15:22] psharneja commented on #386
RPI-Imager has the list of OS and the list of USB devices connected, we just need to click on the device, OS we need to install and click on , "Install" that's why I didn't write it down.

[2021-03-31 17:58] psharneja commented on #386
No Worries; I am updating that as well

[2021-03-31 19:15] psharneja commented on #386
It includes an SD card with a pre-installed OS.
we can install any other OS on a separate card using Rpi-Imager.

Both points are mentioned already. However, Now, I have added one paragraph for using RPI-Imager as well.

[2021-04-01 11:47] kkartunov commented on #386
Challenge https://www.topcoder.com/challenges/f88a0b2d-0f1c-4d66-90c3-adc13dff7b7c has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-01 11:49] kkartunov commented on #386
Challenge https://www.topcoder.com/challenges/f88a0b2d-0f1c-4d66-90c3-adc13dff7b7c has been assigned to prabhsimran.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-01 14:39] psharneja commented on #386
@kkartunov thanks. can you please share the URL to the article once it's posted?

[2021-04-02 07:36] kkartunov commented on #385
Challenge https://www.topcoder.com/challenges/dd2030aa-f7ed-4b6c-a311-fa7fb399aee3 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-02 07:37] kkartunov commented on #385
Challenge https://www.topcoder.com/challenges/dd2030aa-f7ed-4b6c-a311-fa7fb399aee3 has been assigned to prabhsimran.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-02 07:37] kkartunov commented on #384
Challenge https://www.topcoder.com/challenges/85cc4969-9691-4065-a61f-eae2301bfa84 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-02 07:37] kkartunov commented on #384
Challenge https://www.topcoder.com/challenges/85cc4969-9691-4065-a61f-eae2301bfa84 has been assigned to prabhsimran.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-03 02:17] psharneja commented on #383
@kkartunov I have updated the details for all three mentioned.

[2021-04-05 07:03] kkartunov commented on #383
Challenge https://www.topcoder.com/challenges/1d0f126b-90bb-4aa5-bec1-36af191a150e has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-05 07:03] kkartunov commented on #383
Challenge https://www.topcoder.com/challenges/1d0f126b-90bb-4aa5-bec1-36af191a150e has been assigned to prabhsimran.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-05 07:21] kkartunov commented on #381
@bhagvank ufortenatly tit still fails to pass the test, please update...
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLAFYAvjXDR4ydOwBhJEIWAAUmUggXOgZmNmxwyJgmWGIkaTofEXQJKXZEqJSYNNJFMkVHEKcAEy1KlgAbOAAPRVVnOEi4akynF0wARk9vYT8MbABZM0oWOAam6sFY1nYAZVn5sgQHUdFc3XYpyhm5hcUAd1Rq

[2021-04-05 07:25] kkartunov commented on #381
@bhagvank okay, I think the fail comes from here https://www.topcoder.com/thrive/articles/introduction-to-streaming-spark-and-databricks so we good to accept article for review.

[2021-04-06 14:02] balavenkatesh3322 commented on #340
@harshitmehta15 can you publish this blog?

[2021-04-06 15:47] kkartunov commented on #386
Published https://www.topcoder.com/thrive/articles/i-spend-a-few-days-with-raspberry-pi-400
Thanks @psharneja!

[2021-04-06 15:47] #386 closed

[2021-04-06 15:48] kkartunov commented on #386
Payment task has been updated: https://www.topcoder.com/challenges/f88a0b2d-0f1c-4d66-90c3-adc13dff7b7c
*Payments Complete*
Winner: prabhsimran
Copilot: kiril.kartunov
Challenge `f88a0b2d-0f1c-4d66-90c3-adc13dff7b7c` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-07 08:14] kkartunov commented on #384
Published https://www.topcoder.com/thrive/articles/using-amazon-ses-with-node-js
Thank you @psharneja

[2021-04-07 08:14] #384 closed

[2021-04-07 08:15] kkartunov commented on #384
Payment task has been updated: https://www.topcoder.com/challenges/85cc4969-9691-4065-a61f-eae2301bfa84
*Payments Complete*
Winner: prabhsimran
Copilot: kiril.kartunov
Challenge `85cc4969-9691-4065-a61f-eae2301bfa84` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-07 08:37] kkartunov commented on #383
Published https://www.topcoder.com/thrive/articles/publish-your-react-component-to-npm-registry
Thank you @psharneja

[2021-04-07 08:37] #383 closed

[2021-04-07 08:37] kkartunov commented on #383
Payment task has been updated: https://www.topcoder.com/challenges/1d0f126b-90bb-4aa5-bec1-36af191a150e
*Payments Complete*
Winner: prabhsimran
Copilot: kiril.kartunov
Challenge `1d0f126b-90bb-4aa5-bec1-36af191a150e` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-09 09:19] psharneja commented on #385
is this not published yet?

[2021-04-09 09:43] kkartunov commented on #385
Published https://www.topcoder.com/thrive/articles/ionic-apps-for-windows-and-macos
Thanks @psharneja

[2021-04-09 09:43] #385 closed

[2021-04-09 09:44] kkartunov commented on #385
Payment task has been updated: https://www.topcoder.com/challenges/dd2030aa-f7ed-4b6c-a311-fa7fb399aee3
*Payments Complete*
Winner: prabhsimran
Copilot: kiril.kartunov
Challenge `dd2030aa-f7ed-4b6c-a311-fa7fb399aee3` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-12 09:21] Lonakshi131 commented on #382
Hi, when will my article passed for review?

[2021-04-27 02:55] harshitmehta15 commented on #340
Hey @balavenkatesh3322 we will go ahead and publish the blog, got the approvals :)

[2021-04-29 08:43] kkartunov commented on #381
Challenge https://www.topcoder.com/challenges/d2651d5d-4a01-4ae8-adf5-48dbde803818 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-29 08:44] kkartunov commented on #381
Challenge https://www.topcoder.com/challenges/d2651d5d-4a01-4ae8-adf5-48dbde803818 has been assigned to bhagvanarch.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-29 08:48] kkartunov commented on #340
Challenge https://www.topcoder.com/challenges/e4cd0609-e118-4ad2-8880-7aaca4066132 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-29 08:48] kkartunov commented on #340
Challenge https://www.topcoder.com/challenges/e4cd0609-e118-4ad2-8880-7aaca4066132 has been assigned to balavenkatesh.s.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-29 08:55] balavenkatesh3322 commented on #340
Hi, @kkartunov This blog was created under December Big Give so please assign $100.  https://www.topcoder.com/blog/decembers-big-give-2020-edition/

[2021-04-29 09:00] kkartunov commented on #340
Okay, sorry @balavenkatesh3322 !

[2021-04-30 06:09] Lonakshi131 commented on #382
@kkartunov Please review my article

[2021-04-30 06:20] Lonakshi131 commented on #382
@harshitmehta15 can you please review and publish it. :)

[2021-04-30 08:01] kkartunov commented on #381
Published https://www.topcoder.com/thrive/articles/job-processing-with-databricks
Thanks @bhagvanarch

[2021-04-30 08:01] #381 closed

[2021-04-30 08:01] kkartunov commented on #381
Payment task has been updated: https://www.topcoder.com/challenges/d2651d5d-4a01-4ae8-adf5-48dbde803818
*Payments Complete*
Winner: bhagvanarch
Copilot: kiril.kartunov
Challenge `d2651d5d-4a01-4ae8-adf5-48dbde803818` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-04-30 08:11] kkartunov commented on #340
Published https://www.topcoder.com/thrive/articles/how-does-the-machine-read-images-and-use-them-in-computer-vision
Thank you @balavenkatesh3322

[2021-04-30 08:11] #340 closed

[2021-04-30 08:11] kkartunov commented on #340
Payment task has been updated: https://www.topcoder.com/challenges/e4cd0609-e118-4ad2-8880-7aaca4066132
*Payments Complete*
Winner: balavenkatesh.s
Copilot: kiril.kartunov
Challenge `e4cd0609-e118-4ad2-8880-7aaca4066132` has been paid and closed.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-05-03 18:16] anu0012 commented on #375
@kkartunov @harshitmehta15 Any update on this?

[2021-05-03 18:16] anu0012 commented on #360
@kkartunov Any update on this?

[2021-05-06 11:24] Lonakshi131 commented on #382
@harshitmehta15 @kkartunov  Please review my article.

[2021-05-11 09:01] bhagvank opened #387 "[$50] Thrive - Part 4: Databricks Series - Creating a Spark Cluster in DataBricks Workspace"
The outline of the article is as below:

1. Cluster creation
2. Cluster editing
3. Cluster Configuring
4. Cluster Node Initialization
5. Cluster Management
6. Best Practices
7. Pools
8. Cluster Types

[2021-05-26 06:17] sharonsahadevan opened #388 "[$50] THRIVE - Demystifying docker architecture for Beginners"
Author: Sharon Sahadevan
Subcategory: Containerization
[Docker architecture.docx](https://github.com/topcoder-platform/thrive-submit/files/6544194/Docker.architecture.docx)

Banner Image: https://photos.app.goo.gl/w3zV8fMC3SynDaDp9
Docker Architecture diagram:  https://photos.app.goo.gl/PjTGHjg4EKTBBQVb8

[2021-05-26 11:17] kkartunov commented on #388
Hey @sharonsahadevan thanks for your submission. Unfortenatly it has plagiarism detected in it. Please correct it to pass the tests and re-submit.

Also note that we prefer Google docs as sumission format. Please use next time instead of word if you can. Thanks
[plagiarismdetector (1).pdf](https://github.com/topcoder-platform/thrive-submit/files/6546253/plagiarismdetector.1.pdf)

[2021-05-27 11:50] sharonsahadevan commented on #388
@kkartunov I have updated the document. You can download the document from the following link.
https://docs.google.com/document/d/1qVu1UeuswhNGsa8l7rn7lohvXjvlHwUkhXYYsHFHj78/edit?usp=sharing
[Docker architecture (1).docx](https://github.com/topcoder-platform/thrive-submit/files/6553721/Docker.architecture.1.docx)

[2021-05-27 15:44] kkartunov commented on #388
@sharonsahadevan thanks for the effort but please rephrase so that is passes the test. Thanks you
![image](https://user-images.githubusercontent.com/5585002/119856690-992fc900-bf1b-11eb-9fef-a104fdeef3f6.png)

[2021-05-28 04:17] sharonsahadevan commented on #388
@kkartunov I have rephrased the line. If the article still has some plagiarism, can you please share the PDF report? Because I checked the article using Grammarly's Plagiarism and it got passed.

[2021-05-28 12:12] kkartunov commented on #388
@sharonsahadevan please try https://plagiarismdetector.net/

[2021-05-28 14:03] sharonsahadevan commented on #388
@kkartunov file is too large. Do you still see plagiarism?

[2021-05-28 20:11] bhagvank commented on #387
I have attached the link for the article:  https://docs.google.com/document/d/1BiLSWSyiD3jWN3KMK4Bo6goCsb31IYArYboZY5qQryA/edit?usp=sharing

[2021-05-31 07:13] kkartunov commented on #388
@sharonsahadevan looks good now. Accepted.

[2021-05-31 07:13] kkartunov commented on #388
Challenge https://www.topcoder.com/challenges/f98d31dc-4032-4c3b-b13d-c45af282ac52 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-05-31 07:14] kkartunov commented on #388
@sharonsahadevan, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-05-31 07:16] kkartunov commented on #388
@sharonsahadevan to process payments for you we need you to accept the invite to our. It was sent to you per github email. Check https://github.com/topcoder-platform/thrive-submit/invitations and setup what is needed from you. Let us know when you ready...

[2021-05-31 21:06] LabN36 commented on #322
can i submit an article on this ?

[2021-06-01 07:04] kkartunov commented on #387
@bhagvank we can't access your doc. Open it for us...

[2021-06-01 07:14] kkartunov commented on #322
@LabN36 yes you welcome to do it. Open a new ticket for that with your submission. Please, see to not overlap with what we have already in Thrive https://www.topcoder.com/thrive/search?title=Flutter

[2021-06-01 07:22] LabN36 commented on #322
Thanks for the reply, I've already check it's not overlapping. One more thing is, can I write a series of articles for flutter ? Means I'm working on an app which has multiple parts and its hard of cover all them in 1 articles so I was thinking of series of articles. Is it possible?

[2021-06-01 07:54] kkartunov commented on #322
Yep, please :)

[2021-06-01 09:06] kkartunov commented on #387
@harshitmehta15 please check...

[2021-06-03 12:20] albertodev01 opened #389 "[$50] THRIVE - Differences between extends, implements and with"
<b>Title:</b> Dart - Differences between extends, implements and with

<b>Author:</b> Alberto Miola

<b>Track Category:</b> Development

<b>Subcategory:</b> Programming

<b>Tags:</b> Dart, Flutter, Language

<b>Read Time:</b> 5 min

<b>Image:</b> [Banner Image](https://mega.nz/file/0QkjBQKa#qVaRSMrZ4MmnTr5wd8aDmH-YF4DkfNFVEujbLyKqHOk)

<b>Article</b>: [link](https://mega.nz/file/cBcQHZBY#1PLkr3SY-

[2021-06-03 18:51] kkartunov commented on #388
Hey @sharonsahadevan now that you have accepted our invite, please click on this link and login with your TC account to complete this one-time onboarding process. https://x.topcoder.com/api/v1/github/teams/registration/bbecd597-13bd-4224-96ef-2b7e37b4e606-1622746136437

[2021-06-04 09:53] kkartunov commented on #388
@sharonsahadevan, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-04 13:04] kkartunov commented on #389
Thanks for submition @albertodev01!
Unfortenatly, it fails the plagiarisum checks at:
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYAnAF8a4aPGTpWxKHNzbgA3OAA1JG4IOAEGJhZsAGUYNGMHIV8xCSl-QOCwpRComKV8bnNSSwctZwBmDy9MkVYAWQrzQjhDY204xmZWJK6e1QQMnxFxSWkwdqCR3qUAd1RtezpHaywARkbBSb9s

[2021-06-04 13:05] kkartunov commented on #388
@sharonsahadevan, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-04 13:24] kkartunov commented on #388
@sharonsahadevan we publised your article https://www.topcoder.com/thrive/articles/demystifying-docker-architecture-for-beginners

To comple the payment we need one final step from you: https://github.com/topcoder-platform/thrive-submit/issues/388#issuecomment-851256964

[2021-06-04 18:09] sharonsahadevan commented on #388
@kkartunov I tried to open the link you shared  https://x.topcoder.com/api/v1/github/teams/registration/bbecd597-13bd-4224-96ef-2b7e37b4e606-1622746136437

But I am getting the following error.

`{"message":"Failed to add team member. 422 error making request put https://api.github.com/teams/3566261/memberships/sharonsahadevan: \"Unprocessable Entity\".\n","code":"Unprocessable Entity"}`

![image]

[2021-06-04 18:34] kkartunov commented on #388
@sharonsahadevan, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-04 21:58] albertodev01 commented on #389
Using [https://plagiarismdetector.net/](https://plagiarismdetector.net/) I am able to see where the plagiarisum is and I have fixed it.

Grammarly just reports that there's been some plagiarism detected but it doesn't let me know where. Do I have to purchase the PRO plan to see it? Isn't there any other way to figure it out? Thank you!

[2021-06-05 16:29] LabN36 commented on #322
Okay, one more thing, is the $50 reward for articles still active?

[2021-06-06 04:27] sharonsahadevan commented on #388
@kkartunov what is the URL for the Topcoder X tool ?

I tried to access  https://x.topcoder.com but it keeps redirecting to the login page continuously.

[2021-06-07 02:47] praveeno commented on #388
Same with me, sometimes redirect to logic again, sometimes 422 entity cannot proceed error

[2021-06-07 08:15] kkartunov commented on #388
@sharonsahadevan thanks for your submission! Expect the payment in yout TC account soon...

[2021-06-07 08:15] #388 closed

[2021-06-07 08:15] kkartunov commented on #388
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-07 08:21] kkartunov commented on #389
@albertodev01, just update and resubmit...
Purchase is your own decision.

[2021-06-07 14:58] albertodev01 commented on #389
Thank you! I have checked with []() and now it's green.

Banner: [link](https://mega.nz/file/QRUDjSgL#OcBwy5YG-c8VrFgor36PeZcHLKY0aa6LqTYO9Y9AOk8)
Article: [link](https://mega.nz/file/oFcDlAZS#LO_Es2-muSI5WDlb6tW807chdEJk1AvKw-7YN4n6BUQ)

[2021-06-09 08:31] kkartunov commented on #389
Thanks @albertodev01, passed mic checks. Now reviewing...

[2021-06-09 12:07] kkartunov commented on #389
Hey @albertodev01 some points to think and update article to make it more user frindly and introducing as first article in series:
- add section on how to setup environment and run the code samples provided
- put some words on basics and language specifics like what is Dart why it is used by Flutter and etc.
- add console output to code samles and what they produce - text/image whatever works
- fi

[2021-06-09 13:38] albertodev01 commented on #389
I have updated the article with your suggestions, thank you!

Article: [link](https://mega.nz/file/VJFgzZSa#7D5cvLXq2e2jOd18s6PkacxxJquzW_lM1GDZDH_Rtek)

[2021-06-09 13:55] albertodev01 commented on #389
I have updated my article, thank you for your suggestions!

Article: [link](https://mega.nz/file/VJcmDZZQ#ci32061OEFg6JYX6WK28gY92WErOn9Th6nbZChOamjQ
Image: [june22_code_1.png](https://mega.nz/file/MUFWxZiK#5kNF5ZeoREzl6ZqTy7dhFP1QQFSNlhiW8ueMGDQoDv8)

[2021-06-11 11:30] RStackCode opened #390 "Pros and Cons between Different Bloc State Management Approaches"
a

[2021-06-12 01:07] cyiboy opened #391 "[$50] Thrive - Must use packages in Flutter - Part 1"
Category - Development

Author - Cysegun

[Content](https://docs.google.com/document/d/1wwt1gBivvxbEhfKKnr87LcbuxNFRMNVa1_z0Wt-ScMU/edit?usp=sharing)

[2021-06-12 12:38] JoshuaSmart-Olufemi opened #392 "Order Bys & Group Bys"
Track Category: Data Science

Author: JoshuaSmart

Article Link: https://drive.google.com/file/d/1A6tsuAHpwF17dXxjYfdZmKMtST1Z_3fR/view?usp=sharing

[2021-06-14 06:55] sharonsahadevan opened #393 "[$50] Thrive - How to build Docker images"
Title : How to build Docker images
Author: Sharon Sahadevan
Handle : sharon92
Track category: Devops
Sub category :  Containerization
Tags: Docker

Read Time : 5 min

Article: https://docs.google.com/document/d/1xmKccjaPdS326-Z7L-CY6ujJwpEXijswAFtrDy6TYjc/edit?usp=sharing

[2021-06-14 07:14] kkartunov commented on #389
Challenge https://www.topcoder.com/challenges/01c06df9-999b-403f-91d5-a6a59a1ca144 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-14 07:14] kkartunov commented on #389
@albertodev01, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-14 07:21] kkartunov commented on #387
Challenge https://www.topcoder.com/challenges/68fdc7d8-744e-49f6-b30a-e048313590f7 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-14 07:21] kkartunov commented on #387
@bhagvank, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-14 07:28] kkartunov commented on #390
@RStackCode thanks for your submission. Please check bellow and update your article:
- convert code blocks to text so we can copy them
- fails the [plagiarism test](https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgCMAX1rho8ZOnYLJLTmpBRmY2bEDuXn5bYW9xKRl2CJ4YPhNjU0UWewATAHo7fzM4AA9lLQc

[2021-06-14 07:32] kkartunov commented on #391
@cyiboy please check and update submission. It fails the plagiarism checks.
It need to pass both tests - attached and grammarly.
[plagiarismdetector (3).pdf](https://github.com/topcoder-platform/thrive-submit/files/6646398/plagiarismdetector.3.pdf)

https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiA

[2021-06-14 07:36] kkartunov commented on #392
Hi @JoshuaSmart-Olufemi, thanks for submission.
Please update article to pass plagiarism tests and resubmit.
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgCMAX1rho8ZOnYLJLTmpBRmY2bEDuXn5bYW9xKRl2CJ4YPhNjU0UWewATAHo7fzM4AA9lLQc4Kmtbe0cAFjcPWNF2AFUKAGsKJB0BehDWdgBlFjgzM2MEGK9RCWlZMA7

[2021-06-14 07:39] kkartunov commented on #393
Hi @sharonsahadevan thanks for submitting again. Pleas check and update your article to pass plagiarism tests.
![image](https://user-images.githubusercontent.com/5585002/121856127-d1495100-ccfc-11eb-8053-ee9078bf6c6e.png)

https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgDMAX1rho8ZOnY

[2021-06-14 08:20] cyiboy commented on #391
Update the plagiarism checks.
[Content](https://docs.google.com/document/d/1wwt1gBivvxbEhfKKnr87LcbuxNFRMNVa1_z0Wt-ScMU/edit?usp=sharing)

[2021-06-14 10:21] RStackCode commented on #390
Thanks, I've converted the images into code blocks of text. For the plagiarism test, grammarly doesn't allow me to view it without a premium account. I've also typed everything one by one in my article and didn't even look at other sources while doing so. I do think that the plagiarism flag is a false positive.

[2021-06-14 11:22] albertodev01 commented on #389
@kkartunov Is there anything else I need to do? I have read the guides and I guess I just need to wait for it to be published, am I correct?

[2021-06-14 13:18] JoshuaSmart-Olufemi commented on #392
Hello Kiril. Thanks for the feedback. I'm having a bit of trouble with the
plagiarism checker. The article I wrote was very organic and
straightforward. I didn't even consult any articles before writing it. My
guess is that, because this is a common topic with a lot of entries on
Google, my content is being flagged as plagiarized. If you don't mind, I
have attached a Word document of this article

[2021-06-14 13:30] kkartunov commented on #389
@albertodev01 for now no. We will publish the article and process your payment soon...

[2021-06-14 15:46] sharonsahadevan commented on #393
@kkartunov I have updated the article. Thanks.

[2021-06-14 16:13] De-Morgan opened #394 "[$50] Thrive - Form Validation in Flutter"
Title : Form Validation in Flutter
Author: Michael Adeyemo
Read Time : 5 min

Article:  https://docs.google.com/document/d/1Gbj8Mpaz3DRcmuGFDTe9hb41fmCuon2GsjPT9x85X3Y/edit?usp=sharing

[2021-06-14 20:37] JoshuaSmart-Olufemi opened #395 "[$50] Thrive - Importing Data Into Microsoft SQL Server"
Track: Data Science
Author: Joshua Smart

Link to Article: https://drive.google.com/file/d/1SLGgEkhLqgbDqD6NT-y9CEDNRmxJEmdB/view?usp=sharing

[2021-06-15 09:07] kkartunov commented on #389
@albertodev01 the banner image you provide is too small. Please update and send one > 760px x 555px

[2021-06-15 11:23] kkartunov commented on #387
Published https://www.topcoder.com/thrive/articles/creating-a-spark-cluster-in-databricks
Thanks @bhagvank !

[2021-06-15 11:34] kkartunov commented on #390
Thanks @RStackCode. I re-tested the article with another tool and it looks fine - no plagiarism.
Let's move this one to review...

[2021-06-15 11:38] kkartunov commented on #391
@cyiboy article still fails the plagiarism check. Also note that if I exclude the code block/text the article is bellow 500 words.
Please enrich the content and see that it passes the test.
[plagiarismdetector (4).pdf](https://github.com/topcoder-platform/thrive-submit/files/6655285/plagiarismdetector.4.pdf)

[2021-06-15 11:46] kkartunov commented on #392
@JoshuaSmart-Olufemi I rechecked article with another tool. Attached the report.
We can move this to review.
[plagiarismdetector (5).pdf](https://github.com/topcoder-platform/thrive-submit/files/6655321/plagiarismdetector.5.pdf)

[2021-06-15 11:50] kkartunov commented on #393
@sharonsahadevan thanks but there is still 6% plagiarisum detected. See attached...
[plagiarismdetector (6).pdf](https://github.com/topcoder-platform/thrive-submit/files/6655349/plagiarismdetector.6.pdf)

[2021-06-15 11:51] JoshuaSmart-Olufemi commented on #392
Thank you for the feedback. In the meantime, I submitted a second article
on a different topic. Can that be counted as my official second article for
TopCoder, if and when it is reviewed and approved?

On Tue, Jun 15, 2021 at 12:46 PM Kiril Kartunov ***@***.***>
wrote:

[2021-06-15 13:15] albertodev01 commented on #389
I made a mistake, I forgot to include the link in the markdown file of the article.

Here is is: [link](https://mega.nz/file/pNsAERbD#j9gN9vardcYgJFuImz2vP7H6Wp2QjH4YzcCImNNFHO4)

[2021-06-15 13:18] albertodev01 commented on #389
Sorry I forgot to include the link in the md file.

This is the banner image: [link](https://mega.nz/file/wQ1QgbIS#tzecgmuJNVOkN8ZJGv4zAEZbA3xb9stMjQym9JWoIaw) which is 1800 x 560

This is the image that goes inside the article: [link](https://mega.nz/file/VJcmDZZQ#ci32061OEFg6JYX6WK28gY92WErOn9Th6nbZChOamjQ) it is a code snippet

[2021-06-15 13:43] hirwablessing opened #396 "[$50] Thrive - Callbacks & Higher Order Functions"
**Track:** Web Development | Javascript Programming
**Author:** [Blessing Hirwa](https://www.topcoder.com/members/blessinghirwa)

**Article:** https://docs.google.com/document/d/1YED3Thqd0gpTscdjjZ2pJO7WqUC9LeArvmra2DMzbtc/edit?usp=sharing

[2021-06-15 22:16] #387 closed

[2021-06-15 22:16] kkartunov commented on #387
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-16 07:10] cyiboy commented on #391
Update the plagiarism checks and  Insufficient Words.
[Content](https://docs.google.com/document/d/1wwt1gBivvxbEhfKKnr87LcbuxNFRMNVa1_z0Wt-ScMU/edit?usp=sharing)

[2021-06-16 07:54] kkartunov commented on #394
@De-Morgan thanks for submission. Please consider to extend your article as currently it is too short.
- add section how one can run the code provided in this article. Env setup and etc.
- combine the two code blocks at "TextFormField that Contains the Validation Logic" into one and explain onSave method
- add demo link and or images how it looks when running

[2021-06-16 08:27] kkartunov commented on #391
@cyiboy I still get many plagiarism errors.
Attached the report
[plagiarismdetector (7).pdf](https://github.com/topcoder-platform/thrive-submit/files/6661479/plagiarismdetector.7.pdf)

[2021-06-16 08:31] kkartunov commented on #395
passed min checks

[2021-06-16 09:01] hirwablessing commented on #396
That's because I previously wrote a bit similar one on dev.to and as per
Nathan Jefferson he told me that it's fine to use one of it's contents.
I can remove all similar content if you want me to.

--Blessing

On Wed, Jun 16, 2021 at 10:36 AM Kiril Kartunov ***@***.***>
wrote:

[2021-06-16 12:12] albertodev01 commented on #389
Great! Here's my account: https://www.topcoder.com/members/albertodev01

[2021-06-16 14:09] #389 closed

[2021-06-16 14:09] kkartunov commented on #389
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-16 14:16] kkartunov commented on #396
@hirwablessing I think it is okay to use if you the author originaly.
Please re-phrase/remove the other cases found andsubmit for review...

[2021-06-16 14:18] kkartunov commented on #392
@JoshuaSmart-Olufemi according our rules articles will be caounted/payed after they are published.
You welcome to submit meantime, until you waut for review feedback.
Thanks much for your submissions!

[2021-06-16 14:37] hirwablessing commented on #396
Will do, thanks!

On Wed, Jun 16, 2021 at 4:16 PM Kiril Kartunov ***@***.***>
wrote:

[2021-06-17 08:23] kkartunov commented on #390
Hey, @RStackCode, great article. Can you please add setcion on how to setup env and run the code provided? Will be helpful for the newbie members. Thanks

[2021-06-17 08:28] kkartunov commented on #395
@JoshuaSmart-Olufemi I requested access to the doc, please share with us.

[2021-06-17 08:28] kkartunov commented on #395
Challenge https://www.topcoder.com/challenges/181b813d-260b-4277-9ad4-7fe79dea31c7 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-17 09:26] RStackCode commented on #390
Thanks @kkartunov , the flutter team has a really good [documentation](https://flutter.dev/docs/get-started/install) on how to install and set flutter up. Would this be enough?

[2021-06-17 11:36] cyiboy commented on #391
updated and checked for plaagiarism
[plagiarismdetector.pdf](https://github.com/topcoder-platform/thrive-submit/files/6669818/plagiarismdetector.pdf)
[Content](https://docs.google.com/document/d/1wwt1gBivvxbEhfKKnr87LcbuxNFRMNVa1_z0Wt-ScMU/edit?usp=sharing)

[2021-06-17 12:57] hirwablessing commented on #396
I've rephrased and removed those cases found. The only remaining ones are the ones like questions on StackOverflow with a heading that is a bit similar to mine. Another problem is occurring on the conclusion part since that's what I use on all my articles in order to make my brand unique and help readers remember me a little bit.

[2021-06-18 09:20] kkartunov commented on #395
Published https://www.topcoder.com/thrive/articles/importing-data-into-microsoft-sql-server
Thanks @JoshuaSmart-Olufemi

[2021-06-18 09:27] kkartunov commented on #395
@JoshuaSmart-Olufemi what is your TC handle? Please share with us so we can process your payment...

[2021-06-18 09:34] kkartunov commented on #396
@hirwablessing please refactor and rename this code function a bit.
![image](https://user-images.githubusercontent.com/5585002/122540644-80559780-d031-11eb-9598-0a50404f0f22.png)

I think we will consider your article for review when you do it...

[2021-06-18 09:36] kkartunov commented on #390
Yeah, let's add section to referr to it with few sentances. Thanks

[2021-06-18 09:57] hirwablessing commented on #396
@kkartunov , I've fixed the problem.
Let me know if there are more changes to make.

[2021-06-18 10:01] JoshuaSmart-Olufemi commented on #395
Hi, My TC handle is JoshuaSmart. I'd also like to inquire about the first
article I submitted and whether that one has been vetted yet.

On Fri, Jun 18, 2021 at 10:27 AM Kiril Kartunov ***@***.***>
wrote:

[2021-06-18 14:45] #395 closed

[2021-06-19 08:23] De-Morgan commented on #394
@kkartunov , I've fixed the problem and also improved the article.
I await your feedback.

[2021-06-19 18:09] facelessdevhack opened #397 "Create A Full Stack To-Do Application Using React Native and Strapi"

[2021-06-21 08:59] sharonsahadevan commented on #393
@kkartunov Updated.

[2021-06-21 09:07] kkartunov commented on #396
@hirwablessing thanks for article submission. Please consider topics to update and make it better:
- the concept of callback function is slightly different -it is "I will call back later!". What you show and talk about is more like iterator function. Update article by adding sections of explaining async calbacks and how those work to make that difference obvious to readers.
- make strong point abo

[2021-06-21 09:12] kkartunov commented on #397
Hi @facelessdevhack this submission has insufficient content. Please see to meet minimum requirements as described in our guide  https://www.topcoder.com/thrive/articles/Submitting%20a%20Thrive%20Article. Also note that provided link is for DigitalOcean.

[2021-06-21 09:14] kkartunov commented on #394
@De-Morgan thanks. Please provide better banner image as this looke pixalated. Also include your TC handle here and in the doc.

[2021-06-21 09:15] kkartunov commented on #394
Challenge https://www.topcoder.com/challenges/6038a827-93e7-42b8-b6f7-f0022579ff2d has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-21 18:08] hirwablessing commented on #396
Thank you, I will do that.

On Mon, Jun 21, 2021 at 11:07 AM Kiril Kartunov ***@***.***>
wrote:

[2021-06-22 12:18] JoshuaSmart-Olufemi commented on #392
Hi again. I submitted an article titled "Order Bys & Group Bys" to the platform about a week ago but haven't got any feedback yet from TopCoder on the status of the article.

[2021-06-23 09:08] CoderUni commented on #390
@kkartunov When will the article be published?

[2021-06-23 13:15] kkartunov commented on #392
Hey @JoshuaSmart-Olufemi sorry for delay on this. We will accept the article for Development track.
Please add a table at the end that summarizes the difference between Order by and group by clause. Something like:
| #   |      GROUP BY      |  ORDER BY |
|----------|:-------------:|------:|
| 1 |  Lorem ipsum... | Lorem ipsum... |

[2021-06-23 13:20] kkartunov commented on #393
Challenge https://www.topcoder.com/challenges/18e0c598-c062-4e97-bbbd-c6a04945dded has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-23 13:22] kkartunov commented on #391
Challenge https://www.topcoder.com/challenges/ea652469-9395-4662-8341-c810f6625b7d has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-23 13:24] kkartunov commented on #390
@CoderUni have you added the section as requested above?

[2021-06-23 14:22] JoshuaSmart-Olufemi commented on #392
Do I have to re-submit the edited version with the table and take it
through the plagiarism detector or can I submit it here, on this email
correspondence?

On Wed, Jun 23, 2021 at 2:16 PM Kiril Kartunov ***@***.***>
wrote:

[2021-06-23 14:44] CoderUni commented on #390
I've added it now

[2021-06-23 16:20] JoshuaSmart-Olufemi commented on #392
I have updated the article as requested. Here's the link: https://drive.google.com/file/d/1A6tsuAHpwF17dXxjYfdZmKMtST1Z_3fR/view?usp=sharing

[2021-06-23 16:20] JoshuaSmart-Olufemi commented on #392
I have updated the article as requested and posted the link to the updated
article on the GitHub correspondence

On Wed, Jun 23, 2021 at 3:22 PM Josh Smart ***@***.***> wrote:

[2021-06-24 08:45] kkartunov commented on #394
Published  https://www.topcoder.com/thrive/articles/form-validation-in-flutter
Thanks @De-Morgan

What is your TC handle so we can process your payment?

[2021-06-24 08:59] kkartunov commented on #393
Published https://www.topcoder.com/thrive/articles/how-to-build-docker-images
Thanks @sharonsahadevan, payment on its way...

[2021-06-24 09:01] #393 closed

[2021-06-24 09:01] kkartunov commented on #393
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-24 09:16] kkartunov commented on #391
Published https://www.topcoder.com/thrive/articles/must-use-packages-in-flutter-part-1
Thanks @cyiboy!

What is your TC handle so we can process your payment?

[2021-06-24 09:26] kkartunov opened #398 "Deprecation note"
Hi @topcoder-platform/thrive-writers please note we move this repo to [GitLab](https://gitlab.com/topcoder-thrive/article-submit/-/issues).

We are value your contribution to Thrive and are happy to invite you all by submitting new articles there from now on!

Here is a link that will get you access to repo and link your GitLab to TCX:
https://x.topcoder.com/api/v1/gitlab/groups/registration/494bc

[2021-06-24 15:33] De-Morgan commented on #394
My Topcoder username is De_Morgan. My email account is
***@***.***

On Thu, 24 Jun 2021, 9:45 am Kiril Kartunov, ***@***.***>
wrote:

[2021-06-25 08:54] hirwablessing commented on #396
I've added what you asked me to add @kkartunov.
Let me know if there's a problem.

[2021-06-25 09:17] kkartunov commented on #394
Thanks, expect your payment soon...

[2021-06-25 09:17] #394 closed

[2021-06-25 09:17] kkartunov commented on #394
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-25 09:29] kkartunov commented on #396
Challenge https://www.topcoder.com/challenges/90418aae-766c-4251-b195-81aaa0deabe9 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-06-25 10:28] De-Morgan commented on #394
@kkartunov, I can't seems to reopen the issue for some reasons but i have sent my payment method to support@topcoder.com, hope that works.

[2021-06-25 10:40] kkartunov commented on #394
It is all set with your payment @De-Morgan !
No need to involve support, cancel your request with them.

[2021-06-25 11:48] De-Morgan commented on #394
@kkartunov, I have sent a mail to withdraw my request with the support team. How and when do i get paid?

[2021-07-01 07:41] kkartunov commented on #391
@cyiboy, you need to answer above for yout payment ^^^?

[2021-07-01 07:57] kkartunov commented on #396
Published https://www.topcoder.com/thrive/articles/callbacks-and-higher-order-functions-in-javascript
Thanks @hirwablessing

[2021-07-01 07:57] kkartunov commented on #396
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-07-01 07:58] kkartunov commented on #396
@hirwablessing please ignore above message. It is all good with your payment and will be in account shortly...

[2021-07-01 08:00] kkartunov commented on #396
Reopend as `blessingartcreator` does not exsist. What is your TC handle?

[2021-07-01 08:18] hirwablessing commented on #396
My pleasure.
I'm planning on writing more content soon.

On Thu, Jul 1, 2021 at 9:57 AM Kiril Kartunov ***@***.***>
wrote:

[2021-07-01 08:20] kkartunov commented on #396
@hirwablessing what is your correct Topcoder handle?

[2021-07-01 08:20] hirwablessing commented on #396
My Topcoder handle is:
blessinghirwa | Community Profile | Topcoder
<https://www.topcoder.com/members/blessinghirwa>

On Thu, Jul 1, 2021 at 10:01 AM Kiril Kartunov ***@***.***>
wrote:

[2021-07-01 08:27] hirwablessing commented on #396
This is my handle:
https://www.topcoder.com/members/blessinghirwa

On Thu, Jul 1, 2021 at 10:20 AM Kiril Kartunov ***@***.***>
wrote:

[2021-07-01 08:45] kkartunov commented on #396
Okay, all set with your payment!

[2021-07-01 08:45] #396 closed

[2021-07-01 08:45] kkartunov commented on #396
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-07-01 09:06] hirwablessing commented on #396
Where can I find the tax form?

[2021-07-02 04:24] #392 closed

[2021-07-03 13:25] kkartunov commented on #391
Thanks @nathanlyjefferson :)

[2021-07-03 13:25] #391 closed

[2021-07-03 13:25] kkartunov commented on #391
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-07-09 09:21] harshitmehta15 commented on #382
Hey @Lonakshi131 Sorry for the delay here.

Can you add some examples as well of Linear Regression, something like where it is used and then we can publish it :)

[2021-07-14 17:51] Lonakshi commented on #382
Hey  @harshitmehta15  I have added the examples. Let me know if there is anything else to add.

https://drive.google.com/file/d/1Cu7oiRjug9csL7w-pm6p-hLar6I5U5m4/view?usp=sharing

[2021-07-16 09:41] hirwablessing opened #399 "Problem solving approach (with Javascript)"
**Track:** Software Engineering | Javascript Programming
**Author:** [Blessing Hirwa](https://www.topcoder.com/members/blessinghirwa)

**Article:** https://docs.google.com/document/d/1JkgUXu6eynT_ax59RC5OYiOxFlMSb8vdl0irkbPPhhk/edit?usp=sharing

[2021-07-16 09:44] hirwablessing commented on #399
Please check out my new article and let me know if there's a problem.

cc: @kkartunov

[2021-07-16 10:01] kkartunov commented on #399
@hirwablessing please move to the new repo, check the readme for instructions. We no longer accepting articles here.

[2021-07-16 10:58] hirwablessing commented on #399
Please check out my new article and let me know if there's a problem.

cc: @kkartunov

[2021-07-16 10:58] #399 closed

[2021-07-16 10:58] hirwablessing commented on #399
Moving now...

[2021-07-19 19:18] Lonakshi commented on #382
@harshitmehta15  Hey , please let me know, can it get publish now?

[2021-07-21 04:15] harshitmehta15 commented on #382
Sure, thanks Lonakshi.
@Kiril, can you help publish this now!

On Tue, 20 Jul 2021 at 03:18, Lonakshi Bhagat ***@***.***>
wrote:

[2021-07-21 13:13] kkartunov commented on #382
Challenge https://www.topcoder.com/challenges/8230e0f6-88ef-4184-8331-24685a1b851e has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-07-21 13:15] kkartunov commented on #382
@Lonakshi131 please use this link to connect with TCX https://x.topcoder.com/api/v1/github/teams/registration/14b57540-8559-41c8-893f-4543e837b44a-1626873264358

Let us know when you have connected your account...

[2021-07-21 14:18] Lonakshi131 commented on #382
Hi @kkartunov , https://x.topcoder.com/api/v1/github/teams/registration/14b57540-8559-41c8-893f-4543e837b44a-1626873264358  this link is showing I am already registered.

My wipro id has an account of topcoder.

[2021-07-23 08:24] kkartunov commented on #397
closing due inactivity.

[2021-07-23 08:24] #397 closed

[2021-07-23 08:25] kkartunov commented on #377
closing due inactivity.

[2021-07-23 08:25] #377 closed

[2021-07-23 08:25] kkartunov commented on #355
closing due inactivity.

[2021-07-23 08:25] #355 closed

[2021-07-23 08:26] kkartunov commented on #299
closing due inactivity.

[2021-07-23 08:26] #299 closed

[2021-07-23 15:39] kkartunov commented on #382
Published https://www.topcoder.com/thrive/articles/introduction-to-linear-regression
Thanks @Lonakshi131

[2021-07-23 15:39] #382 closed

[2021-07-26 19:52] Lonakshi131 commented on #382
Hi @kkartunov  , thanks for publishing it. Please see there is a slight error. The last images are repetitive.  The last two images should be
https://drive.google.com/file/d/1BTsAMO-YIHUyXOgtQ1G4k192Q3aIktay/view
https://drive.google.com/file/d/1qZF1FJ2CbhfA63sJf-HJ7mOGU2knDnEY/view.

[2021-08-03 03:58] kkartunov commented on #382
Thanks @Lonakshi131 for pointing that! Updated.

[2021-08-29 07:41] kkartunov commented on #390
closing due inactivity.

[2021-08-29 07:41] #390 closed