[2020-04-13 16:27] quyjs commented on #263
I will return to check if this issue is available. 10 hours later, if no one is working on it please assign it to me. Thanks :)

[2020-04-13 16:49] kkartunov commented on #263
@quyjs if @khushimehta03 not replay in 2h I will assign this to you. Thanks

[2020-04-13 16:56] igatanasov commented on #263
is this issue free for assignment?

[2020-04-13 17:04] khushimehta03 commented on #263
@khushimehta03 I will open it if i fail. and yes i am working

[2020-04-13 17:07] khushimehta03 commented on #263
@kkartunov now you would be able to assign me, its joined

[2020-04-13 19:31] kkartunov commented on #263
@khushimehta03 please sign with TCX via this link https://x.topcoder.com/api/v1/github/teams/registration/5a778823-a3c9-4876-aad4-da5dd793a369-1586806238953

Then we will be able to assign ticket to you

[2020-04-13 19:32] kkartunov commented on #264
@fctorial you have verified all entries for this bug, right?

[2020-04-13 19:33] kkartunov commented on #259
@mark-nakachon are you working on this one?

[2020-04-13 19:40] igatanasov commented on #259
@kkartunov if @mark-nakachon is not working on it, feel free to assign it to me

[2020-04-13 19:43] PrakashDurlabhji commented on #259
@kkartunov yes  you can assign it to me

[2020-04-13 19:57] fctorial commented on #264
@kkartunov Yes.

[2020-04-13 20:38] jlhopkins28160 opened #268 "Hypothesis Testing"
Track: Data Science
Handle: hopkins28160

[Hypothesis Testing.docx](https://github.com/topcoder-platform/thrive-submit/files/4471747/Hypothesis.Testing.docx)

[2020-04-14 02:06] mark-nakachon commented on #259
@kkartunov I am working on this completed 70% work thanks @PrakashDurlabhji @igatanasov

[2020-04-14 02:19] mark-nakachon commented on #259
Yes done 70% will submit today

[2020-04-14 03:45] quyjs commented on #263
Hi @kkartunov @khushimehta03 are there any updates?
I am working on it. In case @khushimehta03 stop working on it, please assign to me :)

[2020-04-14 04:59] PrakashDurlabhji commented on #263
@kkartunov I have already started working on this ticket and midway , in case khushi fails to complete it. you can assign it to me, I can complete it in very less time as 50% work is done

[2020-04-14 06:20] kkartunov commented on #268
@jlhopkins28160 https://www.grammarly.com/plagiarism-checker detects plagiarism on this one. Please, fix.

[2020-04-14 06:22] kkartunov commented on #263
@khushimehta03 you have 1h to respond and give your status. After that, I will assign the ticket to next member in the queue.

[2020-04-14 07:11] quyjs commented on #263
@kkartunov
I've just got it done! I will submit when you assign the task to me.
Now, I will review and prepare to submit.
Thanks.

[2020-04-14 07:18] khushimehta03 commented on #263
@kkartunov you can open it as having problems locally.

[2020-04-14 07:25] igatanasov commented on #259
@kkartunov is this issue assigned to someone or is free to pick-up?

[2020-04-14 07:43] quyjs commented on #263
@kkartunov please assign it to me :). Thanks!

[2020-04-14 07:57] jlhopkins28160 commented on #268
I checked Grammarly and it did not detect plagarism.

[2020-04-14 08:13] kkartunov commented on #266
@igatanasov Great job. Thanks!
There ware some minor fixes needed as for instance negative ratings https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm111 which are logically not possible, right? :)
This is done.

[2020-04-14 08:13] #266 closed

[2020-04-14 08:14] kkartunov commented on #266
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122093<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-14 08:24] igatanasov commented on #266
@kkartunov You are welcome

[2020-04-14 08:48] kkartunov commented on #263
@khushimehta03 next time please report issues early!
@quyjs was next after @khushimehta03 so it is fair he to get the assignment.
Thanks all for your work!

[2020-04-14 08:48] kkartunov commented on #263
@quyjs, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-14 08:52] kkartunov commented on #263
@quyjs have you accepted our invitation to GitHub org?

[2020-04-14 08:53] kkartunov commented on #259
I think @mark-nakachon is working on this one.

[2020-04-14 09:00] igatanasov commented on #259
Ok thanks

[2020-04-14 09:11] quyjs commented on #263
Hi,
@ kkartunov I didn't see any invitation.

[2020-04-14 09:33] kkartunov commented on #260
@Gauravseta your export file semes to be broken. It has only 3 entries. Please check and resubmit asap.
![t2-review](https://user-images.githubusercontent.com/5585002/79209401-0b466b00-7e4c-11ea-9c5e-030b2bda7fc8.png)

[2020-04-14 09:40] kkartunov commented on #261
@PrakashDurlabhji your export file is missing 2 entries. They need to be 30 but you have only 28. One miss is https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=tco04_online_rd_4

Submit the complete file.

[2020-04-14 09:41] kkartunov commented on #261
@PrakashDurlabhji also no authors are assigned to entries as it was in the original export file. Have you removed them?

[2020-04-14 09:47] PrakashDurlabhji commented on #261
@kkartunov forgot to update you that out of 2 files i would have missed 1 and for remaining 1 i have updated the content but unable to publish it, whenever i click on publish it says author has having some another article which is yet to be published.

I will paste screenshot for verification immediately, may be u can help me then.

[2020-04-14 09:49] PrakashDurlabhji commented on #261
@kkartunov I have not removed any authors. I will write down steps which i took.

1. with import command , i imported all in my space.
2. Clicked on content tab.
3. search SRM, example SRM 230.
4. Opened it and then inserted markdown content in it.
5. automatically it gets saved.
6. now changed draft status to published.
7. now coming back to command window, used export commands.
8. submitted the

[2020-04-14 10:48] quyjs commented on #263
@kkartunov https://apps.topcoder.com/forums/?module=Thread&threadID=954258&start=0&mc=1#2403214
Are there any help on this? I had done the task, just want to submit it now :)
But it showed the error:
<img width="656" alt="Screenshot 2020-04-14 at 5 44 48 PM" src="https://user-images.githubusercontent.com/63595876/79216878-1d3e0300-7e78-11ea-9f2e-5f6896e43978.png">

[2020-04-14 10:58] quyjs commented on #263
I've just submitted successfully. However, I could not see my submission in the submissions tab currently.

[2020-04-14 11:31] mark-nakachon commented on #259
@kkartunov please review thanks submitted to OR also

you can download the file from here

https://drive.google.com/file/d/1nBZyWIXXLogBSf6NwCmtzZGALgYKVf3E/view?usp=sharing

[2020-04-14 11:58] igatanasov commented on #263
@quyjs It will refresh later

[2020-04-14 13:48] quyjs commented on #263
@kkartunov just resubmitted my submission. I found that the previous submission didn't contain my completed articles because I didn't publish them yet. I will give the download link in this ticket if you need.
Thanks,

[2020-04-14 14:40] kkartunov commented on #261
- I don't see any authors in your export file. It looks like you somehow removed them because they are in the original file given.
- see to deliver all entries that are in scope, filled properly and linked to their authors as they have to be.
![image](https://user-images.githubusercontent.com/5585002/79236859-2af28900-7e76-11ea-8cde-67b743c3d466.png)

Please, fix asap as your export file is not wo

[2020-04-14 14:55] kkartunov commented on #259
@mark-nakachon your export is no having the authors, why? Please, fix and submit linked entries as they ware in the source file!
![Screenshot from 2020-04-14 17-54-57](https://user-images.githubusercontent.com/5585002/79239301-1499fc80-7e79-11ea-88e3-4fff82eba0d9.png)

[2020-04-14 15:07] kkartunov commented on #263
@quyjs thank you for submission! We will get you in the org. You will receive an email on your GitHub email with an invitation.

[2020-04-14 15:17] PrakashDurlabhji commented on #261
@kkartunov what to do if 1 entry is not publishable, if u are online for more 20min then i will immediately paste a screenshot. Kindly request you not  to unassign as a lot of efforts have been taken to reach at this stage. I surely feel export command needs something more which will include authors as well.

[2020-04-14 15:18] PrakashDurlabhji commented on #259
@kkartunov not just me even others are getting same authors issue, I feel something is missed in export command.

[2020-04-14 15:21] kkartunov commented on #264
@fctorial it looks you misunderstood how the layout should be working. You should follow example and have problem titles linked to the problem statement and below instead of "Discuss it" link put the "Problem Details" link which should be linked to Problem Detail if available.
![Screenshot from 2020-04-14 18-15-57](https://user-images.githubusercontent.com/5585002/79242204-b111ce00-7e7c-11ea-9f87-

[2020-04-14 15:23] quyjs commented on #263
I have accepted the invitation. Thanks @kkartunov.

[2020-04-14 15:26] kkartunov commented on #263
@quyjs great. Now lastly please click this link and login with TC credentials https://x.topcoder.com/api/v1/github/teams/registration/0018659a-df21-4d3b-8573-5ece6fa28ee4-1586877941098 then we will be able to assign it to you.

[2020-04-14 15:30] fctorial commented on #264
@kkartunov Unlike the example video, none of the articles in this batch have titles linked to actual challenges. Hence why they aren't links.

[2020-04-14 15:33] kkartunov commented on #263
@quyjs bad news. Your export file is missing the authors. Please, export again with authors as it was provided in tp you.

[2020-04-14 15:43] quyjs commented on #263
@kkartunov I have just re-submitted the exported file.
You can also get it here: https://drive.google.com/file/d/1DXC01aOcqbsAQd6LX63UDfUHFrxRNrJx/view?usp=sharing

[2020-04-14 15:44] kkartunov commented on #259
@PrakashDurlabhji files are correct. Check your environment.

[2020-04-14 15:45] quyjs commented on #263
Is there an issue with my account. Just try many times and the screen keep showing:
<img width="960" alt="Screenshot 2020-04-14 at 10 40 47 PM" src="https://user-images.githubusercontent.com/63595876/79244771-779f8980-7ea1-11ea-8b04-0970ced011b6.png">

[2020-04-14 15:48] kkartunov commented on #263
Contest https://www.topcoder.com/challenges/30122090 has been updated - it has been assigned to quyjs.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-14 15:48] kkartunov commented on #263
Thanks, @quyjs now all set and this is assigned to you.

[2020-04-14 15:50] kkartunov commented on #263
@quyjs better file/submission file now. Will review...

[2020-04-14 15:55] PrakashDurlabhji commented on #261
@kkartunov even original file doesnt have authors or any such field such as "author". can you please confirm once again?

[2020-04-14 16:05] PrakashDurlabhji commented on #261
@kkartunov here is latest zip which has everything including authors as u wished.

but there is 1 problem, while exporting the table showed Entries value as 59 instead of 30, I hope that will be ok?  because there are perfect 30 entries though.

here is the file.
[submission-pkdurlabhji.zip](https://github.com/topcoder-platform/thrive-submit/files/4476394/submission-pkdurlabhji.zip)

Kindly provid

[2020-04-14 16:41] lukazambuca opened #269 "Thrive-submit: ARIMA"
**Title:**  Introduction to Time Series forecasting of Stock Prices
**Author:** Luka Beverin / Lukazambuca

**Track Category**: Data Science
**Subcategory:**  Finance
**Tags:** Machine Learning Algorithm, Tools and Libraries, ARIMA, AIC, Forecast, Python

**Read Time:** 4 min (778 words)

**Banner Image (minimum 760px x 555px):** https://images.unsplash.com/photo-1569025743873-ea3a9ade89f9?ixlib=r

[2020-04-14 17:11] quyjs commented on #260
@kkartunov @Gauravseta can I work on this ticket?
Let assign it to me when it's available. Thanks.

[2020-04-14 17:42] Gauravseta commented on #260
@quyjs sorry but it is completed updating it, as i dint know why it happened like this.

[2020-04-14 18:08] mark-nakachon commented on #259
@kkartunov Yeahh fixed the issue Thanks

[2020-04-14 20:04] jlhopkins28160 commented on #268
I checked my document again and Grammarly did not detect plagiarism:

![Topcoder_Post](https://user-images.githubusercontent.com/498140/79268934-91bd7580-7e69-11ea-8f8c-20551d9abbf8.JPG)

[2020-04-14 21:48] Gauravseta commented on #260
@kkartunov here is latest exported file which
[submission1_gauravseta.zip](https://github.com/topcoder-platform/thrive-submit/files/4477932/submission1_gauravseta.zip)

[2020-04-15 07:08] kkartunov commented on #268
@jlhopkins28160 I can't confirm that. I see it detects.
![Screenshot from 2020-04-15 10-07-52](https://user-images.githubusercontent.com/5585002/79308343-17403480-7f01-11ea-8796-5f0609d7b72c.png)

Link: https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdleIk3IATAPTrCAGzgAPJQGU45eJTgBnARE3VMARgC%2BNcNHjJ0rYlC2ttwAbnAAak

[2020-04-15 07:11] kkartunov commented on #269
@lukazambuca fails to check at https://www.grammarly.com/plagiarism-checker

https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACALKF8ZfHGUB3QjAAWhCsrkAbKFrj5BEZhRqYATAF9a4aPGTp2AVQoAawokXQF6RmY2bABlFjhzcxMEO2EfcSkZfyCQsOUAdVQAE1t6e0onABZ3TzTRdgVJFk5qQUjWdhbuXn5U71EJaVkOSmoeGD5TEzNFFgcigHpGlnM4AA9lGLhHbYgbOwcnAFYaoX7fbBIC

[2020-04-15 09:48] kkartunov commented on #265
@sjbr thanks. This is now done.

[2020-04-15 09:48] #265 closed

[2020-04-15 09:48] kkartunov commented on #265
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122092<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-15 09:55] kkartunov commented on #264
@fctorial please fix asap as per challenge specification an my description above. There should not be broken/different layout and no deviations from example layout https://drive.google.com/file/d/1Q5SDKf4z-WIKTPtd9oMk_zGkecfOVybs/view

Especially true for your case are titles. They should be `<a href="https://www.topcoder.com/stat?c=problem_statement&pm=6006&rd=8082" target="_blank"><h3>BasketsWit

[2020-04-15 10:11] PrakashDurlabhji commented on #264
@kkartunov can I get a chance later if fctorial fails to provide in 12h?

[2020-04-15 10:16] fctorial commented on #264
Hi @kkartunov. Did you read my last comment on this thread? I would appreciate if you could address it. I would update the solution as soon as that query is resolved.

Thanks

[2020-04-15 12:29] fctorial commented on #264
Oh, OK. I'll update the solution.

[2020-04-15 12:57] fctorial commented on #264
https://drive.google.com/file/d/1qniRboCvTaJQPLxGQOH08ZBn93DVJ44j/view?usp=sharing
This submission does not have 'Discuss it' links. None of the articles have links in titles.

[2020-04-15 15:16] kkartunov commented on #264
@fctorial there are fixes needed:

- Should not have <be> tags in titles
![Screenshot from 2020-04-15 18-12-48](https://user-images.githubusercontent.com/5585002/79354261-d66a0f00-7f44-11ea-8961-a91a771705c4.png)
- I see you do this for titles `<a href="" target="_blank"><h3></h3></a><h3>RPG</h3>` but you should be doing `<h3>RPG</h3>`. No need of empty elements and links!

Please, fix and resubmi

[2020-04-15 15:42] fctorial commented on #264
https://drive.google.com/file/d/11pYQp_rCEJ7gz05ARYtfA25UA_CrheD0/view?usp=sharing

[2020-04-16 12:25] kkartunov commented on #259
@mark-nakachon submission does not convert `<sub> or <sup>` tags in HTML properly as per challenge space. Have you paid attention to those?
![Screenshot from 2020-04-16 15-20-59](https://user-images.githubusercontent.com/5585002/79455893-3ff62600-7ff6-11ea-86ae-de3d123b2e71.png)
**Has to be properly converted to the destination which is not the case in your work.**
![Screenshot from 2020-04-16 15-

[2020-04-16 12:32] mark-nakachon commented on #259
@kkartunov sorry I didn't check them will fix and resubmit thanks

[2020-04-16 12:42] kkartunov commented on #260
@Gauravseta there are multiple inconsistencies not ok and need fix:

- not converting `<sub> and <sup>` tags properly, why are you skipping them?
- There are no bolds at all like in source but should be
- There is one <br> in title that makes "Problem Details" to far down. You need to remove it.

Please, fix and resubmit in 12h.

[2020-04-16 12:55] kkartunov commented on #261
@PrakashDurlabhji there are some inconsistencies that need fixes:
- You should not convert lists to code blocks like for https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm231 under `LargeSignTest` you do
[code]
- You do not use `<sub> and <sup>` tags at all. On the same page we have:
[code]
which you convert to:
[code]
which is not the same, right?

Please, fix all occurrences in

[2020-04-16 13:00] PrakashDurlabhji commented on #261
@kkartunov i will submit it in 2 hours max, but i am confused what exactly is required, can i get to see any similar example of what othrs did in such case then i will immediately get an idea for sub and sup

[2020-04-16 13:14] PrakashDurlabhji commented on #261
@kkartunov ok understood to convert it to bullets, and regarding sub and sup

[2020-04-16 13:19] kkartunov commented on #263
@quyjs there are some issues with your work:
- We want to avoid linking to error pages for "Problem Details"? If you click on SRM 193 any "Problem Details" link is error page. Please, remove broken links. If link is broken or not available remove it.
- You have <br> tag in titles too due to new lines for "Problem Details" link. Please, remove them and make it on one line as in the example. This br

[2020-04-16 13:30] kkartunov commented on #264
@fctorial submission is not converting `<sub> and <sup>` tags occurrences properly. They are missing at all.

Please, fix and submit in 12h

[2020-04-16 13:36] quyjs commented on #263
@kkartunov should it be <a href="https://www.topcoder.com/stat?c=problem_statement&pm=682&rd=5068" target="_blank"><h3>SwimmingPool</h3></a><a>Problem Details</a>?

[2020-04-16 13:50] PrakashDurlabhji commented on #261
@kkartunov

bullets are added in all 30 files.

sorry to ask again but regarding sub and sub I have two screenshots.
1. which shows text on official SRM page, which is normal text , I have marked it under red.
2. this screenshot if online html-markdown convertor, to show what will happen if i add <sup> in content and how it will look.

<img width="905" alt="off1" src="https://user-images.githubuse

[2020-04-16 13:53] PrakashDurlabhji commented on #261
@kkartunov ok I see in html code while inspecting the tag it seems it <sup>a</sup> but it is not visible on page, strange it seems

[2020-04-16 14:06] kkartunov opened #270 "[$75] Blog Editorials scrape task"
In this ticket, we want to **scrape all SRM Editorials** from https://www.topcoder.com/tag/srm-editorials/ and extract details and add to this sheet https://docs.google.com/spreadsheets/d/1rmCOCX73BVbjSa9k9tyobpSjBMclwauDcLr-TDOIpDU/edit?usp=sharing

There are **93 entries** and all are is scope. SRM 783 is done as an example so 92 remain.

1. **Source URL** is the page address
2. **Title** - Plea

[2020-04-16 14:10] kkartunov commented on #261
**Yes, we want all occurrences of `<sub> and <sup>` to be as in source not stripped or disappear.**
How it looks is another question. On the source, it is broken and man should see it A<sup>a</sup> for superscripts...

[2020-04-16 14:26] fctorial commented on #264
https://drive.google.com/file/d/1wW9_jy-iF8NjyCc2inbVOcKR7_dSCpFF/view?usp=sharing

[2020-04-16 15:05] quyjs commented on #263
@kkartunov I've just fixed for all issues, recheck all links and resubmitted. Just use `<h3>` with problem title for the broken links.

<img width="312" alt="Screenshot 2020-04-16 at 9 57 08 PM" src="https://user-images.githubusercontent.com/63595876/79472693-5a4bf600-802e-11ea-9b7c-25585738d50b.png">

[2020-04-16 15:23] PrakashDurlabhji commented on #261
@kkartunov here is latest zip which contains all sub and sup tag properly, also bullets as well.

feedback mentioned in comments are  met

set COMMUNITY_APP_URL="http://localhost:3000"
set CONTENTFUL_LOCAL_MODE=1
set NODE_CONFIG_ENV="development"
set NODE_OPTIONS=--max_old_space_size=8172

set CONTENTFUL_CDN_API_KEY=QKamyywksud-uEsKaqh5Wu4XhUW5couCGVqY7-23gw8
set CONTENTFUL_PREVIEW_API_KEY=aCCsAq4

[2020-04-16 15:28] Gauravseta commented on #260
@kkartunov

**There is one
in title that makes "Problem Details" to far down. You need to remove it.**

could you please elaborate on this? unable to understand.

Problem details is too below for a SRM? it means other 29 SRM are ok, but there is some issue in 1 file?

[2020-04-16 15:56] Gauravseta commented on #260
@kkartunov can you please tell that SRM number? Rest all feedbacks all already implemented

[2020-04-16 16:33] jlhopkins28160 commented on #268
@kkartunov I have corrected the document and there should be no issues with plagiarism

Track: Data Science
Handle: hopkins28160
[Hypothesis Testing.edited.docx](https://github.com/topcoder-platform/thrive-submit/files/4488527/Hypothesis.Testing.edited.docx)

[2020-04-16 17:04] Gauravseta commented on #260
@kkartunov here is latest file with all feedback done except last feedback, I am unable to understand hence request you to elaborate a bit i will update it immediately till then kindly accept this.

[submission2_gauravseta.zip](https://github.com/topcoder-platform/thrive-submit/files/4488681/submission2_gauravseta.zip)

[2020-04-16 20:13] mark-nakachon commented on #259
@kkartunov here's the new file I have uploaded here fixed all issues with subscript and superscript
please review this
https://drive.google.com/file/d/16hJd6QMRQnrRSj1A6Cdc5etgqnuDETZ6/view?usp=sharing

[2020-04-17 02:26] iversonLv commented on #270
Can I try?

[2020-04-17 06:32] kkartunov commented on #270
Contest https://www.topcoder.com/challenges/30122435 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-17 06:39] kkartunov commented on #270
@iversonLv okay. Please go ahead, pay attention to add proper data and take care of tags as we want good tags for those. Thank You

[2020-04-17 06:40] kkartunov commented on #270
Contest https://www.topcoder.com/challenges/30122435 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-17 06:48] iversonLv commented on #270
Thanks.
1. Description - take the 1st sentence from the article and paste it as plain text in sheet cell.
Most of SRM, no first sentence, directly 1st sub SRM, so how to and which sentence should we get for description?
![image](https://user-images.githubusercontent.com/4952611/79540143-3504c980-80ba-11ea-822e-21002056dbd1.png)

[2020-04-17 06:50] iversonLv commented on #270
2. There are 93 entries and all are is scope. SRM 783 is done as an example so 92 remain.
I only see total 92
![image](https://user-images.githubusercontent.com/4952611/79540436-beb49700-80ba-11ea-960c-e6818c34f6c3.png)

[2020-04-17 09:04] kkartunov commented on #270
@iversonLv
1. In such case use "This <X min> editorial covers <X> problems." - where you replace X/min with the count of problems.
2. There is one which is card undefined class thus your selector can't find it I guess.

[2020-04-17 09:27] kkartunov commented on #260
@Gauravseta sorry for delay and misunderstanding here. Your submission has issues as shown in the screen below(it is not from SRM in your scope but you have the same error). Please, fix those as well to the others mentioned above.
![Screenshot from 2020-04-15 18-12-48](https://user-images.githubusercontent.com/5585002/79554233-74291f80-80a6-11ea-9fb3-17624288a78d.png)

[2020-04-17 09:28] kkartunov commented on #263
@quyjs where have you resubmitted?

[2020-04-17 09:38] iversonLv commented on #270
1. Okay
2. You're right, thanks.

[2020-04-17 10:05] quyjs commented on #263
@kkartunov it's int topcode.com

[2020-04-17 10:08] quyjs commented on #263
@kkartunov you also can get it here https://drive.google.com/file/d/1kRrihPputptD0raxlsN4E39wvnL0H7hd/view?usp=sharing

[2020-04-17 12:18] Gauravseta commented on #260
@kkartunov u mean to say I have forgotten "Problem details" text at that place correct?

so need to make sure Problem details text is present in each SRM properly correct?

OR

u mean to say there is a huge gap between title text and "Problem Details" text? and it should be somewhat less space correct?

[2020-04-17 12:56] Gauravseta commented on #260
@kkartunov here is latest file reducing space between title and problem details text.

[submission3_gauravseta.zip](https://github.com/topcoder-platform/thrive-submit/files/4493000/submission3_gauravseta.zip)

[2020-04-17 13:29] kkartunov commented on #259
@mark-nakachon great work. Thank You. This is now done.

[2020-04-17 13:29] #259 closed

[2020-04-17 13:30] kkartunov commented on #259
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122086<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-17 15:12] iversonLv commented on #270
@kkartuno Ready for review.

Thanks.

[2020-04-18 14:57] jlhopkins28160 opened #271 "[$50] Type I and Type II Errors"
Track: Data Science
Handle: hopkins28160

[Errors_Hypothesis_Testing.docx](https://github.com/topcoder-platform/thrive-submit/files/4496831/Errors_Hypothesis_Testing.docx)

[2020-04-18 21:52] madhurgupta10 opened #272 "New Thrive Article"
**Track**
Topcoder

**Author**
madhurgupta10

**Link**
https://docs.google.com/document/d/1lkzQqlo7xtLdAdW2hDSablMIhzI5JsT2BpXSs4nVfD4/edit?usp=sharing

**Topic:**
How to get Paid in India on Topcoder.

**Article Available**
Yes

[2020-04-18 22:01] madhurgupta10 opened #273 "New Thrive Article"
**Track**
Development

**Author**
madhurgupta10

**Topic:**
Make Your Own Amazon Alexa Skill

**Want to try?**
Yes

[2020-04-19 15:37] quyjs commented on #263
Hi @kkartunov,
May I check for my ticket review status :)
Is it ok with my submission?

[2020-04-20 13:03] kkartunov commented on #270
Done.

[2020-04-20 13:03] #270 closed

[2020-04-20 13:04] kkartunov commented on #270
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122435<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-20 13:04] kkartunov commented on #269
Closing due inactivity.

[2020-04-20 13:04] #269 closed

[2020-04-20 13:08] kkartunov commented on #268
@jlhopkins28160 article should be more than 500 words long. Yours is 487 words.
I am also getting "Plagiarism was detected!" error still.

Considering the above I am closing this one. Please, prepared better articles and submit them again. Thank You for your efforts.

[2020-04-20 13:08] #268 closed

[2020-04-20 13:08] #273 closed

[2020-04-20 13:30] madhurgupta10 commented on #273
@kkartunov I am new to Thrive, could you please let me know which topics I can write about?

[2020-04-20 13:48] kkartunov commented on #261
@PrakashDurlabhji work is not good. Have you used a preview to inspect your work? Plese fix:

- lists(ordered and unordered) are broken and not displayed.
- titles have one break that should be removed
[code]
<a href="https://www.topcoder.com/stat?c=problem_statement&pm=2897&rd=5859" target="_blank"><h3>TCMinMin</h3></a><a href="https://community.topcoder.com/tc?module=ProblemDetail&rd=5859&pm=289

[2020-04-20 22:09] PrakashDurlabhji commented on #261
@kkartunov Kindly request you not to unassign, I am on toes to implement feedback immediately. also I am testing files while copy pasting, and yes I saw while copy pasting there was an error happened in one of file which caused bullets stop working on that particular file. now it is fixd as per feedback above.

1. Bullets working fine
2.. extra br removed.
3. images are added and linked properly.

[2020-04-21 08:10] kkartunov commented on #260
This is now done.

[2020-04-21 08:10] #260 closed

[2020-04-21 08:10] kkartunov commented on #260
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122087<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-21 09:22] kkartunov commented on #261
Fixed minor issues. This is now done.

[2020-04-21 09:26] kkartunov commented on #271
passed checks

[2020-04-21 09:27] kkartunov commented on #261
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-21 09:28] kkartunov commented on #272
passed checks

[2020-04-21 09:37] PrakashDurlabhji commented on #261
@kkartunov payment failed? labels are removed automatically where as other tickets labels are present

[2020-04-21 09:51] kkartunov commented on #261
@PrakashDurlabhji it is all good. Payment is in the way...will be in your account soon.

[2020-04-21 09:51] #261 closed

[2020-04-21 09:51] kkartunov commented on #261
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-21 12:08] harshitmehta123 commented on #272
Hey @madhurgupta10 I had already paid to you for this during last year India regionals - so we have this doc :) - We cannot publish it (because financial information remains different for everyone ), however, it sometimes helps me with a few student based members who have the same condition as mentioned in this doc.

[2020-04-21 12:08] #272 closed

[2020-04-21 13:16] madhurgupta10 commented on #272
@harshitmehta123 Hi, No issues. Thanks for the clarification. I would write other Thrive article :)

[2020-04-21 14:39] kkartunov commented on #263
@quyjs Thank You for the excellent work done here!
This is now done. We hope to see you participate in the next rounds as well.

[2020-04-21 14:39] #263 closed

[2020-04-21 14:39] kkartunov commented on #263
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122090<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-21 16:59] harshitmehta123 commented on #272
Thanks, man! Waiting for your article :)

[2020-04-21 17:48] fctorial commented on #264
Hi @kkartunov. What is the status of this challenge?

[2020-04-22 06:03] dimkadimon commented on #271
Hello. Good article. I've added some suggestions (attached), so please review them. After that it can be accepted.

[Errors_Hypothesis_Testing.docx](https://github.com/topcoder-platform/thrive-submit/files/4514067/Errors_Hypothesis_Testing.docx)

[2020-04-22 06:53] kkartunov commented on #264
@fctorial Thank You. This is now done.

[2020-04-22 06:53] #264 closed

[2020-04-22 06:53] kkartunov commented on #264
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122091<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-22 10:24] kkartunov opened #274 "[$75]Archive SRM Editorials scrape task #1"
We need your help extracting data from SRM archive pages.

In scope for this ticket is this sheet: https://docs.google.com/spreadsheets/d/1lWrRWWZrbHVwNhO6YRRkMJEP_D3-BgcaffTXu1zosoM/edit?usp=sharing

All columns are needed to be filed with data. Where:
1. **Source URL** is the page address for scraping;
2. **Match Overview URL** -
Those links for 1.&2. are available to the right. See:
![image](ht

[2020-04-22 10:25] kkartunov opened #275 "[$75]Archive SRM Editorials scrape task #2"
We need your help extracting data from SRM archive pages.

In scope for this ticket is this sheet:
https://docs.google.com/spreadsheets/d/1GPaKO6BwJirkU5__lACbLo_6FHy-YKUVVFFoJMJffQ0/edit?usp=sharing

All columns are needed to be filed with data. Where:
1. **Source URL** is the page address for scraping;
2. **Match Overview URL** -
Those links for 1.&2. are available to the right. See:
![image](ht

[2020-04-22 10:26] kkartunov opened #276 "[$75]Archive SRM Editorials scrape task #3"
We need your help extracting data from SRM archive pages.

In scope for this ticket is this sheet:
https://docs.google.com/spreadsheets/d/17Db0LzOCYqjAMA4DnxymZTMPnGwR3vX27vcliofFu1c/edit?usp=sharing

All columns are needed to be filed with data. Where:
1. **Source URL** is the page address for scraping;
2. **Match Overview URL** -
Those links for 1.&2. are available to the right. See:
![image](ht

[2020-04-22 10:27] iversonLv commented on #274
@kkartunov Can I try this?
Thanks.

[2020-04-22 15:21] kkartunov commented on #275
Contest https://www.topcoder.com/challenges/30122838 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-22 15:22] kkartunov commented on #274
Contest https://www.topcoder.com/challenges/30122839 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-22 15:23] kkartunov commented on #276
Contest https://www.topcoder.com/challenges/30122840 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-22 15:23] iversonLv commented on #274
@bug-bash-helper assign

[2020-04-22 15:25] kkartunov commented on #274
Contest https://www.topcoder.com/challenges/30122839 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-22 15:25] kkartunov commented on #274
@iversonLv yes, go-ahead

[2020-04-22 15:27] kkartunov commented on #275
@topcoder-platform/thrive-writers this is now open. Post here if you want to do take it.

[2020-04-22 15:27] kkartunov commented on #276
@topcoder-platform/thrive-writers this is now open. Post here if you want to do take it.

[2020-04-22 15:28] iversonLv commented on #274
@kkartunov Ready for review

[2020-04-22 15:28] iversonLv commented on #275
@kkartunov Can I get it?

[2020-04-22 15:28] kkartunov commented on #275
@iversonLv no you already have one

[2020-04-22 15:30] kkartunov commented on #276
@topcoder-platform/topcodercompetitors

[2020-04-22 15:30] iversonLv commented on #275
@kkartunov I have done that one? Can't keep on requesting?

[2020-04-22 15:30] kkartunov commented on #275
@topcoder-platform/topcodercompetitors

[2020-04-22 15:32] quyjs commented on #276
Hi, the challenge is not started right?

[2020-04-22 15:33] kkartunov commented on #274
Oh, so fast. Okay @iversonLv

[2020-04-22 15:33] quaddock commented on #275
Can I have it?

[2020-04-22 15:34] kkartunov commented on #275
Contest https://www.topcoder.com/challenges/30122838 has been updated - it has been assigned to quaddock.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-22 15:35] kkartunov commented on #275
@iversonLv let's give others the chance too :)
@quaddock please go-ahead.
Thanks all!

[2020-04-22 15:35] PrakashDurlabhji commented on #276
@kkartunov kindly assign it to me thanks

[2020-04-22 15:35] kkartunov commented on #276
@quyjs you want to work on it?

[2020-04-22 15:36] kkartunov commented on #276
Contest https://www.topcoder.com/challenges/30122840 has been updated - it has been assigned to quyjs.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-22 15:36] kkartunov commented on #276
@quyjs please go-ahead.

[2020-04-22 15:36] iversonLv commented on #275
@kkartunov Ok, if any, please let me know.

[2020-04-22 15:36] quyjs commented on #276
Thanks @kkartunov

[2020-04-22 15:59] kkartunov commented on #274
@iversonLv please convert the dates to a useful format that works with JS `new Date(...)`

[2020-04-22 16:08] iversonLv commented on #274
@kkartunov Is it date formate
Could you give me a example?
![image](https://user-images.githubusercontent.com/4952611/80005690-8667eb00-84f6-11ea-89eb-96316ea71218.png)

[2020-04-22 16:11] iversonLv commented on #274
@kkartunov something like this?
So I need remove the 'th', ',' for this column?
![image](https://user-images.githubusercontent.com/4952611/80006086-fd04e880-84f6-11ea-9877-22dbee6c64ef.png)

[2020-04-22 16:13] iversonLv commented on #274
I think only need remove date 'th' then the string could be parsed to a js date value

[2020-04-22 16:24] iversonLv commented on #274
I have remove all date 'th, rd, st, nd' current date format is **December 6,2011**

[2020-04-22 16:44] iversonLv commented on #274
Ready for review

[2020-04-22 17:12] quyjs commented on #276
hi @kkartunov,
Some page missed **creation date** like this https://apps.topcoder.com/wiki/display/tc/SRM+659.
Which value should be filled in this field?

[2020-04-22 17:36] quyjs commented on #276
Some pages also have invalid discussion links:
https://apps.topcoder.com/forums/?module=ThreadList&forumID=XXXXXX
http://forums.topcoder.com/?module=ThreadList&forumID=0
Should these link be empty? Or keep it as it is?

[2020-04-23 06:05] kkartunov commented on #276
@quyjs I see "Added by vexorian , last edited by vexorian on Apr 29, 2015  (view change)" for 640 so the date is `Apr 29 2015`. **Note date has to be in format working with JS `new Date(...)` operator.**

[2020-04-23 06:06] kkartunov commented on #276
Pages SRM 640 -> SRM 646 have the dates. SRM 650 -> SRM 702 also. I think you misunderstood where to find the dates. Please, update ASAP.

[2020-04-23 06:07] kkartunov commented on #276
Should these link be empty? Or keep it as it is?
Leave such links empty. No add broken links!

[2020-04-23 06:14] kkartunov commented on #275
@quaddock working on this? When do you plan to submit?

[2020-04-23 06:17] quyjs commented on #276
@kkartunov I think the date is next to the title?
<img width="438" alt="Screenshot 2020-04-23 at 1 12 28 PM" src="https://user-images.githubusercontent.com/63595876/80065614-9e765380-8564-11ea-96a7-9bfd8713c943.png">
The date is `Tuesday, March 11th, 2014`

[2020-04-23 06:20] quyjs commented on #276
I am collecting the tags, it's time consuming.

[2020-04-23 07:59] quaddock commented on #275
Hey @kkartunov, I'm working on it. I'll try to submit it by the next few hours.

[2020-04-23 08:26] kkartunov commented on #274
Done.

[2020-04-23 08:32] kkartunov commented on #274
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-23 08:46] #274 closed

[2020-04-23 08:47] kkartunov commented on #274
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122839<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-23 09:16] quyjs commented on #276
@kkartunov this is my submission.
https://docs.google.com/spreadsheets/d/1Wf7QZ9FmXo1RgKG4XXdEvRK05N706WT5ybuNHsohXyY/edit?usp=sharing

The creation dates which are styled in bold are collected from:
<img width="194" alt="Screenshot 2020-04-23 at 4 12 53 PM" src="https://user-images.githubusercontent.com/63595876/80081882-c32af500-857d-11ea-8741-beed7ccc4df5.png">

If you want to convert the dates

[2020-04-23 12:35] quaddock commented on #275
Hey @kkartunov, I was trying to scrape it computationally, but I'm getting some authentication issues. Since I'll take a bit of time to set it up, you may unassign me if there's a time crunch. Thanks!

[2020-04-23 12:37] iversonLv commented on #275
Can I get it?

[2020-04-23 14:00] jlhopkins28160 commented on #271
@dimkadimon Here is the rrevised article:
Track: Data Science
Handle: hopkins28160

[Errors_Hypothesis_Testing.docx](https://github.com/topcoder-platform/thrive-submit/files/4522923/Errors_Hypothesis_Testing.docx)

[2020-04-23 14:42] PrakashDurlabhji commented on #275
@kkartunov can I get a chance if possible?

[2020-04-23 14:46] kkartunov commented on #275
Contest https://www.topcoder.com/challenges/30122838 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-23 14:46] iversonLv commented on #275
@kkartunov I requested again you don't assign me first?

[2020-04-23 14:47] kkartunov commented on #275
@PrakashDurlabhji go-ahead.
@iversonLv thanks we said to give a chance to other.

[2020-04-23 14:48] iversonLv commented on #275
hey, the first request is fine, this is the second time, topcoder bug bash rule is Fast get first serve, isn't it?

[2020-04-23 14:49] kkartunov commented on #276
@quyjs no you don't need to submit to OR. Will review and let you know...

[2020-04-23 14:53] PrakashDurlabhji commented on #275
@kkartunov thanks

[2020-04-24 00:10] PrakashDurlabhji commented on #275
@kkartunov working

[2020-04-24 06:53] kkartunov commented on #276
@quyjs please make dates in format that works with JS Date. For example `new Date('Tuesday, March 11th, 2014')` is an invalid date and has to be `new Date('March 11th, 2014')`.

Please, correct those and resubmit ASAP.

[2020-04-24 06:53] kkartunov commented on #276
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-24 08:55] dimkadimon commented on #271
That looks good to me. I would still like to see some references or future reading section for the interested reader. But it is fine.

[2020-04-24 09:57] quyjs commented on #276
@kkartunov I've just updated
https://docs.google.com/spreadsheets/d/1Wf7QZ9FmXo1RgKG4XXdEvRK05N706WT5ybuNHsohXyY/edit?usp=sharing

[2020-04-24 10:04] iversonLv commented on #275
@kkartunov hi, if the current member does not submit within 24hr, could you please consider assign this to me?

Thanks.

[2020-04-24 10:27] PrakashDurlabhji commented on #275
@kkartunov @iversonLv a bit lengthy hence taking time and i was working locally actually. kindly request you to extend by few hours if possible, mostly it will be completed though

[2020-04-24 11:53] kkartunov commented on #275
@PrakashDurlabhji you have ~4h until deadline so use them wisely and see to finish. Thanks

[2020-04-24 11:55] PrakashDurlabhji commented on #275
@kkartunov u can see my progress on excel sheet , I made a mistake of making it locally.

[2020-04-24 12:40] kkartunov commented on #276
Thank You @quyjs . This is now done.

[2020-04-24 12:40] #276 closed

[2020-04-24 12:41] kkartunov commented on #276
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122840<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-24 12:41] jlhopkins28160 commented on #271
@dimkadimon I have added several links at the end of my post, so any interested readers can get more information

Track: Data Science
Handle: hopkins28160

[Errors_Hypothesis_Testing.docx](https://github.com/topcoder-platform/thrive-submit/files/4528882/Errors_Hypothesis_Testing.docx)

[2020-04-24 12:42] kkartunov commented on #258
@billsedison can you please review this one?

[2020-04-24 12:45] kkartunov commented on #275
@PrakashDurlabhji good work. You need to complete all fields tho...

[2020-04-24 13:06] PrakashDurlabhji commented on #275
@kkartunov from match overview i dont find any link to problem detail page which shows tags as mentioned by you in point 5th of Tags.

can you please help a bit? rest all is completed. u can see it in excel sheet

[2020-04-24 13:35] kkartunov commented on #275
@PrakashDurlabhji you need to go to the Problem details page and extract tags from there. As spec says:

[2020-04-24 13:46] PrakashDurlabhji commented on #275
@kkartunov sorry but that is what I am asking how to go to problem detail page itself? the screenshot which u shared in issue description is not reachable from anywhere.

I will explain you step by step.

1.  I am on this page of match overview

<img width="935" alt="match_overview" src="https://user-images.githubusercontent.com/28830240/80219399-02317700-8660-11ea-8219-952e32138cb8.PNG">

clickin

[2020-04-24 13:50] PrakashDurlabhji commented on #275
@kkartunov I read properly, it says go to bottom at match overview page, but there is no such link which takes to problem detail page. I am confused waiting for your help. I will submit it in 20 mins once my query resolved.

[2020-04-24 13:51] PrakashDurlabhji commented on #275
@kkartunov sorry for misunderstanding I found it

[2020-04-24 15:15] iversonLv commented on #275
@PrakashDurlabhji Are you still working? I checked the sheet is not updated much.
Author for rng_58 should be [[rng_58]]
The tags need unique,
![image](https://user-images.githubusercontent.com/4952611/80228189-4a14c600-8681-11ea-866a-f3a37b2b450a.png)

I see some of your read time is wrong, 5min SRMs are wrong, there are many problems for those SRM
![image](https://user-images.githubusercontent.c

[2020-04-24 15:26] PrakashDurlabhji commented on #275
@iversonLv I am constantly on working on sheet, u can check it and yes I know some are not unique and i am midway everything will be updated perfectly for sure before i say its ready for review.
thanks for pointing out regarding 5 min , I will surely get back to this in 10 mins

[2020-04-24 16:38] iversonLv commented on #275
@kkartunov Could I get the ticket? It's 26hr gone
Member could not hold the ticket >24hr as per the topcoder rule.
![image](https://user-images.githubusercontent.com/4952611/80235983-045dfa80-868d-11ea-9fcd-4650e307e57d.png)

[2020-04-24 16:52] PrakashDurlabhji commented on #275
@iversonLv you know its near to compeleted.kindly understand everyone gives 1 hr extra if ticket is nearly completed.

@kkartunov

[2020-04-24 17:13] iversonLv commented on #275
@PrakashDurlabhji your extra 1hr has been gone as well, see the above screenshot.

You still at row49, how could it be 10% remaining?

[2020-04-24 17:20] PrakashDurlabhji commented on #275
@iversonLv just 1 column is remaining...i am moving vertically not horizontally..next time i wont comment..i will asssign ticket to to u if i take any open for pickup.

[2020-04-24 19:00] PrakashDurlabhji commented on #275
@kkartunov file is completed

https://docs.google.com/spreadsheets/d/1GPaKO6BwJirkU5__lACbLo_6FHy-YKUVVFFoJMJffQ0/edit#gid=0

kindly provide feedback if any

[2020-04-24 19:20] kkartunov commented on #275
@PrakashDurlabhji thanks will review and let you know.

[2020-04-24 19:22] kkartunov commented on #275
@PrakashDurlabhji I hope you have addressed all issues @iversonLv found in work?

[2020-04-25 06:48] kkartunov commented on #275
Done. Thank You @PrakashDurlabhji

[2020-04-25 06:48] #275 closed

[2020-04-25 06:48] kkartunov commented on #275
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122838<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-25 06:55] kkartunov commented on #271
Contest https://www.topcoder.com/challenges/30123099 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-25 06:56] kkartunov commented on #271
Contest https://www.topcoder.com/challenges/30123099 has been updated - it has been assigned to hopkins28160.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-25 12:38] TamtePrathamesh opened #277 "[$100]Flutter - COVID-19 App Using Cloud Firestore and Rest Api’s"
Track-Development
TopCoder handle-Prathmesh9402
[COVID-19 App Article.docx](https://github.com/topcoder-platform/thrive-submit/files/4532953/COVID-19.App.Article.docx)

[2020-04-26 08:41] sah2ed commented on #271
@kkartunov where are these GH tickets listed on the TC website?

Can you link to the bug hunt challenge or is this being run under TaaS?

Thanks!

[2020-04-27 09:33] kkartunov commented on #277
@TamtePrathamesh we get "Plagiarism was detected!" on your submission. Please, fix and resubmit.

[2020-04-27 09:42] billsedison commented on #258
Sorry for the late response. The article is generally simple and the content has no essential difference with the official tutorial. https://flutter.dev/docs/cookbook/networking/fetch-data

We are looking for an article for more advanced content. Sorry, we can't accept this article.

[2020-04-27 15:37] TamtePrathamesh commented on #277
Fixed.
[COVID-19 App Article.docx](https://github.com/topcoder-platform/thrive-submit/files/4540584/COVID-19.App.Article.docx)

[2020-04-27 16:01] kkartunov commented on #277
passed checks

[2020-04-27 16:03] kkartunov commented on #258
Thank you @billsedison and @rajanmourya
@rajanmourya you can try other topics and dive deeper in them...

[2020-04-27 16:03] #258 closed

[2020-04-27 16:50] lukazambuca opened #278 "Simulating Popular Distributions in Python"
**Title:** Simulating Popular Distributions in Python
**Author:** Luka Beverin / Lukazambuca

**Track Category:** Data Science
**Subcategory:** Statistics
**Tags:** Distributions, Tools and Libraries, Simulation, Seaborn, Scipy, Statistics

**Read Time:**  5 min

**Banner Image (minimum 760px x 555px)**:
![thisisengineering-raeng-f4pUuCc3M0g-unsplash](https://user-images.githubusercontent.com/6085

[2020-04-28 05:54] ar-pa opened #279 "[$50] Arpa's problem of April 2020"
https://docs.google.com/document/d/1ZxAzI8luhdlmI8Ab5Q0Oa0d74CCZkxJENiGieGuBYvc/

[2020-04-28 06:02] kkartunov commented on #271
@jlhopkins28160 done.
https://www.topcoder.com/thrive/articles/Type%20I%20and%20Type%20II%20Errors

@sah2ed this here is Thrive article. You can submit also see https://www.topcoder.com/thrive/articles/Submitting%20a%20Thrive%20Article

[2020-04-28 06:02] #271 closed

[2020-04-28 06:02] kkartunov commented on #271
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30123099<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 06:12] kkartunov commented on #278
@lukazambuca submission fails plagiarism check. I get "Plagiarism was detected" https://www.grammarly.com/plagiarism-checker

[2020-04-28 06:27] kkartunov commented on #279
Contest https://www.topcoder.com/challenges/30123552 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 06:29] kkartunov commented on #279
@ar-pa, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-28 06:52] ar-pa commented on #279
what is Topcoder X and how to sign-up?

[2020-04-28 14:17] kkartunov commented on #279
https://www.topcoder.com/thrive/articles/Arpa's%20Problem:%20April%202020

@ar-pa we are going to send you invite to our GitHub org.
@harshitmehta123 told you what to update in your profile, right?

[2020-05-01 07:46] harshitmehta123 commented on #279
Hey @kkartunov looks like - there is some issue here. I will handle the payment offline :) Thanks @ar-pa for the great article!

[2020-05-01 07:46] #279 closed

[2020-05-01 07:46] kkartunov commented on #279
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-01 11:22] ar-pa commented on #279
Thank you @harshitmehta123.

[2020-05-07 12:28] harshitmehta123 commented on #267
Hey @iqbalhood are you still working on it? Would love to see you pen an article on the same

[2020-05-07 12:56] arnandosimanjuntak opened #280 "[$50] Learning Series - Grid and Libraries for Faster and Efficient Design"
**Track:** Design
**Author:** ndondo_

**Article:**
https://docs.google.com/document/d/178sG52L8brTzRQjier1j_nBW7EI3TwKEM5uBz0ShdiQ/edit?usp=sharing

[2020-05-07 12:59] iqbalhood commented on #267
I'm working on it, sir, in 2 days I'll post it here.

[2020-05-07 14:06] fajarmln commented on #280
Looks good, thank you.

[2020-05-07 14:19] fajarmln commented on #280
@kkartunov can you run a plagiarism check and let us know whether this can be uploaded to THRIVE? Thank you.

[2020-05-07 14:33] harshitmehta123 commented on #280
Hey @kkartunov, just to add to what Fajar said -  We need to publish it for a challenge launching soon - can you help us send it to Eliza asap for the review, once you are done with your regular checks!

[2020-05-08 08:06] kkartunov commented on #280
@harshitmehta123 @fajarmln @arnandosimanjuntak, unfortunately, it fails the test. I get "Plagiarism was detected". Please, fix and will be sent to Eliza after that...

https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACALKF8ZfHGUB3QjAAWhCsrkAbKFrj5BEZhRqYAjAF9a4aPGTp2CySyc1IKMzGzYQdy8-HbCPuJSMuyRPDB8piZmiiwOACYA9P4s5nAAH

[2020-05-09 22:29] fajarmln commented on #280
@kkartunov can you show us the issue details that you found? the link above only tells us that 'there was a plagiarism' and some 'sentence issues' without further explanation. To see the details, we need to pay the Grammarly app feature, so it's not a free tool.

We've checked and corrected the content of the article as much as we can, but since the article is more about 'step by step' tutorial, t

[2020-05-10 00:21] fajarmln commented on #280
@kkartunov please check again, the plagiarism issue now has been solved

[2020-05-10 08:38] TamtePrathamesh commented on #277
Hey @kkartunov  when it's going to pass the review phase.

[2020-05-10 19:15] fajarmln commented on #280
checking in, any updates @kkartunov ?

[2020-05-11 01:51] billsedison commented on #277
Hi @TamtePrathamesh , sorry for the late. Good article! Detailedly described the way of using Firestore and Rest APIs in Flutter.

Can you also write sections about how to draw the pie chart as well as how to integrate the news API? In your app, you also did these, thanks.

[2020-05-11 13:10] kkartunov commented on #280
@fajarmln sending it for review. We will publish it after that...

[2020-05-12 21:58] kkartunov commented on #280
Contest https://www.topcoder.com/challenges/30125379 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-12 21:58] kkartunov commented on #280
Contest https://www.topcoder.com/challenges/30125379 has been updated - it has been assigned to ndondo_.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-12 22:00] kkartunov commented on #280
Done.

[2020-05-12 22:00] #280 closed

[2020-05-12 22:03] kkartunov commented on #280
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30125379<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-13 15:16] TamtePrathamesh commented on #277
Hey @billsedison
added the news and chart
[COVID-19 App Article.docx](https://github.com/topcoder-platform/thrive-submit/files/4622877/COVID-19.App.Article.docx)

[2020-05-16 07:26] andiirawan-art opened #281 "What is unique about Kotlin?"
[What is unique about Kotlin_.docx](https://github.com/topcoder-platform/thrive-submit/files/4637980/What.is.unique.about.Kotlin_.docx)

[2020-05-16 07:27] andiirawan-art commented on #281
The following is an example of submission for this challenge: https://topgear.topcoder.com/challenges/30120975
 Title: What is unique about Kotlin?
Author:  Programming paradigm

Track Category: Development
Subcategory: paradigms (Multi paradigm).
Tags: programming language, Kotlin, Programming paradigm
 Read Time:  7 min
 Banner Image (minimum 760px x 555px)
  [https://drive.google.com/open?id=1l

[2020-05-16 16:31] hasanozie opened #282 "[WIP] How Natural Disasters and Virus Outbreaks Affect Graphic Design Needs"
Work In Progress

[2020-05-16 16:39] #282 closed

[2020-05-18 14:23] hasanozie opened #283 "The Easiest Way to Choose a Color Scheme for UI Design"
Track Category: Design

Google docs link for this article

https://docs.google.com/document/d/1KbCsPoc3RdWTbIl3eXyHsSMkzC_ceOufzF6v2ZTZBEU/edit?usp=sharing

[2020-05-18 16:40] TamtePrathamesh commented on #277
Hey @billsedison and @kkartunov please take the article forward I have done what @billsedison said, It's just pending here.

[2020-05-19 01:39] billsedison commented on #277
@TamtePrathamesh Sorry I missed your update. I will review it now.

[2020-05-19 08:49] TamtePrathamesh commented on #277
okay thank you @billsedison

[2020-05-19 11:32] billsedison commented on #277
@TamtePrathamesh Overall it is good, some minor issues need to be improved.
1. The format looks bad, can you change it to Markdown or format the content better so that we can easily put to Thrive?
2. Can you add some screenshots for the pie charts and news API sections?

Thanks

[2020-05-20 05:06] TamtePrathamesh commented on #277
Hey @billsedison Made all the changes
- Converted to markdown file
[Flutter COVID-19 App Article.zip](https://github.com/topcoder-platform/thrive-submit/files/4654722/Flutter.COVID-19.App.Article.zip)

- Added the new and chart ss link

Thanks

[2020-05-20 06:36] billsedison commented on #277
Thanks all good now

[2020-05-20 06:36] billsedison commented on #277
@kkartunov Please process the payment, it should be $100 as it is part of the learning series challenges.

[2020-05-20 06:44] TamtePrathamesh commented on #277
Thank you so much @billsedison you always helped since the flutter challenge

[2020-05-20 07:39] kkartunov commented on #277
Contest https://www.topcoder.com/challenges/30126078 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-20 07:39] kkartunov commented on #277
@TamtePrathamesh, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-20 07:41] #278 closed

[2020-05-20 07:43] kkartunov commented on #283
passed min checks

[2020-05-20 07:45] kkartunov commented on #281
@andiirawan-art this has "Plagiarism was detected". Please, fix and resubmit.

[2020-05-20 07:59] fajarmln commented on #283
@hasanozie I've checked the article and it needs more background knowledge/basic theory about colors, it cannot be instant method.

[2020-05-20 08:00] TamtePrathamesh commented on #277
Hey, @kkartunov  I didn't get what you said?
Where I have to signup can you please give a link if you have, I am new on this platform so don't know.

Thanks

[2020-05-20 14:55] kkartunov commented on #277
@TamtePrathamesh we have sent you(github email) invite to join our org. Please accept it then we will continue with TCX sign-up. Let me know when you ready...

[2020-05-20 14:58] kkartunov commented on #277
@TamtePrathamesh okay I see you already did step 1. Now please click here https://x.topcoder.com/api/v1/github/teams/registration/2fa84f39-7277-48d9-bd80-8be29c79f886-1589986637578 and login with your TC account to complete registration.

[2020-05-20 15:06] TamtePrathamesh commented on #277
I clicked on it, it automatically logins me and immediately logs out me even.

Thanks

[2020-05-20 15:07] kkartunov commented on #277
Contest https://www.topcoder.com/challenges/30126078 has been updated - it has been assigned to Prathmesh9402.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-20 15:08] kkartunov commented on #277
@TamtePrathamesh everything okay now. We will proceed with your payment when article gets published to Thrive.

[2020-05-20 15:08] TamtePrathamesh commented on #277
Now what I have to do @kkartunov

[2020-05-20 15:10] TamtePrathamesh commented on #277
okay thank you so much.
How much time it takes to be live on the thrive can I know, please?

Thank you

[2020-05-20 15:14] kkartunov commented on #277
some days...

[2020-05-20 15:15] TamtePrathamesh commented on #277
okay!! will I be notified here when it published?

Thanks

[2020-05-20 15:22] TamtePrathamesh commented on #277
Hey @kkartunov  On this link https://www.topcoder.com/challenges/30126078  I see that docx file article is there but that is incomplete and Later billsedison told to create me file which contains all article info.

Thanks

[2020-05-21 06:47] kkartunov commented on #277
@TamtePrathamesh I can't access this banner image https://drive.google.com/open?id=1rMnUYo5RgU2ftEiMKm2f-cK0Mve0Nzhs. Share it with me, please.

[2020-05-21 06:52] TamtePrathamesh commented on #277
[mybanner (1).zip](https://github.com/topcoder-platform/thrive-submit/files/4660955/mybanner.1.zip)
Include in zip and also you can try with below link hope you can access now
https://drive.google.com/file/d/1rMnUYo5RgU2ftEiMKm2f-cK0Mve0Nzhs/view

[2020-05-21 06:54] kkartunov commented on #277
Thank you all. This is now done.
https://www.topcoder.com/thrive/articles/Flutter%20-%20COVID-19%20App%20Using%20Cloud%20Firestore%20and%20Rest%20APIs

[2020-05-21 06:55] #277 closed

[2020-05-21 06:55] kkartunov commented on #277
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30126078<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-05-21 06:57] TamtePrathamesh commented on #277
Ohh thank you so much.
can We some modification later if yes how it can be done?
Thanks

[2020-05-21 06:58] kkartunov commented on #277
@TamtePrathamesh you will see the award in your TC account shortly...

Yes, for modifications contact me or @harshitmehta123 directly on Slack.

[2020-05-21 07:01] TamtePrathamesh commented on #277
okay will try contacting you using slack.

I think I should change the banner image.

Thanks

[2020-05-21 08:51] hasanozie commented on #283
Hi bang @fajarmln
I have updated this article by adding color functions to the UI design and some techniques for creating Color Schemes.

https://docs.google.com/document/d/1KbCsPoc3RdWTbIl3eXyHsSMkzC_ceOufzF6v2ZTZBEU/edit?usp=sharing

[2020-05-24 16:53] tapishr opened #284 "Adversarial Autoencoders: Deep Learning Applications in Drug discovery"
Track: Data Science
Author: Tapish.Rathore

https://docs.google.com/document/d/1wMFKQ3-q3EVvbhJ33h3iOuZzjyeejtxFaBCHyctwIgo/edit?usp=sharing

[2020-05-26 20:20] hokienick commented on #284
We will pick back up operations of Thrive articles in July.

[2020-05-26 20:20] hokienick commented on #283
We will pick back up operations of Thrive articles in July.

[2020-05-26 20:20] hokienick commented on #281
We will pick back up operations of Thrive articles in July.

[2020-05-26 20:20] hokienick commented on #267
We will pick back up operations of Thrive articles in July.

[2020-06-02 15:59] CamiloDennis opened #285 "EdgeX Foundry - Why it is important for anyone creating edge applications/solutions"
Title: EdgeX Foundry - Why it is important for anyone creating edge applications/solutions
Authors:
Jim White: IOTech’s CTO and co-chair, EdgeX Foundry Technical Steering Committee
Camilo Dennis (TC Handle: CADEdgeXTC-20): Intel’s IoT Marketing Manager and chair, EdgeX Foundry Marketing Team
Track category: Topcoder - Development

[EdgeX Foundry - Thrive Article 6.2.20.docx](https://github.com/top

[2020-06-16 17:15] quaddock opened #286 "[$50] In Python we trust"
Track: Data Science
Title: In Python, we t[Rust]?
Please find the submission at:-
[Google Drive Link](https://docs.google.com/document/d/1rAjrhSsT9CgCyDBTa8SyxzB_w7xmXVPyTpJX9tXGlOk/edit?usp=sharing)

[2020-06-18 06:50] #281 closed

[2020-06-18 06:52] kkartunov commented on #285
[Plagiarism detected](https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdleIk3IATAPTrCAGzgAPJQGU45eJTgBnARE3VMAVgC%2BNcNHjJ0rACJw8Cj4qnAo9nQMTCzYAOIoUPiSKA5CvmISUgFB4aHk4UoAqrZwSgAUUDpSOjAAFnC1ddy2NEpBEAB0AJQOTlgATB5e6SKsxFC2ttwAbnAAakjcEHAC0cysZjBoRmk%2BIuKS0myT03NKi8tlALItpKV9FM4ALMOC%2B34yBlAI3FAoLXwa0YGy%2BPz%2BANs

[2020-06-18 06:54] kkartunov commented on #286
[Plagiarism](https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAKUDO%2BAlgG5wBqSREcYANGAikgK4AOWYAyjGgDa0G0eMnQAJFgFsoAO055CpOAAJK1FQFki%2BFvkGRWMmFgCsAXzrhhiVBmw4%2BUBESgptk%2Bo2bt5j56-dPa1E0CWk5bABVGVQiZxkoPmUIJCM4IyDDY0wAJgsrWBt0TgB1VAATAGEACyoaTyZWDmwAURlq2RpJdOMhQpCw2VKK5Rq6-RSWDMwAZjMAXSA&page=plagiarism&breadcrumbs=true) detected. Please fix to continue.

[2020-06-18 06:55] kkartunov commented on #284
passed min checks.

[2020-06-18 08:49] quaddock commented on #286
Can you please check it again?

[2020-06-19 07:52] harshitmehta15 commented on #286
Hey @quaddock good start! It would be good to have some images and code snippets highlighting the difference, performance differences, etc. Basically focussing on giving a complete overview of the differences between the two or I should say why one is better than others. Or discussing each aspect and highlighting which is better where!

Origin, why it was built, what was the focus, common code sni

[2020-06-19 10:22] harshitmehta15 opened #287 "WRITING A MARATHON TESTER"
https://docs.google.com/document/d/133nXy7mh2ACX1BwkehKAksoQ0R4EC7youYFW5mVs2PQ/edit

Title:  WRITING A MARATHON TESTER
Author: Wladimir Leite / wleite
Track Category: Competitive Programming
Subcategory: Marathon
Tag: How-To

[2020-06-19 10:24] harshitmehta15 opened #288 "MARATHON LOCAL TESTER PARAMETERS"
https://docs.google.com/document/d/100JX1dgENRlrxt3tZfVWQ70PxoOQjyl1LfxlvnWxRG8/edit
Title: MARATHON LOCAL TESTER PARAMETERS
Author: Wladimir Leite / wleite
Track Category: Competitive Programming
Subcategory: Marathon
Tag: How-To

[2020-06-24 15:41] quaddock commented on #286
@harshitmehta15 Thanks Harshit! I've updated the document with the required changes.

[2020-06-25 09:26] harshitmehta15 commented on #287
Hey @kkartunov can you help me publish them?

[2020-06-25 09:27] harshitmehta15 commented on #288
Hey @kkartunov can you help me publish this?

[2020-06-25 14:32] quaddock commented on #286
@kkartunov Hey, could you kindly run the requisite tests, the article is ready from my side now.

[2020-06-26 13:08] kkartunov commented on #286
@quaddock passed now. Thank you!

[2020-06-27 13:08] anu0012 opened #289 "[$50] Interactive HTML tables using DataTables"
Title: Interactive HTML tables using DataTables
Track: Development

[html_dataTables.md.zip](https://github.com/topcoder-platform/thrive-submit/files/4840582/html_dataTables.md.zip)

[2020-06-29 03:28] jlhopkins28160 opened #290 "An Introduction to pandas-profiling"
Title: An Introduction to pandas-profiling
Track: Data Science
User: hopkins28160

[Pandas-Profiling.docx](https://github.com/topcoder-platform/thrive-submit/files/4843626/Pandas-Profiling.docx)

[2020-06-29 04:53] balavenkatesh3322 opened #291 "[$50] Is Data science just a rebranding of statistics?"
https://docs.google.com/document/d/1kE1fnFeLGXROswF_5QSHDU58-tdgFKyx6dcjXfnWMg8/edit?usp=sharing

Title: Is Data science just a rebranding of statistics?
Author: Bala Venkatesh
Track Category: Data Science
Subcategory: theory
Tag: Python, Seaborn, Matplotlib
Read Time: 5min

[2020-07-01 16:17] harshitmehta15 commented on #291
Hey @balavenkatesh3322 Good start, I added some comments :)

[2020-07-02 03:58] balavenkatesh3322 commented on #291
Hi, @harshitmehta15 Thanks for giving comments on that. I have rectified those commands and added some more valuable points in that article.

[2020-07-02 10:37] harshitmehta15 commented on #291
Hey @kkartunov the article is good to be published. Can you check for plagiarism or any other imp detail.?

@balavenkatesh3322 Can you add the Category, Sub-category and other details mentioned in the readme to have team put the article in the proper place :)

[2020-07-02 12:45] harshitmehta15 commented on #286
Hey @kkartunov,
This is all set! Let's publish it!

Thanks @quaddock - great article!

[2020-07-02 14:08] balavenkatesh3322 commented on #291
Title: Is Data science just a rebranding of statistics?
Author: Bala Venkatesh
Track Category: Data Science
Subcategory: theory
Tag: Python, Seaborn, Matplotlib
Read Time: 5min

[2020-07-02 14:15] balavenkatesh3322 commented on #291
@harshitmehta15 I have added the mentioned details in the article sheet.

[2020-07-08 06:52] kkartunov commented on #291
@balavenkatesh3322 this article fails the Plagiarism Check. Can you correct it and make it pass the test https://www.grammarly.com/plagiarism-checker? Thanks.

cc @harshitmehta15

[2020-07-08 07:43] balavenkatesh3322 commented on #291
@kkartunov I have corrected the article. one word is failed which is the method (pairplot()) so it should be like this. other than everything passed.

Also, I have changed the image for pixilated issues.

Thanks,

[2020-07-08 14:04] kkartunov commented on #291
@balavenkatesh3322 Thank you! Unfortunately I retested the article and see checker fail. Please, correct it properly to pass the check.

[2020-07-08 14:12] balavenkatesh3322 commented on #291
Can you please send me the details of issue, I mean the exact statement issue because I used same grammarly software to test. I got only one issue which is method so we couldn't change that.

Also please let me how much words wrong?

Thanks.

[2020-07-08 14:28] balavenkatesh3322 commented on #291
@kkartunov I have tested my side I am getting only one issue which is a method so it should be like that. i have attached a screenshot for your reference.

Please share the exact word issue to verify my side.
![Screenshot from 2020-07-08 22-25-06](https://user-images.githubusercontent.com/24771457/86931180-5ed60580-c16a-11ea-989e-cb3988d7581b.png)

Thanks.

[2020-07-09 09:00] #287 closed

[2020-07-09 09:00] kkartunov commented on #286
Done.

[2020-07-09 09:00] kkartunov commented on #288
Done

[2020-07-09 09:00] #288 closed

[2020-07-09 09:03] kkartunov commented on #291
@balavenkatesh3322 what you refer there is typo and is not an issue. It is the result when you click on that big "Scan for plagiarism" button. It has to pass not fail.

[2020-07-09 09:05] kkartunov commented on #290
Passed checks

[2020-07-09 09:06] kkartunov commented on #289
passed checks

[2020-07-09 09:18] harshitmehta15 commented on #291
Hey @balavenkatesh3322 - this might help you resolve some issues. We will have to change the shoe store example and a few other things
[plagiarismdetector.pdf](https://github.com/topcoder-platform/thrive-submit/files/4895749/plagiarismdetector.pdf)
Check this report

[2020-07-09 09:33] kkartunov commented on #286
Contest https://www.topcoder.com/challenges/30132392 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-07-09 09:42] kkartunov commented on #286
Contest https://www.topcoder.com/challenges/30132392 has been updated - it has been assigned to quaddock.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-07-09 09:43] balavenkatesh3322 commented on #291
@kkartunov @harshitmehta15 oops!! Sorry for the misunderstanding. I have fixed some of them. but Grammarly asking a premium version to rectify other issues. let me check with other plagiarism software.

Thanks.

[2020-07-09 11:02] #286 closed

[2020-07-09 11:02] kkartunov commented on #286
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132392<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-07-12 18:17] anu0012 opened #292 "[$50] Introduction to D Programming Language"
Category: Development
Author: Anurag Sharma

[intro_D.md.zip](https://github.com/topcoder-platform/thrive-submit/files/4909118/intro_D.md.zip)

[2020-07-13 01:57] balavenkatesh3322 commented on #291
@kkartunov @harshitmehta15 I have resolved all plagiarism issues using this https://www.quetext.com/ website.

Thanks.

[2020-07-14 08:32] kkartunov commented on #291
@balavenkatesh3322 @harshitmehta15 article accepted.

[2020-07-14 08:33] kkartunov commented on #285
@CamiloDennis are you going to submit update for this one?

[2020-07-14 08:36] kkartunov commented on #291
Contest https://www.topcoder.com/challenges/30132956 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-07-14 08:39] kkartunov commented on #292
passes min checks

[2020-07-14 08:39] kkartunov commented on #291
@balavenkatesh3322, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-07-14 14:20] kkartunov commented on #291
@balavenkatesh3322 please:
1. Accept our GitHub invite to join the org and team
2 After that use this link to sign-up with TCX https://x.topcoder.com/api/v1/github/teams/registration/dc7906a1-5d67-4e5c-ae2b-91c7b9781d71-1594736372797

We need this to process your payment.

[2020-07-14 14:42] balavenkatesh3322 commented on #291
@kkartunov Thanks for sending the invitation. I have accepted the team and org invite. I have signed up on the top coder website. my user name is **balavenkatesh.b**
what is the next process to proceed payment?

[2020-07-14 17:05] kkartunov commented on #291
Contest https://www.topcoder.com/challenges/30132956 has been updated - it has been assigned to balavenkatesh.s.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-07-14 17:24] kkartunov commented on #291
It is all good now @balavenkatesh3322. The system will process your payment shortly. Thank You for you article!
cc @harshitmehta15

[2020-07-14 17:24] #291 closed

[2020-07-14 17:24] kkartunov commented on #291
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30132956<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-07-15 01:56] balavenkatesh3322 commented on #291
@kkartunov @harshitmehta15 Thanks for publishing the article. can you please share the article link after publish on the top coder website.

Thanks.

[2020-07-23 06:45] #285 closed

[2020-08-10 08:26] anu0012 commented on #289
@kkartunov Any update on review?

[2020-08-19 01:25] ChrisChV opened #293 "[$50] From Easy to Hard: The security in Hasura with Auth0 (II): Multiple roles"
**Track category**: Development
**Author**: Christofer Chávez / XnpioChV

[From Easy to Hard: The security in Hasura with Auth0 (II): Multiple roles.docx](https://github.com/topcoder-platform/thrive-submit/files/5093526/From.Easy.to.Hard.The.security.in.Hasura.with.Auth0.II.Multiple.roles.docx)

[2020-08-22 06:42] vijaysinghkhatri96 opened #294 "[$50] What’s Deno, and how is it different from Node.js?"
[What's Deno and how is it different from Node.js.docx](https://github.com/topcoder-platform/thrive-submit/files/5112026/What.s.Deno.and.how.is.it.different.from.Node.js.docx)

[2020-08-27 10:18] harshitmehta15 commented on #294
Thanks for the article @vijaysinghkhatri96
Hey @kkartunov I did the plagiarism check and it passed, can you help me get the language fixes done and then publish this article.

[2020-08-27 10:19] harshitmehta15 commented on #283
Hey @fajarmln - can you do a quick check on the updated article? :)

[2020-08-27 10:35] fajarmln commented on #283
Will check shortly @harshitmehta15

[2020-08-27 11:45] #267 closed

[2020-08-27 11:48] harshitmehta15 commented on #289
Thanks for writing this @anu0012

[2020-08-27 11:48] harshitmehta15 commented on #289
@kkartunov Can you help me in getting this published :)

@anu0012 - do you want to add images and previews?

[2020-08-27 11:51] harshitmehta15 commented on #290
Hey @jlhopkins28160 Nice Article. Can you add some preview images of the report generated?

[2020-08-27 13:33] anu0012 commented on #289
@harshitmehta15 It's already there in it wherever it is required.

[2020-09-03 11:22] fajarmln commented on #283
I cannot pass this article, the content 'still' mostly about instant knowledge about colors and not suitable for THRIVE article

[2020-09-03 11:23] #283 closed

[2020-09-03 12:38] harshitmehta15 commented on #289
Thanks @anu0012 I think I missed the images. @hokienick Can you help me get it published

[2020-09-03 12:40] harshitmehta15 commented on #292
Thanks, @anu0012 Looks good
We will have it published asap.

[2020-09-03 13:08] anu0012 commented on #292
Thanks, @harshitmehta15 :)

[2020-09-11 07:35] kkartunov commented on #294
Contest https://www.topcoder.com/challenges/30141390 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-09-11 07:36] kkartunov commented on #294
@vijaysinghkhatri96, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-09-11 07:38] kkartunov commented on #292
Contest https://www.topcoder.com/challenges/30141391 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-09-11 07:39] kkartunov commented on #292
Contest https://www.topcoder.com/challenges/30141391 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-09-11 07:46] kkartunov commented on #292
Thanks @anu0012

[2020-09-11 07:46] #292 closed

[2020-09-11 07:47] kkartunov commented on #292
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141391<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-09-11 07:48] kkartunov commented on #289
Contest https://www.topcoder.com/challenges/30141394 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-09-11 07:49] kkartunov commented on #289
Contest https://www.topcoder.com/challenges/30141394 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-09-11 07:56] kkartunov commented on #289
Thanks @anu0012

[2020-09-11 07:56] #289 closed

[2020-09-11 07:56] kkartunov commented on #289
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141394<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-09-11 11:50] kkartunov commented on #294
@vijaysinghkhatri96 we have sent you an invite to join our GitHub org `topcoder-platform`. You need to accept it first then we can continue with your payment. Let me know when you ready...

[2020-09-14 08:24] harshitmehta15 commented on #284
Hey, @tapishr Sorry for the delay in reviewing the article. Would you like to add about a few projects Topcoder has done in Data Discovery and some words around how deep learning would have shaped those projects like: EPA ToxCast, Pfizer GWASS, or Harvard Precision Med.

Let me know if you are not able to locate details about these Topcoder Competitions.

[2020-09-19 12:53] mohtashim-nawaz opened #295 "Measures of Central Tendency and Measures of Dispersion of Data"
**Track:** Data Science
**Author:** Stark_T

https://docs.google.com/document/d/1eLD53Va6Wwxy6Uqxt_oshNedmiv6I8BKMK07VsKDmIA/edit?usp=sharing

[2020-10-21 19:34] trivia79 opened #296 "[$50] What is Episerver and why should you use it?"
https://docs.google.com/document/d/1Pe6YqPMOx6JGngSm9QMuy7jg5bcMy4ddYw-7ny5FZjo/edit?usp=sharing

[2020-10-22 17:26] trivia79 commented on #296
Title:  What is Episerver and why should you use it?
Author:  Adam Christian Amistad / trivia79
Track Category:  Development
Subcategory:  Episerver
Tags:  CMS, .NET, DevOps, Angular, React, Vue
Read Time:  3 minutes
Banner Image:  https://www.pexels.com/photo/business-coffee-composition-computer-265667/

[2020-10-22 17:35] harshitmehta15 commented on #296
Hey @kkartunov
Can you get this checked, reviewed and published asap? :)

[2020-10-22 18:47] kkartunov commented on #296
Contest https://www.topcoder.com/challenges/30146655 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-10-22 18:48] kkartunov commented on #296
Contest https://www.topcoder.com/challenges/30146655 has been updated - it has been assigned to trivia79.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-10-23 08:27] kkartunov commented on #296
Thank You @trivia79

[2020-10-23 08:27] #296 closed

[2020-10-23 08:27] kkartunov commented on #296
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30146655<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-11-11 23:39] VanitaW opened #297 "[$50] Getting started with Appium - here are the things you need to know"
https://docs.google.com/document/d/1Fqt7Ha6A0_FQEXb3vWl_yV0lV2tb9G1w6AVHJw3eP3c/edit?usp=sharing

[2020-11-11 23:40] VanitaW commented on #297
QA. Automated Testing

[2020-11-14 18:44] bhagvanarch opened #298 "[$50] Introduction to Machine Learning: using Azure DataBricks"
hi,

I am planning to write a series of articles related to DataBricks.

1.  Introduction to Machine Learning : using DataBricks
2. Introduction to Streaming : Spark & DataBricks
3. Job Processing with DataBricks
4. Creating a Spark Cluster in DataBricks Workspace
5. Data Transformations with DataBricks
6. Azure DataBricks ETL
7. Working with Azure DataBricks NoteBook
8. Data Security : Azure Data

[2020-11-17 01:49] VanitaW opened #299 "Cypress vs Selenium [WIP]"
Hi,

I want to do a series of testing articles.  One of the articles is listed in the sample topics.

1. An introduction to automated testing - Selenium's beginner's guide.
2. Cypress vs Selenium
3.  Automated testing - Test Coverage. In this article, I will explain the different types of coverage, how to calculate the coverage, how to take the edge cases into account and how to optimize test cove

[2020-11-17 05:34] harshitmehta15 commented on #298
Hey @bhagvanarch

Great Topics

Let's go one by one -
Each article has to be another issue. Can you start with **Introduction to Machine Learning: using DataBricks**

What are you planning to cover in this article?

[2020-11-17 05:44] harshitmehta15 commented on #299
Hey @VanitaW thanks for writing articles for Topcoder Thrive!

- **An introduction to automated testing - Selenium's beginner's guide**. - is actually a very common article. I think you can do an advance level and look for another interesting topic here
- Cypress vs Selenium This is a nice article - we can start with this. What are you planning to include in this?
- Automated testing - Test Covera

[2020-11-17 05:44] harshitmehta15 commented on #299
Each issue has to be an article - so make sure you edit this issue to the one you are planning to work on first and submit the doc here :)

[2020-11-17 06:08] bhagvanarch commented on #298
In the first article, i am going to cover the following :

-  Machine Learning introduction

- Azure Databricks - Big Data and Analytics

-  Azure  Databricks - AI

- Azure Databricks - Data Science

- Azure Databricks - Data WareHousing

- Azure Databricks - Machine Learning

1.  Notebooks
2.       Spark Engine
3.       Languages Used
4.   ML Flows
5. Security

[2020-11-17 06:25] harshitmehta15 commented on #298
Okay great, should the title be - Introduction to Machine Learning: using Azure DataBricks then?
We are majorly running challenges for Spark - the framework you would be using would be spark right?

[2020-11-17 06:34] bhagvanarch commented on #298
I will change the title as Introduction to Machine Learning: using Azure DataBricks & Spark

[2020-11-18 13:12] VanitaW commented on #299
Thank you!  I will edit this issue and submit the articles soon.

[2020-11-21 20:09] bhagvanarch commented on #298
i have created a draft article for your review.  below is the google doc link.

https://docs.google.com/document/d/1bfFLZ2g9ug64woCElgT_p223Nmm94R-56wgSZfVrX9M/edit?usp=sharing

[2020-11-30 12:57] kkartunov commented on #294
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-11-30 19:15] kkartunov opened #300 "DECEMBER’S BIG GIVE: 2020 EDITION"
Share your knowledge and write an article for our educational center, Thrive, and you can earn!

$100 for each accepted Thrive article and there is NO limit on the number of articles you can submit.

@topcoder-platform/thrive-writers join and earn with us.

Check the blog post here https://www.topcoder.com/decembers-big-give-2020-edition/
Submit your articles by following the [repo rules](https://

[2020-11-30 20:17] vijaysinghkhatri96 commented on #294
Hi Team,

Sorry for late response, Here I want to reopen it for payment purpose can you please process my payment for this article.

tcx_FixAccepted

[2020-11-30 20:19] vijaysinghkhatri96 commented on #294
Can you please resend this github org top-coder platform, through I can confirm get the payment of my last written article.

[2020-11-30 20:25] vijaysinghkhatri96 commented on #294
Also, when you are sending git hub org join link then please send a push notification too because previously I was missed your last email because that was going under update sections.

Hope to receive a positive response and the payment paypal address i.e. vijaykhatri96@gmail.com

[2020-12-01 13:52] kkartunov commented on #298
passed min checks

[2020-12-01 18:31] anu0012 opened #301 "[$100] Core Java - Part 1"
Category: Development
Author: Anurag Sharma

[core_java_1.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5624640/core_java_1.md.zip)

[2020-12-01 18:31] anu0012 opened #302 "[$100] Core Java - Part 2"
Category: Development
Author: Anurag Sharma

[core_java_2.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5624641/core_java_2.md.zip)

[2020-12-02 04:36] balavenkatesh3322 opened #303 "[$100] Thrive - How to extract medical information from unstructured data using NLP?"
Title: How to extract medical information from unstructured data using NLP?
Author: Bala Venkatesh
Track Category: Data Science
Subcategory: Theory
Tag: Python, Apache cTakes, Spark NLP

User name :- balavenkatesh.s
mailid :- venkateshpnk22@gmail.com

[Blog Link ](https://docs.google.com/document/d/1PvUeh8lreArDFJs0cxteJoFsnPlladAPqj5zzHJvBow/edit?usp=sharing)

cc: @harshitmehta15

[2020-12-02 11:15] vijaysinghkhatri96 opened #304 "[$50] What’s Deno, and how is it different from Node.js?"
Sorry, I was not able to respond to you on time, Can you please clear the payment?

@kkartunov Adding `tcx_FixAccepted`

[2020-12-02 11:16] #304 closed

[2020-12-02 11:39] vijaysinghkhatri96 commented on #294
Hi @kkartunov,

I am not able to find the GitHub link to join the top coder platform link in my email, Can you please re-send the join link?

I can join immediately, It was missed because the response time after submission is too late.

Looking forward to seeing a positive response.

[2020-12-02 16:22] kkartunov commented on #294
@vijaysinghkhatri96 please:
1. click this link https://x.topcoder.com/api/v1/github/teams/registration/ce197a10-01a5-46f5-9726-c4f19a0bb699-1606925995243
2. login with your TC account
3. let me know when you ready.

[2020-12-02 17:44] codewithshubham opened #305 "[WIP] Testing API with POSTMAN"

[2020-12-02 19:25] anu0012 opened #306 "Handle text data using NLTK"
Category: Data Science
Author: Anurag Sharma

[nltk_basics.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5631557/nltk_basics.md.zip)

[2020-12-02 19:25] kkartunov commented on #294
Contest https://www.topcoder.com/challenges/30141390 has been updated - it has been assigned to vijaykhatri96.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-02 23:04] VanitaW opened #307 "[$100] The ABCs of Code Coverage"
The ABCs of Code Coverage article.

[2020-12-03 07:11] codewithshubham opened #308 "[$100] Python for Image Recognition - OpenCV"

[2020-12-03 08:47] harshitmehta15 commented on #297
Hey @VanitaW - What do you think about this as a Title "Getting started with Appium? - here are the things you need to know."

And then in all the sections a view point of yours describing the details would be great to have. Can you add those details?

[2020-12-03 08:51] harshitmehta15 commented on #298
Hey @bhagvanarch Great Start,
Can you show some platform screenshots and code to show how it looks like in Azure: https://www.youtube.com/watch?v=cxyUy1bZ9mk

We can go in detail and even show a ML example being run.

[2020-12-03 08:57] codewithshubham commented on #308
Track Category : Data Science

[PYTHON FOR IMAGE RECOGONITION.docx](https://github.com/topcoder-platform/thrive-submit/files/5634794/PYTHON.FOR.IMAGE.RECOGONITION.docx)

[2020-12-03 09:25] kkartunov commented on #294
Published https://www.topcoder.com/thrive/articles/whats-deno-and-how-is-it-different-from-node-js

[2020-12-03 09:26] kkartunov commented on #294
Thank you @vijaysinghkhatri96

[2020-12-03 09:26] #294 closed

[2020-12-03 09:27] kkartunov commented on #294
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30141390<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-03 09:31] kkartunov commented on #301
passed min checks

[2020-12-03 09:32] kkartunov commented on #302
passed min checks

[2020-12-03 09:33] kkartunov commented on #303
passed min checks

[2020-12-03 09:33] kkartunov commented on #306
passed min checks

[2020-12-03 09:37] kkartunov commented on #308
@codewithshubham your articles should be > 500 words and pass Plagiarism Checker.
Plese update it and submit again.

[2020-12-03 10:34] codewithshubham commented on #308
Hey, @kkartunov
I have used text boxes which might be casing this word limit issue. Please open with ms word and check again. or if there is other issue.
![Screenshot 2020-12-03 at 4 01 55 PM](https://user-images.githubusercontent.com/19234723/100997998-0112e180-3581-11eb-916e-7244762b4184.png)

[2020-12-03 11:45] codewithshubham commented on #308
Hey @kkartunov
I have updated the content please have a look.
[PYTHON.FOR.IMAGE.RECOGONITION.docx](https://github.com/topcoder-platform/thrive-submit/files/5635807/PYTHON.FOR.IMAGE.RECOGONITION.docx)

[2020-12-03 13:34] bhagvanarch commented on #298
i was thinking of a detailed article in part 2 of the series with an ML example.

[2020-12-03 14:45] anu0012 opened #309 "[$100] Core Java - Part 3"
Category - Development
Author - Anurag Sharma

[core_java_3.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5636810/core_java_3.md.zip)

[2020-12-03 17:29] VanitaW commented on #297
@harshitmehta15 Yes, I will make the changes

[2020-12-03 20:33] shivam-51 opened #310 "[$100] Euclidean algorithm and linear Diophantine Equations"
Title: Euclidean algorithm and linear Diophantine Equations.
Author: Shivam Singh / shivam{}

Track Category: Competitive Programming
Tags: Algorithm, Mathematics, Algebra, Competitive Programming Tutorials

Read Time:  15 min

Banner Image (minimum 760px x 555px)
Topcoder logo

Please find my article here:
https://docs.google.com/document/d/1tI6RhUgb_B5b7r4nx1kADq6HLyxG1ccQJnFVV82Ml4o/edit?usp=sh

[2020-12-04 01:24] winterflame commented on #297
Hi @VanitaW ,

The article is good to read. Here are my thoughts:

1) We need to add the Appium official link to the article so that our reader can explore it further.

2) Punctuation issue - please add an ending dot for some bullet items, to be consistent with other items (e.g. in the "Pros of Using Appium" and "Cons of Using Appium" sections, some sentences have no ending dots).

3) Should the t

[2020-12-04 04:37] tarushi96 opened #311 "Understanding Random Forest and Hyper Parameter tuning"
Track: Understanding Random Forest and Hyper Parameter tuning
Author: Tarushi Gupta
[tarushi_pysark_article2.docx](https://github.com/topcoder-platform/thrive-submit/files/5640629/tarushi_pysark_article2.docx)

[2020-12-04 05:01] harshitmehta15 commented on #298
@bhagvanarch  Got it, so code part in the next article? :)

But, I think we can add some screenshots of the Azure databricks platform and explain them Looks very texty, we can explain the things you are talking about with the help of images

What do you think?

[2020-12-04 05:01] bhagvanarch commented on #298
sure. I will add the screen shots...

[2020-12-04 07:27] YudhaDM19 opened #312 "[$100] Make Loading logo animation with path adobe after effect"
**Track** : Design
**Author:** Yudha19

https://drive.google.com/drive/folders/14yq8Kd6bmj90cECCh12JkgXRtCuAznpC?usp=sharing

[2020-12-04 09:14] kkartunov commented on #308
@codewithshubham thanks, lenght is okay now. Unfortenatly article has issues with Plagiarism. Please update it to pass the test: https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgCMAX1rho8ZOnYBVCgDWFEg6AvSMzGzYAMoscGZmxgi2wt7iUjJ%2BgcGhuqgAJjb0dpSOAGxuHqmi7AAicPAoahRwKEUMTKzsAOIoUEpQKC

[2020-12-04 09:15] kkartunov commented on #309
passed min checks

[2020-12-04 09:17] kkartunov commented on #310
@shivam-51 thanks for the article. Unfortunately, it fails Plagiarism check https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgBMAX1rho8ZOnYLJLTmpBRmY2bEDuXn5bYW9xKRl2CJ4YPhNjU0UWewATAHo7fzM4AA9lLQc4Kmtbe0cAdjcPWNF2AFUKAGsKJB0BehDWdgBlFjgzM2MEGK9RCWlZMA7u3pMdVBybejtKRwBGJqFZn3CCIgA3OAA1

[2020-12-04 09:19] kkartunov commented on #311
@tarushi96 thanks for the article. Unfortunately, it fails Plagiarism check https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYAbAF8a4aPGTpWAETh4FHxVOBR7OgYmFmwAcRQofEkUByFfMQkpAKDw0PJwpVJLJQAKKF0pXRgACzhqmu5zGiUgiAA6AEoHLWcARj6PL3SRVgAlOChtKAAjbkNuGAwoxmZWAGUl4zSfEXFJaTBRKBRtAFoYJD

[2020-12-04 09:20] kkartunov commented on #312
@YudhaDM19 we can't access that doc, can you open it for reading?

[2020-12-04 09:24] kkartunov commented on #293
Contest https://www.topcoder.com/challenges/30155760 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-04 09:24] kkartunov commented on #293
Contest https://www.topcoder.com/challenges/30155760 has been updated - it has been assigned to XnpioChV.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-04 09:41] tarushi96 commented on #311
It doesn't show when I submit it, it is not copied.

https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgBMAX1rho8ZOnYAROPAoahRwKDb0jMxs2ADiKFBKUCi2wt7iUjJ%2BAaHBocpWygAUUAD0MiWGcBVG%2BLTKARAAdACUtvaOAIyu7kJeouwKkiyc1IKRrOwj3Lz8KX3oEtKyHJTUPDB8Jsamiiz2ACYldkNmcAAeyloOcFTWbZSOAOxuHqn92ABK

[2020-12-04 09:42] YudhaDM19 commented on #312
Yes i can see
Please follow linkhttps://drive.google.com/folderview?id=14yq8Kd6bmj90cECCh12JkgXRtCuAznpC

Dikirim dari Yahoo Mail di Android

  Pada Jum, 4 Des 2020 pada 16:20, Kiril Kartunov<notifications@github.com> menulis:

@YudhaDM19 we can't access that doc, can you open it for reading?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or

[2020-12-04 09:42] kkartunov commented on #301
@anu0012 this is a good topic and series to cover.
Let's be more detailed here and add to this one steps on how to setup your environment for JAVA development. It will enrich the artcile before we go deeper in the next sections.

[2020-12-04 09:45] anu0012 commented on #301
Hi @kkartunov
Thanks for the feedback.
I've covered that section in part 3.

[2020-12-04 09:46] kkartunov commented on #302
@anu0012 please combine this one with https://github.com/topcoder-platform/thrive-submit/issues/309
We should cover data types and operators in one article as they relate togther closely.
In Part 3 you could dive deeper to Interface, Abstract Class, Class and etc.

[2020-12-04 09:47] kkartunov commented on #309
@anu0012 see https://github.com/topcoder-platform/thrive-submit/issues/302#issuecomment-738684606

[2020-12-04 09:48] shivam-51 commented on #310
Thanks for the review @kkartunov. I have updated the article https://docs.google.com/document/d/1tI6RhUgb_B5b7r4nx1kADq6HLyxG1ccQJnFVV82Ml4o/edit?usp=sharing.
The 3 errors shown are because of the use of subscript in the doc which does not happen in the Grammarly text.

[2020-12-04 09:55] anu0012 commented on #302
Sure. Will do that.

[2020-12-04 10:30] shivam-51 commented on #310
@kkartunov . I have updated it again, it does not fail the check now. :smile:

[2020-12-04 11:07] YudhaDM19 commented on #312
Yes i can read

Dikirim dari Yahoo Mail di Android

  Pada Jum, 4 Des 2020 pada 16:20, Kiril Kartunov<notifications@github.com> menulis:

@YudhaDM19 we can't access that doc, can you open it for reading?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-12-04 11:09] anu0012 commented on #302
@kkartunov PFA the updated doc.

[core_java_2.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5642270/core_java_2.md.zip)

[2020-12-04 11:10] fajarmln commented on #312
YudhaDM19,

You need to give a view access to the docs, right now it's restricted only to the owner (yourself)

[2020-12-04 11:38] YudhaDM19 commented on #312
well I have opened the access,
Sorry, I forgot.

https://drive.google.com/drive/folders/14yq8Kd6bmj90cECCh12JkgXRtCuAznpC?usp=sharing

[2020-12-04 11:50] codewithshubham commented on #308
@kkartunov updated the article now it passes plagiarism check.
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLADYAvjXDR4ydOwBVUgBrUiQAd2k6BmY2bABlFjgAG2SyBAdhP3FJXUCQsMjFcNQAE2o6RyZnLABmT28s0XYAYSRCFgAFaogXaMZWdm7SXqZYYiQooV9RCSkhnpgxmAnSRTJFRw6nUq0tlmS4AA9FVWc4EbgKyCcXTHqvaZ

[2020-12-04 14:17] Rokit12 opened #313 "Important tools used to ease communication by Topcoders’ remotely"
Category: Topcoder
Author: Rokit12

Here is the document link:https://docs.google.com/document/d/1bkAtrpHdds8fnsVccADdD0G3GSqdj-ECDws_TRp29us/edit?usp=sharing

[2020-12-04 15:33] balavenkatesh3322 opened #314 "[$100] What is the OpenCV library and why do we need to know about it?"
Title: What is the OpenCV library and why do we need to know about it?
Author: Bala Venkatesh
Track Category: Data Science
Subcategory: Theory
Tag: Python, OpenCV, Computer Vision

User name :- balavenkatesh.s
mailid :- venkateshpnk22@gmail.com

[Blog Link](https://docs.google.com/document/d/1iS3NH7FZCL3vMXVdCnGVsUFziNSgSZPthyLrAjlbJTQ/edit?usp=sharing)

cc: @harshitmehta15

[2020-12-04 17:51] shubham-dota opened #315 "[$100] PYTHON FOR WEB AUTOMATION – SELENIUM BASICS"
Track Category: Development
[selenium.docx](https://github.com/topcoder-platform/thrive-submit/files/5644446/selenium.docx)

[2020-12-04 19:30] VanitaW commented on #297
@winterflame Thank you!  I will make the changes and submit the revised article.

[2020-12-04 21:52] anu0012 commented on #309
@kkartunov I've merged this with part 2 and here is the new part 3.

[core_java_3.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5645694/core_java_3.md.zip)

[2020-12-05 00:30] bhagvanarch commented on #298
i have added the screenshots.

https://docs.google.com/document/d/1bfFLZ2g9ug64woCElgT_p223Nmm94R-56wgSZfVrX9M/edit?usp=sharing

[2020-12-05 04:50] tarushi96 opened #316 "[$100] Thrive - Understanding Random Forest and Hyper Parameter tuning"
Track: Understanding Random Forest and Hyper Parameter tuning
Author: Tarushi Gupta
Comment: Edited version
[tarushi_pysark_article2.docx](https://github.com/topcoder-platform/thrive-submit/files/5646502/tarushi_pysark_article2.docx)

[2020-12-05 04:51] #311 closed

[2020-12-05 07:22] shubham-dota opened #317 "[$100] Python - Part 1"

[2020-12-05 08:53] sourabhvarshney111 opened #318 "[WIP] Legal Document Analysis"
Hello there,
I would like to add a blog on legal document analysis using various methods and their use for Legal Cases. Is this a good topic to add a blog on?

[2020-12-05 13:09] nursoltan-s opened #319 "Introduction To JUnit"
[Testing in Java.docx](https://github.com/topcoder-platform/thrive-submit/files/5647087/Testing.in.Java.docx)
![Screenshot](https://user-images.githubusercontent.com/7783676/101243867-09644b80-373e-11eb-801b-9d057276ee9c.png)

[2020-12-05 18:04] shubham-dota opened #320 "[$100] PYTHON FOR USER INTERFACE– TKINTER BASICS"
Track Category: Development
Author : Shubham Prasad
[PYTHON FOR USER INTERFACE.docx](https://github.com/topcoder-platform/thrive-submit/files/5647625/PYTHON.FOR.USER.INTERFACE.docx)

[2020-12-05 19:51] anu0012 opened #321 "[$100] Asynchronous Tasks with Redis Queue"
Category: Development
Author: Anurag Sharma

[async_task_redis_queue.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5647777/async_task_redis_queue.md.zip)

[2020-12-05 22:34] VanitaW commented on #297
@harshitmehta15 @winterflame I made the changes.  The article is ready for your review.

[2020-12-06 01:09] winterflame commented on #297
Looks good to me. @harshitmehta15 Please have a look, thank you!

[2020-12-07 05:24] iqbalhood opened #322 "[WIP] Getting Started - Mobile Development with Flutter SDK"
Work in progress

[2020-12-07 05:30] ChrisChV opened #323 "[$100] Google Cloud for app development without investment"
**Track Category:** Development
**Author:** Christofer Chávez / XnpioChV

[Google Cloud for app development without investment.docx](https://github.com/topcoder-platform/thrive-submit/files/5650615/Google.Cloud.for.app.development.without.investment.docx)

[2020-12-07 06:59] harshitmehta15 commented on #298
Hey, @kkartunov this is good to be published. Thanks @bhagvanarch

[2020-12-07 07:01] harshitmehta15 commented on #297
Looks Good! @VanitaW, Thanks @winterflame  :)

@kkartunov this is good to be published.

[2020-12-07 12:02] anu0012 opened #324 "[$100] Caching in Python applications"
Category: Development
Author: Anurag Sharma

[python_caching.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5652492/python_caching.md.zip)

[2020-12-07 12:31] shubham-dota opened #325 "[$100] PYTHON FOR CHARACTER RECOGNITION – TESSERACT"

[2020-12-07 13:27] kkartunov commented on #293
Published. Thanks @ChrisChV
https://www.topcoder.com/thrive/articles/from-easy-to-hard-the-security-in-hasura-with-auth0-ii-multiple-roles

[2020-12-07 13:27] #293 closed

[2020-12-07 13:27] kkartunov commented on #293
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30155760<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-07 13:30] kkartunov commented on #301
@anu0012 steps on how to setup your environment should be in Part 1. Please, move them here.

[2020-12-07 13:34] kkartunov commented on #312
@YudhaDM19 your article needs to be > 500 words and pass the Plagiarism checker which it fails. https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYCqA7AazyQHc8wAaMBFJAVwAcswBlBuAGw4Es8FLIsRKjQAJOgFso5bPiKk8AAhKoAJgGcBEenhhYAjAF8K4aPGTpmAWW7r17LnFUCa9JtjacefLUItjJaWtbey8nZTVNKm06XSwAJmNTPxFmAAUoO24ANzgANSRuCDgXWkZmFhg0DhLolPRxKRkwDKzcxWzC4sUJWzp1WsgdPUwjE0FzVOw0jigEbigUWwlSt3TZ%2BcXl

[2020-12-07 13:36] YudhaDM19 commented on #312
Ok, thank you

[2020-12-07 13:37] kkartunov commented on #313
@Rokit12 thanks for your article. Unfortunately, there is much information of the same kind on Thrive and all other Topcoder sites. People will know to find communication following official channels.

[2020-12-07 13:37] #313 closed

[2020-12-07 13:41] kkartunov commented on #314
@balavenkatesh3322 please fix your article to pass the Plagiarism checker https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLAEYAbAF8a4aPGTo7ADCSIQsAApMpBAudAzMbNiR0TBMsMRI0nR%2BIugSUuzJMWkwGaSKZIqOYU4AJlrVLAA2cAAeiqrOcNFw1NlOLpgAnN6%2BwgEY2ABqFABGffSMrOxcPHwC2eOi%2BbrsAJLRqChwMY

[2020-12-07 13:43] kkartunov commented on #315
@shubham-dota please updade your article to be more than 500 words. When I open it and select the content below the title is say to me 410 words.

[2020-12-07 13:45] kkartunov commented on #316
passed min checks

[2020-12-07 13:46] balavenkatesh3322 commented on #314
@kkartunov I have uploaded the same document and checked. there's no plagiraism. https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLAEYArAF8a4aPGTo7ADCSIQsAApMpBAudAzMbNiR0TBMsMRI0nR%2BIugSUuzJMWkwGaSKZIqOYU4AJlrVLAA2cAAeiqrOcNFw1NlOLpgAnN6%2BwgEY2ABqFABGffSMrOxcPHwC2eOi%2BbrsAJL

[2020-12-07 13:46] kkartunov commented on #319
@nursoltan-s plase update your article to pass the Plagiarism checker https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYATAF8a4aPGTpWxKHNzbgA3OAA1JG4IOAEGJhZsAGUYNGMHIV8xCSl-QOCwpRComKV8bnNSSwctZwBGDy9MkX9DKARuKBQK-DjGZlb2zu7zXrpvYXRxSWkwAFVyVG4O8ihDJXVrK2px2qwAVkbBHxaZFDhNYIU%2Bez

[2020-12-07 13:48] kkartunov commented on #320
@shubham-dota please updade your article to be more than 500 words. When I open it and select the content below the title is say to me 461 words.

[2020-12-07 13:49] kkartunov commented on #321
passed min checks

[2020-12-07 13:57] anu0012 commented on #301
@kkartunov Done. PFA

[core_java_1.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5653074/core_java_1.md.zip)

[2020-12-07 13:58] anu0012 commented on #302
@kkartunov Moved installation to part 1

[core_java_2.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5653080/core_java_2.md.zip)

[2020-12-07 14:00] kkartunov commented on #321
Contest https://www.topcoder.com/challenges/30156216 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-07 14:01] kkartunov commented on #323
Contest https://www.topcoder.com/challenges/30156217 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-07 14:01] kkartunov commented on #321
Contest https://www.topcoder.com/challenges/30156216 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-07 14:01] kkartunov commented on #323
Contest https://www.topcoder.com/challenges/30156217 has been updated - it has been assigned to XnpioChV.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-07 14:05] codewithshubham commented on #315
@kkartunov , Please cross-check the article by remove the text box. May be after selecting, the text box showing as one word. I have used text boxes for the ease of reading code snippets.
![image](https://user-images.githubusercontent.com/19234723/101359915-e911c980-38c2-11eb-896c-90b74484b2d3.png)

[2020-12-07 14:05] kkartunov commented on #324
Contest https://www.topcoder.com/challenges/30156218 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-07 14:05] kkartunov commented on #324
Contest https://www.topcoder.com/challenges/30156218 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-07 14:10] codewithshubham commented on #320
@kkartunov , Please cross-check the article by remove the text box. May be after selecting, the text box showing as one word. I have used text boxes for the ease of reading code snippets.
![image](https://user-images.githubusercontent.com/19234723/101360742-1743d900-38c4-11eb-96ea-2e51e57e86c6.png)

[2020-12-07 14:20] shubham-dota commented on #315
@kkartunov , Please cross-check the article by removing the text box. Maybe after selecting, the text box showing as one word. I have used text boxes for the ease of reading code snippets.
![img](https://user-images.githubusercontent.com/58764896/101361760-68a09800-38c5-11eb-89cb-f7889febb8f8.png)

[2020-12-07 14:21] shubham-dota commented on #320
@kkartunov , Please cross-check the article by removing the text box. Maybe after selecting, the text box showing as one word. I have used text boxes for the ease of reading code snippets.

https://github.com/topcoder-platform/thrive-submit/issues/315#issuecomment-739947727

[2020-12-07 16:02] shubham-dota commented on #325
Track Category : Development
[PYTHON FOR CHARACTER RECOGINiTION-2.docx](https://github.com/topcoder-platform/thrive-submit/files/5653739/PYTHON.FOR.CHARACTER.RECOGINiTION-2.docx)

[2020-12-07 16:42] YudhaDM19 commented on #312
**Trek** : Desain
**Penulis** : Yudha19

https://drive.google.com/drive/folders/14yq8Kd6bmj90cECCh12JkgXRtCuAznpC?usp=sharing

[2020-12-07 19:23] tarushi96 opened #326 "How to calculate median, standard deviation of a column in PySpark data frame"
Title:  How to calculate median, standard deviation of a column in PySpark data frame
Category: PySpark
Author: Tarushi Gupta / tarushi.gupta
[tarushi_pysark_article_PySpark2.docx](https://github.com/topcoder-platform/thrive-submit/files/5654788/tarushi_pysark_article_PySpark2.docx)

[2020-12-07 23:01] VanitaW commented on #297
@winterflame When I made the changes you and @harshitmehta15 requested, I could not change the Review Feedback to Review.  Can you please change the Review Feedback label to Passed Review label instead?

[2020-12-08 03:21] winterflame commented on #297
@VanitaW Done.

[2020-12-08 03:26] VanitaW commented on #297
@winterflame Thank you!

[2020-12-08 09:10] kkartunov commented on #321
Published https://www.topcoder.com/thrive/articles/asynchronous-tasks-with-redis-queue
Thanks to @anu0012

[2020-12-08 09:10] #321 closed

[2020-12-08 09:10] kkartunov commented on #321
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156216<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-08 09:22] kkartunov commented on #323
Published https://www.topcoder.com/thrive/articles/google-cloud-for-app-development-without-investment
Thank You @ChrisChV

[2020-12-08 09:22] #323 closed

[2020-12-08 09:22] kkartunov commented on #323
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156217<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-08 09:27] kkartunov commented on #324
Published https://www.topcoder.com/thrive/articles/caching-in-python-applications
Thank You @anu0012

[2020-12-08 09:27] #324 closed

[2020-12-08 09:27] kkartunov commented on #324
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156218<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-08 09:29] kkartunov commented on #297
Contest https://www.topcoder.com/challenges/30156429 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-08 09:29] kkartunov commented on #297
Contest https://www.topcoder.com/challenges/30156429 has been updated - it has been assigned to VanitaW.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-08 09:31] kkartunov commented on #314
@balavenkatesh3322 yes, please upload as I can't confirm

[2020-12-08 09:35] kkartunov commented on #310
@shivam-51 I am still getting "Plagiarism was detected". Please make sure it passes test.

[2020-12-08 09:37] balavenkatesh3322 commented on #314
@kkartunov I have uploaded a screenshot video. please check it here https://drive.google.com/file/d/1jj8pqLrytMHeX91--rl_MuobFxUzJkQj/view?usp=sharing

[2020-12-08 09:42] kkartunov commented on #320
@shubham-dota please do not use text boxes to write code and use google docs if possible for you.

[2020-12-08 09:48] kkartunov commented on #320
Contest https://www.topcoder.com/challenges/30156431 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-08 09:49] kkartunov commented on #320
Contest https://www.topcoder.com/challenges/30156431 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-08 10:12] shivam-51 commented on #310
@kkartunov I have updated it again, and this time it passes the checks. Requesting to review it again :)

[2020-12-08 10:29] kkartunov commented on #315
@shubham-dota do not use text boxes for code.

Here feedback to update:
- please add steps how to instal selenium(keep Python steps) server on the environment
- fix `"C:\\chromedriver.exe"` as this works only on Windows
- add some references what is XPATH and links to dive deeper into it

[2020-12-08 13:01] anu0012 opened #327 "[$100] Task Scheduling with Python"
Category - Development
Author - Anurag Sharma

[task_schedular.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5659384/task_schedular.md.zip)

[2020-12-08 13:27] shivam-51 commented on #310
Finally! The check does not fail. [link](https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYATAF8a4aPGTpWxKHNzbgA3OAA1JG4IOAEGJhZsAGUYNGMHIV8xCSl-QOCwpRComKV8bnNSSwctZwBGDy9MkX9DKARuKBQK-DjGZlb2zu7zXrpvYXRxSWkwAFVyVG4O8ihDJXVrK2px2qwGz0EfFuwAMVRJGAVyBD6E1hS02PHmqZzZgEkiRkI4FCUAGYXWD

[2020-12-08 15:09] shubham-dota commented on #315
@kkartunov Updated.
[selenium_FINAL.docx](https://github.com/topcoder-platform/thrive-submit/files/5660031/selenium_FINAL.docx)

[2020-12-08 16:44] kkartunov commented on #297
Published https://www.topcoder.com/thrive/articles/getting-started-with-appium-here-are-the-things-you-need-to-know
Thank You @VanitaW
cc @harshitmehta15

[2020-12-08 16:44] #297 closed

[2020-12-08 16:44] kkartunov commented on #297
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156429<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-08 17:00] kkartunov commented on #320
Published https://www.topcoder.com/thrive/articles/python-for-user-interface-tkinter-basics
Thank You @shubham-dota

[2020-12-08 17:00] #320 closed

[2020-12-08 17:00] kkartunov commented on #320
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156431<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 06:45] balavenkatesh3322 opened #328 "[$100] Top 3 tensorflow tools for data scientist"
Title: Top 3 TensorFlow tools for a data scientist
Author: Bala Venkatesh
Track Category: Data Science
Subcategory: Theory
Tag: Python, Deep learning, Tensorflow

User name :- balavenkatesh.s
mailid :- venkateshpnk22@gmail.com

[Blog Link](https://docs.google.com/document/d/1ZXu7N64UB-k5WsHj0Z7ptn3N7gsDZ_9hi4Hy1GWaGmE/edit?usp=sharing)

[2020-12-09 08:37] kkartunov commented on #315
@shubham-dota
- fix "C:\\chromedriver.exe" as this works only on Windows - is not fixed. Please update the code sample to work on all OS Platforms.

[2020-12-09 08:42] kkartunov commented on #314
Yes, @balavenkatesh3322 it passes now.

[2020-12-09 08:44] kkartunov commented on #314
Contest https://www.topcoder.com/challenges/30156780 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 08:44] kkartunov commented on #314
Contest https://www.topcoder.com/challenges/30156780 has been updated - it has been assigned to balavenkatesh.s.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 08:47] kkartunov commented on #301
Contest https://www.topcoder.com/challenges/30156782 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 08:47] balavenkatesh3322 commented on #303
@kkartunov can you please review this. Thanks

[2020-12-09 08:49] kkartunov commented on #301
Contest https://www.topcoder.com/challenges/30156782 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 08:51] kkartunov commented on #302
Contest https://www.topcoder.com/challenges/30156787 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 08:51] kkartunov commented on #302
Contest https://www.topcoder.com/challenges/30156787 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 08:53] kkartunov commented on #309
Contest https://www.topcoder.com/challenges/30156790 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 08:53] kkartunov commented on #309
Contest https://www.topcoder.com/challenges/30156790 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 08:57] kkartunov commented on #308
@codewithshubham I am still getting "Plagiarism was detected". Please, fix it fully.

[2020-12-09 08:59] kkartunov commented on #310
@shivam-51 thanks. Passes min checks now.

[2020-12-09 09:02] kkartunov commented on #312
Thanks, @YudhaDM19 it passes min checks now.

[2020-12-09 09:06] kkartunov commented on #326
Passed min checks.

[2020-12-09 09:09] kkartunov commented on #327
@anu0012 can you make this platrofm indipendent by fixing it? Now those steps are working only on Windows machines. Let's be generic and provide steps that work on all OS.

[2020-12-09 09:12] kkartunov commented on #328
passed min checks

[2020-12-09 09:16] kkartunov commented on #325
Contest https://www.topcoder.com/challenges/30156812 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 09:17] kkartunov commented on #325
Contest https://www.topcoder.com/challenges/30156812 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 09:17] kkartunov commented on #298
Contest https://www.topcoder.com/challenges/30156813 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 09:18] kkartunov commented on #298
@bhagvanarch, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 12:30] anu0012 commented on #327
@kkartunov I've fixed the platform dependence. PFA updated one.

[task_schedular.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5665834/task_schedular.md.zip)

[2020-12-09 15:21] kkartunov commented on #314
Published https://www.topcoder.com/thrive/articles/what-is-the-opencv-library-and-why-do-we-need-to-know-about-it
Thank you @balavenkatesh3322

[2020-12-09 15:21] #314 closed

[2020-12-09 15:21] kkartunov commented on #314
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156780<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-09 16:12] shubham-dota commented on #315
@kkartunov  Updated driver path for all operation system
[selenium_FINAL.docx](https://github.com/topcoder-platform/thrive-submit/files/5667160/selenium_FINAL.docx)
 as comments.

[2020-12-09 16:15] codewithshubham commented on #308
@kkartunov checked page by page. Was getting due to import and few lines of code. I have fixed the issue now.
[opencv_final.docx](https://github.com/topcoder-platform/thrive-submit/files/5667173/opencv_final.docx)

[2020-12-10 04:48] shubham9455999082 opened #329 "[$100] Thrive - Time series forecasting using python"
author: shubham kumar shukla
topic: time series forecasting
tags: data science
sub-tags: data science, python , statistics
article
[TIME SERIES FORECASTING.docx](https://github.com/topcoder-platform/thrive-submit/files/5708303/TIME.SERIES.FORECASTING.docx)

[2020-12-10 08:14] shubham9455999082 opened #330 "[$100] Thrive - Common smoothing filters for image processing"
Title: common smoothing filters for image processing
Author: shubham kumar shukla
Track Category: Data Science
Subcategory: Theory
Tag: Python, opencv, image processing

User name :- shubham9455
mailid :- kumarshuklastp@gmail.com

[2020-12-10 08:18] kkartunov commented on #298
@bhagvanarch, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 08:19] kkartunov commented on #298
@bhagvanarch please click [this link](https://x.topcoder.com/api/v1/github/teams/registration/7517eead-b2b3-43ce-b162-62875a79af9f-1607588273593) and login with your Topcoder account to authorize the system for your payment.

[2020-12-10 08:59] kkartunov commented on #325
Published https://www.topcoder.com/thrive/articles/python-for-character-recognition-tesseract
Thank You @shubham-dota

[2020-12-10 08:59] #325 closed

[2020-12-10 08:59] kkartunov commented on #325
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156812<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 09:08] kkartunov commented on #301
Published https://www.topcoder.com/thrive/articles/core-java-part-1
Thank You @anu0012

[2020-12-10 09:08] #301 closed

[2020-12-10 09:08] kkartunov commented on #301
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156782<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 09:15] kkartunov commented on #302
Published https://www.topcoder.com/thrive/articles/core-java-part-2
Thanks to @anu0012

[2020-12-10 09:15] #302 closed

[2020-12-10 09:15] kkartunov commented on #302
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156787<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 09:16] shubham9455999082 commented on #330
[Common Smoothing Filters.docx](https://github.com/topcoder-platform/thrive-submit/files/5671557/Common.Smoothing.Filters.docx)

[2020-12-10 09:17] shubham9455999082 commented on #330
please help what is next step after this

[2020-12-10 09:18] shubham9455999082 commented on #330
#data science

[2020-12-10 09:20] kkartunov commented on #309
Published https://www.topcoder.com/thrive/articles/core-java-part-3
Thanks, @anu0012

[2020-12-10 09:20] #309 closed

[2020-12-10 09:20] kkartunov commented on #309
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156790<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 09:28] kkartunov commented on #315
Great. Thanks @shubham-dota it is now good.

[2020-12-10 09:29] kkartunov commented on #315
Contest https://www.topcoder.com/challenges/30157170 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 09:29] kkartunov commented on #315
Contest https://www.topcoder.com/challenges/30157170 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 09:34] kkartunov commented on #327
Contest https://www.topcoder.com/challenges/30157174 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 09:34] kkartunov commented on #327
Contest https://www.topcoder.com/challenges/30157174 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 09:35] kkartunov commented on #329
@shubham9455999082 please add [WIP] in tittle so we know you working on it. Thanks

[2020-12-10 09:38] kkartunov commented on #330
@shubham9455999082 thanks for your article. Unfortenatly it does fails the plagiarism checker https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgCMAX1rho8ZOnYBVCgDWFEg6AvSMzGzYAMoscGZmxgi2wt7iUjJ%2BgcGhuqgAJjb0dpSOAExuHqmi7AAicPAoahRwKEUMTKzsAOIoUEpQKCleohLSsmD1jc2tylbKABRQAPQyy4Zw60b4t

[2020-12-10 09:42] kkartunov commented on #308
Contest https://www.topcoder.com/challenges/30157180 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 09:43] kkartunov commented on #308
@codewithshubham, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-10 10:51] shubham9455999082 commented on #330
ok i will see where is creates problem

[2020-12-10 11:19] shubham9455999082 commented on #330
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgBMAX1rho8ZOnYAROPAoahRwKDb0jMxs2ADiKFBKUCi2wt7iUjJ%2BAaHBocpWygAUUAD0MiWGcBVG%2BLTKARAAdACUtvaOru5CXqLsAKoUANYUSDoCEUys7ADKLHBmZsYIKT3oEtKyYAPDoyY6qAAm4ZDtWACMbh6pvdgkBEQAbnAAakjEcIKRU9jTMGhmH3onhEawymzu%2BEe2gebwg2jUGi0bUojgALJduiCMNgA

[2020-12-10 11:21] shubham9455999082 commented on #330
below updated files its is plagiarism free
[Common Smoothing Filter.docx](https://github.com/topcoder-platform/thrive-submit/files/5672306/Common.Smoothing.Filter.docx)

[2020-12-10 11:30] shubham9455999082 commented on #330
@kkartunov please look it i correct some words

[2020-12-10 11:32] shivam-51 commented on #310
What should be the next steps @kkartunov ? waiting for it to be reviewed i assume

[2020-12-10 14:38] shubham9455999082 commented on #330
[Common Smoothing Filter.docx](https://github.com/topcoder-platform/thrive-submit/files/5673431/Common.Smoothing.Filter.docx)
updated article file

[2020-12-10 14:46] shubham-dota opened #331 "[$100] PYTHON FOR GUI AUTOMATION – PyAutoGUI"
Title : PYTHON FOR GUI AUTOMATION – PyAutoGUI
Author : Shubham Prasad / whoami.kdm
Track Category : Development
Subcategory :  Python
Tags : Python, Automation, GUI Automation with python, pyAutoGUI
Read Time:  9 minutes
[PYTHON FOR GUI AUTOMATION.docx](https://github.com/topcoder-platform/thrive-submit/files/5673544/PYTHON.FOR.GUI.AUTOMATION.docx)

[2020-12-10 18:35] shubham-dota commented on #315
thanks @kkartunov

[2020-12-11 07:51] kkartunov commented on #327
Published https://www.topcoder.com/thrive/articles/task-scheduling-with-python
Thank You @anu0012

[2020-12-11 07:51] #327 closed

[2020-12-11 07:51] kkartunov commented on #327
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157174<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-11 08:14] kkartunov commented on #315
Published https://www.topcoder.com/thrive/articles/python-for-web-automation-selenium-basics
Thanks @shubham-dota

[2020-12-11 08:14] #315 closed

[2020-12-11 08:15] kkartunov commented on #315
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157170<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-11 08:27] kkartunov commented on #308
Published Python for Image Recognition - OpenCV
Thanks @codewithshubham

[2020-12-11 08:35] kkartunov commented on #330
@shubham9455999082 thanks. It passes the test but unfortenatly we can't accept it as article has to be > 500 words long. Your is 322 currently(not counting headers). Please add more descritpions to those images and explain what is happening and how. Will be more easy for readers to follow.

[2020-12-11 08:38] kkartunov commented on #331
@shubham-dota please expand on topic.
- Why it is useful?
- How it helps developers if they learn that tech?

Also add a banner image to your article according rules(min 800x555px).

[2020-12-11 13:47] shubham9455999082 commented on #330
ok this is my updated document file please look it is longer than contain more information , also have banner image and plagiarism free please look into it
[Common Smoothing Filter.docx](https://github.com/topcoder-platform/thrive-submit/files/5679433/Common.Smoothing.Filter.docx)

[2020-12-11 15:12] shubham9455999082 commented on #330
updated notebook i describe about images what is going on and how it is useful for us
please look into it
@kkartunov
[Uploading Common Smoothing Filter.docx…]()

[2020-12-11 15:21] shubham9455999082 commented on #326
without banner image

[2020-12-11 18:44] shubham-dota commented on #331
Hey, @kkartunov I have updated the topic and added a Banner image.
Thanks.
[PYTHON FOR GUI AUTOMATION.docx](https://github.com/topcoder-platform/thrive- submit/files/5680968/PYTHON.FOR.GUI.AUTOMATION.docx)

[2020-12-11 19:31] anu0012 opened #332 "[$100] Core Java - Part 4"
Category - Development
Author - Anurag Sharma

[core_java_4.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5681224/core_java_4.md.zip)

[2020-12-12 05:00] ChrisChV opened #333 "[$100] Deploy your Dart package with all pub points"
**Track Category:** Development
**Author:** Christofer Chávez / XnpioChV

[Deploy_your_Dart_package_with_all_pub_points.docx](https://github.com/topcoder-platform/thrive-submit/files/5682505/Deploy_your_Dart_package_with_all_pub_points.docx)

[2020-12-12 09:32] shubham9455999082 commented on #330
@kkartunov please look into my article file below update free from plagiarism and contain more data and add some information on images
[Common Smoothing Filter.docx](https://github.com/topcoder-platform/thrive-submit/files/5682808/Common.Smoothing.Filter.docx)

[2020-12-12 12:18] kreasindo513 opened #334 "[$100] TIPS TO USE SOURCE FILES ACROSS SKETCH, ADOBE XD AND FIGMA PLATFORMS"
Google drive link
https://docs.google.com/document/d/1NKixxnhYG6xq4LDdAFGEmLw2MCSa-gu2oIVO_LkBZE8/edit?usp=sharing

[2020-12-12 17:07] shubham9455999082 opened #335 "how to approach machine learning problems"

[2020-12-13 13:40] balavenkatesh3322 opened #336 "[$100] Top 5 website to a generate datasets for machine learning project"
Title: Top 5 website to generate a dataset for machine learning project
Author: Bala Venkatesh
Track Category: Data Science
Subcategory: Theory
Tag: Python, Deep learning, Machine learning

User name :- balavenkatesh.s
mailid :- venkateshpnk22@gmail.com

[Blog link](https://docs.google.com/document/d/1dDGNB9x-ecC5xse_XJAQHiQb1heZcB9iLnkebZI-Mks/edit?usp=sharing)

[2020-12-14 07:58] kkartunov commented on #298
@bhagvanarch reminder of this ^^^ one

[2020-12-14 08:03] kkartunov commented on #335
@shubham9455999082 put [WIP] on your titles to indicate you working on the topic!

[2020-12-14 08:13] bhagvanarch commented on #298
i have clicked and it authorized.

[2020-12-14 08:32] kkartunov commented on #330
thanks @shubham9455999082 it passes now checks and will be reviewed...

[2020-12-14 08:36] kkartunov commented on #331
Contest https://www.topcoder.com/challenges/30157764 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-14 08:36] kkartunov commented on #331
Contest https://www.topcoder.com/challenges/30157764 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-14 08:42] kkartunov commented on #332
Contest https://www.topcoder.com/challenges/30157766 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-14 08:42] kkartunov commented on #332
Contest https://www.topcoder.com/challenges/30157766 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-14 08:44] kkartunov commented on #333
Contest https://www.topcoder.com/challenges/30157767 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-14 08:44] kkartunov commented on #333
Contest https://www.topcoder.com/challenges/30157767 has been updated - it has been assigned to XnpioChV.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-14 08:47] kkartunov commented on #334
@kreasindo513 thank you for your article. Unfortenatly it fails the Plagiarism test https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLAHYAvjXDR4ydOwBhJEIWAAUmUggXOgZmNmxwyJgmWGIkaTofEXQJKXZEqJSYNNJFMkVHEKcAEy1KlgAbOAAPRVVnOEi4akynF0wAVk9vYT8MbAAlOChqqAAjYgbiGAwYxlZ2AGUVpodR0Vzdd

[2020-12-14 08:50] kkartunov commented on #336
@balavenkatesh3322 your article has to be > 500 words(486 words currently when only essentials are selected).
Please, update it by adding more detailed descriptions and examples.

[2020-12-14 08:59] balavenkatesh3322 commented on #336
@kkartunov I have updated the blog for more than 500 words. please check now. Thanks.

[2020-12-14 14:20] kreasindo513 commented on #334
Hi @kkartunov
Thank you for review my article. I have update the grammar of propose article. I have checked word by word of plagiarism using grammarly.com. The result is https://app.grammarly.com/ddocs/988128381

[2020-12-14 15:52] shubham-dota opened #337 "[$100] Python For Web Development - Flask Basics"

[2020-12-14 16:03] shubham-dota commented on #337
Title : PYTHON FOR WEB DEVELOPMENT – THE FLASK BASICS
Author : Shubham Prasad / whoami.kdm
Track Category: Development
Subcategory :  Flask
Tags : Python, Flask Framework, Web Development
Read Time:  8 minutes
Banner Image:https://pasteboard.co/JEUdQWs.png

[PYTHON FOR WEB DEVELOPMENT.docx](https://github.com/topcoder-platform/thrive-submit/files/5689976/PYTHON.FOR.WEB.DEVELOPMENT.docx)

[2020-12-14 18:59] shubham-dota commented on #317
Track Category: Development
Author:  Shubham Prasad / whoami.kdm
[Python Part -1.docx](https://github.com/topcoder-platform/thrive-submit/files/5690975/Python.Part.-1.docx)

[2020-12-14 23:49] kreasindo513 opened #338 "Double post"
Sorry, Double post

[2020-12-15 07:52] tarushi96 commented on #326
https://cdn.datafloq.com/cache/blog_pictures/878x531/machine-learning-solving-user-authentication-apps.jpg

There is link to this image

[2020-12-15 09:05] kkartunov commented on #333
Published https://www.topcoder.com/thrive/articles/deploy-your-dart-package-with-all-pub-points
Thanks to @ChrisChV

[2020-12-15 09:05] #333 closed

[2020-12-15 09:05] kkartunov commented on #333
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157767<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-15 09:06] kkartunov commented on #298
Contest https://www.topcoder.com/challenges/30156813 has been updated - it has been assigned to bhagvanarch.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-15 09:10] kkartunov commented on #308
@codewithshubham please click [this link](https://x.topcoder.com/api/v1/github/teams/registration/7517eead-b2b3-43ce-b162-62875a79af9f-1607588273593) and login with your Topcoder account to authorize the system for your payment.

[2020-12-15 09:19] kkartunov commented on #332
Published https://www.topcoder.com/thrive/articles/core-java-part-4
Thanks to @anu0012

[2020-12-15 09:19] #332 closed

[2020-12-15 09:20] kkartunov commented on #332
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157766<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-15 09:35] kkartunov commented on #331
Published https://www.topcoder.com/thrive/articles/python-for-gui-automation-pyautogui
Thanks @shubham-dota

[2020-12-15 09:35] #331 closed

[2020-12-15 09:35] kkartunov commented on #331
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157764<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-15 09:47] kkartunov commented on #298
Published https://www.topcoder.com/thrive/articles/introduction-to-machine-learning-using-azure-databricks
Thank You @bhagvanarch. Ready for next part? In Dec we have BigGIve program - $100 for article.

[2020-12-15 09:47] #298 closed

[2020-12-15 09:47] kkartunov commented on #298
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30156813<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-15 09:50] kkartunov commented on #336
@balavenkatesh3322 thank you. Your article will be reviewed and we will let you know.

[2020-12-15 09:53] kkartunov commented on #334
@kreasindo513 thank you. Your article passes min checks and will be reviewed.

[2020-12-15 09:54] kkartunov commented on #338
@kreasindo513 it fails the test https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLACYAvjXDR4ydOwBhJEIWAAUmUggXOgZmNmxwyJgmWGIkaTofEXQJKXZEqJSYNNJFMkVHEKcAEy1KlgAbOAAPRVVnOEi4akynF0wARk9vYT8MbAAxbgRCTuj6RlZ2AGU5zog4ZZgUJkKUOAdR0VzddgBJSODG-DV2%2BC6eyD6sIa8hX1F8qEpKYgA3OAANSQxA2gl

[2020-12-15 11:32] shubham-dota commented on #308
@kkartunov ,getting this page
![image](https://user-images.githubusercontent.com/58764896/102209741-3b706d00-3ef7-11eb-8e15-125df2f5a670.png)

[2020-12-15 11:41] codewithshubham commented on #308
@kkartunov , getting this page.
![image](https://user-images.githubusercontent.com/19234723/102210687-8048d380-3ef8-11eb-93f6-d183591d4216.png)

[2020-12-15 14:30] kkartunov commented on #308
@codewithshubham, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-15 14:33] kkartunov commented on #308
Ah sorry, @codewithshubham. You to first accept the invite we sent you to join the writing team. Please, find it in your GitHub connected email, accept it and then retry clicking on that link above.
![Screenshot from 2020-12-15 16-31-26](https://user-images.githubusercontent.com/5585002/102228297-37425080-3ef3-11eb-8394-41473a2c046e.png)

[2020-12-15 14:42] codewithshubham commented on #308
Joined the team still getting the same  from the above link.
![image](https://user-images.githubusercontent.com/19234723/102229431-d0805f80-3f11-11eb-9d59-48d87e2f8138.png)

[2020-12-15 16:40] shubham-dota opened #339 "[$100] Thrive - Tools for Software Development"
Title : Tools for Software Development
Author : Shubham Prasad / whoami.kdm
Track Category: Development
Subcategory : Software Development Tools
Tags : Software Development Tools, Tips for Software Developers
Read Time: 8 minutes
Banner Image: https://pasteboard.co/JF3SVzC.png
![Banner Topcoder](https://user-images.githubusercontent.com/58764896/102244208-03caea80-3f22-11eb-8c77-997ca4812de2.png)

[2020-12-15 22:18] kkartunov commented on #308
@codewithshubham, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-16 03:11] VanitaW commented on #307
https://docs.google.com/document/d/10z4NSnugu-O_degnW6j8Mnv_A8Fyd86v17AlTWoCPIM/edit?usp=sharing

[2020-12-16 03:13] VanitaW commented on #307
Track: QA
Subcategory: Automated Testing

[2020-12-16 03:19] VanitaW commented on #307
I want to add that the code example is my solution to a HackerRank algorithm problem. I referenced the problem on HackRank. I changed the argument list for the problem I did not need the input n for my solution.  I received the ok from @harshitmehta15 to use it in the Thrive article.

[2020-12-16 04:16] shubham9455999082 commented on #330
@kkartunov  not get any update

[2020-12-16 07:08] kkartunov commented on #308
@codewithshubham please try this one https://x.topcoder.com/api/v1/github/teams/registration/d64d7b30-6393-452c-a5bd-b3c38b32b5e6-1608102471322 and let us know if it worked.

[2020-12-16 07:11] kkartunov commented on #307
Passed min checks.

[2020-12-16 07:13] shubham-dota commented on #308
@kkartunov Still getting this page.

![image](https://user-images.githubusercontent.com/58764896/102316656-5648ed00-3f9c-11eb-9cbb-aac98c8bc27e.png)

[2020-12-16 07:17] kkartunov commented on #339
@shubham-dota
- I wuold change topic to something like  "tools for software development" as those are tools/apps for daily life of a developer.
- Please make a detailed comparition between the tools you list. Everyone knows they existis but what they are good for? How can I use them to improve my productivity? Article needs more depth.

[2020-12-16 07:29] kkartunov commented on #337
@shubham-dota good topic. Can you please:
- add description to forms section? means code explanaition - how it works and description text below images?
- let's extend the example a little to include db setup, connection and usage to basic register the user

[2020-12-16 07:44] kkartunov commented on #317
@shubham-dota please add:
- comparision of IDEs. Why you selected Pycharm and etc?
- add references to documentation, tutorials and getting stated code samples
- forums, newsgroups to commuity
- some words on Python Package Index
- if you want to cover buiilt-in functions do all of them https://docs.python.org/3/library/functions.html

[2020-12-16 07:58] balavenkatesh3322 opened #340 "[$100] Thrive - How does the machine read images and use them in computer vision?"
Title: How does the machine read images and use them in computer vision?
Author: Bala Venkatesh
Track Category: Data Science
Subcategory: Theory
Tag: Python, Deep Learning, Computer Vision

User name :- balavenkatesh.s
mailid :- venkateshpnk22@gmail.com

[Blog link](https://docs.google.com/document/d/1dp7pnfoXg1-HE5VHw8SIMA91QfvLM6-lneLeBPlCsmM/edit?usp=sharing)

[2020-12-16 08:00] codewithshubham commented on #308
@kkartunov getting this page.
![image](https://user-images.githubusercontent.com/19234723/102320812-cfe3d980-3fa2-11eb-8cb5-05e0a82b9770.png)

[2020-12-16 11:52] shubham9455999082 commented on #329
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYATAAYAvjXDR4ydKwAInDwKPiqcCj2dAxMLNgA4ihQ%2BJIoDkL%2BYhJSQSGR4eSRSqSWSgAUULpSujAAFnC1ddzmNEohEAB0AJQOWs4uXj6ZIqzEUObm3ABucABqSNwQcAKxzKwAyjBoxhl%2BIuKS0mwTU7NK04vLSuHmpSt0jtZYg96C%2BwEyUMmGxoYt%2BFWjHW2A2Vhsyy2KFIchQD3ewnQh1y2AAYlBS

[2020-12-16 11:53] shubham9455999082 commented on #329
@kkartunov  please look into my document
i have completed the artcile
[TIME SERIES FORECASTING.docx](https://github.com/topcoder-platform/thrive-submit/files/5702458/TIME.SERIES.FORECASTING.docx)

[2020-12-16 14:57] kkartunov commented on #308
Contest https://www.topcoder.com/challenges/30157180 has been updated - it has been assigned to codewithshubham.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-16 14:58] kkartunov commented on #308
Thanks, @codewithshubham. It is all set now and you will see the payment in your TC account shortly.

[2020-12-16 14:58] kkartunov commented on #308
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-16 14:59] #308 closed

[2020-12-16 14:59] kkartunov commented on #308
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30157180<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-16 22:59] kreasindo513 commented on #338
Sorry, Double post with previous article.

[2020-12-16 23:00] kreasindo513 commented on #334
Thank you, wait for review result.

[2020-12-17 04:57] shubham-dota commented on #317
@kkartunov updated 👍
[Python Part -1.docx](https://github.com/topcoder-platform/thrive-submit/files/5707063/Python.Part.-1.docx)

[2020-12-17 07:09] shubham-dota opened #341 "[$100] Python - Part 2"
Track Category: Development
Author: Shubham Prasad / whoami.kdm
 Part 1 - https://github.com/topcoder-platform/thrive-submit/issues/317
[Python Part 2.docx](https://github.com/topcoder-platform/thrive-submit/files/5707541/Python.Part.2.docx)

[2020-12-17 07:26] YudhaDM19 commented on #312
thank you

[2020-12-17 13:52] #338 closed

[2020-12-17 13:55] kkartunov commented on #317
Contest https://www.topcoder.com/challenges/30158853 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-17 13:56] kkartunov commented on #317
Contest https://www.topcoder.com/challenges/30158853 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-17 13:58] kkartunov commented on #329
passed min checks

[2020-12-17 14:03] shubham9455999082 commented on #329
What is next step

[2020-12-17 15:36] shubham-dota commented on #339
@kkartunov Updated 👍
[Software Dev Tools(1).docx](https://github.com/topcoder-platform/thrive-submit/files/5710461/Software.Dev.Tools.1.docx)

[2020-12-18 08:53] kkartunov commented on #317
Published https://www.topcoder.com/thrive/articles/getting-started-with-python
Thank You @shubham-dota

[2020-12-18 08:53] #317 closed

[2020-12-18 08:53] kkartunov commented on #317
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30158853<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-18 08:56] kkartunov commented on #340
passed min checks

[2020-12-18 21:36] ChrisChV opened #342 "[$100] Project management on GitHub"
**Track Category:** Development
**Author:** Christofer Chávez / XnpioChV

[Project_management_on_GitHub.docx](https://github.com/topcoder-platform/thrive-submit/files/5718176/Project_management_on_GitHub.docx)

[2020-12-19 15:00] MCC129 opened #343 "[$100] Word cloud in python"
**Track Category**: Development
**Author**: M_CC
[Wordcloud in python .docx](https://github.com/topcoder-platform/thrive-submit/files/5720767/Wordcloud.in.python.docx)

[2020-12-19 20:06] bhagvanarch commented on #298
sure.  I will add a new issue

[2020-12-19 20:08] bhagvanarch opened #344 "[$100] Part 2: Databricks Series - Introduction to Streaming : Spark & DataBricks"
This article will be about Streaming

I will add the outline soon.

I am planning to write a series of articles related to DataBricks.

1. Introduction to Machine Learning: using DataBricks
2. Introduction to Streaming: Spark & DataBricks
3. Job Processing with DataBricks
4. Creating a Spark Cluster in DataBricks Workspace
5. Data Transformations with DataBricks
6. Azure DataBricks ETL
7. Working

[2020-12-20 08:56] shubham-dota commented on #337
@kkartunov  Updated 👍
[PYTHON AS WEB APP FRAMEWORK.docx](https://github.com/topcoder-platform/thrive-submit/files/5720704/PYTHON.AS.WEB.APP.FRAMEWORK.docx)

[2020-12-20 11:00] anu0012 opened #345 "[$100] Core Java - Part 5"
Category - Development
Author - Anurag Sharma

[core_java_5.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5720816/core_java_5.md.zip)

[2020-12-21 10:13] kkartunov commented on #344
@bhagvanarch great. Please, tag your working articles with [WIP] as per the repo rules https://github.com/topcoder-platform/thrive-submit#step-1-verify-your-article-is-unique-and-not-wip

[2020-12-21 10:21] kkartunov commented on #342
@ChrisChV good topic and artcile. Please add coverage for:
- milestones - how they work, how can one group issues for release, how it relates to projects, and etc?
- section on how topcoder members can utilize this flow for their challenges and competiotions.

[2020-12-21 10:27] kkartunov commented on #343
Contest https://www.topcoder.com/challenges/30159529 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-21 10:27] kkartunov commented on #343
Contest https://www.topcoder.com/challenges/30159529 has been updated - it has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-21 10:32] kkartunov commented on #345
@anu0012 please add also sections on:
- class inheritance
- abstract classes
- inheritance vs abstract class - what is the difference?

[2020-12-21 10:36] kkartunov commented on #337
Contest https://www.topcoder.com/challenges/30159533 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-21 10:36] kkartunov commented on #337
Contest https://www.topcoder.com/challenges/30159533 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-21 10:40] kkartunov commented on #339
@shubham-dota for CI&CD section please cover also how it works with GitHub and GitLab. How to setup it and use it. Jenkins is little more edge case compared to more daily pipeline flow.

[2020-12-21 10:56] anu0012 commented on #345
Hi @kkartunov
I am planning to add it in the next part as this will increase the length of this blog. There are many more topics remaining - like interfaces, Abstract classes, inheritance, exceptions and more.

[2020-12-21 14:57] MCC129 opened #346 "[$100] Web crawler in python"
**Track Category**: Development
**Author**: M_CC

[web crawler in python.docx](https://github.com/topcoder-platform/thrive-submit/files/5725055/web.crawler.in.python.docx)

[2020-12-21 15:36] codewithshubham opened #347 "[WIP] PyTorch"

[2020-12-21 15:36] #347 closed

[2020-12-21 16:00] kkartunov commented on #345
@anu0012 please cover classes in one article and then move to the next topics. Thank you!

[2020-12-22 08:06] anu0012 commented on #345
Okay will do that.

[2020-12-22 10:15] balavenkatesh3322 opened #348 "What are the new features in Python3.9"
Title: What are the new features in Python3.9?
Author: Bala Venkatesh
Track Category: Software development
Subcategory: Theory
Tag: Python3, Web apps

User name :- balavenkatesh.s
mailid :- venkateshpnk22@gmail.com

[Blog link](https://docs.google.com/document/d/1R6MaZzHZGGwVLfx0D4irSbA3xfMDmatZ3H1F20RcjAs/edit?usp=sharing)

[2020-12-22 15:17] MCC129 opened #349 "[$100] Processing Excel files with pandas library"
Track Category: Development
Author: M_CC
[Processing Excel files with pandas library.docx](https://github.com/topcoder-platform/thrive-submit/files/5730624/Processing.Excel.files.with.pandas.library.docx)

[2020-12-22 16:07] fajarmln commented on #334
@kreasindo513 can you post the article in google docs format?

[2020-12-23 19:21] shubham-dota opened #350 "[$100] PYTHON FOR DATA ANALYSIS AND MANIPULATION: PANDAS"
Track Category: Data Science
Author : Shubham Prasad
[pandas.docx](https://github.com/topcoder-platform/thrive-submit/files/5736781/pandas.docx)

[2020-12-23 20:49] Dara-K commented on #312
@YudhaDM19  Please give me edit access, I'd like to add comments to your article.

[2020-12-23 20:58] Dara-K commented on #334
This is really interesting @kreasindo513.

Is the importing of SVGs file from Sketch to Figma and XD perfect or there are any bugs that should be fixed later? Did you test this option for challenges to see if the padding/sizes of elements is well preserved?

Can you create a Google Document and add the content there? it helps us with the reviewing and editing any grammar issues
https://docs.google

[2020-12-23 22:32] YudhaDM19 commented on #312
ok DaraK

[2020-12-24 00:37] bhagvanarch commented on #344
The outline of the article is as below:

1.  DataBricks Streaming Architecture
2. DataBricks Data Lake
3. Data Frames & Data Sets
4. Databricks Account Creation
5. Cluster Creation
6. Input Data Creation
7. Data Stream Processing
8. Data Aggregation
9.  Data WareHouse

[2020-12-24 00:58] YudhaDM19 commented on #312
hi @Dara-K thanks for your advice. I've finished fixing it.

[2020-12-24 02:15] fajarmln commented on #334
@kreasindo513

Agree with Daniela, please create google docs for your article so we can easily checking it. Some of my feedback:

1# Title looks too long, make it short, catchy, and easy to understand about the article content, think of SEO friendly title

2# Remove some repeated sentences that have similar meaning in the article, such sentence like "Topcoder provide flexibility in choosing source

[2020-12-24 02:35] shubham9455999082 commented on #329
@kkartunov  no update

[2020-12-24 03:46] kreasindo513 commented on #334
Terima kasih Bang @fajarmln and Miss @Dara-K for the review and feedback.
First I have create the google docs,
https://docs.google.com/document/d/1NKixxnhYG6xq4LDdAFGEmLw2MCSa-gu2oIVO_LkBZE8/edit?usp=sharing

Regarding the Bang Fajar feedback:
#1 title was change to "How to re-use file across of UI/UX design platform between Sketch, Adobe XD" I think this SEO friendly, cause have "keyword" in the

[2020-12-24 04:49] kreasindo513 commented on #334
Hi Bang @fajarmln
The short video that you requested in Google drive, since the file size more than 10MB (can not upload directly here)
https://drive.google.com/file/d/1pRF7KDCvOAKCgs_pjIgH7Y_P1PzRd9W3/view?usp=sharing
Thank you

[2020-12-24 04:52] ChrisChV commented on #342
Sorry for the delay, I added the mentioned changes:

[Project_management_on_GitHub_V2.docx](https://github.com/topcoder-platform/thrive-submit/files/5738145/Project_management_on_GitHub_V2.docx)

[2020-12-24 06:04] fajarmln commented on #312
Hi @YudhaDM19

Here is my comments regarding your article:

1# Intro to the article, does the purpose of animation only to make it more 'interesting'? What is the main purpose of animation in the web? needs to clear this out

2# Please remove this "Here I will share a little of my knowledge, about the after effect, and maybe on another occasion, I will share another tutorial. Pay attention to my t

[2020-12-24 06:11] fajarmln commented on #334
Please grant an access in the google docs and google drive @kreasindo513

[2020-12-24 06:12] YudhaDM19 commented on #312
Ok @fajarmln thank you

[2020-12-24 06:22] kreasindo513 commented on #334
Video access to anyone with the link
https://drive.google.com/drive/folders/1XsjdEcPf6E8wvIdnFSJbThBJPi7mxCEl?usp=sharing

Docs access to anyone with the link
https://docs.google.com/document/d/1NKixxnhYG6xq4LDdAFGEmLw2MCSa-gu2oIVO_LkBZE8/edit?usp=sharing

[2020-12-24 09:02] Dara-K commented on #312
Thanks @fajarmln!

Yeah, we need more context for the steps @YudhaDM19 as I was mentioning in the article too. Try to explain what the user will do in each step and why and then show the technical part.

[2020-12-24 09:35] anu0012 commented on #345
@kkartunov PFA the updated article.

[core_java_5.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5739065/core_java_5.md.zip)

[2020-12-24 15:03] MCC129 opened #351 "[$100] Make a QR code with python"
Track Category: Development
Author: M_CC
[Make a QR code with python.docx](https://github.com/topcoder-platform/thrive-submit/files/5739974/Make.a.QR.code.with.python.docx)

[2020-12-24 16:08] kreasindo513 commented on #334
Any update feedback/review here?

[2020-12-24 18:34] Dara-K commented on #334
Did you see my question @kreasindo513 ?

**Is the importing of SVGs file from Sketch to Figma and XD perfect or there are any bugs that should be fixed later? Did you test this option for challenges to see if the padding/sizes of elements is well preserved?** this article is practical as long as it's a bug free conversion.

I will add comments in the doc. Good points @fajarmln , thanks

[2020-12-24 21:53] kreasindo513 commented on #334
Actually, the sketch file can open directly by Adobe XD and Figma, no need to convert to svg file. after open the sketch file in Adobe XD, there are some bugs in button design with text. Sometimes the text not center in button and the width size have change.
Sure, I have use this options for the challenge which have sketch file as source file, I Will create short video about this, perhaps I will o

[2020-12-25 00:35] Dara-K commented on #334
Yeah, that would be great to show how you open the Topcoder GUI KIT or a page design in Sketch for Topcoder internal site and how it shows in different applications. Let me know if you need a page (in case you don't have). Thank you!

[2020-12-25 01:16] kreasindo513 commented on #334
Ok, could you send the Topcoder design page in sketch file, I Will open it using Adobe XD and Figma as well. Please sent to my email benioktopiansah@gmail.com
Thank you

[2020-12-25 01:26] fajarmln commented on #334
@kreasindo513 I'm adding more comments in the article on google docs, please check it.

[2020-12-25 04:34] fajarmln commented on #312
@YudhaDM19 please let us know if you have updated the article so we can check again, thank you.

[2020-12-25 07:45] YudhaDM19 commented on #312
thank you @fajarmln , I've tried to fix it, you can check again.

thank you.

https://drive.google.com/drive/folders/14yq8Kd6bmj90cECCh12JkgXRtCuAznpC?usp=sharing

[2020-12-25 09:41] fajarmln commented on #312
@YudhaDM19 I provide some comments in the article, please check and apply it, thank you.

[2020-12-25 11:38] YudhaDM19 commented on #312
Hi @fajarmln @Dara-K , thank you for the advice, I have answered and fixed it.
but if my article is useless or bad, I will delete it.
thank you.

[2020-12-25 12:50] anu0012 opened #352 "[$100] Thrive - Creating Interactive Dashboards using Plotly Dash"
Category - Development
Author - Anurag Sharma

[plotly_dash.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5741979/plotly_dash.md.zip)

[2020-12-26 00:32] fajarmln commented on #312
Thank you @YudhaDM19, your article is okay and we actually need after effect in Thrive since 2021 might have more opportunity for this kind of challenge.

However, since this is a beginner tutorial, you need to flesh out all the details, you need to explain the after effect workspace and its features, need to provide the context of each step in the article, and we will need detailed configuration

[2020-12-26 00:37] YudhaDM19 commented on #312
maybe i need to make a basic after effects tutorial? For example, the layout of the tools in the after effect?

[2020-12-26 00:55] fajarmln commented on #312
You can create it in a different article (the new one, complete tools, and workspace for after effect), for this one, explain the layout and workspace that related to your animation tutorial, let's finish this one and create a new one after that, thank you.

[2020-12-26 01:12] YudhaDM19 commented on #312
ok, I updated it, please check it again.

[2020-12-26 01:16] fajarmln commented on #312
@YudhaDM19, Please take your time to update the article, you are constantly in a rush to update it and the result is not good and unable to accommodate our request. Make sure to understand what quality we want in your article, I've provided my feedback in the article.

[2020-12-26 08:27] sourabhvarshney111 commented on #318
I would like to add a different article. Closing this.

[2020-12-26 08:27] #318 closed

[2020-12-26 14:33] kkartunov commented on #337
Published https://www.topcoder.com/thrive/articles/python-as-web-framework-the-flask-basics
Thank you @shubham-dota

[2020-12-26 14:33] #337 closed

[2020-12-26 14:33] kkartunov commented on #337
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159533<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-26 14:49] kkartunov commented on #343
Published https://www.topcoder.com/thrive/articles/word-cloud-in-python
Thank you @MCC129

[2020-12-26 14:49] #343 closed

[2020-12-26 14:49] kkartunov commented on #343
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30159529<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-26 20:34] bhagvanarch commented on #344
The draft article is created for your review.

https://docs.google.com/document/d/13C-b7HNrt5sb9_fYr6465nfDOlxUft4J8NhvCz2wf44/edit?usp=sharing

[2020-12-27 06:12] YudhaDM19 commented on #312
Hi @fajarmln I've fixed it, you try to correct it.

Thank you

[2020-12-27 07:18] fajarmln commented on #312
@YudhaDM19 can you check again, there are several comments that not being applied.

[2020-12-27 10:13] KakaIdan opened #353 "Photoshop functions and uses in graphic design"
Author			: Wildan Abdul Azis / Kaka_idan
Track Category	: Design
[Photoshop functions and uses in graphic design.docx](https://github.com/topcoder-platform/thrive-submit/files/5744364/Photoshop.functions.and.uses.in.graphic.design.docx)

[2020-12-27 10:18] MCC129 opened #354 "[$100] Draw different two-dimensional graphs with matplotlib in python"
Author: M_CC
Track Category: Development
[Draw different two-dimensional graphs with matplotlib in python.docx](https://github.com/topcoder-platform/thrive-submit/files/5744390/Draw.different.two-dimensional.graphs.with.matplotlib.in.python.docx)

[2020-12-27 11:20] goyalrohit opened #355 "Understanding The Need for Dimensionality Reduction"
Track Category: Data Science
Author: irohitgoyal (Rohit Goyal)
[Understanding_The_Need_for_Dimensionality_Reduction-RohitGoyal.docx](https://github.com/topcoder-platform/thrive-submit/files/5744501/Understanding_The_Need_for_Dimensionality_Reduction-RohitGoyal.docx)

[2020-12-27 11:54] goyalrohit commented on #355
Data Science

[2020-12-27 12:03] goyalrohit opened #356 "Top 5 Analytical Tools Every Aspiring Data Scientist Must Know About"
Track Category: Data Science
Author: irohitgoyal (Rohit Goyal)
[Top 5 Analytical Tools Every Aspiring Data Scientist Must Know About-RohitGoyal.docx](https://github.com/topcoder-platform/thrive-submit/files/5744514/Top.5.Analytical.Tools.Every.Aspiring.Data.Scientist.Must.Know.About-RohitGoyal.docx)

[2020-12-27 12:03] goyalrohit commented on #356
Data Science

[2020-12-27 12:30] goyalrohit opened #357 "Voice AI/Automation and its Working"
Track Category: Data Science
Author: irohitgoyal (Rohit Goyal)
[Voice AIAutomation and its Working-RohitGoyal.docx](https://github.com/topcoder-platform/thrive-submit/files/5744547/Voice.AIAutomation.and.its.Working-RohitGoyal.docx)

[2020-12-27 14:25] KakaIdan opened #358 "Raster And Vector Differences In Graphic Design"
This is my article, please check
[Raster and vector differences in graphic design.zip](https://github.com/topcoder-platform/thrive-submit/files/5744650/Raster.and.vector.differences.in.graphic.design.zip)

[2020-12-27 15:07] KakaIdan opened #359 "Flat Design Characteristic"
Author: Wildan Abdul Azis/Kaka_idan
Track Category: Design
[Flat Design Characteristic.docx](https://github.com/topcoder-platform/thrive-submit/files/5744691/Flat.Design.Characteristic.docx)

[2020-12-27 17:52] anu0012 opened #360 "Parallel computing in Python using Dask"
Category - Development
Author - Anurag Sharma

[dask.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5744902/dask.md.zip)

[2020-12-28 03:06] balavenkatesh3322 opened #361 "What is the tensor in deep learning?"
Title: What is the tensor in deep learning?
Author: Bala Venkatesh
Track Category: Data Science
Subcategory: Theory
Tag: Python, Deep learning, Machine learning

User name :- balavenkatesh.s
mailid :- venkateshpnk22@gmail.com

[Blog link](https://docs.google.com/document/d/1GHG8D2aZK9wHHAyke29agg5tiY04Ck0Oo6LVedgvaCA/edit?usp=sharing)

[2020-12-28 06:20] KakaIdan opened #362 "Various kinds of graphic media"
Author: Wildan Abdul Azis / Kaka_idan
Track Category: Design
[Various kinds of graphic media.docx](https://github.com/topcoder-platform/thrive-submit/files/5746097/Various.kinds.of.graphic.media.docx)

[2020-12-28 09:16] anu0012 opened #363 "[$100] Core Java - Part 6"
Category - Development
Author - Anurag Sharma

[core_java_6.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5746575/core_java_6.md.zip)

[2020-12-28 11:49] YudhaDM19 commented on #312
I've tried to improve my article. hopefully according to your expectations.

[2020-12-28 11:49] YudhaDM19 commented on #312
Hi @fajarmln
I've tried to improve my article. hopefully according to your expectations.

[2020-12-28 13:22] kkartunov commented on #342
Contest https://www.topcoder.com/challenges/30160513 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-28 13:22] kkartunov commented on #342
Contest https://www.topcoder.com/challenges/30160513 has been updated - it has been assigned to XnpioChV.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-28 13:27] kkartunov commented on #355
passed min checks

[2020-12-28 13:28] kkartunov commented on #356
@goyalrohit it fails the test with "Plagiarism was detected" please fix.
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYA7AF8a4aPGTpWAVXIAa3IkAHd%2BOgYmFmwAZUI4Q0NVBAchXzEJKQDg0IilMNRtezpHaywARg8vDJFWADEUKAR8K2ooxmZWOParCDg4mBRSORQ4dJ8RcUlpMABJSg1jeAs%2B21LILWdqz0Epv2wAWW5zc0Tku

[2020-12-28 13:29] kkartunov commented on #357
passed min checks

[2020-12-28 13:30] kkartunov commented on #358
passed min checks

[2020-12-28 13:31] kkartunov commented on #359
passed min checks

[2020-12-28 13:33] kkartunov commented on #361
passed min checks

[2020-12-28 13:34] kkartunov commented on #362
@KakaIdan it fails the test with "Significant plagiarism was detected". Please update it.
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYAjAF8a4aPGTpWxKHNzbgA3OAA1JG4IOAEGJhZsAGUYNGMHIV8xCSl-QOCwpRComKV8bnNSSwctZxcAJg8vTJFWAFkK80I4Q2NtOMZmViTu3tUEDJ8RcUlpMA6g0b6lAHdUbXs6R2ssd09B

[2020-12-28 13:35] kkartunov commented on #353
@KakaIdan it fails the test with "Plagiarism was detected"
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBKcoAmUARgJYA2pMGANGAikgK4AOWYAyteXGHdPGToAEkwC2UAHbthUFAQC0MJApT4CAAngAPGH0jNJezACYAvjXADEqDNgAKUAM5PSANzgA1JKQi86DMxs2FxoPPrWQmiiEtIOzq4eGm4%2BfhpipE5MTv4GTEZYAMwWVrA26OwAsplOLHDkPAT6gazsHHUNpJIIEWVRMVJVNR2NGgDuqAROEYbGAIwlkH227ADqk11wLs2MrSHcuZG2A3Fg6-JoGjlGcJJ%2B0-yzWACs

[2020-12-28 13:36] kkartunov commented on #350
passed min checks

[2020-12-28 13:39] kkartunov commented on #346
@MCC129 it fails the test. Please update
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgCMAX1rho8ZOnYAROPAoahRwKDb0jMxs2ADiKFBKUCi2wt7iUjJ%2BAaHBocpWygAUUAD0MiWGcBVG%2BLTKARAAdACUtvaOAMxuHqmi7AqSLJzUgpGs7MPcvPwpXqIS0rIclNQ8MHwmxqaKLPYAJiV2g2ZwAB7KWg5wVNZtlI4ATN1Ccz7YAKoUANYUSDoCESY4

[2020-12-28 13:41] kkartunov commented on #348
@balavenkatesh3322 it fails the tests:
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYALAF8a4aPGTpWAETh4FHxVOBR7OgYmFmwAcRQofEkUByFfMQkpAKDw0PJwpVJLJQAKKF0pXRgACzhqmu5zGiUgiAA6AEoHLWcAVg8vdJFWYihzc24ANzgANSRuCDgBaOZWAGUYNGM0nxFxSWk2ccmZpSmFpaVQ82LlukdrLAAmQcE9v2xZ8IAjSPpGGt4olkl

[2020-12-28 13:44] kkartunov commented on #349
Contest https://www.topcoder.com/challenges/30160514 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-28 13:45] kkartunov commented on #349
Contest https://www.topcoder.com/challenges/30160514 has been updated - it has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-28 13:48] kkartunov commented on #354
@MCC129 it fails the test. Please fix...
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYCqA7AazyQHc8wAaMBFJAVwAcswBlBuAGw4Es8FLIsRKjQAJOgFso5bPiKk8AAhKoAJgGcBEenhhYAjABYAvhXDR4ydMwDCSCQwAKdPBD1Ua9JtmeuYdWG4kcioLYXRxKRkwXzcAmCClXkVtBx1VAHpUhg44AA9FdThdYog4TVCdPUx9U3MhKwxsABE4eBQJXjgUCupaRmYAcRQoCSkULQaRSOlmVvbOvG7FOiLFAAooDOkMmAALOF297nUKRTaIADoASi0qgzrBSxFmRyh1dW4ANzgANSRuGUBJ4B

[2020-12-28 13:49] kkartunov commented on #351
Contest https://www.topcoder.com/challenges/30160515 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-28 13:49] kkartunov commented on #351
Contest https://www.topcoder.com/challenges/30160515 has been updated - it has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-28 14:16] KakaIdan commented on #362
My revision
[Various kinds of graphic media (Revision 1).docx](https://github.com/topcoder-platform/thrive-submit/files/5747587/Various.kinds.of.graphic.media.Revision.1.docx)

[2020-12-28 14:24] KakaIdan commented on #353
Im sorry. after I checked, I did not find plagiarism in this article

[2020-12-28 14:35] balavenkatesh3322 commented on #348
@kkartunov  I have fixed that issues

 https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYArAF8a4aPGTpWAETh4FHxVOBR7OgYmFmwAcRQofEkUByFfMQkpAKDw0PJwpVJLJQAKKF0pXRgACzhqmu5zGiUgiAA6AEoHLWd3T0EfEVZiKHNzbgA3OAA1JG4IOAFo5lYAZRg0YzSh9HFJaTYxiemlSfnFpVDzYqW6R2ssACYPL3Th7H9uKGMqSPpGKtsGtCH

[2020-12-28 16:00] MCC129 commented on #354
[Draw different two-dimensional graphs with matplotlib in python.docx](https://github.com/topcoder-platform/thrive-submit/files/5747934/Draw.different.two-dimensional.graphs.with.matplotlib.in.python.docx)

Hi @kkartunov , not sure why it detected plagarism but I rewrote the Introduction section now no plagarism is detected.

Please review again. Thanks

[2020-12-28 16:27] MCC129 commented on #346
[web crawler in python.docx](https://github.com/topcoder-platform/thrive-submit/files/5748025/web.crawler.in.python.docx)

Hi @kkartunov ,  I rephrased some sentences and now it should pass the plagiarism check. Please review again, thanks.

[2020-12-28 16:47] kreasindo513 commented on #334
All the comment/feedback/suggestion have updated.
Video Open Sketch file using Adobe XD and fix some un-match component here.
Anyone with the link can access
https://drive.google.com/file/d/1eYMAZSycGM2yk4Vl5Cu5HkvZ2OPxOOpc/view?usp=sharing

One more short video in progress... Open Sketch file using Figma and Convert Figma file into Sketch and Adobe XD.
Sorry for late response here, do some final

[2020-12-28 19:31] goyalrohit commented on #356
Updated the file @kkartunov , No Issue now.
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYArAF8a4aPGTpWAVXIAa3IkAHd%2BOgYmFmwAZUI4Q0NVBAchXzEJKQDg0IilMNRtezpHaywARg8vDJFWADEUKAR8K2ooxmZWOParCDg4mBRSORQ4dJ8RcUlpMABJSg1jeAs%2B21LILWdqz0Epvxkoc3NuADc4ADUkbgGBaO74mDRjSeF0GZyjk-O4JT

[2020-12-29 05:52] shubham9455999082 commented on #335
below is zip files having article and code
[submission.zip](https://github.com/topcoder-platform/thrive-submit/files/5749720/submission.zip)
@kkartunov please look i effort lot

[2020-12-29 06:37] kreasindo513 commented on #334
Hi Bang @fajarmln, Ms @Dara-K
All the feedback in google docs have revised/updated include put three video as well.
Hope it can meet the requirement for approval.
Thank you

[2020-12-29 06:55] kkartunov commented on #342
Published https://www.topcoder.com/thrive/articles/project-management-on-github
Thank you @ChrisChV

[2020-12-29 06:55] #342 closed

[2020-12-29 06:55] kkartunov commented on #342
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160513<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-29 07:10] kkartunov commented on #351
Published https://www.topcoder.com/thrive/articles/make-a-qr-code-with-python
Thanks @MCC129

[2020-12-29 07:10] #351 closed

[2020-12-29 07:10] kkartunov commented on #351
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160515<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-29 07:24] kkartunov commented on #349
Published https://www.topcoder.com/thrive/articles/processing-excel-files-with-pandas-library
Thank you @MCC129

[2020-12-29 07:24] #349 closed

[2020-12-29 07:24] kkartunov commented on #349
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30160514<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-12-29 13:33] Dara-K commented on #334
Great updates! We're getting there.

 I've added some notes and suggestions in the doc for you.

Thanks!

[2020-12-29 13:48] Dara-K commented on #312
Hi @YudhaDM19

Thank you for updating. I have added some comments in your article.

[2020-12-29 16:44] kreasindo513 opened #364 "[$100] Simple Tricks in Adobe XD to speed up your design process"
[Create Your Creative Calendar Using Adobe XD in 15 minutes.docx](https://github.com/topcoder-platform/thrive-submit/files/5751417/Create.Your.Creative.Calendar.Using.Adobe.XD.in.15.minutes.docx)
Google docs link : https://docs.google.com/document/d/1GfaJ8Fjqy730sDtiyVtF-l3jdZ8O0zcvANain8ssZmc/edit?usp=sharing

[2020-12-29 18:04] shubham-dota commented on #339
Updated 👍  @kkartunov
[Software Dev Tools(2).docx](https://github.com/topcoder-platform/thrive-submit/files/5751670/Software.Dev.Tools.2.docx)

[2020-12-29 18:07] shubham-dota opened #365 "[$100] Getting Started with GitLab"
Title : Getting Started with GitLab
Author : Shubham Prasad / whoami.kdm
Track Category: Development
Subcategory : GitHub
Tags : GitLab,
Read Time: 12 minutes
Banner Image :
![banner](https://user-images.githubusercontent.com/58764896/103304477-bfb20c80-4a2e-11eb-8b64-633ef11a951f.jpeg)
Content :
[GitLab For Beginner.docx](https://github.com/topcoder-platform/thrive-submit/files/5751676/GitLab.For

[2020-12-30 03:00] fajarmln commented on #334
Hi @kreasindo513

We are very close to the approval, please apply @Dara-K feedback so we can do final review before approved this article.

[2020-12-30 03:09] fajarmln commented on #359
@KakaIdan please provide the google docs version for review purpose.

[2020-12-30 03:10] fajarmln commented on #358
@KakaIdan please provide the google docs version for review purpose

[2020-12-30 03:54] kreasindo513 commented on #334
Hi @Dara-K ,

I have changes the terms in video into "fix un-matched  component", re-upload the video, and change the link in docs as well.
Anything else need to revised/updated ?

[2020-12-30 03:55] kreasindo513 commented on #334
Hi Bang @fajarmln
Actually, I have revised all the comment/feedback/suggestion by you and @Dara-K in docs as well. Let me know if anything that I miss here. Thank you

[2020-12-30 04:02] kreasindo513 commented on #334
Please see the latest update
[https://docs.google.com/document/d/1NKixxnhYG6xq4LDdAFGEmLw2MCSa-gu2oIVO_LkBZE8/edit?usp=sharing](url)

[2020-12-30 05:20] shubham-dota opened #366 "[$100] Python - Part 3"
Track Category: Development
Author: Shubham Prasad / whoami.kdm
Part 1 - #317
Part 2 - https://github.com/topcoder-platform/thrive-submit/issues/341
[Python Part 3.docx](https://github.com/topcoder-platform/thrive-submit/files/5753102/Python.Part.3.docx)

[2020-12-30 05:21] shubham-dota commented on #341
Part 3 - https://github.com/topcoder-platform/thrive-submit/issues/366

[2020-12-30 06:55] KakaIdan commented on #359
I have fulfilled his request :)
https://docs.google.com/document/d/12HVRmNMpaXzv6jjLbFN6fuyn-28VBg47EcSNCFY1OL4/edit?usp=sharing

[2020-12-30 07:02] KakaIdan commented on #358
I have fulfilled his request
https://docs.google.com/document/d/1I0Z8hE7i_taoFHWr9jN78Sphi9r8Sraa4wKLZpW7z7k/edit?usp=sharing

[2020-12-30 07:48] goyalrohit opened #367 "Top 5 Analytical Tools Every Aspiring Data Scientist Must Know About"
Track Category: Data Science
Author: irohitgoyal (Rohit Goyal)
[Top 5 Analytical Tools Every Aspiring Data Scientist Must Know About-RohitGoyal.docx](https://github.com/topcoder-platform/thrive-submit/files/5753405/Top.5.Analytical.Tools.Every.Aspiring.Data.Scientist.Must.Know.About-RohitGoyal.docx)

[2020-12-30 07:49] goyalrohit commented on #367
Data Science
Initial Check done
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdlEAoSbkAJgHp1RADZwAHkoDOccvEpxzA9RWqYArAF8a4aPGTpWAVXIAa3IkAHd%2BOgYmFmwAZUI4Q0NVBAchXzEJKQDg0IilMNRtezpHaywARg8vDJFWADEUKAR8K2ooxmZWOParCDg4mBRSORQ4dJ8RcUlpMABJSg1jeAs%2B21LILWdqz0Epvxkoc3NuADc4ADUkbgGBaO74mDRjSeF0GZyjk-O4JTObgMlPhuOZSJ

[2020-12-30 08:05] kreasindo513 opened #368 "Learn to Use Figma; Practice Design Two Screen of Mobile Application"
Please review in docx file and google docs link as well, Thank you
[Learn to Use Figma to Design Mobile Application.docx](https://github.com/topcoder-platform/thrive-submit/files/5753448/Learn.to.Use.Figma.to.Design.Mobile.Application.docx)
[https://docs.google.com/document/d/1eWS-41xekDJJyXRP0mO0XkdDCa2LvlzYk30ARxp-zMw/edit?usp=sharing](url)

[2020-12-31 00:26] YudhaDM19 commented on #312
hi @Dara-K I've fixed it, you can now check it.

[2020-12-31 04:37] ChrisChV opened #369 "[$100] Mercado Pago server with google cloud functions"
**Track Category:** Development
**Author:** Christofer Chávez / XnpioChV

[Mercado_pago_server_with_google_cloud_functions.docx](https://github.com/topcoder-platform/thrive-submit/files/5756452/Mercado_pago_server_with_google_cloud_functions.docx)

[2020-12-31 08:45] balavenkatesh3322 opened #370 "[$100] Top 5 API Management Tools"
Title: Top 5 API Management Tools
Author: Bala Venkatesh
Track Category: Development
Subcategory: Theory
Tag: REST API, Software development

User name :- balavenkatesh.s
mailid :- venkateshpnk22@gmail.com

[Blog link](https://docs.google.com/document/d/1y8jkwbt4FwEw2A4pg6RBhAXe71m1QjwKiz1NtaxmVqc/edit?usp=sharing)

[2020-12-31 14:48] MCC129 opened #371 "[$100] Big data query engine-impala"
Track Category: Development
Author: M_CC
[Big data query engine-impala.docx](https://github.com/topcoder-platform/thrive-submit/files/5757507/Big.data.query.engine-impala.docx)

[2020-12-31 15:20] MCC129 opened #372 "[$100] The relationship between impala and hive and its application in business intelligence analysis"
Track Category: Development
Author: M_CC
[Impala & hive comparison - six similarities and differences.docx](https://github.com/topcoder-platform/thrive-submit/files/5757592/Impala.hive.comparison.-.six.similarities.and.differences.docx)

[2020-12-31 16:00] shubham-dota opened #373 "[$100] Getting Started with Postman"
[Postman Client API.docx](https://github.com/topcoder-platform/thrive-submit/files/5757665/Postman.Client.API.docx)

[2020-12-31 16:15] KakaIdan opened #374 "How to make a pattern design using adobe photoshop"
This is my article "how to make a pattern design"
[How to make a pattern design using adobe photoshop.zip](https://github.com/topcoder-platform/thrive-submit/files/5757695/How.to.make.a.pattern.design.using.adobe.photoshop.zip)

[2020-12-31 16:43] anu0012 opened #375 "Core Java - Part 7"
Category - Development
Author - Anurag Sharma

[core_java_7.md.zip](https://github.com/topcoder-platform/thrive-submit/files/5757763/core_java_7.md.zip)

[2021-01-02 10:01] fajarmln commented on #359
I am not able to open the google docs, so I check the word docs instead.

The article content is a little bit dated, there's too many similar article about flat design in the web right now.

Also, flat design is not longer the trending style right now, so I am going to reject this article, thank you.

[2021-01-02 10:01] #359 closed

[2021-01-02 10:05] fajarmln commented on #358
I am sorry, but the content looks really basic, The information about this article can be found a lot on the internet right now. We need some content that valuable in the present and still valid for the next few years. I will reject this article, thank you.

[2021-01-02 10:05] #358 closed

[2021-01-02 12:35] fajarmln commented on #312
I am making some edits in your docs and also suggest some of content revision, please check. Let's use the google docs version from now on:

https://docs.google.com/document/d/1HgEXJ2YJIf6KHupu6bPKmVCj212azeahy71bT9Dp1vs/edit?usp=sharing

[2021-01-02 12:41] YudhaDM19 commented on #312
Ok @fajarmln thanks

[2021-01-02 15:32] kreasindo513 commented on #334
Any feedback /suggestion update for this ?

[2021-01-02 16:01] Dara-K commented on #334
Hi @kreasindo513

Please be considerate of the holiday season that we're all having some time off.

I will review the updates on Monday .

Thanks!

[2021-01-02 23:18] kreasindo513 commented on #334
Ok, thank you for your info @Dara-K

[2021-01-04 05:06] YudhaDM19 commented on #312
hello @fajarmln , sorry I just finished repairing, because yesterday I was busy.
please check my article again.

[2021-01-04 09:06] Dara-K commented on #334
Looking great now @kreasindo513

One thing to fix is to add the Alt Captions as small captions below the photos. I am not seeing where you added them now and they should be displayed as alt and also as small title under the photos as well.

[2021-01-04 09:13] Dara-K commented on #312
I added some more comments and edits @YudhaDM19 Please take a look

[2021-01-04 09:15] Dara-K commented on #362
@KakaIdan  I have reviewed this article and is too basic and simple for the quality of articles we have on Thrive. Next times, please focus on providing content that is interesting to the members and which add more value.

Thank you!

[2021-01-04 09:18] Dara-K commented on #353
@KakaIdan This article is not really valuable. Photoshop is becoming pretty outdated for web and app design as the new tools are taking its place such as Figma, Sketch, XD. Talking about the basics of Photoshop is not helpful for the members. Sorry!

[2021-01-04 11:37] goyalrohit opened #376 "An Overview of Blockchain Technology"
Track Category: Design

Author: irohitgoyal (Rohit Goyal)

[An Overview of Blockchain Technology-RohitGoyal.docx](https://github.com/topcoder-platform/thrive-submit/files/5764423/An.Overview.of.Blockchain.Technology-RohitGoyal.docx)

[2021-01-04 12:33] kreasindo513 commented on #334
Alt text added by right click on the image,
![Screen Shot 2021-01-04 at 19 22 27](https://user-images.githubusercontent.com/58783306/103534948-6e889980-4ec2-11eb-9b9f-ec96d6f90fe3.png)

but I also add the image title below each image as well.
Thank you

[2021-01-04 14:02] harshitmehta15 commented on #310
This is great! Thanks for submitting @shivam-51  :)

[2021-01-05 07:09] goyalrohit opened #377 "Understanding the Different Types of Artificial Intelligence"
Track Category: Data Science
Author: irohitgoyal (Rohit Goyal)

[Understanding the Different Types of Artificial Intelligence-RohitGoyal.docx](https://github.com/topcoder-platform/thrive-submit/files/5768605/Understanding.the.Different.Types.of.Artificial.Intelligence-RohitGoyal.docx)

[2021-01-05 08:54] dimkadimon commented on #357
* "voice command" -> "voice commands"
* "also are very likely to be abreast of the latest trends". I don't think this is true for the general reader
* "Our service offers scalability" whose service?!
* "NLU technology" please define NLU
* "It aids in the attainment of 100% accuracy in the performance of tasks". I don't think this is true. The technology still makes errors
* "designed through vario

[2021-01-05 08:55] dimkadimon commented on #357
Please provide citations from literature. Please provide examples of what the technology can do, eg: convert speech to text, recognise people's voices etc. Please provide more details about how the technology works.

[2021-01-05 09:35] kkartunov commented on #310
Contest https://www.topcoder.com/challenges/30161290 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-05 09:37] kkartunov commented on #310
@shivam-51, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-05 09:39] #353 closed

[2021-01-05 09:39] #362 closed

[2021-01-05 09:41] kkartunov commented on #319
Closing due inactivity.

[2021-01-05 09:41] #319 closed

[2021-01-05 09:41] kkartunov commented on #295
Closing due inactivity.

[2021-01-05 09:41] #295 closed

[2021-01-05 09:45] shivam-51 commented on #310
@kkartunov Where do I need to signup? I am already a Topcoder member, userid : shivam{} :)

[2021-01-05 09:47] YudhaDM19 commented on #312
thanks @Dara-K  for the advice, I've edited, please check again.

[2021-01-05 09:51] kkartunov commented on #335
@shubham9455999082 unfortenatly it fails the test. See to update it and resubmit...

https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIYVCrUixEqNAAkmfUuzwES5FAAImlOIoAUUAPRRSWmAAs4%2Bg8Uo1F%2BCADoAlIIjNSMLAEYAzAF8a4aPGTo7ADCSIQsAApMpBAudAzMbNiR0TBMsMRI0nR%2BIugSUuzJMWkwGaSKZIqOYU4AJlrVLAA2cAAeiqrOcNFw1NlOLpiuACzevsIBGElQlJTEAG5wAGpIxBBwgvGs7ADKMGg

[2021-01-05 09:52] dimkadimon commented on #355
* "A difficult model" -> "A more complex model"
* "Visualization of data" you should explain that it is difficult to visualise more than 3 dimensions
* "The understanding of the data might not be correct" this does not make sense
* "Training is finding the best model parameters but with complex models, there are thousands of parameters value and hence the complexity arises. Also training such rapi

[2021-01-05 09:53] kkartunov commented on #339
@shubham-dota thank you for update. Can you please cover CI&CD with GitHub?

[2021-01-05 09:56] Dara-K commented on #334
@kreasindo513  It's looking good now, thanks for the edits. I didn't know you could see the Alt text that way :+1:

Is the first image intention to be used as a cover image for the article or to be included within the content?

@fajarmln  do you have any other comments?

[2021-01-05 09:58] dimkadimon commented on #350
* "Pandas are an open" -> "Pandas is an open"
* "it leverages" -> "It leverages". All sentences must begin with a CAPITAL letter
* "Pandas provide" -> "Pandas provides"
* "would tale" -> "would take"
* "Pandas help" -> "Pandas helps"
* Please provide a small example dataframe and the effect of each command

[2021-01-05 09:58] kkartunov commented on #345
Contest https://www.topcoder.com/challenges/30161293 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-05 09:58] kkartunov commented on #345
Contest https://www.topcoder.com/challenges/30161293 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-05 10:00] kreasindo513 commented on #334
Sure, is the first image title need to change according to title of article as well? I Will revise it, of it required.

[2021-01-05 10:00] kkartunov commented on #300
DECEMBER’S BIG GIVE: 2020 EDITION is over.

We want to say Thank You to all submitters! All articles will be reviewed and processed.

You can continue your career as technical writers and submit to Thrive under the regular rules that apply.

@topcoder-platform/thrive-writers

[2021-01-05 10:00] #300 closed

[2021-01-05 10:03] dimkadimon commented on #340
* The example provided is VERY misleading. Image pixels are typically stored as RGB values. Each pixel has 3 values: one for red, one for green and one for blue. There is no black, grey and peach! Please explain this well.
* Please explain what the example code does, line by line

I think this article needs more content. Provide more examples. You can talk about simple operations such as blurring,

[2021-01-05 10:04] kkartunov commented on #373
passes min checks.

@shubham-dota good topic.
- please add on colections and environments how to export/import them

[2021-01-05 10:08] dimkadimon commented on #329
More work is needed here.

* This article needs be corrected for grammar. For example sentences must start with a CAPITAL letter. You cannot use shorthand like "Ans"
* "ARMA model which is past part of ARIMA model" please provide references
* Please provide algorithms for series forecasting

[2021-01-05 10:09] kkartunov commented on #374
passed min checks

[2021-01-05 10:12] balavenkatesh3322 commented on #310
You can signup here. https://accounts.topcoder.com/member

[2021-01-05 10:12] kkartunov commented on #370
@balavenkatesh3322 thanks for your submission. Please:
- add links to the site where users can find those tools
- add images/screenshots for basic usage steps and configuration

[2021-01-05 10:14] kkartunov commented on #377
passed min checks

@goyalrohit fyi, this artcile will be awarded $50 if it passes review.

[2021-01-05 10:15] kkartunov commented on #364
passed min checks

[2021-01-05 10:16] dimkadimon commented on #316
* "Though logistic regression has been the market favorite so far" this is not true. Logistic regression is NOT a classification algorithm and I wouldn't say it is the favourite
* Please provide a picture of a decision tree and explain what each feature is
* " is sufficient to know they measure the purity or impurity of a node and evaluate which node will give us the best spilt." Please explain fo

[2021-01-05 10:17] shivam-51 commented on #310
hi @balavenkatesh3322 . Even though I am already a member?

[2021-01-05 10:19] kkartunov commented on #360
@anu0012 please add some words on "Parallel computing" before turning to Dask. Also put some examples use cases of  "Parallel computing" and such with Dask too.

[2021-01-05 10:25] kkartunov commented on #352
@anu0012 please add some more screenshots and content. I see only 2 charts that we can't call dashboard...

[2021-01-05 10:31] balavenkatesh3322 commented on #370
@kkartunov thanks for your feedback. I have updated my article as per your points.

[2021-01-05 10:34] shubham9455999082 commented on #329
Okk

[2021-01-05 10:34] shubham9455999082 commented on #329
I will update it

[2021-01-05 10:53] balavenkatesh3322 commented on #340
I have updated my article as per your suggestion. thanks for your feedback.

[2021-01-05 11:35] tarushi96 commented on #326
? @kkartunov

[2021-01-05 11:37] tarushi96 commented on #316
Thanks for reviewing, will I be eligible for the 100 dollar campaign if I make the edits now? @kkartunov

[2021-01-05 12:05] goyalrohit opened #378 "An Overview of Robotic Process Automation"
Track Category: Data Science
Author: irohitgoyal (Rohit Goyal)

[An Overview of Robotic Process Automation.docx](https://github.com/topcoder-platform/thrive-submit/files/5770004/An.Overview.of.Robotic.Process.Automation.docx)

[2021-01-05 12:47] anu0012 commented on #352
Sure will do that.

[2021-01-05 12:47] anu0012 commented on #360
Sure. I'll update it.

[2021-01-05 14:18] Dara-K commented on #312
Looks good by me.

@fajarmln, if you have any other comments, feel free to add them, else we can approve this

[2021-01-06 05:37] fajarmln commented on #334
It looks good now for me @Dara-K, thank you for the article @kreasindo513, we will approve it.

[2021-01-06 05:41] shubham-dota commented on #350
Hi @dimkadimon , Fixed Grammar and updated example with dataframe.
[pandas.docx](https://github.com/topcoder-platform/thrive-submit/files/5774069/pandas.docx)

[2021-01-06 07:10] kreasindo513 commented on #334
Thank you @Dara-K and Bang @fajarmln for review, feedback, correction, and suggestion for this article.

[2021-01-06 08:06] kkartunov commented on #334
Contest https://www.topcoder.com/challenges/30161400 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 08:06] kkartunov commented on #334
@kreasindo513, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 08:17] kkartunov commented on #345
Published https://www.topcoder.com/thrive/articles/core-java-part-5
Thanks to @anu0012

[2021-01-06 08:21] kkartunov commented on #345
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 08:36] kreasindo513 commented on #334
Hi @kkartunov, Should I sign up with new account in Topcoder X, any link to access for it ?
I try to sign in with topcoder but can not, when sign up my handle was eror
![Screen Shot 2021-01-06 at 15 35 49](https://user-images.githubusercontent.com/58783306/103747215-e5de3a80-5034-11eb-8bb9-d2e9d6635424.png)

[2021-01-06 08:58] shubham-dota commented on #373
Updated 👍  @kkartunov
[Postman Client API.docx](https://github.com/topcoder-platform/thrive-submit/files/5774767/Postman.Client.API.docx)

[2021-01-06 09:51] #345 closed

[2021-01-06 09:51] kkartunov commented on #345
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30161293<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 10:02] kkartunov commented on #373
Contest https://www.topcoder.com/challenges/30161410 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 10:02] kkartunov commented on #373
Contest https://www.topcoder.com/challenges/30161410 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 10:06] kkartunov commented on #370
Contest https://www.topcoder.com/challenges/30161411 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 10:07] kkartunov commented on #370
Contest https://www.topcoder.com/challenges/30161411 has been updated - it has been assigned to balavenkatesh.s.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 10:09] kkartunov commented on #378
passed min checks

[2021-01-06 10:13] kkartunov commented on #376
@goyalrohit thanks for this submission but we already have [articles covering](https://www.topcoder.com/thrive/search?phrase=Blockchain) the basics of Blockchain. If you want to write on the topic please go more deeper and detailed.

[2021-01-06 10:13] #376 closed

[2021-01-06 10:20] kkartunov commented on #371
@MCC129 good topic. Can you please:
- fix typos in the article
- add examples of usage
- add steps to deploy/configure/use (remote or local). Services providing this tech?

[2021-01-06 10:22] kkartunov commented on #369
@ChrisChV it fails the test. Please update and resubmit...
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACSYXxl8cZQHdCMABaEKyiABsomuPkERmFGpgDMAX1rho8ZOnYLJLTmpBRmY2bEDuXn5bYW9xKRl2CJ4YPhNjU0UWewATAHo7fzM4AA9lLQc4Kmtbe0cAFjcPWNEkgiIANzgANSRiOGCmVnYAZRg0YpivUQlpWQ52wi7lDr6IbTUNLVrKRwBGACYmoWmfbABZdXwWODNinMHQ0Zu74wQpk

[2021-01-06 10:24] kkartunov commented on #368
passed min checks

[2021-01-06 10:25] kkartunov commented on #367
passed min checks

[2021-01-06 10:32] kkartunov commented on #365
@shubham-dota the topic is good. If you want to work on it please:
- expand topic and put some sections on how labels/issues/grpups work in GitLab. Something similar we did for GitHub here https://www.topcoder.com/thrive/articles/project-management-on-github
- it fails the test. Update it to pass https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYAid4oC2AlgHZwoDOYANGAikgK4AOWYA4ilIY

[2021-01-06 13:46] ChrisChV commented on #369
Sorry for the inconvenient. Here is the corrected version.

[Mercado_pago_server_with_google_cloud_functions_V2.docx](https://github.com/topcoder-platform/thrive-submit/files/5776100/Mercado_pago_server_with_google_cloud_functions_V2.docx)

[2021-01-06 18:22] kkartunov commented on #334
@kreasindo513 you have been invited to join the thrive-writers team. Check your GitHub email and accept it. When you are done click [this link](https://x.topcoder.com/api/v1/github/teams/registration/d8dd899d-72b0-4e88-ba70-d32fbe7bfb98-1609957201950), log in with your TC profile.

Let us know when you ready. We will process your payment.

[2021-01-06 18:23] kkartunov commented on #310
@shivam-51 you have been invited to join the thrive-writers team. Check your GitHub email and accept it. When you are done click [this link](https://x.topcoder.com/api/v1/github/teams/registration/d8dd899d-72b0-4e88-ba70-d32fbe7bfb98-1609957201950), log in with your TC profile.

Let us know when you ready. We will process your payment.

[2021-01-06 18:30] kkartunov commented on #310
@shivam-51, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 18:57] kkartunov commented on #310
@shivam-51, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-06 21:08] kkartunov commented on #310
Contest https://www.topcoder.com/challenges/30161290 has been updated - it has been assigned to shivam51.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-07 04:31] kreasindo513 commented on #334
Hi @kkartunov
I have sign-in / join in the thrive-writers team in Github as a screen below
![Screen Shot 2021-01-07 at 11 29 28](https://user-images.githubusercontent.com/58783306/103851234-dc5bdd80-50db-11eb-8917-ed78ac583481.png)
Anything that I should to do ?

[2021-01-07 06:39] kkartunov commented on #334
@kreasindo513, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2021-01-07 06:41] kkartunov commented on #334
@kreasindo513 yes, you need to login to TCX using this link https://x.topcoder.com/api/v1/github/teams/registration/ed6b2863-81ea-4f26-8892-4c761fd736c5-1610001629657 and your Topcoder profile. Please do so and let us know...

[2021-01-07 07:19] kkartunov commented on #373
Published https://www.topcoder.com/thrive/articles/getting-started-with-postman-client-api
Thanks @shubham-dota

[2021-01-07 07:24] kkartunov commented on #373
Payment failed: [500]: Failed to get topcoder member id.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```