[2019-12-02 22:11] kkartunov opened #1 "Github ticket rules"
# How to work with git tickets

The basic flow for handling a ticket is as follows:

1. Assign the ticket to yourself, change the label to "tcx_Assigned", remove the "tcx_OpenForPickup" label.  Please only assign tickets to yourself when you are ready to work on it.  I don't want tickets assigned to someone and then not have them work on a ticket for 24 hours.  The goal here is a quick turnaround

[2019-12-02 22:13] #1 closed

[2019-12-02 22:14] kkartunov opened #2 "[$150] test issue 1"
Here is the document

[2019-12-02 22:20] kkartunov commented on #2
Contest https://www.topcoder.com/challenges/30108776 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-02 22:20] kkartunov commented on #2
Contest https://www.topcoder.com/challenges/30108776 has been updated - kiril.kartunov has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-02 22:25] #2 closed

[2019-12-02 22:25] kkartunov commented on #2
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-02 22:29] kkartunov opened #3 "test issue 2"
doc 2

[2019-12-03 13:10] #3 closed

[2019-12-03 16:29] Rokit12 opened #4 "The future of quantum computing"
Hello, Kindly find the files in the zip-file below:
[thrive.zip](https://github.com/topcoder-platform/thrive-submit/files/3917614/thrive.zip)

[2019-12-03 20:12] kkartunov commented on #4
Passed plagiarism check

[2019-12-03 21:12] kavukcutolga opened #5 "[$150] Reactive Programming in the cloud computing era"
Please review my article hosted at below link.

https://docs.google.com/document/d/1YojTUt_fwt49IgJbb30es6u5ZeuovSgD93u5k8GvFnU/edit?usp=sharing

[2019-12-03 21:22] kavukcutolga commented on #5
I don't see checkbox in the issue list to change assignee or label. Can someone help ?

I mean this checkbox
https://help.github.com/en/github/managing-your-work-on-github/assigning-issues-and-pull-requests-to-other-github-users
https://help.github.com/en/github/managing-your-work-on-github/applying-labels-to-issues-and-pull-requests

[2019-12-04 05:26] anu0012 opened #6 "[$150]THRIVE - Beginners Guide for Azure CosmosDB"
Please find the article attached.
[Thrive Submission 1.docx.zip](https://github.com/topcoder-platform/thrive-submit/files/3920174/Thrive.Submission.1.docx.zip)

[2019-12-04 05:59] hasanozie opened #7 "How to Become a Professional Graphic Designer"
Hi, Please review my article
Thanks :)

[Thrive - Hasanozie - How To Become A Professional Graphic Designer Without Being Graduate In Design.zip](https://github.com/topcoder-platform/thrive-submit/files/3920262/Thrive.-.Hasanozie.-.How.To.Become.A.Professional.Graphic.Designer.Without.Being.Graduate.In.Design.zip)

[2019-12-04 06:41] Rokit12 commented on #4
thanks

[2019-12-04 07:08] anu0012 opened #8 "[$150]THRIVE - List of learning resources"
I've compiled a list of learning resources. Please consider it for the submission.

https://github.com/anu0012/awesome-computer-science-opportunities

[2019-12-04 08:37] kkartunov commented on #5
@kavukcutolga please make sure your article passes the plagiarism check https://www.grammarly.com/plagiarism-checker

[2019-12-04 08:40] kkartunov commented on #6
@anu0012 please make sure your article passes the plagiarism check https://www.grammarly.com/plagiarism-checker

[2019-12-04 08:42] kkartunov commented on #7
Passed Plagiarism check

[2019-12-04 09:03] kavukcutolga commented on #5
Hi, @kkartunov your suggestion requires premium subscription from Grammarly. The free plan only checks for grammar. Do topcoder provides an account to see the details

[2019-12-04 09:11] kkartunov commented on #5
@kavukcutolga I am able to check for Plagiarism with a free Grammarly account but can't see the details why it fails. Unfortunately, you will need to find ways yourself to make it past the check. Topcoder won't provide you premium Grammarly subscription access.

[2019-12-04 09:17] winterflame commented on #8
@anu0012 I believe you should write articles according to the challenge requirements.

[2019-12-04 09:39] kavukcutolga commented on #5
@kkartunov no worries, I figured it out. I will update you when it is done.

[2019-12-04 09:41] manju055 opened #9 "LET’S REGISTER FOR A CHALLENGE IN TOPCODER"
[TOPCODER - Help Articles.zip](https://github.com/topcoder-platform/thrive-submit/files/3921130/TOPCODER.-.Help.Articles.zip)

[2019-12-04 09:42] billsedison commented on #4
@Rokit12 This is just a high-level introduction of quantum computing, it is good but not that related to our Development track. We can easily get a similar introduction by Googling "quantum computers vs classical computers". For example: https://www.geeksforgeeks.org/conventional-computing-vs-quantum-computing/

What we are looking for is the original content with more concrete details, like speci

[2019-12-04 09:48] manju055 commented on #9
TRACK CATEGORY:  TOPCODER
SUBCATEGORY: Help Articles
TAGS: How-To

[2019-12-04 10:02] anu0012 commented on #8
Okay @winterflame

[2019-12-04 10:06] Rokit12 commented on #4
cool

[2019-12-04 10:35] kavukcutolga commented on #5
@kkartunov plagiarism check is green now, I believe you can update the label. Thank you

[2019-12-04 10:54] kkartunov commented on #9
Passed Plagiarism.

[2019-12-04 10:57] kkartunov commented on #5
@kavukcutolga thanks! Labels updated.

[2019-12-04 12:17] billsedison commented on #5
Good article. accepted.

Btw, maybe we can link this article as a reference for further reading: https://medium.com/@cheron.antoine/tuto-building-a-reactive-restful-api-with-spring-webflux-java-258fd4dbae41

[2019-12-04 13:43] kavukcutolga commented on #5
Glad you liked, it’s encouraging to work on more

[2019-12-04 14:01] Rokit12 opened #10 "The giant language for projects: Python Programming beauty"
Hello, Kindly find the zip-
[Thrivep2.zip](https://github.com/topcoder-platform/thrive-submit/files/3922185/Thrivep2.zip)
file with the files.
Regards.

[2019-12-04 14:04] Rokit12 opened #11 "The giant language for projects: Python Programming beauty"
Hello, Kindly find the Corrected document here please.
zip-
[Thrivep2.zip](https://github.com/topcoder-platform/thrive-submit/files/3922198/Thrivep2.zip)
file with the files.
Regards.

[2019-12-04 14:05] Rokit12 commented on #10
There was an error here. Kindly the correct docs check #11

[2019-12-04 14:07] t0070926 opened #12 "Tips to Reduce the AWS Cost"
[Summary of Optimizing AWS Costs.docx](https://github.com/topcoder-platform/thrive-submit/files/3922227/Summary.of.Optimizing.AWS.Costs.docx)

[2019-12-04 14:08] t0070926 commented on #12
Cost reduction process of aws  cloud using different techniques

[2019-12-04 14:08] #12 closed

[2019-12-04 14:24] anu0012 commented on #6
[Thrive Submission 1 (1).docx.zip](https://github.com/topcoder-platform/thrive-submit/files/3922299/Thrive.Submission.1.1.docx.zip)

[2019-12-04 14:24] anu0012 commented on #6
Please find the updated file above.

[2019-12-04 14:37] t0070926 opened #13 "Tips to Reduce the AWS Cost"
https://topgear-gitlab.wipro.com/T0070926/Aws-cost-Reduction/blob/master/Summary_of_Optimizing_AWS_Costs.docx

[2019-12-04 14:39] t0070926 commented on #13
Summary of Optimizing AWS Costs
Provide details of how to reduce the aws cloud cost by using different techniques

[2019-12-04 14:39] #13 closed

[2019-12-04 14:41] t0070926 opened #14 "https://topgear-gitlab.wipro.com/T0070926/Aws-cost-Reduction/blob/master/Summary_of_Optimizing_AWS_Costs.docx"
How to reduce the cost by using different methods

[2019-12-04 14:44] t0070926 commented on #14
https://topgear-gitlab.wipro.com/T0070926/Aws-cost-Reduction/blob/master/Summary_of_Optimizing_AWS_Costs.docx

[2019-12-04 14:44] #14 closed

[2019-12-04 14:46] t0070926 opened #15 "Tips to Reduce the AWS Cost"
[https://topgear-gitlab.wipro.com/T0070926/Aws-cost-Reduction/blob/master/Summary_of_Optimizing_AWS_Costs.docx]

[2019-12-04 14:47] t0070926 commented on #15
Aws cost Reduction process,Python,Aws cloud level
Different ways of reduction of aws cost

[2019-12-04 14:47] #15 closed

[2019-12-04 14:48] t0070926 opened #16 "Tips to Reduce the AWS Cost"
https://topgear-gitlab.wipro.com/T0070926/Aws-cost-Reduction/blob/master/Summary_of_Optimizing_AWS_Costs.docx

[2019-12-04 15:31] kkartunov commented on #8
@winterflame @anu0012 ticket is reopened for review.

[2019-12-04 15:33] #10 closed

[2019-12-04 15:36] kkartunov commented on #16
@t0070926 can't access this file. Can you attach here or make it public or accessible?

[2019-12-04 15:55] hasanozie opened #17 "[$150]How To Make An Attractive Design Portfolio"
[Hasanozie - How To Make An Attractive Design Portfolio.zip](https://github.com/topcoder-platform/thrive-submit/files/3922742/Hasanozie.-.How.To.Make.An.Attractive.Design.Portfolio.zip)

[2019-12-04 15:55] hasanozie commented on #17
Design

[2019-12-04 15:56] hasanozie commented on #17
Track Category: Design

[2019-12-04 16:13] t0070926 opened #18 "AWS cost Reduction Process"
`
[AWS Cost_reduction_process.docx](https://github.com/topcoder-platform/thrive-submit/files/3922832/AWS.Cost_reduction_process.docx)
`

[2019-12-04 16:27] t0070926 commented on #18
aws cost reduction process

[2019-12-04 16:29] #18 closed

[2019-12-04 16:39] t0070926 opened #19 "AWS cost Reduction Process"
[AWS Cost_reduction_process.docx](https://github.com/topcoder-platform/thrive-submit/files/3922935/AWS.Cost_reduction_process.docx)

[2019-12-04 16:39] t0070926 commented on #19
aws cost reduction process procedure

[2019-12-04 16:39] #19 closed

[2019-12-04 16:40] #16 closed

[2019-12-04 16:42] t0070926 opened #20 "aws cost reduction process"
[AWS Cost_reduction_process.docx](https://github.com/topcoder-platform/thrive-submit/files/3922945/AWS.Cost_reduction_process.docx)

[2019-12-04 16:42] t0070926 commented on #20
aws cost eduction

[2019-12-04 16:42] #20 closed

[2019-12-04 16:43] t0070926 opened #21 "aws cost reduction"
[AWS Cost_reduction_process.docx](https://github.com/topcoder-platform/thrive-submit/files/3922947/AWS.Cost_reduction_process.docx)

[2019-12-04 16:50] Rokit12 opened #22 "Developers worth: How to be a front-end developer"
Hi,
Kindly find the below docs in the zip-file.
Regards
[frontdev.zip](https://github.com/topcoder-platform/thrive-submit/files/3922981/frontdev.zip)

[2019-12-04 17:16] anu0012 opened #23 "[$150]THRIVE - Web application for Machine Learning Model"
Category: Data Science/Development
Please review it.

[Thrive_Submission_2.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3923095/Thrive_Submission_2.md.zip)

[2019-12-04 20:13] kkartunov commented on #21
@t0070926 please make sure it passes Plagiarism Check https://www.grammarly.com/plagiarism-checker

[2019-12-05 08:28] kkartunov commented on #9
@manju055 thank you for this submission. Unfortunately, we do have a related article on the subject in the Help Center thus can't accept this one.

[2019-12-05 08:31] kkartunov commented on #22
Passed Plagiarism Check.

[2019-12-05 08:33] kkartunov commented on #23
Passed Plagiarism Check.

[2019-12-05 08:33] manju055 commented on #9
That's Okay. Thank you for reviewing my article.

[2019-12-05 08:50] kkartunov commented on #5
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-05 08:50] kkartunov commented on #5
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-05 08:50] kkartunov commented on #5
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-05 08:50] kkartunov commented on #5
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-05 08:57] kkartunov commented on #5
Contest https://www.topcoder.com/challenges/30109321 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-05 09:04] kkartunov commented on #5
@kavukcutolga what is your TC handle?

[2019-12-05 09:10] kavukcutolga commented on #5
@kkartunov it's kavukcutolga https://www.topcoder.com/members/kavukcutolga

Thank you

[2019-12-05 09:31] billsedison commented on #22
@Rokit12 It is just a simple introduction of React, Angular and Vue, and only described the environment setup briefly (Too brief, just introduced `npm install` and create the app).

And there is a technical error, **AngularJS** (Angular 1.x) and **Angular** (Angular 2+) are different, you mentioned **AngularJS** but in the command description, it's to install Angular CLI.

We cannot accept this ar

[2019-12-05 09:50] kkartunov commented on #6
@anu0012, unfortunately, It is still red https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdleIk3IATAPTrCAGzgAPJQGU45eJTgBnARE3VMAFgC%2BNcNHjJ0rYlC2ttwAbnAAakjcEHACDEws2GYwaEYOQr5iElL%2BgcFhSpHRcEoAsty2pLaxdI4UzgCMHl4ZIv4GUAjcUCgV%2BHGMzO2d3b22-bWt6OKS0mAAquSo3F3kUAZKjlaW1LVOWABMzYI%2BbdgA6qhaOAAWUTEDCawAouQ3UjH4O%2Bmn

[2019-12-05 09:51] kkartunov commented on #11
Passed Plagiarism Check

[2019-12-05 11:19] winterflame commented on #8
@anu0012  Could you please tell which links are related to QA? Thanks.

[2019-12-05 12:18] KakaIdan opened #24 "Color Theory In Graphic Design"
This is my article, please check and give me feedback ..

[Color Theory In Graphic Design (Wildan Abdul Azis).zip](https://github.com/topcoder-platform/thrive-submit/files/3926761/Color.Theory.In.Graphic.Design.Wildan.Abdul.Azis.zip)

[2019-12-05 14:08] tarushi96 opened #25 "[$150]THRIVE - Preparing Data for Machine Learning- PySpark"
Data Science

[tarushi_pyspark_article.docx](https://github.com/topcoder-platform/thrive-submit/files/3927182/tarushi_pyspark_article.docx)

[2019-12-05 14:14] Rokit12 commented on #22
okay, No worries

[2019-12-05 14:32] t0070926 commented on #21
`
[aws_cost_reduction_process.docx](https://github.com/topcoder-platform/thrive-submit/files/3927310/aws_cost_reduction_process.docx)
`

[2019-12-05 14:32] t0070926 commented on #21
Uploaded latest document after passing tool

[2019-12-05 14:32] #21 closed

[2019-12-05 14:41] t0070926 opened #26 "Migrating Db2 to Db2 12 in ZOS-Mainframe Environment/Unix"
[db211_db212_migration_zos.docx](https://github.com/topcoder-platform/thrive-submit/files/3927372/db211_db212_migration_zos.docx)

[2019-12-05 14:44] t0070926 opened #27 "AWS Cost_reduction_process"
[aws_cost_reduction_process.docx](https://github.com/topcoder-platform/thrive-submit/files/3927388/aws_cost_reduction_process.docx)

[2019-12-05 15:09] anu0012 commented on #6
@kkartunov In my Grammarly account, it says 100% original and green check.

Here is the screenshot for the same.
![Screen Shot 2019-12-05 at 8 37 18 PM](https://user-images.githubusercontent.com/17943805/70247364-413d5980-179f-11ea-85c7-3d7f3405bdd0.png)

[2019-12-05 15:11] anu0012 commented on #8
@winterflame There is no specific link for QA. But there are links for other domains like Data Science, Development, etc.

[2019-12-05 15:23] t0070926 opened #28 "PartitioningDB2for zOS-tablespaces"
[PartitioningDB2for zOS-tablespaces.docx](https://github.com/topcoder-platform/thrive-submit/files/3927616/PartitioningDB2for.zOS-tablespaces.docx)

[2019-12-05 15:26] kkartunov commented on #24
@KakaIdan it needs to pass Plagiarism Check https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYBCUDOAlhAAoCuAdhDGADRgIpJkAOWY5VMZshSFdSLESo0ACTIBbKAOwBhJJOkACALKF8ZfHGUB3QjAAWhCsrkAbKFrj5BEZhRqYAbAF9a4aPGTp2CySyc1IKMzGzYQdy8-HbCPuJSMuyRPDB8piZmiiwOACYA9P4s5nAAHsoAynCO1RA2dg5Obh5C3qLsAGIoUAiS1TT0oazsVTVUcBUwKGTUZChwsW3oEtKyYACSVNkl8JX9tfX09pROAIzunnHtEQREAG5wAGpIxAuDTMPYk2gliyLLiTWJF

[2019-12-05 15:27] kkartunov commented on #25
Passed Plagiarism Check

[2019-12-05 15:29] kkartunov commented on #26
Passed Plagiarism Check

[2019-12-05 15:31] kkartunov commented on #28
Passed Plagiarism Check

[2019-12-05 15:32] kkartunov commented on #27
@t0070926 please stop opening issues for the same articles! We can handle everything in one issue and do not need 10ens of those.

[2019-12-05 16:48] t0070926 commented on #27
Both are same by mistake i closed .Its passed the Passed Plagiarism Check.Please consider this for review

[2019-12-05 16:57] anu0012 opened #29 "[$150]THRIVE - 10 tips for data analysis"
Category: Data Science
Please review it

[Thrive_Submission_2.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3928111/Thrive_Submission_2.md.zip)

[2019-12-05 17:52] rj97 opened #30 "[$150]THRIVE - Practical Skills Needed for Starting Data Science - In Layman Terms!"
Track - Data Science
[Article 1 - Practical skills needed to win data science competitions](https://github.com/topcoder-platform/thrive-submit/files/3928317/Article.1.-.Practical.skills.needed.to.win.data.science.competitions.docx)

[2019-12-05 17:54] rj97 opened #31 "[$150]THRIVE - Demystifying activation functions in artificial neural network"
Track - Data Science
[Article 2 - Demystifying activation functions in artificial neural network](https://github.com/topcoder-platform/thrive-submit/files/3928334/Article.2.-.Demystifying.activation.functions.in.artificial.neural.network.docx)

[2019-12-05 17:55] rj97 opened #32 "[$150]THRIVE - Concepts of loss functions - What, Why and How"
Track - Data Science

[Article 3 - Concepts of loss functions - What, Why and How](https://github.com/topcoder-platform/thrive-submit/files/3957229/Article.3.-.Concepts.of.loss.functions.-.What.Why.and.How.docx)

[2019-12-05 17:59] KakaIdan commented on #24
Other than that, is there another evaluation?

[2019-12-05 20:09] KakaIdan commented on #24
Hi good morning ..

Please check the results that I have corrected. Thank you ..

[Color Theory In Graphic Design (Wildan Abdul Azis).docx](https://github.com/topcoder-platform/thrive-submit/files/3928882/Color.Theory.In.Graphic.Design.Wildan.Abdul.Azis.docx)

[2019-12-05 21:03] kkartunov commented on #24
Passed Plagiarism Check

[2019-12-05 21:07] kkartunov commented on #6
@anu0012 this is what I see
![image](https://user-images.githubusercontent.com/5585002/70273983-f67a0c80-17b3-11ea-98dd-411fde80eeeb.png)

[2019-12-05 21:12] kkartunov commented on #29
passed PCheck

[2019-12-05 21:14] kkartunov commented on #30
passed Pcheck

[2019-12-05 21:15] kkartunov commented on #31
passed PCheck

[2019-12-05 21:17] kkartunov commented on #32
@rj97 fails Plagiarism Check please correct it.

[2019-12-06 02:12] billsedison commented on #27
@t0070926

Thanks for your article, but I have two questions:

1. You proposed a cost reduction at the python language level, but how can I apply it if I use NodeJS, Java or other languages?
2. At the AWS Cloud level, what's the difference between the official AWS Cost optimization https://aws.amazon.com/pricing/cost-optimization/?nc1=h_ls

[2019-12-06 03:06] t0070926 commented on #27
1.Applying  same  multi threading  concept in other  languages  even java c++ supports this feature.
 Concept is effective utlization of CPU time and improve the performance of the job
2.Cost optimization aws provided some conepts of how to use their resources effectively and i have added some additional points like when huge data need do the partitioning the table space and table level

[2019-12-06 04:00] winterflame commented on #8
@kkartunov I think this ticket should be labelled with other tags.

[2019-12-06 04:13] t0070926 opened #33 "Demonstrate learning process of Natural Language Processing"
[Demonstrate learning process of  Natural Language Processing.docx](https://github.com/topcoder-platform/thrive-submit/files/3930373/Demonstrate.learning.process.of.Natural.Language.Processing.docx)

[2019-12-06 07:07] t0070926 opened #34 "How to Troubleshoot IMS DB Online Transaction Issues"
[How to Troubleshoot IMS Online Transaction Issues.docx](https://github.com/topcoder-platform/thrive-submit/files/3930810/How.to.Troubleshoot.IMS.Online.Transaction.Issues.docx)

[2019-12-06 08:35] anu0012 commented on #6
@kkartunov Can you please tell me where is the plag? As in my premium account It's not showing.

[2019-12-06 11:09] KakaIdan opened #35 "Flat Design Characteristics"
This is my article. May be useful

[Flat Design Characteristics (Wildan Abdul Azis).docx](https://github.com/topcoder-platform/thrive-submit/files/3931845/Flat.Design.Characteristics.Wildan.Abdul.Azis.docx)

[2019-12-06 11:17] t0070926 opened #36 "[$150]THRIVE - How to use Data science Deep Learning Process"
[Data-science_Deep Learning.docx](https://github.com/topcoder-platform/thrive-submit/files/3931881/Data-science_Deep.Learning.docx)

[2019-12-06 12:38] KakaIdan opened #37 "Raster and vector differences in graphic design"
This is my article about "Raster and vector differences in graphic design"

[Raster and vector differences in graphic design ( Wildan Abdul Azis).docx](https://github.com/topcoder-platform/thrive-submit/files/3932175/Raster.and.vector.differences.in.graphic.design.Wildan.Abdul.Azis.docx)

[2019-12-06 13:14] ga20091049 opened #38 "SQL Database Performance Tuning"
[sql_database_tuning_tips.docx](https://github.com/topcoder-platform/thrive-submit/files/3932299/sql_database_tuning_tips.docx)

Please review the Article posted

[2019-12-06 15:55] t0070926 opened #39 "Demonstrate process of Data science clustering algorithm"
[Demonstrate process of Data science clustering algorithm.docx](https://github.com/topcoder-platform/thrive-submit/files/3932953/Demonstrate.process.of.Data.science.clustering.algorithm.docx)

[2019-12-06 16:29] hasanozie opened #40 "[$150]Benefits of Design Thinking for Beginner Graphic Designers"
Track Category: Design

[Hasanozie - Benefits of Design Thinking for Beginner Graphic Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/3933095/Hasanozie.-.Benefits.of.Design.Thinking.for.Beginner.Graphic.Designers.docx)

[2019-12-06 17:50] KakaIdan opened #41 "Get To Know The Golden Ratio In Graphic Design"
please review my article

[Get To Know The Golden Ratio In Graphic Design (Wildan Abdul Azis).docx](https://github.com/topcoder-platform/thrive-submit/files/3933348/Get.To.Know.The.Golden.Ratio.In.Graphic.Design.Wildan.Abdul.Azis.docx)

[2019-12-06 20:26] YogSothothTopCoder opened #42 "[$150]The Strategy Pattern in C# and JavaScript"
[Strategy Pattern.docx](https://github.com/topcoder-platform/thrive-submit/files/3933912/Strategy.Pattern.docx)

TopCoder handle: Yog-Sothoth
Track: Development

Edit: Updated the attached file above to include author / track / read time / tags.

[2019-12-07 05:30] hasanozie opened #43 "[$150]List of the Best Design Applications for UI/UX Designers in 2019"
Track Category: Design

[Hasanozie - List of the Best Design Applications for UI UX Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/3934777/Hasanozie.-.List.of.the.Best.Design.Applications.for.UI.UX.Designers.docx)

[2019-12-07 05:35] t0070926 opened #44 "Performance problem in an IMS environment"
[Performance problem in an IMS environment.docx](https://github.com/topcoder-platform/thrive-submit/files/3934760/Performance.problem.in.an.IMS.environment.docx)

[2019-12-07 07:48] kkartunov commented on #6
@anu0012 I am using the free account which can't tell that...

[2019-12-07 07:53] kkartunov commented on #33
Passed PCheck

[2019-12-07 07:54] kkartunov commented on #34
passed Pcheck

[2019-12-07 07:56] kkartunov commented on #35
passed PCheck

[2019-12-07 07:58] kkartunov commented on #36
passed PCheck

[2019-12-07 08:00] kkartunov commented on #37
passed PCheck

[2019-12-07 08:01] kkartunov commented on #38
passed PCheck

[2019-12-07 08:02] kkartunov commented on #39
passed PCheck

[2019-12-07 08:04] kkartunov commented on #40
passed PCheck

[2019-12-07 08:05] kkartunov commented on #41
@KakaIdan Significant plagiarism was detected. Please, correct.

[2019-12-07 08:09] kkartunov commented on #42
passed PCheck

[2019-12-07 08:10] kkartunov commented on #43
passed PCheck

[2019-12-07 08:12] kkartunov commented on #44
passed PCeck

[2019-12-07 12:37] anu0012 commented on #6
@kkartunov I tried using that also. It showing no plag. I think you are using the old file. Please use this file.
[updated_blog.docx.zip](https://github.com/topcoder-platform/thrive-submit/files/3935061/updated_blog.docx.zip)

[2019-12-07 15:41] tarushi96 commented on #25
Till when will it be reviewed? I want to get an idea weather to write more articles or not on PySpark.

[2019-12-07 18:02] t0070926 opened #45 "Oracle Working with Materialized Query Tables"
[Oracle Working with Materialized Query Tables.docx](https://github.com/topcoder-platform/thrive-submit/files/3935391/Oracle.Working.with.Materialized.Query.Tables.docx)

[2019-12-07 18:51] KakaIdan commented on #41
Can be explained, where the error lies ?

[2019-12-08 04:10] hasanozie opened #46 "[$150]List of The Best Prototype Tools for UI/UX Designers in 2019"
Track Category: Design

[Hasanozie - List of The Best Prototype Tools for UI UX Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/3935854/Hasanozie.-.List.of.The.Best.Prototype.Tools.for.UI.UX.Designers.docx)

[2019-12-08 04:22] t0070926 opened #47 "Integrate CICS (Customer Information Control System) online with JAVA"
[Integrate_CICS_JAVA.docx](https://github.com/topcoder-platform/thrive-submit/files/3935860/Integrate_CICS_JAVA.docx)

[2019-12-08 07:35] t0070926 opened #48 "Integrate Hadoop eco system with My sql database"
[Integrate_Hadoop_My_sqldatabase.docx](https://github.com/topcoder-platform/thrive-submit/files/3935966/Integrate_Hadoop_My_sqldatabase.docx)

[2019-12-08 14:17] t0070926 opened #49 "HOW A IMS database can become corrupted and Recovery process"
[HOW A IMS database can become corrupted and Recovery process.docx](https://github.com/topcoder-platform/thrive-submit/files/3936308/HOW.A.IMS.database.can.become.corrupted.and.Recovery.process.docx)

[2019-12-08 15:42] kkartunov commented on #41
@KakaIdan make it pass check here https://www.grammarly.com/plagiarism-checker otherwise we can't accept it for review.

[2019-12-08 15:49] kkartunov commented on #45
passed PCheck

[2019-12-08 15:51] kkartunov commented on #46
passed PCheck

[2019-12-08 15:53] kkartunov commented on #47
passed PCheck

[2019-12-08 15:55] kkartunov commented on #48
passed PCheck.

[2019-12-08 15:57] kkartunov commented on #49
passed PCheck

[2019-12-09 01:06] t0070926 opened #50 "LOB(Large Objects) implementation in db2 and Oracle"
[LOB(Large Objects) implementation in db2 and Oracle.docx](https://github.com/topcoder-platform/thrive-submit/files/3937454/LOB.Large.Objects.implementation.in.db2.and.Oracle.docx)

[2019-12-09 03:51] t0070926 opened #51 "Connection from LUW ( Linux Unix Windows ) to Mainframe DB2"
[Connection from LUW ( Linux Unix Windows ) to Mainframe DB2.docx](https://github.com/topcoder-platform/thrive-submit/files/3937806/Connection.from.LUW.Linux.Unix.Windows.to.Mainframe.DB2.docx)

[2019-12-09 06:48] hasanozie opened #52 "The Best Way to Turn Ideas Into Sketch Designs"
Track Category: Design

[Hasanozie - The Best Way to Turn Ideas Into Sketch Designs.docx](https://github.com/topcoder-platform/thrive-submit/files/3938196/Hasanozie.-.The.Best.Way.to.Turn.Ideas.Into.Sketch.Designs.docx)

[2019-12-09 08:19] kkartunov commented on #50
@t0070926 Plagiarism was detected. Please fix and notify when ready.

[2019-12-09 08:20] kkartunov commented on #51
passed PCheck

[2019-12-09 08:22] kkartunov commented on #52
passed PCheck

[2019-12-09 09:04] t0070926 commented on #50
[Large_Objects_db2_Oracle.docx](https://github.com/topcoder-platform/thrive-submit/files/3938703/Large_Objects_db2_Oracle.docx)

[2019-12-09 09:05] t0070926 commented on #50
Completed Plagiarism check please look and process

[2019-12-09 10:36] t0070926 opened #53 "DB2LUW- Table partitioning and multidimensional clustering tables"
[DB2LUW- Table partitioning and multidimensional clustering tables.docx](https://github.com/topcoder-platform/thrive-submit/files/3939182/DB2LUW-.Table.partitioning.and.multidimensional.clustering.tables.docx)

[2019-12-09 12:35] victor7246 opened #54 "[$150]THRIVE - Word Embeddings: Context matters in Natural Language Processing"
[embeddings.docx](https://github.com/topcoder-platform/thrive-submit/files/3939612/embeddings.docx)

[2019-12-09 13:36] billsedison commented on #27
@t0070926 Sorry, I don't think it's helpful.

1. The multi-threading concept has many side effects, like data race etc, might cause additional issues.
2. Python generator is not a multi-threading concept, it's more like coroutine, but it cannot be applied to multiple languages.
3. For the cost optimization, most of the contents are overlapped with the official AWS content.

So I cannot accept this

[2019-12-09 14:02] billsedison commented on #34
@t0070926

Can you please format the document well? It's a bit difficult to read.

For example,

this should be a table.
![image](https://user-images.githubusercontent.com/5657467/70441472-6bf51e00-1acf-11ea-9cd6-615ba1288e9b.png)

the code/command/console text should be in a different font.

![image](https://user-images.githubusercontent.com/5657467/70441512-7fa08480-1acf-11ea-8668-a35c3100bcaa.p

[2019-12-09 14:09] billsedison commented on #38
@ga20091049

Looks most of your bullet points are from this book: https://books.google.com.hk/books?id=sX9hFLWLYCQC&pg=PA22&lpg=PA22&dq=+Give+prominence+stage+1+over+stage+2+predicates&source=bl&ots=VtrqS4B6j-&sig=ACfU3U1P4-Hy9YOrc_swxkg95Cvu9ybhPg&hl=en&sa=X&ved=2ahUKEwjkjLDi3qjmAhUbPXAKHauGADEQ6AEwAHoECAcQAg#v=onepage&q=Give%20prominence%20stage%201%20over%20stage%202%20predicates&f=false

And i

[2019-12-09 14:14] billsedison commented on #42
@YogSothothTopCoder Good and thorough article for the Strategy Pattern in C# and Javascript.

Accepted.

[2019-12-09 14:24] billsedison commented on #44
![image](https://user-images.githubusercontent.com/5657467/70443087-782eaa80-1ad2-11ea-8787-42d842f0ec2e.png)

The format of your document is bad, and sentences of your document are not fluent. I'm not sure if you are just randomly picking some sentences from a book. If so, please STOP doing this. Thanks.

[2019-12-09 14:26] billsedison commented on #45
@t0070926

It's from https://docs.oracle.com/cd/E66686_01/pt855pbr1/eng/pt/tadm/task_WorkingWithMaterializedQueryTables.html

[2019-12-09 14:28] billsedison commented on #47
It's from https://www.ibm.com/support/knowledgecenter/en/SSGMCP_5.3.0/com.ibm.cics.ts.java.doc/topics/gettingstarted_jcicsproject.html

https://www.ibm.com/support/knowledgecenter/en/SSGMCP_4.2.0/com.ibm.cics.ts.java.doc/topics/gettingstarted_sdk.html

....

[2019-12-09 14:35] billsedison commented on #48
@t0070926

The format is pretty bad and the sentences almost cannot read.

[2019-12-09 14:36] billsedison commented on #49
It's from https://www.ibm.com/support/knowledgecenter/en/SSCLV2_2.1.0/com.ibm.imstools.hppc.doc.ug/topics/fabpu_dbrp-howcorrupted.htm

[2019-12-09 14:38] billsedison commented on #50
The sentences are randomly picked from this book https://books.google.com.hk/books?id=zrYFCIAFXw8C&pg=PA171&lpg=PA171&dq=%22a+table+contains+a+LOB+column%22&source=bl&ots=hpCoV2BOLb&sig=ACfU3U0ZLtRkDAoZF48XCPg88TH_TjIPvg&hl=en&sa=X&ved=2ahUKEwjxrrCr5ajmAhWRbN4KHVEWBksQ6AEwA3oECAkQAg#v=onepage&q=%22a%20table%20contains%20a%20LOB%20column%22&f=false

The entire sentences are not fluent and almost ca

[2019-12-09 14:44] billsedison commented on #51
@t0070926 The document format is pretty bad, missing some screenshots too. And looks the entire content was from some tutorial. The article is not helpful.

[2019-12-09 16:47] hasanozie opened #55 "Why Design Principles Are Very Important For Graphic Designers"
Track Category: Design

[Hasanozie - Why Design Principles Are Very Important For Graphic Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/3940806/Hasanozie.-.Why.Design.Principles.Are.Very.Important.For.Graphic.Designers.docx)

[2019-12-09 21:02] kavukcutolga opened #56 "Distributed transactions in the microservices architectures"
Please evaluate the article:

Track: Development

https://docs.google.com/document/d/1iMUL85FH1xG0KwJPvZrr1EPoz2dJHsy8-Ey_OC5mJcI/edit?usp=sharing

[2019-12-10 03:37] ChrisChV opened #57 "[$150]THRIVE - From Easy to Hard: Hasura and GraphQL"
Track Category: Development

[From Easy to Hard: Hasura and GraphQL.docx](https://github.com/topcoder-platform/thrive-submit/files/3942891/From.Easy.to.Hard.Hasura.and.GraphQL.docx)

[2019-12-10 04:32] hasanozie opened #58 "How to Export Adobe XD Files to Adobe Photoshop"
Track Category: Design

[Hasanozie - How to Export Adobe XD Files to Adobe Photoshop.docx](https://github.com/topcoder-platform/thrive-submit/files/3943036/Hasanozie.-.How.to.Export.Adobe.XD.Files.to.Adobe.Photoshop.docx)

[2019-12-10 06:19] t0070926 commented on #34
[troubleshoot_IMS_Online_Transaction_Issues.docx](https://github.com/topcoder-platform/thrive-submit/files/3943303/troubleshoot_IMS_Online_Transaction_Issues.docx)

[2019-12-10 06:22] t0070926 commented on #34
I have updated  details.That is not table.Its Mainframe job.When IMS db on line trasaction fails abend status can see in the jobformat.I have provided in screen shot format.Its mainframe environement and particularly IMS very few sme's avilable in this area.This is informing you because you are not from Mainframe back ground

[2019-12-10 06:40] #51 closed

[2019-12-10 07:26] nursoltan-s opened #59 "[$150]THRIVE - Invariance, Covariance and Contravariance types in C#"
[covariance-contravariance-types-part1.docx](https://github.com/topcoder-platform/thrive-submit/files/3943490/covariance-contravariance-types-part1.docx)

[covariance-contravariance-types-part2.docx](https://github.com/topcoder-platform/thrive-submit/files/3943492/covariance-contravariance-types-part2.docx)

TopCoder handle: nursoltan-s
Track: Development

[2019-12-10 07:52] kkartunov commented on #42
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-10 07:52] kkartunov commented on #42
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-10 07:52] kkartunov commented on #42
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-10 07:52] kkartunov commented on #42
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-10 07:52] kkartunov commented on #42
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-10 07:52] kkartunov commented on #42
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-10 07:52] kkartunov commented on #42
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-10 07:52] kkartunov commented on #42
[500]: Can't find the issue in DB. It's not found or not accessible<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-10 08:42] #4 closed

[2019-12-10 08:42] #9 closed

[2019-12-10 08:42] #22 closed

[2019-12-10 08:42] #27 closed

[2019-12-10 08:42] #38 closed

[2019-12-10 08:42] #44 closed

[2019-12-10 08:42] #45 closed

[2019-12-10 08:42] #47 closed

[2019-12-10 08:42] #48 closed

[2019-12-10 08:42] #49 closed

[2019-12-10 08:42] #50 closed

[2019-12-10 08:45] kkartunov commented on #6
@anu0012 sorry but still getting red on the check. Can't pass it for review until I see green https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdleIk3IATAPTrCAGzgAPJQGU45eJTgBnARE3VMAFgC%2BNcNHjJ0rYlC2ttwAbnAAakjcEHACDEws2GYwaEYOQr5iElL%2BgcFhSpHRcEoAsty2pLaxdI4UzgDMHl4ZIv4GUAjcUCgV%2BHGMzO2d3b22-bWt6OKS0mAAquSo3F3kUAZ

[2019-12-10 08:47] kkartunov commented on #53
passed PCheck.

[2019-12-10 08:48] kkartunov commented on #54
passed PCheck

[2019-12-10 08:49] kkartunov commented on #55
passed PCheck.

[2019-12-10 08:52] kkartunov commented on #56
passed PCheck

[2019-12-10 08:53] kkartunov commented on #57
passed PCheck.

[2019-12-10 08:54] kkartunov commented on #58
passed PCheck

[2019-12-10 08:56] kkartunov commented on #59
passed PCheck

[2019-12-10 13:35] t0070926 opened #60 "LOB(Large Objects) implementation and Reorg in db2"
[Large_Objects_db2.docx](https://github.com/topcoder-platform/thrive-submit/files/3945064/Large_Objects_db2.docx)

[2019-12-10 13:51] hasanozie opened #61 "[$150]THRIVE - Using the Sprint Design Method in UI Design Challenges"
Track Category: Design

[Hasanozie - Using the Sprint Design Method in UI Design Challenges.docx](https://github.com/topcoder-platform/thrive-submit/files/3945126/Hasanozie.-.Using.the.Sprint.Design.Method.in.UI.Design.Challenges.docx)

[2019-12-10 13:53] t0070926 opened #62 "Integrate Db2 Luw and Db2 Mainframe"
[Integrate Db2 Luw and Db2 Mainframe.docx](https://github.com/topcoder-platform/thrive-submit/files/3945142/Integrate.Db2.Luw.and.Db2.Mainframe.docx)

[2019-12-10 15:20] t0070926 opened #63 "Pointer Issue in IMS DB and Fix"
[Pointer Issue in IMS DB and Fix.docx](https://github.com/topcoder-platform/thrive-submit/files/3945582/Pointer.Issue.in.IMS.DB.and.Fix.docx)

[2019-12-10 17:33] anu0012 opened #64 "[$150]THRIVE - Jupyter tips and tricks"
Category: Data Science
Please find the blog attached.

[jupyter_tips.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3946340/jupyter_tips.md.zip)

[2019-12-10 17:42] anu0012 commented on #6
This is what I am getting in incognito mode.
![Screen Shot 2019-12-10 at 11 11 00 PM](https://user-images.githubusercontent.com/17943805/70554087-77fde000-1ba2-11ea-8e07-256f060c25dc.png)

[2019-12-10 17:42] anu0012 commented on #6
@kkartunov  are you sure you used the above file named as updated_blog.docx?

[2019-12-10 19:22] Dara-K commented on #52
We already have a similar article: https://www.topcoder.com/why-you-should-sketch-before-design/ . Please check for existing articles on same theme/ topic on the blog.

[2019-12-10 20:03] Dara-K commented on #7
Hi! The main points in becoming a professional graphic designer is to learn the basics: typography, color theory, hierarchy, etc. learn the tools, create a portfolio and find the right mentor/ community to show off your design and improve faster. Taste can be educated and business writing to present your ideas come later when you have to sell your work to customers.

Many of these points can alrea

[2019-12-10 20:17] Dara-K commented on #17
Great article, thank you!

[2019-12-10 20:25] Dara-K commented on #24
Hi! We already have 2 large articles on the blog that cover the topic of Color Theory extensively so many of the points highlighted by you can be found in these articles:
https://www.topcoder.com/understanding-color-ui-design/
https://www.topcoder.com/the-world-colors-and-how-to-conquer-it/

Please double check the articles we have before adding new ones on same/similar topic.

[2019-12-10 20:34] Dara-K commented on #35
This article should be more elaborate with other indeptht knowledge about flat design. Also keep in mind to have minimum 500-600 words for it as it's very short now.

[2019-12-10 20:48] Dara-K commented on #37
There is potential for this article to be approved but it needs several updates:
Drawbacks on raster images:
 •	If enlarged and reduced will improve image quality;
=> if enlarged or reduced it will diminish the quality of the images

Advantages of vector images:
•	Unable to make image gradations and blur effects.
This is partially false as we can make gradients for vector elements as well

Would l

[2019-12-10 20:49] Dara-K commented on #37
Also each article needs a cover photo :)

[2019-12-10 21:32] Dara-K commented on #43
Let's update the title to  List of the Best Design Applications for UI / UX Designers in 2019 as this might not be valid in few years from now on.
Also, Photoshop has monthly subscription.

[2019-12-10 21:48] Dara-K commented on #46
Hi! Can you update the title of the article to be "List of The Best Prototype Tools for UI/UX Designers in 2019"?

Also, let's add the price for each prototype tool and how many prototype can a user create in the free version. I feel like that's a big disadvantage to Adobe XD and Invision versus Marvel.

Thank you.

[2019-12-10 22:00] Dara-K commented on #55
Sorry, but we already have a similar article: https://www.topcoder.com/10-useful-design-techniques-master-visual-hierarchy/

[2019-12-10 22:19] Dara-K commented on #58
I don't think this is of interest to our members since most of the design challenges accept XD format now as it's easier to share the prototype specifications with the coder, compared to Photoshop where we can't do that easily.

[2019-12-10 22:52] Sande3p commented on #57
Hi @ChrisChV

Overall the article looks good. Here are some feedbacks:
- Include this https://github.com/hasura/graphql-engine github reference somewhere in the article.
- Add images & code block as specified in the comments here [From.Easy.to.Hard.Hasura.and.GraphQL.docx](https://github.com/topcoder-platform/thrive-submit/files/3947476/From.Easy.to.Hard.Hasura.and.GraphQL.docx)
- Provide a workin

[2019-12-11 01:20] hasanozie commented on #7
Hi @Dara-K ,
Thank you for reviewing this article.
I will try to make a better article :)

[2019-12-11 01:20] hasanozie commented on #17
Hi @Dara-K  ,
Thank you for reviewing this article :)

[2019-12-11 01:21] hasanozie commented on #40
Hi @Dara-K ,
Thank you for reviewing this article :)

[2019-12-11 01:35] hasanozie commented on #43
Hi @Dara-K ,
Thank you for reviewing and I have made improvements to this article.

[Hasanozie - List of the Best Design Applications for UI UX Designers in 2019.docx](https://github.com/topcoder-platform/thrive-submit/files/3947948/Hasanozie.-.List.of.the.Best.Design.Applications.for.UI.UX.Designers.in.2019.docx)

[2019-12-11 02:03] hasanozie commented on #46
Hi @Dara-K  ,
Thank you for reviewing and I have made improvements to this article.

[Hasanozie - List of The Best Prototype Tools for UI UX Designers in 2019.docx](https://github.com/topcoder-platform/thrive-submit/files/3948049/Hasanozie.-.List.of.The.Best.Prototype.Tools.for.UI.UX.Designers.in.2019.docx)

[2019-12-11 02:06] hasanozie commented on #58
Hi @Dara-K ,
Thank you for reviewing this article.
I will try to make a better article

[2019-12-11 02:12] hasanozie commented on #52
Hi @Dara-K ,
Thank you for reviewing this article.
Sorry because I didn't check the existing articles carefully. Next, I will make sure the article that I will make is not yet available on thrive

[2019-12-11 02:13] hasanozie commented on #55
Hi @Dara-K  ,
Thank you for reviewing this article.
Sorry because I didn't check the existing articles carefully. Next, I will make sure the article that I will make is not yet available on thrive

[2019-12-11 03:23] ChrisChV commented on #57
Hello,
here there is the fixed document:
[From Easy to Hard: Hasura and GraphQL (Fixed).docx](https://github.com/topcoder-platform/thrive-submit/files/3948248/From.Easy.to.Hard.Hasura.and.GraphQL.Fixed.docx)
Sorry, I can't see the comments in the document that you uploaded.

[2019-12-11 08:44] #58 closed

[2019-12-11 08:44] #55 closed

[2019-12-11 08:45] #52 closed

[2019-12-11 08:45] #24 closed

[2019-12-11 08:46] #7 closed

[2019-12-11 09:09] kkartunov commented on #41
@KakaIdan are you working on this one?

[2019-12-11 11:16] kkartunov commented on #60
It has to be > 500 words length.

[2019-12-11 11:18] kkartunov commented on #61
@hasanozie I get Plagiarism detected when checking it. Please, correct and resubmit.

[2019-12-11 11:19] kkartunov commented on #62
@t0070926 Need to be > 500 words length.

[2019-12-11 11:22] kkartunov commented on #63
passed PCheck and length check.

[2019-12-11 11:24] kkartunov commented on #64
@anu0012 has to be > 500 words length.

[2019-12-11 11:31] kkartunov commented on #42
@YogSothothTopCoder how is your Topcoder Handle? Can't find `yog-sothoth` in the system?

[2019-12-11 11:41] kkartunov commented on #26
passed min length check

[2019-12-11 12:21] YogSothothTopCoder commented on #42
@kkartunov
It's `Yog-Sothoth`
Maybe the search treats the handles as case-sensitive?

If still having problems, here's a link to my profile; not sure what the cr parameter is (`22903058`),
but it looks like it's some kind of a user identifier, so maybe you can use that somehow?
http://www.topcoder.com/tc?module=MemberProfile&cr=22903058

Here's the "regular" one as well:
https://www.topcoder.com/m

[2019-12-11 12:30] shubham-dota opened #65 "[$150]THRIVE - Introduction to Virtualization – A rookie’s guide."
Track Category: QA
[Introduction to Virtualization – A rookie’s guide..docx](https://github.com/topcoder-platform/thrive-submit/files/3950296/Introduction.to.Virtualization.A.rookie.s.guide.docx)

[2019-12-11 12:31] shubham-dota commented on #65
[Introduction to Virtualization – A rookie’s guide..docx](https://github.com/topcoder-platform/thrive-submit/files/3950284/Introduction.to.Virtualization.A.rookie.s.guide.docx)

[2019-12-11 12:38] hasanozie commented on #61
Hi @kkartunov  I have fixed the article opening section that caused this article to be detected plagiarism.

[Hasanozie - Using the Sprint Design Method in UI Design Challenges.docx](https://github.com/topcoder-platform/thrive-submit/files/3950314/Hasanozie.-.Using.the.Sprint.Design.Method.in.UI.Design.Challenges.docx)

[2019-12-11 13:38] Rokit12 opened #66 "React JS to include data in suspense: Declaring data to be rendered through API"
Kindly find the below document
[Thrive4.zip](https://github.com/topcoder-platform/thrive-submit/files/3950581/Thrive4.zip)

[2019-12-11 13:42] victor7246 opened #67 "[$150]THRIVE - Understanding Voice of Customer: An application of Joint Topic-Sentiment Model"
[pain_point_identification.docx](https://github.com/topcoder-platform/thrive-submit/files/3950598/pain_point_identification.docx)

[2019-12-11 14:47] anu0012 commented on #64
@kkartunov Updated.

[updated_jupyter_tips.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3950927/updated_jupyter_tips.md.zip)

[2019-12-11 15:43] kkartunov commented on #64
@anu0012 473 is < 500

[2019-12-11 16:14] KakaIdan commented on #37
This is my revised article. please check

[Raster and vector differences in graphic design.docx](https://github.com/topcoder-platform/thrive-submit/files/3951348/Raster.and.vector.differences.in.graphic.design.docx)

[2019-12-11 16:21] kkartunov commented on #61
passed PCheck and min length check

[2019-12-11 16:24] kkartunov commented on #65
passed Pcheck and min length check

[2019-12-11 16:28] kkartunov commented on #66
passed Pcheck and min length check

[2019-12-11 16:29] kkartunov commented on #67
passed Pcheck and min length check

[2019-12-11 16:33] Rokit12 commented on #66
ooh hope this one passes

[2019-12-11 17:24] hasanozie opened #68 "[$150]THRIVE - Graphic Design Trends That Will Become Popular in 2020"
Track Category: Design

[Hasanozie - Graphic Design Trends That Will Become Popular in 2020.docx](https://github.com/topcoder-platform/thrive-submit/files/3954922/Hasanozie.-.Graphic.Design.Trends.That.Will.Become.Popular.in.2020.docx)

[2019-12-11 17:35] KakaIdan commented on #35
This is my revised article. please check

[Flat Design Characteristic.docx](https://github.com/topcoder-platform/thrive-submit/files/3951763/Flat.Design.Characteristic.docx)

[2019-12-11 17:44] anu0012 commented on #64
@kkartunov Done.

[final_jupyter_tips.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3951807/final_jupyter_tips.md.zip)

[2019-12-11 19:59] Dara-K commented on #35
This looks better, but there is place for improvement.

- When writing an article pay attention to repeating words: for example I notice you have "flat design" in 2-3-4 consecutive sentences. That shouldn't be the case. Try to phrase things better.
- Let's add one image example for each characteristic of the flat design
- don't forget to add a cover image for all the articles you submit[ as per ru

[2019-12-11 20:16] Dara-K commented on #37
This is better! Thank you

A couple of points to consider:

- Would like to see an example of same illustration/ image when scaled up as a vector versus raster image and how the image quality drops as right now in your example, both look sharp. Still not seeing this example in the article... Maybe it wasn't clear..so I am referring to something like this https://tshirtprintingtoronto.ca/wp-content

[2019-12-11 20:18] Dara-K commented on #43
Looks good now, thanks!

[2019-12-11 20:21] Dara-K commented on #46
Looks good, thank you1

[2019-12-11 20:44] Dara-K commented on #61
Nice idea for an article!  A couple of notes:

- Keep in mind it's always "Topcoder", not "topcoder"
- On the advantages on working on Topcoder (intro part), you can also add "improving your design skills, connecting with other designers"
- I see the first image is the same as the cover one - please change one of them so they don't repeat
- Can you details more each of the 5 steps please? I would

[2019-12-12 02:01] hasanozie commented on #61
Hi @Dara-K  ,
Thank you for reviewing and I have Changed all the words "Topcoder", added some advantages to working in Topcoder, changed the first image and added details into the five steps.

I agree with you that it's faster and easier if you only understand the specs and make designs right away, in my opinion this design guide can be useful for beginners who have difficulty understanding the to

[2019-12-12 02:03] hasanozie commented on #61
[Hasanozie - Using the Sprint Design Method in UI Design Challenges - New.docx](https://github.com/topcoder-platform/thrive-submit/files/3953472/Hasanozie.-.Using.the.Sprint.Design.Method.in.UI.Design.Challenges.-.New.docx)

[2019-12-12 03:01] hasanozie commented on #43
Thanks @Dara-K :)

[2019-12-12 03:01] hasanozie commented on #46
Thanks @Dara-K :)

[2019-12-12 04:48] t0070926 opened #69 "LOB (Large Objects) implementation and Reorg in db2"
[Large_Objects_db2.docx](https://github.com/topcoder-platform/thrive-submit/files/3953863/Large_Objects_db2.docx)

[2019-12-12 04:53] #60 closed

[2019-12-12 05:26] shubham-dota commented on #65
Updated Handle - From Shubham.prasad2 to whoami.kdm(Topgear Handle)
[Introduction to Virtualization – A rookie’s guide..docx](https://github.com/topcoder-platform/thrive-submit/files/3953976/Introduction.to.Virtualization.A.rookie.s.guide.docx)

[2019-12-12 06:32] CreeyaSean opened #70 "My Journey with TopCoder Community"
[My Journey with TopCoder Community.docx](https://github.com/topcoder-platform/thrive-submit/files/3954169/My.Journey.with.TopCoder.Community.docx)

Track Category: QA

[2019-12-12 06:33] KakaIdan commented on #35
This is my revised article. please check

[Artikel kontes (Flat Design Characteristic).docx](https://github.com/topcoder-platform/thrive-submit/files/3954185/Artikel.kontes.Flat.Design.Characteristic.docx)

[2019-12-12 07:43] #41 closed

[2019-12-12 07:44] kkartunov commented on #32
@rj97 are you working to correct this one?

[2019-12-12 07:46] kkartunov commented on #6
@anu0012 see video here https://drive.google.com/file/d/1EH_cslNvPpkaCROdsODyJp9Sv3kJFeSX/view

I can't accept your article if it does not pass the check.

[2019-12-12 07:49] kkartunov commented on #64
Passed Pcheck and min length check.

[2019-12-12 07:51] kkartunov commented on #68
Passed PCheck and min length check.

[2019-12-12 07:54] kkartunov commented on #69
@t0070926 how is this different from https://github.com/topcoder-platform/thrive-submit/issues/60 this one?

**Please, STOP closing and reopening issues for the same articles. This is your second warning of doing against repo rules. If it occurs again I will be forced to remove you from repo and challenge!**

[2019-12-12 07:56] kkartunov commented on #70
@CreeyaSean article has to be > 500 words length and pass Plagiarism Check https://www.grammarly.com/plagiarism-checker

[2019-12-12 08:03] Rokit12 opened #71 "How to remain legit as a developer: The untold future of developers"
Hello kindly find the file below.
[Thrive5.zip](https://github.com/topcoder-platform/thrive-submit/files/3954506/Thrive5.zip)

[2019-12-12 08:19] KakaIdan commented on #37
This is the result of my revision and attachment to the bitmap format

[Raster and vector differences in graphic design (Revisi).zip](https://github.com/topcoder-platform/thrive-submit/files/3954575/Raster.and.vector.differences.in.graphic.design.Revisi.zip)

[2019-12-12 08:37] CreeyaSean commented on #70
[My Journey with TopCoder Community.docx](https://github.com/topcoder-platform/thrive-submit/files/3954654/My.Journey.with.TopCoder.Community.docx)

Updated.

[2019-12-12 09:38] t0070926 commented on #69
as  article is less than 500 words i closed ok going forward i will take care

[2019-12-12 09:54] winterflame commented on #65
Hi @shubham-dota ,

I don't think this article is related to anything in the current QA track - please take a look at QA track page: https://www.topcoder.com/community/qa to familiarize yourself with competition types in it and see what articles can be helpful.

[2019-12-12 10:13] CreeyaSean commented on #70
The blog has been updated as per the suggestions.

[2019-12-12 10:20] shubham-dota opened #72 "[$150]THRIVE - Python for Data Analysis – NumPy Basics"
Track Catagory: Data Science
[Python for Data Analysis – NumPy Basics.docx](https://github.com/topcoder-platform/thrive-submit/files/3955182/Python.for.Data.Analysis.NumPy.Basics.docx)

[2019-12-12 10:35] t0070926 commented on #62
[Uploading Integrate Db2 Luw and Db2 Mainframe.docx…]

[2019-12-12 10:36] CreeyaSean commented on #70
Hi Kiril,
I have added more content and also got it reviewed by plagiarism. New file
has been uploaded.

Thank you.

On Thu, Dec 12, 2019 at 1:41 PM Kiril Kartunov <notifications@github.com>
wrote:

[2019-12-12 10:40] shubham-dota commented on #65
Hey, thanks for the review.  In our project virtualization is used for testing and development purposes and contents here are a high-level introduction of what I have learned about virtual machines. Can this article be moved to the development or testing track?

[2019-12-12 10:45] ArulmozhiV opened #73 "When to prefer React Native over Native Mobile technologies?"
Development
[Thrive_React_Native.zip](https://github.com/topcoder-platform/thrive-submit/files/3955289/Thrive_React_Native.zip)

[2019-12-12 11:40] winterflame commented on #65
Maybe we can move this to development. @kkartunov

[2019-12-12 12:34] harshitmehta123 commented on #11
Can you please improve your article to throw more light on where python is being used these days? What kind of projects? Also, talk about why python is being used now rather than Java or any other language being used earlier? @Rokit12

[2019-12-12 12:36] Rokit12 commented on #11
okay, let me fix it

[2019-12-12 12:48] harshitmehta123 commented on #11
Also, feel free to go further and talk about more basics and give readers some programs to try to understand their basics :)

[2019-12-12 12:51] harshitmehta123 commented on #23
Great Article @anu0012 - Can you write another one for a series of these articles? Which addresses some problems members must be facing and how to overcome them, with another example of yours.

[2019-12-12 12:52] Rokit12 commented on #11
okay, working on that

[2019-12-12 13:34] t0070926 commented on #62
[Integrate Db2 Luw and Db2 Mainframe.docx](https://github.com/topcoder-platform/thrive-submit/files/3955939/Integrate.Db2.Luw.and.Db2.Mainframe.docx)

[2019-12-12 13:37] anu0012 commented on #23
@harshitmehta123 Glad that you liked it.
I'll try to write another one.

[2019-12-12 13:44] Rokit12 commented on #11
Kindly review this file now.
Regards
[thrive python.zip](https://github.com/topcoder-platform/thrive-submit/files/3955972/thrive.python.zip)

[2019-12-12 14:26] rj97 commented on #32
@kkartunov yes. Will update the document by tomorrow.

[2019-12-12 14:28] Rokit12 commented on #11
Kindly tell if the document is okay now

[2019-12-12 15:25] hasanozie commented on #40
Hi @kkartunov ,
Is there anything I have to do on the page of the contest? or just wait until the payment is complete?
https://www.topcoder.com/challenges/30110360

[2019-12-12 16:38] anu0012 commented on #6
@kkartunov Please see the below video and the report.

https://drive.google.com/open?id=13xu1v-ZkO79OX7YHhW_jWWMrn2BpPTtr

https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdleIk3IATAPTrCAGzgAPJQGU45eJTgBnARE3VMAFgC%2BNcNHjJ0rYlC2ttwAbnAAakjcEHACDEws2GYwaEYOQr5iElL%2BgcFhSpHRcEoAsty2pLaxdI4UzgDMHl4ZIqwA6qhaOAAWUTFxjMys

[2019-12-12 16:44] Rokit12 opened #74 "Incoming power of javascript: Can Javascript outdo python"
Hello, Kindly check the document below.
[Thrive final.zip](https://github.com/topcoder-platform/thrive-submit/files/3956882/Thrive.final.zip)

[2019-12-12 18:14] rj97 commented on #32
@kkartunov Here's the updated article. Please take this into consideration for final review. Thanks.

[Article 3 - Concepts of loss functions - What, Why and How](https://github.com/topcoder-platform/thrive-submit/files/3957236/Article.3.-.Concepts.of.loss.functions.-.What.Why.and.How.docx)

[2019-12-12 19:18] KakaIdan opened #75 "Difference between User Interface (UI) and User Experience (UX)"
This is my new article. Please check

[Difference between User Interface (UI) and User Experience (UX).docx](https://github.com/topcoder-platform/thrive-submit/files/3957450/Difference.between.User.Interface.UI.and.User.Experience.UX.docx)

[2019-12-12 19:19] KakaIdan opened #76 "Various kinds of graphic media"
This is my new article. Please check

[Various kinds of graphic media.docx](https://github.com/topcoder-platform/thrive-submit/files/3957456/Various.kinds.of.graphic.media.docx)

[2019-12-12 19:33] kkartunov commented on #32
passed Pcheck and min length check

[2019-12-12 19:35] kkartunov commented on #70
@CreeyaSean I get "Plagiarism was detected" checking. Please, make sure it passes https://www.grammarly.com/plagiarism-checker

[2019-12-12 19:38] kkartunov commented on #69
passed PCheck and min length check

[2019-12-12 19:40] kkartunov commented on #65
ok @winterflame moved to `Development` by your suggestion.

[2019-12-12 19:41] kkartunov commented on #62
passed PCheck and min len check

[2019-12-12 19:50] kkartunov commented on #72
Fails PCheck

[2019-12-12 19:52] kkartunov commented on #73
Passed PCheck and min len check

[2019-12-12 19:53] kkartunov commented on #74
@Rokit12 Significant plagiarism was detected

[2019-12-12 19:55] kkartunov commented on #75
@KakaIdan Plagiarism was detected

[2019-12-12 19:56] kkartunov commented on #76
@KakaIdan Plagiarism was detected

[2019-12-12 20:14] Rokit12 commented on #74
Let me fix please

[2019-12-12 20:22] Rokit12 commented on #74
[TITLE_ Incoming power of javascript_ Can Javascript outdo python (2).docx](https://github.com/topcoder-platform/thrive-submit/files/3957692/TITLE_.Incoming.power.of.javascript_.Can.Javascript.outdo.python.2.docx)
Check this one please

[2019-12-13 03:05] KakaIdan commented on #75
This is my improved article. please check

[Difference between User Interface (UI) and User Experience (UX).docx](https://github.com/topcoder-platform/thrive-submit/files/3958828/Difference.between.User.Interface.UI.and.User.Experience.UX.docx)

[2019-12-13 03:24] KakaIdan commented on #76
This is my improved article. please check

[Various kinds of graphic media.docx](https://github.com/topcoder-platform/thrive-submit/files/3958876/Various.kinds.of.graphic.media.docx)

[2019-12-13 04:51] CreeyaSean commented on #70
![image](https://user-images.githubusercontent.com/57211549/70770061-01c0cf80-1d94-11ea-8708-73de5f09ae6d.png)

Hi, The document has been checked now. Please find the updated document below:
[My Journey with TopCoder Community.docx](https://github.com/topcoder-platform/thrive-submit/files/3959058/My.Journey.with.TopCoder.Community.docx)

[2019-12-13 05:12] shubham-dota commented on #72
Hey can you recheck it, for me the Pcheck is passing
https://www.grammarly.com/report?alerts=NobwRAxghgLgpgcwPYCcCeYBcYDCSC2ADgAoCuAdhDGADRgIpKmFZhmUymwCWS5tkWIlRoAEqXxR%2B2dlS4xe5AATdleIk3IATAPTrCAGzgAPJQGU45eJTgBnARE3VMARgC%2BNcNHjJ0rAKrkANbkSADu-HQMTCzYZoRwBgaqCA5CvmISUgHBoRFKAOqoWvZ0jhTOACweXukirMRQtrbcAG5wAGpI3BBwAtHMrGYwaEZpPiLiktJsTS3tSl09cEoAsty2pLZ9ZU5Y7p6CE37Y680JSXBa-YyDcRfJ5KlldehT2acb

[2019-12-13 07:42] KakaIdan opened #77 "Photoshop functions and uses in graphic design"
This is my latest article. please check and give me feedback

[Photoshop functions and uses in graphic design (Wildan Abdul Azis).docx](https://github.com/topcoder-platform/thrive-submit/files/3959542/Photoshop.functions.and.uses.in.graphic.design.Wildan.Abdul.Azis.docx)

[2019-12-13 07:58] hasanozie opened #78 "List of Websites That Will Help You Compete in UI Design Challenges"
Track Category: Design

[Hasanozie - List of Websites That Will Help You Compete in UI Design Challenges.docx](https://github.com/topcoder-platform/thrive-submit/files/3959606/Hasanozie.-.List.of.Websites.That.Will.Help.You.Compete.in.UI.Design.Challenges.docx)

[2019-12-13 09:05] harshitmehta123 commented on #25
Hey @tarushi96 sorry for the delay! I was not available last week!

Please explain in more detail how generally data is and how it needs to be to prepare models. Clearly state the steps first in gist and then explain each step with a code snippet. Also, use some sample data and how after each step you are processing it.

[2019-12-13 09:09] harshitmehta123 commented on #11
I think you should still work on the article a bit more to make it a bit advanced level.
Basics of Python are available abundantly on the web. You should talk about why some XYZ structure is easy in python and that is the reason developers are moving to Python and not using Java for that anymore.

Do you get the idea I am talking about?

[2019-12-13 09:12] harshitmehta123 commented on #29
@anu0012 At the end can you help a reader do a hands-on on a publically available dataset?
Show him how the data is changing after each step and WHY do we do it?

[2019-12-13 09:20] harshitmehta123 commented on #30
Great Article @rj97. How about changing the title to something more attractive to the new audience.

**Practical Skills Needed To For Data Science - In Layman Terms!**

[2019-12-13 09:53] Rokit12 commented on #11
OKAY, LET ME WORK ON IT

[2019-12-13 10:51] harshitmehta123 commented on #31
Interesting! Do you want to show the use of these functions in this blog?
@rj97  - I am passing this article. However, if you can improve it will be a very good read and will also show practical implementation too.

[2019-12-13 10:53] harshitmehta123 commented on #32
Nice Read! Thanks @rj97

[2019-12-13 10:57] harshitmehta123 commented on #33
Can you add an example and show each phase with a code snippet? @t0070926

[2019-12-13 11:07] anu0012 commented on #29
Sure @harshitmehta123 I'll create a notebook and share the link in the blog.

[2019-12-13 11:23] harshitmehta123 commented on #36
The article is not structured properly - The title and the text can be improved and better structured for clear indication of what you want to talk about here

[2019-12-13 11:41] rj97 commented on #31
Thanks for reviewing @harshitmehta123 - certainly your suggestion would be a good improvement to the article. Originally my intention was to make beginners aware about importance of activation functions and be able to understand their core working so that they can select one for their own model. I will now work on updating the article.

[2019-12-13 11:43] rj97 commented on #30
@harshitmehta123 sounds good! Thanks for reviewing the article.

[2019-12-13 11:45] rj97 commented on #32
Thanks for reviewing @harshitmehta123

[2019-12-13 12:42] harshitmehta123 commented on #39
I think the title should be Basics of Clustering Algorithms or something more for the newbies.

Also, can you make and add descriptive images for the Hierarchical Clustering?

@t0070926

[2019-12-13 13:57] harshitmehta123 commented on #54
Good Article :) thanks @victor7246

[2019-12-13 14:01] harshitmehta123 commented on #64
@anu0012 Can you start with how to get started with Jupyter Notebooks - and then go to some tips and tricks? For people who don't know how to set it up etc.

[2019-12-13 15:10] Rokit12 commented on #11
Hello, i have made it now from the previous basics to an advanced stage in python in comparison to other languages. Kindly check and tell.

Regards
[Thrivep2advance.zip](https://github.com/topcoder-platform/thrive-submit/files/3961388/Thrivep2advance.zip)

[2019-12-13 15:59] kkartunov commented on #32
@rj97 please add yourself to the team so we can process your payment
https://apps.topcoder.com/forums/?module=Thread&threadID=948284&start=0

[2019-12-13 16:01] kkartunov commented on #23
@anu0012 please add yourself to the team so we can process your payment https://apps.topcoder.com/forums/?module=Thread&threadID=948284&start=0

[2019-12-13 16:02] kkartunov commented on #54
@victor7246 please add yourself to the team so we can process your payment
https://apps.topcoder.com/forums/?module=Thread&threadID=948284&start=0

[2019-12-13 17:17] anu0012 commented on #29
@harshitmehta123 I've added a link to the sample notebook for a publically available dataset. Please find the updated blog attached.

[10 data analysis tips.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3961901/10.data.analysis.tips.md.zip)

[2019-12-13 17:20] anu0012 commented on #64
Sure @harshitmehta123 I'll make a separate blog for getting started with the basics of Jupyter notebook.

[2019-12-13 20:33] Dara-K commented on #61
Thank you for the updates.

That's great feedback to know. Do you have any suggestion on how we/ Topcoder help here?
Based on the above clarification, would be better to rephrase things in the article to
"In this article, I will explain various things about Sprint Design that you can use to compete in the Topcoder Design Challenge. so you no longer have to worry about **understanding the specs and

[2019-12-13 20:43] Dara-K commented on #35
Thanks for the updates! We're almost there.

- Can you add a link from where you took the first image illustration? the one with the trees
- Let's add in the article an example of a mobile app flat design
- I think we can remove "Congratulations to design." from the end. It sounds weird.

[2019-12-13 21:16] Dara-K commented on #37
This is going into the right direction - thank you for the updates. It still needs some refinements.

There are a few aspects mentioned above that it seems you missed them:
- I think instead of "Lack of raster image:" you want to stay "Advantages of raster images" ?
- Can you add the file formats for Bitmaps too? (PNG, JPB, etc.)so we keep consistency. Also for vector format we can have SVG,. AI,

[2019-12-13 23:04] hasanozie commented on #61
Hi @Dara-K
Thank you for the feedback

We can try to redesign the challenge page or change the format of the brief to be more fun, maybe it will change the point of view of the designer who has always considered the challenge brief in the Topcoder Community to look very complicated.

The following article I have updated according to your direction.

[Hasanozie - Using the Sprint Design Method in U

[2019-12-14 00:26] t0070926 opened #79 "10 Tips for Data Preparation,Data Profiling and Data cleansing"
[10 Tips  for  Data Preparation,Data Profiling and Data cleansing.docx](https://github.com/topcoder-platform/thrive-submit/files/3963206/10.Tips.for.Data.Preparation.Data.Profiling.and.Data.cleansing.docx)

[2019-12-14 01:04] t0070926 commented on #39
[Data Science-Basics of Clustering Algorithms.docx](https://github.com/topcoder-platform/thrive-submit/files/3963253/Data.Science-Basics.of.Clustering.Algorithms.docx)

[2019-12-14 01:04] t0070926 commented on #39
Changed title and added  required images as you suggested

[2019-12-14 01:53] t0070926 commented on #36
[Basics of Deep Learning Algorithms.docx](https://github.com/topcoder-platform/thrive-submit/files/3963317/Basics.of.Deep.Learning.Algorithms.docx)

[2019-12-14 01:55] t0070926 commented on #36
Changed title added required details,images.This article for deep learning basics

[2019-12-14 02:57] t0070926 commented on #33
[Basics of Natural Language Processing algorithm.docx](https://github.com/topcoder-platform/thrive-submit/files/3963367/Basics.of.Natural.Language.Processing.algorithm.docx)

[2019-12-14 02:58] t0070926 commented on #33
changed title added required details as you suggested

[2019-12-14 04:29] hasanozie opened #80 "[$150]THRIVE - The Best Adobe XD Plugins for UI/UX Designers"
Track Category: Design

[Hasanozie - The Best Adobe XD Plugins for UI  UX Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/3963654/Hasanozie.-.The.Best.Adobe.XD.Plugins.for.UI.UX.Designers.docx)

[2019-12-14 09:49] KakaIdan commented on #35
That's the design of my work 1 year ago. Because of the reason I don't need the link in the picture

[2019-12-14 09:57] KakaIdan commented on #37
-	"Lack of raster images:" You want to keep "Advantages of raster images"?
Can you add file formats to Bitmap too? (PNG, JPB, etc.) So that we remain consistent. Also for vector formats we can have SVG ,. AI, and several others.

I do not understand. Can you explain in detail what is meant?

-	In the first picture, I made it myself. so there's no need for a link for the first picture ...

[2019-12-14 12:26] kkartunov commented on #54
Contest https://www.topcoder.com/challenges/30110973 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 12:26] kkartunov commented on #54
@victor7246, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 12:27] kkartunov commented on #54
@victor7246, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 12:53] kkartunov commented on #54
@victor7246 what is your TC handle?

[2019-12-14 12:58] kkartunov commented on #32
Contest https://www.topcoder.com/challenges/30110975 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 12:58] kkartunov commented on #32
@rj97, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 13:02] kkartunov commented on #31
@rj97 How long you gonna need to update the article as per reviewer suggestion?

[2019-12-14 13:04] kkartunov commented on #31
Contest https://www.topcoder.com/challenges/30110976 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 13:04] kkartunov commented on #31
@rj97, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 13:09] kkartunov commented on #30
Contest https://www.topcoder.com/challenges/30110978 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 13:09] kkartunov commented on #30
@rj97, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 13:09] kkartunov commented on #31
@rj97, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 13:09] kkartunov commented on #31
@rj97, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 13:11] kkartunov commented on #23
Contest https://www.topcoder.com/challenges/30110979 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 13:11] kkartunov commented on #23
Contest https://www.topcoder.com/challenges/30110979 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-14 13:26] kkartunov commented on #70
@CreeyaSean I still get failed Plagiarism Check

[2019-12-14 13:28] kkartunov commented on #77
@KakaIdan I get Plagiarism was detected

[2019-12-14 13:30] kkartunov commented on #78
passed PCheck and min len check

[2019-12-14 13:34] kkartunov commented on #79
passed PCheck and min len check

[2019-12-14 13:35] kkartunov commented on #80
passed PCheck and min len check

[2019-12-14 14:25] billsedison commented on #69
@t0070926 The sentences are not fluent and the format is bad.

I can't see any LOB (Large Objects) implementation in db2.

And the link of the banner image is broken: https://lh3.googleusercontent.com/zchtlS9Y4g0lhO2IZo0ZW34031dAGcttRHIaLPOMyXmu3951kHRTsabDfUVVwRU4BaWyDQ=s85

[2019-12-14 14:25] KakaIdan commented on #77
This is the result of my revision. please check

[Photoshop functions and uses in graphic design.docx](https://github.com/topcoder-platform/thrive-submit/files/3963911/Photoshop.functions.and.uses.in.graphic.design.docx)

[2019-12-14 14:39] MCC129 opened #81 "[$150]THRIVE - Introduction to the build tools - GYP"
Development

[Introduction to the build tools - GYP.docx](https://github.com/topcoder-platform/thrive-submit/files/3963930/Introduction.to.the.build.tools.-.GYP.docx)

[2019-12-14 14:42] victor7246 commented on #54
datamafia

https://www.topcoder.com/members/datamafia

[2019-12-14 14:57] t0070926 opened #82 "Data Science-Reinforcement Learning Algorithms"
[Data Science-Reinforcement Learning Algorithms.docx](https://github.com/topcoder-platform/thrive-submit/files/3963947/Data.Science-Reinforcement.Learning.Algorithms.docx)

[2019-12-14 15:12] kkartunov commented on #81
passed PCheck and min len check

[2019-12-14 15:13] kkartunov commented on #82
@t0070926 Significant plagiarism was detected

[2019-12-14 15:32] Rokit12 opened #83 "Programming languages to learn in 2020: Get a job without a college degree"
[Thrivesks.zip](https://github.com/topcoder-platform/thrive-submit/files/3963974/Thrivesks.zip)

[2019-12-14 16:40] MCC129 opened #84 "[$150]THRIVE - Introduction to the build tools - GN & Ninja"
Development
[Introduction to the build tools - GN & Ninja.docx](https://github.com/topcoder-platform/thrive-submit/files/3964050/Introduction.to.the.build.tools.-.GN.Ninja.docx)

[2019-12-14 17:22] YogSothothTopCoder commented on #42
@kkartunov Just to check: Have you seen my reply above? Have you managed to resolve the issue? Anything else I can do to help?

[2019-12-14 18:34] rj97 commented on #31
@kkartunov here's the improved article as suggested by @harshitmehta123 :

[Article 2 - Demystifying activation functions in artificial neural network.docx](https://github.com/topcoder-platform/thrive-submit/files/3964188/Article.2.-.Demystifying.activation.functions.in.artificial.neural.network.docx)

[2019-12-14 21:16] t0070926 commented on #82
[Data.Science-Reinforcement.Learning.Algorithms.docx](https://github.com/topcoder-platform/thrive-submit/files/3964357/Data.Science-Reinforcement.Learning.Algorithms.docx)

[2019-12-14 21:16] t0070926 commented on #82
Verified through plagiarism tool its fine now

[2019-12-15 01:00] t0070926 opened #85 "Data Science-How to choose Model Selection"
[Data Science-How to choose Model Selection.docx](https://github.com/topcoder-platform/thrive-submit/files/3964518/Data.Science-How.to.choose.Model.Selection.docx)

[2019-12-15 06:51] anu0012 opened #86 "Getting started with Jupyter notebook"
Category: Data Science

[getting_started_jupyter.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3964661/getting_started_jupyter.md.zip)

[2019-12-15 06:52] anu0012 commented on #64
@harshitmehta123 I've added another 'Getting started' blog here.

https://github.com/topcoder-platform/thrive-submit/issues/86

[2019-12-15 08:24] MCC129 opened #87 "[$150]THRIVE - Improve debugging efficiency with LLDB"
Development

[Improve.debugging.efficiency.with.LLDB.2.docx](https://github.com/topcoder-platform/thrive-submit/files/3978722/Improve.debugging.efficiency.with.LLDB.2.docx)

@kkartunov Please check the updated one.

I just revised the first sentence in the Overview section to `LLDB is a software debugger used by the LLVM project, such as the Clang expression parser and LLVM disassembler.` and then

[2019-12-15 11:35] Dara-K commented on #37
1. I refer to add file formats for Bitmap similar to what you did for vector: PNG, JPG, TGA, TIF, GIF etc
For the vector format you can added a few file formats (EPS, PDF, PICT) but you didn't add the most common vector formats: SVG, AI,

2. I Yes, I saw the source file for the first photo, but the image on the Types of Bitmap images is missing the link to where you took that photo and same for th

[2019-12-15 11:36] Dara-K commented on #35
In that case it would be nice to specify it and attach the source file. :)

[2019-12-15 11:43] Dara-K commented on #61
Yes, we plan to redesign the challenge details page next year. I might contact you then for more input / feedback on this, if you are interested.

The article looks great now! Thank you for the updates and the patience :)

[2019-12-15 12:19] hasanozie commented on #61
I will be happy to share my ideas for the redesign of the brief challenge page

thank you for helping me make this article better. I hope this article can be useful for Topcoder members

[2019-12-15 12:48] Dara-K commented on #78
Hi! I see you put a lot of effort into this article and I appreciate it, but I don't think it brings up too much value and that's because most of the websites are included in the Topcoder policies.
**- Adobe Stock**
**- Shutterstock**
**- Unsplash**
**- Pexels**
The members are required to use photos only from them as mentioned in the [Topcoder Policies](https://help.topcoder.com/hc/en-us/articles

[2019-12-15 13:04] hasanozie commented on #78
Hi @Dara-K ,
Thank you for reviewing this article :)

[2019-12-15 13:05] kkartunov commented on #31
Thank You @rj97

[2019-12-15 13:14] #78 closed

[2019-12-15 13:14] #69 closed

[2019-12-15 13:16] kkartunov commented on #61
[500]: Challenge for the updated issue 61 is creating, rescheduling this event<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-15 13:16] kkartunov commented on #82
@t0070926 please do verify all your submissions before submitting. Thanks

[2019-12-15 13:17] kkartunov commented on #61
Contest https://www.topcoder.com/challenges/30111087 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-15 13:17] kkartunov commented on #61
Contest https://www.topcoder.com/challenges/30111087 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-15 13:17] kkartunov commented on #6
@anu0012 sorry, but I can't confirm that.

[2019-12-15 13:18] kkartunov commented on #77
@KakaIdan I still get "Plagiarism was detected" on this submission.

[2019-12-15 13:20] kkartunov commented on #76
@KakaIdan I am still getting "Plagiarism was detected"

[2019-12-15 13:21] Dara-K commented on #80
Great article!

You can remove Change Case  plugin as it's already included in the software.

Another 2 useful plugins  that you could mention, are Repetor and Export only one size.
![image](https://user-images.githubusercontent.com/25185079/70863198-2bbdf180-1f4e-11ea-9886-8cc6fff560a2.png)
![image](https://user-images.githubusercontent.com/25185079/70863200-2eb8e200-1f4e-11ea-9258-66b1cf4cec4c.p

[2019-12-15 13:21] kkartunov commented on #75
@KakaIdan I still get "Plagiarism was detected"
Please make sure all your submissions pass the test https://www.grammarly.com/plagiarism-checker before you submit!

[2019-12-15 13:22] kkartunov commented on #74
@Rokit12 I get "Significant plagiarism was detected"

[2019-12-15 13:23] kkartunov commented on #72
@shubham-dota rechecked but it still fails.

[2019-12-15 13:28] kkartunov commented on #83
@Rokit12 I get "Plagiarism was detected"

[2019-12-15 13:29] kkartunov commented on #84
Passed PCheck and min length check.

[2019-12-15 13:31] kkartunov commented on #85
Passed PCheck and min length check.

[2019-12-15 13:32] kkartunov commented on #86
passed PCheck and min length check.

[2019-12-15 13:33] kkartunov commented on #87
@MCC129 I get "Plagiarism was detected".Please, make it pass check https://www.grammarly.com/plagiarism-checker

[2019-12-15 13:37] Rokit12 commented on #74
okay i will rewrite from scratch

[2019-12-15 13:38] Rokit12 commented on #83
Consider i rewrite from scratch again.

[2019-12-15 13:50] kkartunov commented on #54
@victor7246, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-15 13:51] kkartunov commented on #32
@rj97, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-15 14:15] Sande3p commented on #57
Along with the new GitHub code it's looking good now.
Thanks

[2019-12-15 14:32] kkartunov commented on #57
Contest https://www.topcoder.com/challenges/30111092 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-15 14:32] kkartunov commented on #57
@ChrisChV, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-15 15:34] hasanozie commented on #80
Hi @Dara-K
I have corrected this article according to the feedback you provided

[Hasanozie - The Best Adobe XD Plugins for UI UX Designers - New.docx](https://github.com/topcoder-platform/thrive-submit/files/3965070/Hasanozie.-.The.Best.Adobe.XD.Plugins.for.UI.UX.Designers.-.New.docx)

[2019-12-15 15:53] MCC129 commented on #87
@kkartunov Please check the above update.

[2019-12-15 17:13] anu0012 opened #88 "[$150]THRIVE - Getting started with puppeteer"
Category: Development

[getting_started_puppeteer.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3965190/getting_started_puppeteer.md.zip)

[2019-12-15 17:49] anu0012 commented on #6
@kkartunov Please check this updated one. Hopefully, this works.

[updated_blog_final.zip](https://github.com/topcoder-platform/thrive-submit/files/3965226/updated_blog_final.zip)

[2019-12-16 01:45] t0070926 opened #89 "Steps to Build an eCommerce store with WordPress & woo-commerce"
[Steps to Build an eCommerce store with WordPress & woo-commerce.docx](https://github.com/topcoder-platform/thrive-submit/files/3965761/Steps.to.Build.an.eCommerce.store.with.WordPress.woo-commerce.docx)

[2019-12-16 02:56] ChrisChV opened #90 "[$150]THRIVE - From Easy to Hard: The security in Hasura with Auth0"
Track Category: Development

[From Easy to Hard: The security in Hasura with Auth0.docx](https://github.com/topcoder-platform/thrive-submit/files/3965901/From.Easy.to.Hard.The.security.in.Hasura.with.Auth0.docx)

[2019-12-16 03:47] billsedison commented on #28
The format is bad and the sentence looks not fluent.

Is it picked from some book?

You mentioned Figure 3, where it is? Where is figure 1 and 2?

![image](https://user-images.githubusercontent.com/5657467/70877762-bc054080-1ff9-11ea-9b08-b1d19c79ae28.png)

Sorry I can't accept this article.

[2019-12-16 04:14] CreeyaSean commented on #70
Hi, Van you please share the screenshot where you got this message, as it looks fine in my end.

[2019-12-16 04:17] billsedison commented on #26
It's from https://www.ibm.com/support/knowledgecenter/beta/en/SSEPEK_11.0.0/inst/src/tpc/db2z_migrdb2.html

[2019-12-16 04:19] billsedison commented on #34
No, you should not just make them as screenshots. We cannot accept this. Sorry.

[2019-12-16 04:21] billsedison commented on #53
It's from https://www.ibm.com/support/knowledgecenter/en/SSEPGG_11.5.0/com.ibm.db2.luw.admin.partition.doc/doc/c0021605.html

Please STOP copying from the official help document and try to CHEAT the Grammarly plagiarism checker.

[2019-12-16 04:29] billsedison commented on #56
@kavukcutolga Can you add more figures to describe the Saga pattern? By reading through the whole article, I still don't understand how Saga pattern benefits in the distributed transactions in the microservices architecture.

Maybe you need to add more figures, and describe its advantages more detailedly. Like how it compares with 2PC etc.

[2019-12-16 04:37] billsedison commented on #59
@nursoltan-s The article looks good.

Some format concerns

1. Can you keep all the sample code snippets as texts, and the font should be "Courier New"? Some of your code snippets are screenshots. Likes these in your part 2 article.

![image](https://user-images.githubusercontent.com/5657467/70879531-ac3d2a80-2000-11ea-9a2a-aeb588a41875.png)

2. Each text should not start with an indentation.
3. P

[2019-12-16 04:43] billsedison commented on #62
The content is the same as the closed one. PLEASE DON'T JUST CREATE A NEW NAME FOR THE SAME CONTENT!!!

https://github.com/topcoder-platform/thrive-submit/issues/51

[2019-12-16 04:46] billsedison commented on #63
The format is pretty bad and the sentences are not fluent.

[2019-12-16 04:50] billsedison commented on #65
@shubham-dota

Looks good. Some feedback about your article
1. You don't need to add indentation for each sentence.
2. Can you add an "Overview" section to introduce the background story of the virtualization? Also, if you can add a Conclusion section then it's better. Then the article will look more thorough.

[2019-12-16 04:54] billsedison commented on #66
@Rokit12 The format is pretty bad. You need to improve the format of your articie.

For example
1. Use a different font for the code
2. Fix the case issue in the code, please note the Javascript is case sensitive.

So the following code case is incorrect and will cause syntax error.
![image](https://user-images.githubusercontent.com/5657467/70880202-1ce54680-2003-11ea-8cfe-a29c8d167426.png)

[2019-12-16 04:55] billsedison commented on #71
It's just an introduction article, we are looking for more technical details. This is not what we are looking for. Sorry, we can't accept this article.

[2019-12-16 05:04] billsedison commented on #73
The article is a bit obsolete. Like Airbnb has dropped React Native.

And there are a lot of similar discussions on Medium.
- https://medium.com/rebeldot/react-native-or-native-development-ios-android-what-should-you-choose-for-your-next-mobile-app-17b32b88dec9
- https://medium.com/mop-developers/mobile-app-development-react-native-vs-native-ios-android-49c5c168045b

I don't think we need a simila

[2019-12-16 05:08] billsedison commented on #81
The article looks good, but this sentence is not fluent

Can you please revise?

Also, the indentation of code should be consistent
![image](https://user-images.githubusercontent.com/5657467/70880749-1788fb80-2005-11ea-8bdf-a7133c77b0fb.png)

[2019-12-16 05:08] nursoltan-s commented on #59
Okay. Thanks for your feedback. I will fix these.

[2019-12-16 05:13] billsedison commented on #84
The article looks good, but there are some minor issues.

1. No space between C and ++, it should be C++
![image](https://user-images.githubusercontent.com/5657467/70880886-a5fd7d00-2005-11ea-8432-8df0984f1181.png)

2. The code format looks bad
![image](https://user-images.githubusercontent.com/5657467/70880898-b0b81200-2005-11ea-951d-2057a30b7fb9.png)

[2019-12-16 05:13] billsedison commented on #84
The article looks good, but there are some minor issues.

1. No space between C and ++, it should be C++
![image](https://user-images.githubusercontent.com/5657467/70880886-a5fd7d00-2005-11ea-8432-8df0984f1181.png)

2. The code format looks bad
![image](https://user-images.githubusercontent.com/5657467/70880898-b0b81200-2005-11ea-951d-2057a30b7fb9.png)

[2019-12-16 05:16] billsedison commented on #8
I think the compiled list is helpful, from the Development perspective.

@harshitmehta123 What do you think from the competitive programming's perspective?

[2019-12-16 05:33] nursoltan-s commented on #59
I fixe the formatting as requested.

[covariance-contravariance-types-part1.docx](https://github.com/topcoder-platform/thrive-submit/files/3966208/covariance-contravariance-types-part1.docx)
[covariance-contravariance-types-part2.docx](https://github.com/topcoder-platform/thrive-submit/files/3966209/covariance-contravariance-types-part2.docx)

[2019-12-16 05:35] billsedison commented on #59
Looks good now, thanks.

[2019-12-16 05:37] MCC129 commented on #81
@billsedison Thanks, I'll fix.

[2019-12-16 05:41] MCC129 commented on #81
Please check the updated file
[Introduction.to.the.build.tools.GYP_version2.docx](https://github.com/topcoder-platform/thrive-submit/files/3966245/Introduction.to.the.build.tools.GYP_version2.docx)

[2019-12-16 05:42] MCC129 commented on #84
@billsedison Thanks, I will fix.

[2019-12-16 05:46] MCC129 commented on #84
![image](https://user-images.githubusercontent.com/58676992/70882325-4655a080-200a-11ea-8059-fbeaa946fe41.png)

@billsedison

The format is bad because the length of the code is long, but I don't find a way to break it into two lines, so I just reduced the font size, hope it's better.

[2019-12-16 05:46] MCC129 commented on #84
[Introduction.to.the.build.tools.-.GN.Ninja_version2.docx](https://github.com/topcoder-platform/thrive-submit/files/3966250/Introduction.to.the.build.tools.-.GN.Ninja_version2.docx)

I fixed as per your feedback

[2019-12-16 06:00] Rokit12 commented on #66
Hello, kindly the corrected article below:
[TITLE_ React JS to include data in suspense_ Declaring data to be rendered through API (1).docx](https://github.com/topcoder-platform/thrive-submit/files/3966278/TITLE_.React.JS.to.include.data.in.suspense_.Declaring.data.to.be.rendered.through.API.1.docx)

[2019-12-16 06:08] billsedison commented on #84
Ok, thanks. Looks better now, I'll accept it.

[2019-12-16 06:09] billsedison commented on #81
Looks better now. Thanks

[2019-12-16 06:10] shubham-dota commented on #72
@kkartunov I tried to analyze the article again with other online tools. I am getting plagiarism alert in import statements. I modified the article please check
[Python.for.Data.Analysis.NumPy.Basics (1).docx](https://github.com/topcoder-platform/thrive-submit/files/3966309/Python.for.Data.Analysis.NumPy.Basics.1.docx)
 it once more.
![plagarism check 1](https://user-images.githubusercontent.com/5

[2019-12-16 07:40] kkartunov commented on #59
Contest https://www.topcoder.com/challenges/30111154 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-16 07:40] kkartunov commented on #59
Contest https://www.topcoder.com/challenges/30111154 has been updated - it has been assigned to nursoltan-s.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-16 07:41] harshitmehta123 commented on #11
The content seems good now. We need to subtract some parts - I will edit the structure a bit and come back in a few days. In case you had like to improve let me know

[2019-12-16 07:43] kkartunov commented on #81
Contest https://www.topcoder.com/challenges/30111156 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-16 07:44] kkartunov commented on #81
@MCC129, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-16 07:48] kkartunov commented on #84
Contest https://www.topcoder.com/challenges/30111159 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-16 07:48] Rokit12 commented on #11
Thank you for your acceptance. Thanks

[2019-12-16 07:58] kkartunov commented on #84
@MCC129, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-16 07:58] #26 closed

[2019-12-16 07:58] #28 closed

[2019-12-16 07:58] #34 closed

[2019-12-16 07:59] #53 closed

[2019-12-16 07:59] #62 closed

[2019-12-16 07:59] #63 closed

[2019-12-16 07:59] #71 closed

[2019-12-16 07:59] #73 closed

[2019-12-16 08:02] kkartunov commented on #87
passed PCheck and min len check.

[2019-12-16 08:03] #83 closed

[2019-12-16 08:03] #74 closed

[2019-12-16 08:06] kkartunov commented on #72
passes PCheck and min len check

[2019-12-16 08:08] kkartunov commented on #70
@CreeyaSean https://drive.google.com/file/d/1pyRBWl-WRvcUpCkuqqtOrb66AKXx1Eo-/view

[2019-12-16 08:09] kkartunov commented on #6
@anu0012 much better now. Thanks and always check before you submit.

[2019-12-16 08:11] kkartunov commented on #88
passes PCheck and min len check

[2019-12-16 08:13] kkartunov commented on #89
passed PCheck and min len check

[2019-12-16 08:14] kkartunov commented on #90
passed PCheck and min len check

[2019-12-16 08:39] shubham-dota commented on #65
@billsedison thanks for your feedback. As per your feedback, I have updated the article.
[Introduction to Virtualization - A rookie's guide v2.docx](https://github.com/topcoder-platform/thrive-submit/files/3966758/Introduction.to.Virtualization.-.A.rookie.s.guide.v2.docx)

[2019-12-16 09:28] anu0012 commented on #6
@kkartunov Actually there might be some bug with Grammarly. In my premium version it was showing no plag. Anyways thanks :)

[2019-12-16 10:03] hasanozie opened #91 "List of The Best Wireframe Tools for UI/UX Designers in 2019"
Track Category: Design

[Hasanozie - List of The Best Wireframe Tools for UI UX Designers in 2019.docx](https://github.com/topcoder-platform/thrive-submit/files/3967359/Hasanozie.-.List.of.The.Best.Wireframe.Tools.for.UI.UX.Designers.in.2019.docx)

[2019-12-16 11:20] MCC129 opened #92 "[$150]THRIVE - Linux Programming - Getting started with the select model"
Development

[Linux.Programming.-.Getting.started.with.the.select.model.1.docx](https://github.com/topcoder-platform/thrive-submit/files/3978543/Linux.Programming.-.Getting.started.with.the.select.model.1.docx)

[2019-12-16 12:43] harshitmehta123 commented on #29
Awesome! Thanks

[2019-12-16 13:02] kkartunov commented on #91
passed PCheck and min len check

[2019-12-16 13:03] kkartunov commented on #92
passed PCheck and min len check

[2019-12-16 13:08] kkartunov commented on #29
Contest https://www.topcoder.com/challenges/30111196 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-16 13:08] kkartunov commented on #29
Contest https://www.topcoder.com/challenges/30111196 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-16 13:16] t0070926 opened #93 "TIPS TO IMPROVE YOUR ONLINE CHAT"
[TIPS TO IMPROVE YOUR ONLINE CHAT.docx](https://github.com/topcoder-platform/thrive-submit/files/3968165/TIPS.TO.IMPROVE.YOUR.ONLINE.CHAT.docx)

[2019-12-16 16:07] shubham-dota opened #94 "[$150]THRIVE - Python for Data Visualization – Matplotlib Basics"
Track Category : Data Science
[Python.for.Data.Visualization.Matplotlib.Basics.docx](https://github.com/topcoder-platform/thrive-submit/files/3969077/Python.for.Data.Visualization.Matplotlib.Basics.docx)
[Image Resources.zip](https://github.com/topcoder-platform/thrive-submit/files/3969081/Image.Resources.zip)

[2019-12-16 16:09] hasanozie opened #95 "[$150]THRIVE - Why UI/UX Designers Will Fall in Love With Adobe XD"
Track Category: Design

[Hasanozie - Why UI UX Designers Will Fall in Love With Adobe XD.docx](https://github.com/topcoder-platform/thrive-submit/files/3969002/Hasanozie.-.Why.UI.UX.Designers.Will.Fall.in.Love.With.Adobe.XD.docx)

[2019-12-16 16:26] shubham-dota commented on #72
@kkartunov can you please change the category to Data Science. Thanks

[2019-12-16 16:50] CreeyaSean commented on #70
Hi, I am done with the Plagiarism check now. It is no more detected.
Please find the updated document here:

[My Journey with Top COder Community.docx](https://github.com/topcoder-platform/thrive-submit/files/3969195/My.Journey.with.Top.COder.Community.docx)

[2019-12-16 17:21] baldmer opened #96 "[$150]THRIVE - Basic model fitting with scikit-learn"
track: Data Science

[Basic-model-fitting-with-scikit-learn.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3969320/Basic-model-fitting-with-scikit-learn.md.zip)

[2019-12-16 18:47] KakaIdan commented on #35
I don't have the original file (lost). because the design is old. finally I changed the photo using the source included ..

Please check the changes to my article ...
[Flat Design Characteristics (Wildan Abdul Azis).docx](https://github.com/topcoder-platform/thrive-submit/files/3969648/Flat.Design.Characteristics.Wildan.Abdul.Azis.docx)

[2019-12-16 19:00] KakaIdan commented on #76
Where is my mistake? on that website, I have passed the plagiarism selection
![image](https://user-images.githubusercontent.com/58554510/70934602-d8908f80-2070-11ea-9eb4-89786173d1e0.png)

[2019-12-16 19:02] KakaIdan commented on #77
Where is my mistake? on that website, I have passed the plagiarism selection
![image](https://user-images.githubusercontent.com/58554510/70934787-489f1580-2071-11ea-9fd0-7ff4a3ef2cd9.png)

[2019-12-16 19:14] KakaIdan commented on #37
You mean, do I have to add the vector design link that's in the bitmap image?

[2019-12-16 20:51] Dara-K commented on #80
Looks good, thank you!

[2019-12-16 21:12] Dara-K commented on #68
This is a good article, but it's more fit for the blog then THRIVE as it will have a short "life span" of about 5-6 months.

Can you improve the article for the blog? the blog articles are paid with $50.

If you can, here are a few things I see that need to be updated:
 - for each trend, let's use 1-2 images that are more relevant to app design or web design, rather than general since we want to g

[2019-12-16 21:13] Dara-K commented on #68
@kkartunov  Note: this article is fit for the blog, not THRIVE. It's up to the designer if he wishes to update or not.

[2019-12-16 21:17] Dara-K commented on #37
I mean to add the source file or link to where you took the image for :
- Line art
- Gray scale figure (which should be only gray, not brown btw.)

[2019-12-16 21:19] Dara-K commented on #35
This article is too short and barely talks about flat design. Please improve it considerably or let it go.

[2019-12-17 01:12] hasanozie commented on #80
Thank you for reviewing this article :)

[2019-12-17 01:14] hasanozie commented on #68
Hi @Dara-K  ,
Thank you for reviewing this article
I will try to add content to this article so that it can be displayed on blog

[2019-12-17 04:08] t0070926 opened #97 "TOP E-COMMERCE DESIGN TRENDS THAT BECAME POPULAR IN 2019"
[TOP  E-COMMERCE DESIGN TRENDS THAT BECAME POPULAR IN 2019.docx](https://github.com/topcoder-platform/thrive-submit/files/3971403/TOP.E-COMMERCE.DESIGN.TRENDS.THAT.BECAME.POPULAR.IN.2019.docx)

[2019-12-17 05:01] harshitmehta123 commented on #64
I think we can merge the blogs. :) Can you merge and attach here. It makes sense to have them as one blog.

[2019-12-17 05:02] harshitmehta123 commented on #86
Duplicate of #64
@anu0012 to merge with #64

[2019-12-17 05:02] #86 closed

[2019-12-17 05:19] anu0012 commented on #64
@harshitmehta123 PFA the updated one.

[jupyter_tips.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3971565/jupyter_tips.md.zip)

[2019-12-17 06:17] hasanozie opened #98 "[$150]THRIVE - The Best Sketch Plugins for UI/UX Designers"
Track Category: Design

[Hasanozie - The Best Sketch Plugins for UI UX Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/3971697/Hasanozie.-.The.Best.Sketch.Plugins.for.UI.UX.Designers.docx)

[2019-12-17 06:31] harshitmehta123 commented on #33
Hey @t0070926, I think you should pick an example - of some text or Data and then after each step you explain you should show the code snippet for that and also how the Data is changing after each step.

For example

**Morphological Processing(MP)**
It is the initial phase of NLP. And the purpose of this phase is to break chunks of language input into sets of token corresponding to paragraphs, sen

[2019-12-17 06:39] harshitmehta123 commented on #11
I worked for a bit on the article - tried to find a structure but unfortunately it's very random. Here is my updated article. We need to have a structured flow in the article:

- Why python is Easy and Imp
- Basic Structures of Python
- Advance usage of Python (Well explained with examples and comments)

@Rokit12 this article is for a newbie so we have to make sure things are clear to him with com

[2019-12-17 07:12] Rokit12 commented on #11
Okay i will work on it. For newbies

[2019-12-17 07:12] Rokit12 commented on #11
I thought it was advanced as you had instructed not to make basics

[2019-12-17 07:44] kkartunov commented on #36
Contest https://www.topcoder.com/challenges/30111303 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 07:44] kkartunov commented on #36
Contest https://www.topcoder.com/challenges/30111303 has been updated - it has been assigned to rajendrap.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 07:46] kkartunov commented on #77
@KakaIdan it should pass the test here https://www.grammarly.com/plagiarism-checker

[2019-12-17 07:47] kkartunov commented on #80
Contest https://www.topcoder.com/challenges/30111304 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 07:47] kkartunov commented on #76
@KakaIdan https://www.grammarly.com/plagiarism-checker

[2019-12-17 07:50] kkartunov commented on #70
passed checks

[2019-12-17 07:57] kkartunov commented on #80
Contest https://www.topcoder.com/challenges/30111304 has been updated - hasanozie has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 07:58] kkartunov commented on #80
Contest https://www.topcoder.com/challenges/30111304 has been updated - hasanozie has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 08:02] kkartunov commented on #67
Contest https://www.topcoder.com/challenges/30111308 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 08:02] kkartunov commented on #67
Contest https://www.topcoder.com/challenges/30111308 has been updated - it has been assigned to ayan007.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 08:12] kkartunov commented on #31
@rj97, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 08:13] kkartunov commented on #31
@rj97 please sign-up with X tool here https://x.topcoder.com/api/v1/github/teams/registration/2c3c0dcf-837f-4efa-bb12-bcaf29d5e390-1576570413871

[2019-12-17 08:19] kkartunov commented on #54
Contest https://www.topcoder.com/challenges/30110973 has been updated - ayan007 has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 08:35] harshitmehta123 commented on #79
This is a duplicate article (edited and content redcued) - https://www.import.io/post/10-best-practices-data-preparation/
Plagarism!

[2019-12-17 08:35] #79 closed

[2019-12-17 08:36] kkartunov commented on #31
Contest https://www.topcoder.com/challenges/30110976 has been updated - rjparmar has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 08:37] kkartunov commented on #31
Contest https://www.topcoder.com/challenges/30110976 has been updated - rjparmar has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 08:39] kkartunov commented on #31
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 08:40] kkartunov commented on #31
Contest https://www.topcoder.com/challenges/30110976 has been updated - rjparmar has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 08:45] harshitmehta123 commented on #82
The whole article is copied and edited from here: http://www.aionlinecourse.com/tutorial/machine-learning/reinforcement-learning.

[2019-12-17 08:45] #82 closed

[2019-12-17 08:47] shubham-dota opened #99 "[$150]THRIVE - Python for Data Visualization – Seaborn Plots Basics"
Track Category: Data Science
[Python for Data Visualization – Seaborn Plots Basics.docx](https://github.com/topcoder-platform/thrive-submit/files/3972240/Python.for.Data.Visualization.Seaborn.Plots.Basics.docx)
[Image Resources.zip](https://github.com/topcoder-platform/thrive-submit/files/3972242/Image.Resources.zip)

[2019-12-17 08:53] #33 closed

[2019-12-17 08:56] harshitmehta123 commented on #36
Plagarism:
http://www.aionlinecourse.com/tutorial/machine-learning/deep-learning

@t0070926

[2019-12-17 09:00] #85 closed

[2019-12-17 09:12] #36 closed

[2019-12-17 09:12] kkartunov commented on #36
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 09:17] kkartunov commented on #36
@t0070926 you are banned from the repository because of the cheating attempts you constantly submit. Your articles are badly formated, low quality and try cheating the plagiarism checker. I have warned you several times but nothing changed. We won't allow such behavior and ask you to please **stop submitting more articles**. You further submissions will be ignored.

[2019-12-17 09:19] #39 closed

[2019-12-17 09:19] #89 closed

[2019-12-17 09:19] #93 closed

[2019-12-17 09:19] #97 closed

[2019-12-17 09:25] harshitmehta123 commented on #11
Right, start from basics - move to advance.. it just needs a little more structuring

[2019-12-17 09:27] harshitmehta123 commented on #11
Let me attach the structuring I did to help you get an idea.
[TITLE_ The giant language for projects_ Python Programming beauty (1).docx](https://github.com/topcoder-platform/thrive-submit/files/3972438/TITLE_.The.giant.language.for.projects_.Python.Programming.beauty.1.docx)

[2019-12-17 09:31] kkartunov commented on #30
Contest https://www.topcoder.com/challenges/30110978 has been updated - rjparmar has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 09:42] kkartunov commented on #64
Contest https://www.topcoder.com/challenges/30111320 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 09:42] kkartunov commented on #64
Contest https://www.topcoder.com/challenges/30111320 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 10:15] Rokit12 commented on #11
Thanks, checking it

[2019-12-17 10:34] kkartunov commented on #17
Contest https://www.topcoder.com/challenges/30111325 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 10:34] kkartunov commented on #17
Contest https://www.topcoder.com/challenges/30111325 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-17 10:35] kkartunov commented on #94
@shubham-dota has to > 500 words length.

[2019-12-17 10:36] kkartunov commented on #95
passed checks

[2019-12-17 10:44] shubham-dota commented on #94
@kkartunov word count is > 600
I have used text boxes to put code snippets maybe that's the reason it's showing lower word counts and in addition to that I have put few code and outputs as screenshots please check once again. Thanks
![word count check](https://user-images.githubusercontent.com/58764896/70988487-f1885780-20e7-11ea-8b4d-7ed7313fa66a.png)

[2019-12-17 11:36] KakaIdan commented on #35
This is my revisi
[Flat Design Characteristic.docx](https://github.com/topcoder-platform/thrive-submit/files/3973052/Flat.Design.Characteristic.docx)

[2019-12-17 11:49] victor7246 commented on #54
Is there any action pending from my end?

[2019-12-17 11:50] victor7246 commented on #67
Is there any action pending from my end?

[2019-12-17 12:07] KakaIdan commented on #37
This is my revisi
[Vector Vs Bitmap.zip](https://github.com/topcoder-platform/thrive-submit/files/3973171/Vector.Vs.Bitmap.zip)

[2019-12-17 12:27] KakaIdan commented on #75
check please
[Difference between User Interface (UI) and User Experience (UX).docx](https://github.com/topcoder-platform/thrive-submit/files/3973244/Difference.between.User.Interface.UI.and.User.Experience.UX.docx)

[2019-12-17 12:55] hasanozie commented on #68
Hi @Dara-K

may I use the designs of other designers on dribbble as supporting images of each of the trend lists?
because I have limited skills to make all these design trends myself.

[2019-12-17 14:16] Rokit12 commented on #11
Hello, kindly check the one i have listed below. Tell me how about that with much introduction
[TITLE_ The Giant Programming Language – Python.docx](https://github.com/topcoder-platform/thrive-submit/files/3973673/TITLE_.The.Giant.Programming.Language.Python.docx)

[2019-12-17 16:41] kkartunov commented on #96
@baldmer correct the plagiarism and see to pass the check https://www.grammarly.com/plagiarism-checker

[2019-12-17 16:42] kkartunov commented on #98
passed checks

[2019-12-17 16:43] kkartunov commented on #99
@shubham-dota make it pass https://www.grammarly.com/plagiarism-checker

[2019-12-17 18:39] shubham-dota commented on #99
@kkartunov fixed it.
[Python.for.Data.Visualization.Seaborn.Plots.Basics.docx](https://github.com/topcoder-platform/thrive-submit/files/3974874/Python.for.Data.Visualization.Seaborn.Plots.Basics.docx)

[2019-12-17 18:45] baldmer commented on #96
[Basic-model-fitting-with-scikit-learn.md_checked.zip](https://github.com/topcoder-platform/thrive-submit/files/3974757/Basic-model-fitting-with-scikit-learn.md_checked.zip)

I corrected some typos.

The `error` was in this sentence:
```... formal definitions are included as a reference for the reader [1,2]```

##### The checker seems not to work properly.

Deleted the sentence and now it pass che

[2019-12-17 19:02] anu0012 opened #100 "[$150]THRIVE - How to handle imbalanced data"
Category: Data Science

[handle_imbalance_data.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3974973/handle_imbalance_data.md.zip)

[2019-12-17 21:35] Dara-K commented on #68
Thank you!

Yes, of course. Just add the link to their dribbble page.

[2019-12-18 00:15] hasanozie opened #101 "List of Applications That Can Increase Graphic Designer Productivity"
Track Category: Design

[Hasanozie - List of Applications That Can Increase Graphic Designer Productivity.docx](https://github.com/topcoder-platform/thrive-submit/files/3976082/Hasanozie.-.List.of.Applications.That.Can.Increase.Graphic.Designer.Productivity.docx)

[2019-12-18 04:29] billsedison commented on #87
@MCC129 The article looks good overall. Some minor issues

1. The character of the shortcut looks broken, it should be "⎇ + ⌫"
![image](https://user-images.githubusercontent.com/5657467/71055578-26041e00-2191-11ea-9ed2-e76e5d58f1af.png)

2. The font size is not consistent with other code
![image](https://user-images.githubusercontent.com/5657467/71055613-4b912780-2191-11ea-87a3-c84953e2a678.png)

[2019-12-18 04:38] billsedison commented on #88
@anu0012 Thanks for your submission.

Can you add more screenshots or text to describe the output of running the puppeteer? In your article, I can see code snippet but no much output info. Newbies might get issues in setting up their environment, so outputs will be helpful to the newbies to get started.

[2019-12-18 05:08] billsedison commented on #90
@ChrisChV The article looks good but it seems all the images are broken (at least on my side)
![image](https://user-images.githubusercontent.com/5657467/71057383-767e7a00-2197-11ea-8b7f-0ec02db22bec.png)

Can you host the images in your GitHub repo instead of imgur? Thanks

[2019-12-18 05:14] billsedison commented on #92
Good article, detailed example code and output to describe the usage of the `select` model, looking forward to your next articles about diving into it.

Just a very tiny issue, `If` should start with a lower case, was it automatically upper-cased by Microsoft Word? :)
![image](https://user-images.githubusercontent.com/5657467/71057559-10debd80-2198-11ea-883f-4d270ee62aef.png)

[2019-12-18 06:15] billsedison commented on #65
@shubham-dota Looks better now.

Some minor issues:
1. I still see indentations here
![image](https://user-images.githubusercontent.com/5657467/71060487-98302f00-21a0-11ea-9db5-8b37c966affe.png)

![image](https://user-images.githubusercontent.com/5657467/71060495-9d8d7980-21a0-11ea-8443-3599ce28eb64.png)

2. https://en.wikipedia.org/wiki/VMware_ESXi#/media/File:VMwareESXiHostClientSummary.png
This

[2019-12-18 06:26] shubham-dota commented on #65
@billsedison  done .
[Introduction.to.Virtualization.-.A.rookie.s.guide.v3.docx](https://github.com/topcoder-platform/thrive-submit/files/3976905/Introduction.to.Virtualization.-.A.rookie.s.guide.v3.docx)

[2019-12-18 07:52] kkartunov commented on #54
Contest https://www.topcoder.com/challenges/30110973 has been updated - ayan007 has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 08:45] kkartunov commented on #67
@victor7246 is your TC handle `ayan007` or it is `datamafia` as you state here https://github.com/topcoder-platform/thrive-submit/issues/54#issuecomment-565723799

Interesting why system thinks you `ayan007` which account has the get they payment?

[2019-12-18 09:00] ga20091049 opened #102 "Modern idea to biult E-Commerce site"
[E-commerce.docx](https://github.com/topcoder-platform/thrive-submit/files/3977477/E-commerce.docx)

[2019-12-18 09:14] kkartunov commented on #40
Contest https://www.topcoder.com/challenges/30111418 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 09:14] kkartunov commented on #40
Contest https://www.topcoder.com/challenges/30111418 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 09:16] kkartunov commented on #40
Contest https://www.topcoder.com/challenges/30111420 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 09:23] kkartunov commented on #100
passed checks

[2019-12-18 09:25] kkartunov commented on #101
passed checks

[2019-12-18 09:26] victor7246 commented on #67
@kkartunov my regular TC handle is datamafia. My another article is linked to datamafia. But I was unable to access Topcoder X with that handle, due to which I used the other handle "ayan007" for this article. Apologies for this confusion.

[2019-12-18 09:26] kkartunov commented on #102
passed checks

[2019-12-18 09:29] kkartunov commented on #67
@victor7246 ok this explains it. We will use `datamafia` for payments then.

[2019-12-18 09:34] kkartunov commented on #99
passed checks

[2019-12-18 09:36] kkartunov commented on #96
@baldmer won't passe it to review if it fails the checker. It still fails.

[2019-12-18 09:37] kkartunov commented on #75
passes now

[2019-12-18 09:37] shubham-dota commented on #94
Hey, @kkartunov can you please reopen and check this article. Thanks

[2019-12-18 09:39] kkartunov commented on #94
passes checks now

[2019-12-18 09:43] kkartunov commented on #70
@CreeyaSean thank You for your submission! We are looking for educational articles as written in the challenge spec, therefore, we can't accept this one for Thrive.

We glad that you have a great time with Topcoder and its community and wish you many successful challenges.

[2019-12-18 09:43] #70 closed

[2019-12-18 10:01] kkartunov commented on #43
Contest https://www.topcoder.com/challenges/30111424 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 10:01] kkartunov commented on #43
Contest https://www.topcoder.com/challenges/30111424 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 11:05] hasanozie commented on #68
Hi @Dara-K
I have changed all images to web/app design from dribbble and have added 4 design trends to this article.

[Hasanozie - Graphic Design Trends That Will Become Popular in 2020.docx](https://github.com/topcoder-platform/thrive-submit/files/3978057/Hasanozie.-.Graphic.Design.Trends.That.Will.Become.Popular.in.2020.docx)

[2019-12-18 12:10] shubham-dota opened #103 "[$150]THRIVE - KNN (K Nearest Neighbours ) algorithm for supervised learning made simple."
Track Category: Data Science
[KNN (K Nearest Neighbours ) algorithm for supervised learning made simple..docx](https://github.com/topcoder-platform/thrive-submit/files/3978316/KNN.K.Nearest.Neighbours.algorithm.for.supervised.learning.made.simple.docx)
[KNN Image Resources.zip](https://github.com/topcoder-platform/thrive-submit/files/3978319/KNN.Image.Resources.zip)

[2019-12-18 12:49] mahestro opened #104 "[$150]THRIVE - UI Design Track For Newbies: The Process Feynman-Like Explained"

[2019-12-18 12:50] mahestro opened #105 "[$150]THRIVE - Branding 101 - Part 1: Three Reasons Why It Is Important In Design Challenges"

[2019-12-18 12:51] mahestro opened #106 "5 Tricks To Improve Your Marvelapp Experience To Conquer The Client Review Session - With Example"

[2019-12-18 13:05] rj97 commented on #32
@kkartunov going through the published version of this article [here](https://www.topcoder.com/thrive/articles/Concepts%20of%20Loss%20Functions%20-%20What,%20Why%20and%20How), I found that instead of image, only the link to image is displayed in **Hinge Loss** section due to error in markdown syntax. Please remove the first occurrence of ")" to display the image. Let me know if you are unable to f

[2019-12-18 13:14] nkoleva89 opened #107 "Education technologies that inspire"
Title: Education technologies that inspire
Author: Nadya Koleva
Track Category: Development

Over the past 10 years, education changed rapidly to follow the challenges of the future. The blackboards don't belong to the classroom anymore, and neither is the traditional paper textbook. Some even say the children of the future won't even need to know how to write by hand, as there's no need to.
Some

[2019-12-18 13:25] MCC129 commented on #92
@billsedison Thanks for your review. I have updated my article as per your suggestion, please check again.

[2019-12-18 13:28] nkoleva89 commented on #107
[Education technologies that inspire.pdf](https://github.com/topcoder-platform/thrive-submit/files/3978573/Education.technologies.that.inspire.pdf)

[2019-12-18 13:38] baldmer commented on #96
[Basic-model-fitting-with-scikit-learn-TEXT-ONLY.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3978553/Basic-model-fitting-with-scikit-learn-TEXT-ONLY.md.zip)

Here is a version with text only, the checker works.

The problem is with something related with the Markdown in the code. In some cases I deleted all the code and left some ``` or extra spaces and the checker gives the `

[2019-12-18 13:53] nkoleva89 commented on #107
[Education technologies that inspire.pdf](https://github.com/topcoder-platform/thrive-submit/files/3978658/Education.technologies.that.inspire.pdf)

[2019-12-18 14:06] hasanozie opened #108 "Mandatory Questions For Clients Before Starting Graphic Design Project"
Track Category: Design

[Hasanozie - Mandatory Questions For Clients Before Starting Graphic Design Project.docx](https://github.com/topcoder-platform/thrive-submit/files/3988419/Hasanozie.-.Mandatory.Questions.For.Clients.Before.Starting.Graphic.Design.Project.docx)

[2019-12-18 14:09] MCC129 commented on #87
@billsedison Thanks for your review.

I have updated as per your suggestion.

Please download the file here: https://github.com/topcoder-platform/thrive-submit/files/3978722/Improve.debugging.efficiency.with.LLDB.2.docx

And for the issue1: It should be the font issue on the Microsoft Word. If you copy and paste the "⎇ + ⌫" to the GitHub, it will display correctly.

[2019-12-18 14:13] billsedison commented on #65
@shubham-dota Looks better now. Thanks.

[2019-12-18 14:18] billsedison commented on #66
@Rokit12 Double check and I found the code snippet the same as here

[code]

https://stackoverflow.com/questions/58617799/react-suspense-concurrent-suspenselist-order-not-working

[2019-12-18 14:23] billsedison commented on #92
Thanks, it's good now.

[2019-12-18 14:26] billsedison commented on #102
https://www.ecommerce-nation.com/how-can-you-build-your-own-online-store-with-woocommerce-wordpress/

Copied from here, changed some words

[2019-12-18 14:28] hasanozie opened #109 "Effective Time Management For Beginner Graphic Designers"
Track Category: Design

[Hasanozie - Effective Time Management For Beginner Graphic Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/3978820/Hasanozie.-.Effective.Time.Management.For.Beginner.Graphic.Designers.docx)

[2019-12-18 14:56] Rokit12 commented on #66
Though i never checked there. i wrote myself. I dont understand

[2019-12-18 15:20] Rokit12 commented on #66
Hello, i HAVE REMOVED THE PART
[TITLE_ React JS to include data in suspense_ Declaring data to be rendered through API (2).docx](https://github.com/topcoder-platform/thrive-submit/files/3979075/TITLE_.React.JS.to.include.data.in.suspense_.Declaring.data.to.be.rendered.through.API.2.docx)
 CHECK BELOW PLEASE

[2019-12-18 15:43] ChrisChV commented on #90
Here the document with images from my Github repository:
[From Easy to Hard: The security in Hasura with Auth0 (Edited).docx](https://github.com/topcoder-platform/thrive-submit/files/3979178/From.Easy.to.Hard.The.security.in.Hasura.with.Auth0.Edited.docx)

[2019-12-18 19:45] #66 closed

[2019-12-18 19:45] #102 closed

[2019-12-18 19:55] kkartunov commented on #103
passed checks

[2019-12-18 19:55] kkartunov commented on #107
passed checks.

@nkoleva89 please also submit a link with the banner image for this article.

[2019-12-18 19:57] kkartunov commented on #109
passed checks

[2019-12-18 20:05] kkartunov commented on #92
Contest https://www.topcoder.com/challenges/30111447 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 20:05] kkartunov commented on #92
@MCC129, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 20:05] kkartunov commented on #65
Contest https://www.topcoder.com/challenges/30111448 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 20:05] kkartunov commented on #65
@shubham-dota, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 20:22] kkartunov commented on #80
Contest https://www.topcoder.com/challenges/30111304 has been updated - hasanozie has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 20:28] shubham-dota commented on #65
@kkartunov how can I sign-up with Topcoder X tool?

[2019-12-18 20:39] kkartunov commented on #46
Contest https://www.topcoder.com/challenges/30111449 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 20:39] kkartunov commented on #46
Contest https://www.topcoder.com/challenges/30111449 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-18 21:02] nkoleva89 commented on #107
Here's the pic : https://unsplash.com/photos/J1nc-LH0iBE

[2019-12-19 00:33] mahestro commented on #104
Track Category: Design

https://docs.google.com/document/d/1BLi-AQ52WN-GxjtTjHFJ6AOtjNu-J9TRDLfRCyldfAc

[2019-12-19 03:01] hasanozie opened #110 "Benefit of the "Edit in Photoshop" Feature in Adobe XD For UI/UX Designers"
Track Category: Design

[Hasanozie - Benefit of the Edit-in-Photoshop Feature in Adobe XD For UI UX Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/3981724/Hasanozie.-.Benefit.of.the.Edit-in-Photoshop.Feature.in.Adobe.XD.For.UI.UX.Designers.docx)

[2019-12-19 05:02] anu0012 commented on #88
@billsedison Updated.

[getting_started_puppeteer.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3981792/getting_started_puppeteer.md.zip)

[2019-12-19 05:24] billsedison commented on #87
@MCC129 Thanks. Looks better now.

[2019-12-19 05:29] billsedison commented on #88
Thanks.

Can you also add some screenshots for the PDF sample?

[code]

[2019-12-19 05:32] billsedison commented on #107
@nkoleva89 Sorry, it's just an Introductory article, no much technical details. I think it is not that helpful for Thrive.

Sorry I can't accept it.

[2019-12-19 05:52] anu0012 commented on #88
@billsedison It just saves the pdf file in the directory. Nothing much technical. Also in this example the browser window will not open as we have not passed the parameter for it.

[2019-12-19 06:33] nkoleva89 commented on #107
ok

[2019-12-19 07:11] sunhong opened #111 "[$150]THRIVE - Concurrency Patterns - active object & monitor object"
[ActiveObject & MonitorObject.docx](https://github.com/topcoder-platform/thrive-submit/files/3999573/ActiveObject.MonitorObject.docx)

[2019-12-19 08:10] #107 closed

[2019-12-19 08:13] anharismail opened #112 "[$150]THRIVE - Banner Design: Things that Shouldn’t be Forgotten and Tutorial"
Track Category: Design

[Banner Design - Things that Shouldn’t be Forgotten.docx](https://github.com/topcoder-platform/thrive-submit/files/3982385/Banner.Design.-.Things.that.Shouldn.t.be.Forgotten.docx)

[2019-12-19 08:25] tarushi96 commented on #25
Sure, will update soon

[2019-12-19 08:47] kkartunov commented on #32
@rj97 thanks for reporting that! It looks that https://my-static-images.s3.us-east-2.amazonaws.com/article_3_hinge_loss.png is a blank page. Can you provide another?

[2019-12-19 09:02] kkartunov commented on #84
@MCC129 please check your email and accept the invite for our GitHub organization. After that sign to X with your TC handle via https://x.topcoder.com/api/v1/github/teams/registration/2c3c0dcf-837f-4efa-bb12-bcaf29d5e390-1576570413871

[2019-12-19 09:47] kkartunov commented on #42
[500]: Challenge for the updated issue 42 is creating, rescheduling this event<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-19 09:47] kkartunov commented on #42
[500]: Challenge for the updated issue 42 is creating, rescheduling this event<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-19 09:48] kkartunov commented on #42
Contest https://www.topcoder.com/challenges/30111481 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-19 09:48] kkartunov commented on #42
Contest https://www.topcoder.com/challenges/30111481 has been updated - it has been assigned to Yog-Sothoth.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-19 10:22] Rokit12 opened #113 "ReactJS lazy code to code splitting: Is import really important in ReactJS"
[TITLE_ ReactJS lazy code to code splitting_ Is import really important in ReactJS.docx](https://github.com/topcoder-platform/thrive-submit/files/3983008/TITLE_.ReactJS.lazy.code.to.code.splitting_.Is.import.really.important.in.ReactJS.docx)

[2019-12-19 10:25] Rokit12 commented on #113
[TITLE_ ReactJS lazy code to code splitting_ Is import really important in ReactJS (1).docx](https://github.com/topcoder-platform/thrive-submit/files/3983022/TITLE_.ReactJS.lazy.code.to.code.splitting_.Is.import.really.important.in.ReactJS.1.docx)

[2019-12-19 10:32] kavukcutolga commented on #56
I am working on feedbacks please keep the issue open. Will

[2019-12-19 10:33] MCC129 commented on #84
Hi @kkartunov , I don't receive any email of GitHub invitation, can you send again?

[2019-12-19 10:53] kkartunov commented on #87
Contest https://www.topcoder.com/challenges/30111484 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-19 10:53] kkartunov commented on #87
@MCC129, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-19 11:12] kkartunov commented on #84
@MCC129 your TC handle is `M_CC` correct?

[2019-12-19 11:38] MCC129 commented on #84
@kkartunov Yes

[2019-12-19 12:15] kkartunov commented on #104
passed checks

[2019-12-19 12:17] kkartunov commented on #110
passed checks

[2019-12-19 12:18] kkartunov commented on #111
passed checks

[2019-12-19 12:19] kkartunov commented on #112
passed checks

[2019-12-19 12:20] kkartunov commented on #113
@Rokit12 fails "Plagiarism was detected"

[2019-12-19 12:23] #5 closed

[2019-12-19 12:23] #17 closed

[2019-12-19 12:23] #23 closed

[2019-12-19 12:23] #29 closed

[2019-12-19 12:23] #30 closed

[2019-12-19 12:23] #31 closed

[2019-12-19 12:23] #32 closed

[2019-12-19 12:23] #40 closed

[2019-12-19 12:23] #42 closed

[2019-12-19 12:23] #43 closed

[2019-12-19 12:23] #46 closed

[2019-12-19 12:23] #54 closed

[2019-12-19 12:23] #59 closed

[2019-12-19 12:23] #61 closed

[2019-12-19 12:23] #64 closed

[2019-12-19 12:23] #67 closed

[2019-12-19 12:23] #80 closed

[2019-12-19 12:23] #81 closed

[2019-12-19 12:23] #84 closed

[2019-12-19 12:31] Rokit12 commented on #113
Which software for plagiarism?

[2019-12-19 14:45] Rokit12 opened #114 "Important libraries for data scientists: Data analysis made easier"
[TITLE_ Important libraries for data scientists_ Data analysis made easier.docx](https://github.com/topcoder-platform/thrive-submit/files/3984093/TITLE_.Important.libraries.for.data.scientists_.Data.analysis.made.easier.docx)

[2019-12-19 16:05] Rokit12 opened #115 "Programming languages used in Artificial intelligence: Systems made better"
[TITLE_ Programming languages used in Artificial intelligence_ Systems made better (1).docx](https://github.com/topcoder-platform/thrive-submit/files/3984442/TITLE_.Programming.languages.used.in.Artificial.intelligence_.Systems.made.better.1.docx)

[2019-12-19 16:05] Sande3p commented on #6
Hi @anu0012
Thanks for writing about this topic.
Form the very first review, I feet the article is pretty basic & a new developer will need more information to get started with the Azure Cosmos db. Please include these in the articles:
- Info about some of the sidebar options available when a user selects Azure cosmos db in azure https://i.imgur.com/dRvDFBL.png
- How to use the connection string t

[2019-12-19 19:32] rj97 commented on #32
@kkartunov image URL seems to be fine. Due to a PNG image with transparent background, it might be overlapping with your browser tab background.

[2019-12-19 21:27] Dara-K commented on #35
This looks better but you still didn't do all the updates I mentioned:

- Let's add in the article an example of a mobile app flat design
- Let's add all photos to be examples of Flat designs which highlight those points. It's fine if you take them from other sites like Dribbble as long as you give the credit
- I think we can remove "Congratulations to design." from the end. It sounds weird.
- Let

[2019-12-19 21:32] Dara-K commented on #37
Please do the  all the updates as I mentioned above.

The images for grayscale and line art are too abstract now - make them more relevant to design.

[2019-12-19 21:38] Dara-K commented on #68
This looks much better!

_The futuristic design will make everyone's imagination full of curiosity about the future so this design is perfect for representing the latest products or products that will be launched in the future. So you don't need to be afraid to apply futuristic design to the design project that you are working on._
Can you rephrase this to something better? "future "and "futuristi

[2019-12-19 21:47] Dara-K commented on #75
Sorry! We already have an article on this theme on THRIVE and Blog: https://www.topcoder.com/ux-vs-ui-in-mobile-app-development/

[2019-12-19 21:56] Dara-K commented on #91
This article has a good research done, but I don't it will be very helpful for our members for 3 reasons:
1. We are moving away from wireframe challenges (as you saw we have fewer these days)
2. The allowed tools in challenges: Axure, Sketch, XD are not mentioned. Sketch and XD are not truly for prototyping, but the ones listed in the articles are not allowed in competitions.
3. Most of the member

[2019-12-19 22:03] jlhopkins28160 opened #116 "Exploratory Data Analysis with Python"
https://github.com/jlhopkins28160/TopcoderTHRIVE/EDAPython.docx

[2019-12-19 22:06] Dara-K commented on #95
Good points here! Almost convinces me to work more in XD!

_All my judgments changed when I saw the appearance of Adobe XD's very simple and organized interface. I feel that Adobe XD can make users focus on the design to be made instead of being busy looking at various tools or menus that are visible in the interface like **Sketchapp_**
Sketchapp should be named to Sketch

Other than that it looks

[2019-12-19 22:15] Dara-K commented on #98
Overall, this looks like a good plugin list. Can you correct the following items?
1. The Content Generator section text is in indonesian - let's translate to english
2. On Zeplin
_One function of Zeplin is to create a style guide to arrange components, text style, and color. This plugin is a tool for collaboration between designers and developers._
Please switch the order of these 2 sentences. The

[2019-12-19 22:24] Dara-K commented on #101
This is an interesting list. I like it. However as a default PC user, I would like to see more options that are valid for me as well, not only for Mac users. Can you add new/ replace some  existing with some other apps who work nice and save time for windows too? I am sure there are similar tools for those related to designs (especially Aquarelo and Folio)

Thank you!

[2019-12-19 22:34] Dara-K commented on #104
The article looks good Luis. Please do the updates as mentioned in the article comments. Thanks

[2019-12-19 22:49] Dara-K commented on #109
This is more fit for a blog as well, because the tools described in the article are useful for any designer, developer, freelancer, even if he is a beginner or not. Would you like to publish this article on the blog?

[2019-12-19 22:57] Dara-K commented on #110
I find it cool that Edit in Photoshop, from XD opens the PS and allows the edit back and forth, but the same things can be done in Photoshop by simple exporting and importing the image, so the features mentioned in the article belong to Photoshop and are pretty well used by now.

[2019-12-19 23:03] Dara-K commented on #112
Good points in the article. Can you also add some examples of great banner designs? with links to them (they can be taken from other sites like Dribbble, Behance, etc. and add the link to where you took them from).

[2019-12-20 00:18] mahestro commented on #105
Track Category: Design

https://docs.google.com/document/d/1SWOvGRvNs-yPIEFUiXP9FeqT1M75DnZQuhDr_4YB2gA

[2019-12-20 00:20] mahestro opened #117 "[$150]THRIVE - How To Approach The Checkpoint Feedback To Decipher Hidden Codes"

[2019-12-20 00:21] mahestro commented on #104
Thanks for taking a look, Dani, good suggestion! I updated the doc, feel free to check.

[2019-12-20 00:43] hasanozie commented on #68
Hi @Dara-K
I have reduced the word "future" in the text above
[Hasanozie - Graphic Design Trends That Will Become Popular in 2020.docx](https://github.com/topcoder-platform/thrive-submit/files/3986192/Hasanozie.-.Graphic.Design.Trends.That.Will.Become.Popular.in.2020.docx)

[2019-12-20 00:44] hasanozie commented on #68
Is the article on the Thrive Topcoder allowed to take design images from dribbble or behance? because it will make the article easier to understand than using stock photos from unsplash or pexels.

[2019-12-20 00:50] hasanozie commented on #91
Thank you for reviewing this article :)

[2019-12-20 00:50] hasanozie commented on #110
Thank you for reviewing this article :)

[2019-12-20 01:30] anharismail commented on #112
Hi @Dara-K , thanks for your reviews and feedbacks.

I've updated my article:
[Banner Design - Things that Shouldn’t be Forgotten.docx](https://github.com/topcoder-platform/thrive-submit/files/3986276/Banner.Design.-.Things.that.Shouldn.t.be.Forgotten.docx)

[2019-12-20 01:48] hasanozie commented on #95
Hi @Dara-K
I have made improvements to this article
[Hasanozie - Why UI UX Designers Will Fall in Love With Adobe XD.docx](https://github.com/topcoder-platform/thrive-submit/files/3986319/Hasanozie.-.Why.UI.UX.Designers.Will.Fall.in.Love.With.Adobe.XD.docx)

[2019-12-20 01:52] hasanozie commented on #109
Hi @Dara-K
Of course, hopefully this article can be useful for anyone who sees it on the Topcoder blog

[2019-12-20 03:52] hasanozie opened #118 "Benefits of Creating Design Prototype in Adobe XD for UI Design Challenges"
Track Category: Design

[Hasanozie - Benefits of Creating Design Prototype in Adobe XD for UI Design Challenges.docx](https://github.com/topcoder-platform/thrive-submit/files/3989445/Hasanozie.-.Benefits.of.Creating.Design.Prototype.in.Adobe.XD.for.UI.Design.Challenges.docx)

[2019-12-20 03:56] CreeyaSean commented on #70
HI Kiril,

Thank you for the feedback, can we not publish it somewhere in TC's article
pool or a blog or Newsletter, wherever.

Regards,
Creeya

On Wed, Dec 18, 2019 at 3:28 PM Kiril Kartunov <notifications@github.com>
wrote:

[2019-12-20 05:18] hasanozie commented on #98
Hi @Dara-K
Thank you for reviewing this article
I have corrected this article according to the advice you gave.

[Hasanozie - The Best Sketch Plugins for UI UX Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/3986820/Hasanozie.-.The.Best.Sketch.Plugins.for.UI.UX.Designers.docx)

[2019-12-20 07:52] #75 closed

[2019-12-20 07:52] #91 closed

[2019-12-20 07:52] #110 closed

[2019-12-20 07:55] kkartunov commented on #105
@mahestro can you please check this one with the Plagiarism Checker and make it green? I am getting  "Plagiarism was detected" on it.
Thanks

[2019-12-20 07:57] kkartunov commented on #113
@Rokit12 https://www.grammarly.com/plagiarism-checker

[2019-12-20 07:58] kkartunov commented on #114
Fails plagiarism check

[2019-12-20 07:59] kkartunov commented on #115
passed checks

[2019-12-20 07:59] kkartunov commented on #116
@jlhopkins28160 I get "Not Found" on this URL?

[2019-12-20 08:15] tarushi96 commented on #25
[tarushi_pyspark_article.docx](https://github.com/topcoder-platform/thrive-submit/files/3987329/tarushi_pyspark_article.docx)

Hey, Please review the updated document.
I have added sample data to show how data looks after transformation, added the steps more clearly and type of data required.

Regards,
Tarushi

[2019-12-20 08:36] Rokit12 commented on #114
let me fix please, it is just grammar correction

[2019-12-20 08:49] Rokit12 commented on #114
[TITLE_ Important libraries for data scientists_ Data analysis made easier (3).docx](https://github.com/topcoder-platform/thrive-submit/files/3987465/TITLE_.Important.libraries.for.data.scientists_.Data.analysis.made.easier.3.docx)

[2019-12-20 08:59] hasanozie commented on #101
Hi @Dara-K
I have added several Windows applications that can increase designer productivity.

[Hasanozie - List of Applications That Can Increase Graphic Designer Productivity.docx](https://github.com/topcoder-platform/thrive-submit/files/3987505/Hasanozie.-.List.of.Applications.That.Can.Increase.Graphic.Designer.Productivity.docx)

[2019-12-20 09:17] Rokit12 commented on #113
[TITLE_ ReactJS lazy code to code splitting_ Is import really important in ReactJS (1).docx](https://github.com/topcoder-platform/thrive-submit/files/3987569/TITLE_.ReactJS.lazy.code.to.code.splitting_.Is.import.really.important.in.ReactJS.1.docx)

[2019-12-20 09:18] jlhopkins28160 commented on #116
Try this URL: http://github.com/jlhopkins28160/TopcoderTHRIVE/EDAPython.docx.

[2019-12-20 09:27] #92 closed

[2019-12-20 09:34] jlhopkins28160 commented on #116
Exploratory Data Analysis in Python:
[EDAPython.docx](https://github.com/topcoder-platform/thrive-submit/files/3987654/EDAPython.docx)

[2019-12-20 09:35] jlhopkins28160 commented on #116
I uploaded the article directly from my laptop's hard drive. This should help. I checked my repository and the general URL works.

[2019-12-20 09:50] #87 closed

[2019-12-20 10:09] kkartunov commented on #65
@shubham-dota It is all clear. Payment will go to `whoami.kdm`

[2019-12-20 10:09] #65 closed

[2019-12-20 10:19] tarushi96 opened #119 "Understanding Random Forest and Hyper Parameter tuning"
[tarushi_pysark_article2.docx](https://github.com/topcoder-platform/thrive-submit/files/3987817/tarushi_pysark_article2.docx)

Hi,
uploading an article on understanding Random Forests and hyper parameter tuning for them.

[2019-12-20 10:20] #57 closed

[2019-12-20 10:39] kkartunov commented on #113
@Rokit12 your article is < 500 words. We do not count titles, handles etc from header.

[2019-12-20 10:40] kkartunov commented on #114
@Rokit12 still fails

[2019-12-20 10:41] kkartunov commented on #116
@jlhopkins28160 fails check https://www.grammarly.com/plagiarism-checker

[2019-12-20 10:42] kkartunov commented on #119
@tarushi96 fails check https://www.grammarly.com/plagiarism-checker

[2019-12-20 11:03] Rokit12 commented on #113
Sorry, it was error uploading.
[TITLE_ ReactJS lazy code to code splitting_ Is import really important in ReactJS (3).docx](https://github.com/topcoder-platform/thrive-submit/files/3987969/TITLE_.ReactJS.lazy.code.to.code.splitting_.Is.import.really.important.in.ReactJS.3.docx)

[2019-12-20 11:04] Rokit12 commented on #114
How to fix this punctuation and style. I quit here

[2019-12-20 11:19] baldmer commented on #96
Please review this one:

https://docs.google.com/document/d/1AvwPO73ew_Jltj4AYrSXkAqhxDH7In8wYPudAbZXEN8/edit?usp=sharing

I quickly put all the content into a word doc. and it passes the check. Still the format is a Markdown.

[2019-12-20 13:21] hasanozie commented on #108
Hi @kkartunov
I have completed this article :)

[2019-12-20 13:32] iqbalhood opened #120 "[$150]THRIVE - How to prepare for a Design Direction challenge"
Track Category: Design
[Affinity Diagrams for Better Product Design.docx](https://docs.google.com/document/d/1zrlWnPGGRO09_pi4dQ_gNvRc9sHsrPDP_4MmNqkOUuE/edit?usp=sharing)

[2019-12-20 14:23] jlhopkins28160 commented on #116
How do I fix the plagiarism issue? I want any future submissions to have the highest quality.

[2019-12-20 14:23] mahestro commented on #105
Thanks for checking Kiril. I must say that I saw this coming.

Not sure why the tool doesn't show the exact reason why it claims a plagiarism (it seems we have to purchase a pro account for that). However, yesterday when I tested and saw the plagiarism mark too.

I simply removed the quote from Dirk Knemeyer, which I attribute to him in the article. **If you enter the text without that quote it re

[2019-12-20 14:41] Dara-K commented on #68
Yes, for design track we can allow that because it helps underline a point better.  So as long as you give credit to the author/link that's fine.

Looks better now, thanks!

I have removed the second sentence from the Futuristic trend as it was repetitive. Hope that's okay with you.
[Hasanozie.-.Graphic.Design.Trends.That.Will.Become.Popular.in.2020_V2.docx](https://github.com/topcoder-platform/th

[2019-12-20 14:54] hasanozie commented on #68
No Problem, thanks for helping me :)

[2019-12-20 16:24] Rokit12 opened #121 "Importance of LISP and Prolog programming language: Are they needed still worth"
[TITLE_ Importance of LISP and Prolog programming language_ Are they needed still worth.docx](https://github.com/topcoder-platform/thrive-submit/files/3989146/TITLE_.Importance.of.LISP.and.Prolog.programming.language_.Are.they.needed.still.worth.docx)

[2019-12-20 17:28] trivia79 opened #122 "[$150]THRIVE - Power BI: Basic Things You Should Not Missed (Desktop Version)"

[2019-12-20 18:09] KakaIdan commented on #35
This is my revision

[Flat Design Characteristic.docx](https://github.com/topcoder-platform/thrive-submit/files/3989590/Flat.Design.Characteristic.docx)

[2019-12-20 18:18] KakaIdan commented on #37
This is my revision

[Raster and vector differences in graphic design (Revisi).zip](https://github.com/topcoder-platform/thrive-submit/files/3989621/Raster.and.vector.differences.in.graphic.design.Revisi.zip)

[2019-12-20 19:39] jlhopkins28160 commented on #116
Exploratory Data Analysis in Python (Revision)
[EDAPython.docx](https://github.com/topcoder-platform/thrive-submit/files/3989957/EDAPython.docx)

[2019-12-20 20:14] Rokit12 opened #123 "New programming language for developers: Graphical User Interface made easier by Dragon"
[Thrive8.zip](https://github.com/topcoder-platform/thrive-submit/files/3990090/Thrive8.zip)

[2019-12-20 20:17] Rokit12 commented on #123
Here is the corrected article.
[TITLE_ New programming language for developers_  Graphical User Interface made easier by Dragon (1).docx](https://github.com/topcoder-platform/thrive-submit/files/3990098/TITLE_.New.programming.language.for.developers_.Graphical.User.Interface.made.easier.by.Dragon.1.docx)

[2019-12-20 20:19] Rokit12 opened #124 "React JS to include data in suspense: Declaring data to be rendered through API"
[TITLE_ React JS to include data in suspense_ Declaring data to be rendered through API (3).docx](https://github.com/topcoder-platform/thrive-submit/files/3990107/TITLE_.React.JS.to.include.data.in.suspense_.Declaring.data.to.be.rendered.through.API.3.docx)

[2019-12-20 21:32] kkartunov commented on #68
Contest https://www.topcoder.com/challenges/30111606 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-20 21:32] kkartunov commented on #68
Contest https://www.topcoder.com/challenges/30111606 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 00:55] ruchikakhemka opened #125 "What and How of Backpropgation algorithm"
Let's understand what back propagation algorithm is, Why it is required and how it works.

[2019-12-21 01:31] mahestro commented on #106
Track Category: Design

https://docs.google.com/document/d/1yZ-HxtJxGvmuIGBQHgzUXTahLtjYoHNtR_OOtfqeyQI

[2019-12-21 03:39] rafiudd opened #126 "Introduction to Data Visualization with Grafana"
Link: https://docs.google.com/document/d/1rqzw_w7wdEN4lH6VLq6wnvBJWGgDCfwH87bawQTayts/edit?usp=sharing

[2019-12-21 03:52] dewiep925 opened #127 "tutorial on how to make a donut chart"
Track Category : Design
[tutorial donut chart.pdf](https://github.com/topcoder-platform/thrive-submit/files/3991195/tutorial.donut.chart.pdf)
[https://docs.google.com/document/d/1ZKBAlthnYiCtE3awfOBt-dcoEXnkTMKTiEFSDNWqb8o/edit](url)

[2019-12-21 03:57] dewiep925 commented on #127
Track Category : Design
[tutorial donut chart.docx](https://github.com/topcoder-platform/thrive-submit/files/3991035/tutorial.donut.chart.docx)

[2019-12-21 05:18] #106 closed

[2019-12-21 05:19] mahestro opened #128 "[$150]THRIVE - Marvelapp Masterclass Part 1: 6 Reasons Why It's Worth Creating a Good Workflow Experience"
Track Category: Design

https://docs.google.com/document/d/1cfvnCAy5l1yf_SVykcotCLRof27db1OyntntcmxgOOU/edit

[2019-12-21 05:20] mahestro opened #129 "[$150]THRIVE - Marvelapp Masterclass Part 2: 6 Tricks To Improve Your Workflow Experience"
Track Category: Design

https://docs.google.com/document/d/1PHwycUFI4zGVD_oTl_PpxoLHdC6SErk7BaH73PK2JLE

[2019-12-21 05:20] kkartunov commented on #105
@mahestro yeah, indeed without the quotes it passes. Ok let's proceed I guess...

[2019-12-21 05:25] kkartunov commented on #118
passed checks

[2019-12-21 05:27] kkartunov commented on #120
passed checks

[2019-12-21 05:28] mahestro opened #130 "[$150]THRIVE - Four UX Design Artifacts That Will Help You Winning Design Challenges"
Work In Progress.

[2019-12-21 05:30] kkartunov commented on #124
passed checks

[2019-12-21 05:32] mahestro commented on #105
Thank you! Nazdrave :)

[2019-12-21 05:32] kkartunov commented on #127
passed checks

[2019-12-21 05:33] kkartunov commented on #128
passed checks

[2019-12-21 05:44] #114 closed

[2019-12-21 05:45] kkartunov commented on #113
@Rokit12 still under 500.

[2019-12-21 05:46] kkartunov commented on #113
@Rokit12 please make sure **all your submissions** pass the requirements!
If you keep submitting spam you will be banned from the repo.

[2019-12-21 05:47] kkartunov commented on #96
passes checks now

[2019-12-21 05:47] #77 closed

[2019-12-21 05:47] #76 closed

[2019-12-21 05:52] kkartunov opened #131 "[$75]THRIVE - Help Center 1"
Scope:
https://help.topcoder.com/hc/en-us/articles/360008875654-User-Settings-and-Profile-Upgrade
https://help.topcoder.com/hc/en-us/articles/360008608974-New-Submission-Services-and-Process-
https://help.topcoder.com/hc/en-us/articles/225540208-Topcoder-Integration-with-the-Topcoder-Chrome-Extension
https://help.topcoder.com/hc/en-us/articles/219070807-New-Member-Search-is-Here-
https://help.topc

[2019-12-21 05:54] kkartunov commented on #131
Contest https://www.topcoder.com/challenges/30111623 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 05:56] kkartunov commented on #131
Contest https://www.topcoder.com/challenges/30111623 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 05:58] kkartunov opened #132 "[$75]THRIVE - Help Center 2"
Scope:
https://help.topcoder.com/hc/en-us/articles/219069687-Contact-Support
https://help.topcoder.com/hc/en-us/articles/219070037-Join-us-on-Social-Media
https://help.topcoder.com/hc/en-us/articles/360006805933-Sub-Processors
https://help.topcoder.com/hc/en-us/articles/115004029388-Cheating-Infractions-Process
https://help.topcoder.com/hc/en-us/articles/115003788208-Community-Code-of-Conduct
http

[2019-12-21 06:00] kkartunov commented on #132
Contest https://www.topcoder.com/challenges/30111624 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:00] kkartunov opened #133 "[$75]THRIVE - Help Center 3"
Scope:

https://help.topcoder.com/hc/en-us/articles/217482058-Payment-Methods
https://help.topcoder.com/hc/en-us/articles/217482128-Member-Photo-Guidelines
https://help.topcoder.com/hc/en-us/articles/217482118-Topcoder-Account-Policies
https://help.topcoder.com/hc/en-us/articles/218564888-Reset-Password-Forgot-Handle-username-
https://help.topcoder.com/hc/en-us/articles/217481388-Design-Challenge-

[2019-12-21 06:01] kkartunov commented on #132
Contest https://www.topcoder.com/challenges/30111624 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:02] kkartunov commented on #133
Contest https://www.topcoder.com/challenges/30111625 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:02] kkartunov commented on #133
Contest https://www.topcoder.com/challenges/30111625 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:03] kkartunov opened #134 "[$75]THRIVE - Help Center 4"
Scope:
https://help.topcoder.com/hc/en-us/articles/217481458-Special-Screening-Considerations-in-Design-Challenges
https://help.topcoder.com/hc/en-us/articles/217959577-How-to-Pass-Screening-in-Design-Challenges
https://help.topcoder.com/hc/en-us/articles/217959537-How-to-Read-Your-Design-Scorecard
https://help.topcoder.com/hc/en-us/articles/219240807-Multi-Round-Checkpoint-Design-Challenges
https

[2019-12-21 06:04] kkartunov opened #135 "[$75]THRIVE - Help Center 5"
Scope:

https://help.topcoder.com/hc/en-us/articles/115015896208-Reappeal-Policy
https://help.topcoder.com/hc/en-us/articles/231966907-Usable-Code-in-Dev-Challenges
https://help.topcoder.com/hc/en-us/articles/222579588-Topcoder-Review-Process
https://help.topcoder.com/hc/en-us/articles/219240797-Development-Reliability-Ratings-and-Bonuses
https://help.topcoder.com/hc/en-us/articles/217481568-Devel

[2019-12-21 06:04] kkartunov commented on #135
Contest https://www.topcoder.com/challenges/30111626 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:04] kkartunov commented on #135
Contest https://www.topcoder.com/challenges/30111626 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:05] kkartunov commented on #134
Contest https://www.topcoder.com/challenges/30111627 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:05] kkartunov opened #136 "[$75]THRIVE - Help Center 6"
Scope:

https://help.topcoder.com/hc/en-us/articles/360000620567-Solutions-for-Practice-Problems
https://help.topcoder.com/hc/en-us/articles/115006351368-Write-Problems-for-Topcoder
https://help.topcoder.com/hc/en-us/articles/115006169307-The-Room-Summary-Window
https://help.topcoder.com/hc/en-us/articles/115006349148-The-Problem-Arguments-Window
https://help.topcoder.com/hc/en-us/articles/1150061

[2019-12-21 06:05] kkartunov commented on #136
Contest https://www.topcoder.com/challenges/30111628 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:06] kkartunov commented on #136
Contest https://www.topcoder.com/challenges/30111629 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:06] kkartunov commented on #136
Contest https://www.topcoder.com/challenges/30111629 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:06] kkartunov commented on #135
Contest https://www.topcoder.com/challenges/30111630 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:08] kkartunov commented on #136
Contest https://www.topcoder.com/challenges/30111631 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:10] kkartunov opened #137 "[$75]THRIVE - Help Center 7"
Scope:

https://help.topcoder.com/hc/en-us/articles/115006162987-The-Algorithm-Competition-Arena
https://help.topcoder.com/hc/en-us/articles/115006343428-How-to-Compete-in-SRM-Algorithm-Competitions
https://help.topcoder.com/hc/en-us/articles/115006162527-SRM-Overview
https://help.topcoder.com/hc/en-us/articles/217481618-Ratings
https://help.topcoder.com/hc/en-us/articles/360005693574-What-is-QA-

[2019-12-21 06:11] kkartunov commented on #137
Contest https://www.topcoder.com/challenges/30111632 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:11] kkartunov commented on #137
Contest https://www.topcoder.com/challenges/30111633 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:12] kkartunov commented on #137
Contest https://www.topcoder.com/challenges/30111634 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:12] kkartunov commented on #137
Contest https://www.topcoder.com/challenges/30111634 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:13] kkartunov opened #138 "[$75]THRIVE - Help Center 8"
Scope:

https://help.topcoder.com/hc/en-us/articles/360000519348-Copilot-Incentives
https://help.topcoder.com/hc/en-us/articles/360000306107-Copilot-Playbook
https://help.topcoder.com/hc/en-us/articles/226614848-Copilot-Reviewer-Certification-Program
https://help.topcoder.com/hc/en-us/articles/115000362288-Managing-Tasks
https://help.topcoder.com/hc/en-us/articles/115002380967-How-To-Make-Payments

[2019-12-21 06:13] kkartunov commented on #138
Contest https://www.topcoder.com/challenges/30111635 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:13] kkartunov commented on #138
Contest https://www.topcoder.com/challenges/30111635 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:14] kkartunov opened #139 "[$75]THRIVE - Help Center 9"
Scope:

https://help.topcoder.com/hc/en-us/articles/360005894393-Reviewer-Qualification-Requirements
https://help.topcoder.com/hc/en-us/articles/222503827-Development-Review-Role-Responsibilities
https://help.topcoder.com/hc/en-us/articles/226492668-Topcoder-Scorecards
https://help.topcoder.com/hc/en-us/articles/360005694174-Topcoder-Event-Terms-and-Conditions
https://help.topcoder.com/hc/en-us/ar

[2019-12-21 06:15] kkartunov commented on #139
Contest https://www.topcoder.com/challenges/30111636 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:15] DjakaTechnology opened #140 "Write Code Efficiently with Live Template - Android Studio"
[Write Code Efficiently with Live Template - Android Studio.docx](https://github.com/topcoder-platform/thrive-submit/files/3991192/Write.Code.Efficiently.with.Live.Template.-.Android.Studio.2.docx)

[2019-12-21 06:15] kkartunov commented on #138
Contest https://www.topcoder.com/challenges/30111637 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:17] kkartunov commented on #139
Contest https://www.topcoder.com/challenges/30111638 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 06:19] kkartunov commented on #139
Contest https://www.topcoder.com/challenges/30111638 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-21 07:16] DjakaTechnology commented on #140
Track: Development

[2019-12-21 07:50] hasanozie commented on #108
Hi @kkartunov
This article is ready to check plagiarism and the number of words in it.
Thanks :)

[2019-12-21 08:42] hasanozie opened #141 "[$150]THRIVE - Evaluate Your Submission Design Before Uploading it to UI Design Challenges"
Track Category: Design

[Hasanozie - Evaluate Your Submission Design Before Uploading it to UI Design Challenges.docx](https://github.com/topcoder-platform/thrive-submit/files/3991424/Hasanozie.-.Evaluate.Your.Submission.Design.Before.Uploading.it.to.UI.Design.Challenges.docx)

[2019-12-21 08:48] iqbalhood opened #142 "101 About Dart Programming Language"

[2019-12-21 08:49] iqbalhood opened #143 "[WIP] Getting Started - Mobile Development with Flutter SDK"
Work In Progress.

[2019-12-21 08:49] iqbalhood commented on #142
Work In Progress.

[2019-12-21 09:07] iqbalhood opened #144 "[WIP] Start competing in development track with Ionic Framework"
Work In Progress

[2019-12-21 09:46] Rokit12 commented on #123
Hello, kindly check the document below. Regards.
[TITLE_ New programming language for developers_  Graphical User Interface made easier by Dragon (3).docx](https://github.com/topcoder-platform/thrive-submit/files/3991260/TITLE_.New.programming.language.for.developers_.Graphical.User.Interface.made.easier.by.Dragon.3.docx)

[2019-12-21 10:01] Rokit12 commented on #121
Hello, Kindly i have advanced the document.
[TITLE_ Importance of LISP and Prolog programming language_ Are they needed still worth (3).docx](https://github.com/topcoder-platform/thrive-submit/files/3991267/TITLE_.Importance.of.LISP.and.Prolog.programming.language_.Are.they.needed.still.worth.3.docx)

[2019-12-21 10:18] wahyu-ts opened #145 "Utilizing The Adobe XD Shortcut To Speed Up Your Design Workflow"
Work In Progress

[2019-12-21 10:35] trivia79 commented on #122
Please finished article here:

https://docs.google.com/document/d/1WrHPEOYkaCYtHWH8KKdI8WP7WvY0BpnC8sF_64Pb2Eo/edit?usp=sharing

[2019-12-21 10:38] irfanrosandi opened #146 "Shared Ingradients of Great UI Design"
https://docs.google.com/document/d/1r7V92-wPU-WJWcR6tUNAiAv7A6DDOo69b6i-jXWfqSk/edit?usp=sharing

[2019-12-21 11:50] trivia79 opened #147 "[$150]THRIVE - Creating Charts with Power BI Vs. Tableau"

[2019-12-21 12:11] Dara-K commented on #35
Sorry, but this is still not detailed enough.

[2019-12-21 13:12] anharismail opened #148 "[WIP] Logo Design: Things that Shouldn’t be Forgotten"
On Progress

[2019-12-21 14:17] hasanozie opened #149 "Various Types of Graphic Design That You Need to Know"
Track Category: Design

[Hasanozie - Various Types of Graphic Design That You Need to Know.docx](https://github.com/topcoder-platform/thrive-submit/files/3993807/Hasanozie.-.Various.Types.of.Graphic.Design.That.You.Need.to.Know.docx)

[2019-12-21 14:33] PereViki opened #150 "[$150]THRIVE - My Experience with Talent as a Service"
Hey guys,

I wrote this article for the request from Jessie about what TaaS means for the community. You can find it [here](https://docs.google.com/document/d/1Y5gqZnak0mtj9-1wHR3VxAuqZxSaoiWiqZoW4s1_f1Q/edit?usp=sharing).

Cheers,
PereViki

[2019-12-21 14:34] PereViki commented on #150
Not track specific, so belongs to Topcoder

[2019-12-21 15:20] PereViki opened #151 "[$150]THRIVE - 5 Books Every Designer Should Read"
Work in progress

[2019-12-21 18:35] jlhopkins28160 commented on #116
Exploratory Data Analysis in Python (Revised):
[EDAPython.docx](https://github.com/topcoder-platform/thrive-submit/files/3991696/EDAPython.docx)

[2019-12-21 18:38] jlhopkins28160 opened #152 "Introduction to Regression Modeling with Weka"
Work in Progress

[2019-12-21 18:39] jlhopkins28160 opened #153 "Math with Python via SymPy"
Work in Progress

[2019-12-21 18:39] jlhopkins28160 opened #154 "[WIP] Implementing Algorithms with Python"
Work in Progress

[2019-12-22 00:48] mahestro commented on #117
Track Category: Design

https://docs.google.com/document/d/1q7j1YgKW2IFd3ZxOn1QM929L3t5LE91Mi--bc80YfkM

[2019-12-22 10:27] KakaIdan commented on #35
Can you explain where my mistake is?

[2019-12-22 12:42] Dara-K commented on #35
There are several aspects that are not well done here:
1. the photos are of flat design, but not related to web design or mobile
2. the flat design has more than 3 valuable characteristics
3. the description under each point it is relevant, but can have more strong points/ arguments made
4. the phrasing needs a lot of improvement
5. the style itself, of flat design, although still dominant, is alr

[2019-12-22 16:17] kkartunov commented on #117
passed checks

[2019-12-22 16:20] kkartunov commented on #140
passed checks

[2019-12-22 16:22] kkartunov commented on #141
passed checks

[2019-12-22 16:28] kkartunov commented on #150
@PereViki thanks for the submission!
For Thrive we look for more technical articles. Probably this one better for the blog. Will ask and let you know.

Kiril

[2019-12-22 16:31] kkartunov commented on #123
passed checks

[2019-12-22 16:32] kkartunov commented on #121
passed checks

[2019-12-22 16:34] kkartunov commented on #116
@jlhopkins28160 still getting the failed check.

[2019-12-22 17:02] PereViki commented on #150
Hi @kkartunov,
Since Thrive has at least under the Design track subthemes like member stories and member interviews, I believe these kind of articles has a rigth to be there. In addition, all my blog articles are used as well by Thrive. Before I would go on with writing more articles, I’d like to know what fits to the needs.

Thanks,
Viki

[2019-12-22 20:01] kkartunov commented on #130
@mahestro forgot the attachment here?

[2019-12-22 20:03] kkartunov commented on #122
@trivia79 plagiarism check fails

[2019-12-22 20:36] mahestro commented on #130
Track Category: Design

https://docs.google.com/document/d/1hUon0Qm-quDWMO8MpXGG79Uv0ErlDIfAi2Xc3YNWb4o

[2019-12-22 20:38] mahestro opened #155 "[$150]THRIVE - Empathy Is The New Black: Why Is It Important In Design Challenges"
Work In Progress

[2019-12-22 20:40] mahestro opened #156 "[$150]THRIVE - Code-Thinking Techniques That Can Give You Advantage In Design Challenges"
Work In Progress

[2019-12-22 23:46] jlhopkins28160 commented on #116
Exploratory Data Analysis in Python (2nd revision)
[EDAPython.docx](https://github.com/topcoder-platform/thrive-submit/files/3993145/EDAPython.docx)

[2019-12-23 02:00] hasanozie opened #157 "Mandatory Questions For Clients Before Starting Graphic Design Project"
Track Category: Design

[Hasanozie - Mandatory Questions For Clients Before Starting Graphic Design Project.docx](https://github.com/topcoder-platform/thrive-submit/files/3993355/Hasanozie.-.Mandatory.Questions.For.Clients.Before.Starting.Graphic.Design.Project.docx)

[2019-12-23 02:00] #108 closed

[2019-12-23 03:21] trivia79 commented on #122
How did you checked it?
I copy the content of the article and pasted on grammarly. It passed the plagiarism detection

[2019-12-23 05:16] trivia79 commented on #122
Kindly check again the link below:

https://docs.google.com/document/d/1WrHPEOYkaCYtHWH8KKdI8WP7WvY0BpnC8sF_64Pb2Eo/edit?usp=sharing

As per checking, it passed the Plagiarism Checker.

[2019-12-23 07:30] kkartunov commented on #122
@trivia79 passes checks now

[2019-12-23 07:36] kkartunov commented on #157
passed checks

[2019-12-23 07:41] #35 closed

[2019-12-23 07:44] kkartunov commented on #116
@jlhopkins28160 sorry but still red for me

[2019-12-23 07:44] #113 closed

[2019-12-23 14:09] hasanozie opened #158 "[WIP] Create Various Types of Graphic Designs Using Adobe Illustrator"
WIP

[2019-12-23 17:02] wahyu-ts commented on #145
Track Category: Design

https://docs.google.com/document/d/18Wu_eqXKZydqwB52rMy0cCO18rVg77cPHXxVZQQFWUs/edit?usp=sharing

[2019-12-23 17:14] iversonLv commented on #131
@kkartunov
https://help.topcoder.com/hc/en-us/articles/225540208-Topcoder-Integration-with-the-Topcoder-Chrome-Extension
I checked the chrome extension is not available? Click the link is broken
![image](https://user-images.githubusercontent.com/4952611/71369733-9faf6800-25e6-11ea-9dfd-7ed010ffa82b.png)

[2019-12-23 17:20] iversonLv commented on #131
@kkartunov can't not change the label to tcx_ReadyForReview

[2019-12-23 18:02] iversonLv commented on #132
https://help.topcoder.com/hc/en-us/articles/219070037-Join-us-on-Social-Media
Google + is no longer available, suggest remove

[2019-12-23 18:52] iversonLv commented on #133
https://help.topcoder.com/hc/en-us/articles/217481408-Policy-for-Stock-Artwork-in-Design-Submissions
Public Domain Archive link to http://publicdomainarchive.com/ is broken

[2019-12-23 18:56] iversonLv commented on #132
Ready for review

[2019-12-23 18:56] iversonLv commented on #133
Ready for review

[2019-12-23 20:06] s-kaur commented on #157
Thank you for submitting the articles, there are some interesting points here however this topic probably not the best fit for Topcoder, we don't have this kind of model of direct communication to client this far more beneficial for freelancer, and not bringing much value to the thrive content, and I'd like to add few tips here, let's focus on quality of writing instead of quantity of articles sub

[2019-12-23 20:16] jlhopkins28160 commented on #116
Exploratory Data Analysis in Python (3rd revision):
[EDAPython.docx](https://github.com/topcoder-platform/thrive-submit/files/3996162/EDAPython.docx)

[2019-12-23 20:16] s-kaur commented on #101
Thank you for the articles, this is a very broad topic and there is no depth of point just a base paragraph of each app about, and this can be found easily anywhere in any design blog as well, we want a quality writing, something exciting to read but also bringing unique value, especially to Topcoder community, as these content are meant to them.

[2019-12-23 21:32] mahestro commented on #155
Track Category: Design

https://docs.google.com/document/d/13e-q3vcsZxMDRoVafF1kpgZvqVt4c9Civ1zkcadSGmI

[2019-12-23 22:26] amany9000 opened #159 "[$150]THRIVE - Blockchain Prerequisites - Cryptography Concepts"
Development
[blockchain_prerequisites_cryptography.docx](https://github.com/topcoder-platform/thrive-submit/files/4003499/blockchain_prerequisites_cryptography.docx)

[2019-12-24 00:46] #158 closed

[2019-12-24 00:56] hasanozie commented on #157
Hi @s-kaur
Thank you for reviewing this article :)

[2019-12-24 02:41] iversonLv commented on #134
https://help.topcoder.com/hc/en-us/articles/360005460954-Hackathon-Starter-Kit
this is a red row in excel which you mentioned will be skipped.

[2019-12-24 02:41] iversonLv commented on #134
Ready for review

[2019-12-24 03:42] iversonLv commented on #135
Read for review

[2019-12-24 04:48] hasanozie opened #160 "[$150]THRIVE - How Beginner Designers Can Win UI Design Challenges in the Topcoder Community"
Track Category: Design

[Hasanozie - How Beginner Designers Can Win UI Design Challenges in the Topcoder Community.docx](https://github.com/topcoder-platform/thrive-submit/files/3998133/Hasanozie.-.How.Beginner.Designers.Can.Win.UI.Design.Challenges.in.the.Topcoder.Community.docx)

[2019-12-24 08:50] iversonLv commented on #136
https://help.topcoder.com/hc/en-us/articles/360000620567-Solutions-for-Practice-Problems
1. this article author is not created in contentful Content Author
I use TonyJ for placeholder now
2. this article images domain is 'https://help.topcoder.com/hc/....'

https://help.topcoder.com/hc/en-us/articles/115006351368-Write-Problems-for-Topcoder
https://help.topcoder.com/hc/en-us/articles/115006169307-

[2019-12-24 08:50] iversonLv commented on #136
Ready for review

[2019-12-24 09:36] iversonLv commented on #137
https://help.topcoder.com/hc/en-us/articles/360005693574-What-is-QA-
this has been created, my draft is more good layout

[2019-12-24 09:36] iversonLv commented on #137
Ready for review

[2019-12-24 09:41] shubham-dota opened #161 "Understanding AWS concepts."
Track Category: Development
[Understanding AWS concepts..docx](https://github.com/topcoder-platform/thrive-submit/files/3997875/Understanding.AWS.concepts.docx)
[AWS image resource.zip](https://github.com/topcoder-platform/thrive-submit/files/3997879/AWS.image.resource.zip)

[2019-12-24 13:25] iversonLv commented on #138
Ready for review

[2019-12-24 13:47] wahyu-ts opened #162 "[WIP] 5 Things I Learn As A Beginner Competitor On The Design Challenge At Topcoder"
Work In Progress

[2019-12-24 14:01] yopi2207 opened #163 "How To Create Clock Icon Using Affinity Designer"
Track Category: Design

[How To Create Clock Icon Using Affinity Designer.pdf](https://github.com/topcoder-platform/thrive-submit/files/3998445/How.To.Create.Clock.Icon.Using.Affinity.Designer.pdf)

[2019-12-24 14:06] anu0012 opened #164 "Getting started with MongoDB"
Category: Development

[mongodb_basics.md.zip](https://github.com/topcoder-platform/thrive-submit/files/3998466/mongodb_basics.md.zip)

[2019-12-24 15:16] iversonLv commented on #139
1. https://help.topcoder.com/hc/en-us/articles/226492668-Topcoder-Scorecards
There is same URL from contentful for this article which content is not same as the article
https://www.topcoder.com/thrive/articles/Topcoder%20Scorecards

1. https://help.topcoder.com/hc/en-us/articles/227024108-Topcoder-Development-Starter-Pack-Description
Last Docs url is 404

[2019-12-24 15:16] iversonLv commented on #139
Ready for review

[2019-12-24 15:19] iversonLv commented on #131
Ready for review

[2019-12-24 15:55] iversonLv commented on #131
For https://help.topcoder.com/hc/en-us/articles/217482078-Non-Disclosure-Agreement-NDA-

Nick comment:
![image](https://user-images.githubusercontent.com/4952611/71419046-8111a580-26a8-11ea-9f77-e43ee9b0d0e6.png)

Please clarify, what should I do for this article

[2019-12-24 15:57] iversonLv commented on #131
Above link,  for "Competition Non-Disclosure Agreement", it's PDF, do you mean I need grab the content to our contentful article?

[2019-12-24 19:57] PereViki commented on #151
Hello guys,

Here is my second article about 5 must-read design books to read for every designer. Though you might find this as well not technical enough, please consider, that designers need to polish their soft skills as well, and it is important to improve that part of their knowledge as well, not only software skills and things like that. I hope you'll like it.

https://docs.google.com/documen

[2019-12-25 00:38] mahestro commented on #156
Track Category: Design

https://docs.google.com/document/d/1KnRZTZKGTntFxMljOvh2ebH6H433fmK6OClsQlg31aI

[2019-12-25 00:39] mahestro opened #165 "[$150]THRIVE - Using Gitlab To Back Up & Sync Your Work In Design Challenges For Free"
Work In Progress.

[2019-12-25 06:43] sunhong opened #166 "[$150]THRIVE - Concurrency Patterns - Immutable Object & Double-checked locking"
Updated
[Immutable Object & Double-checked locking.docx](https://github.com/topcoder-platform/thrive-submit/files/4015008/Immutable.Object.Double-checked.locking.docx)

[2019-12-25 10:16] PereViki opened #167 "[$150]THRIVE - Card Sorting - The UX Tool that Helped Me in Winning My First Design Challenge on Topcoder"

[2019-12-25 11:31] #157 closed

[2019-12-25 11:35] fajarmln commented on #149
I've read the article and the knowledge inside this article is very basic and not meet the THRIVE standard, sorry, but this article will be rejected.

[2019-12-25 11:35] #149 closed

[2019-12-25 11:38] fajarmln commented on #148
This topic is very general in the internet and might not fit for THRIVE standard, please consider it before you start working on this topic.

[2019-12-25 11:41] fajarmln commented on #163
Rejected Review, the reason:

- Clock icon tutorial is very general and lots of it already available in the internet as an article or video tutorial

- Affinity designer is not standard tool that we use in Topcoder

[2019-12-25 11:41] #163 closed

[2019-12-25 11:52] fajarmln commented on #141
You need to explain how to perform the evaluation for each point on your article, please fix it.

[2019-12-25 12:09] fajarmln commented on #105
The article is interesting, but IMHO, it needs more content on how to handle the challenge that lack of branding, and how to apply client branding to a challenge.

[2019-12-25 12:11] fajarmln commented on #109
Sorry, we already have this kind of article since 2018:

https://www.topcoder.com/designing-your-time-for-topcoder-challenges/

content feels really similar, i will reject it.

[2019-12-25 12:11] #109 closed

[2019-12-25 12:13] #101 closed

[2019-12-25 12:22] fajarmln commented on #112
This will be better if the article gets revise as a tutorial on how to design a great and perfect banner design instead of just explaining things in general.

[2019-12-25 12:27] fajarmln commented on #117
Even though the article is interesting enough, we already have similar content to review feedback here:

https://www.topcoder.com/how-to-review-feedback-and-then-apply-it-revealed/

I will reject the article, thanks.

[2019-12-25 12:33] fajarmln commented on #118
This article needs more research on how doing prototyping in adobe xd can bring benefit for user in ui design challenges? what is the differences if we do the prototyping in marvel instead of xd? why prototyping is important? this article lacks of curiousity and exploration and only focusing on how to create xd prototype which not really useful for design challenge at topcoder since we use marvel

[2019-12-25 12:37] fajarmln commented on #120
This kind of article can be found a lot in the internets. You need to provide some insight on how this can be useful for members when doing or participating in a design challenge, otherwise, this is not really useful for our members.

[2019-12-25 12:43] fajarmln commented on #127
We already have a tutorial on how to create donut chart in our "Topcoder Design Newsletter - September 15th", the newsletter will be imported to THRIVE later, so this tutorial will be rejected due to content similarity.

[2019-12-25 12:43] #127 closed

[2019-12-25 12:51] rafiudd commented on #126
Hi, can you check it again please @kkartunov

[2019-12-25 13:23] #148 closed

[2019-12-25 14:54] hasanozie commented on #141
Hi bang @fajarmln
Thank you for reviewing this article
I have corrected this article according to the advice you gave.

[Hasanozie - Evaluate Your Submission Design Before Uploading it to UI Design Challenges New.docx](https://github.com/topcoder-platform/thrive-submit/files/4000554/Hasanozie.-.Evaluate.Your.Submission.Design.Before.Uploading.it.to.UI.Design.Challenges.New.docx)

[2019-12-25 15:23] mahestro commented on #117
Hi Fajar,

Thanks for reviewing the article. I didn't know of the existence of a similar article, great one, I love the experience stories.

I will kindly ask you for reconsideration based on the fact that there are aspects that - humbly - make my article unique. My approach, as you would have probably read, is a practical, technical and psychological exploration that justifies why it works and ho

[2019-12-25 15:27] mahestro commented on #105
Hi Fajar,

Thanks for the review, glad you find it interesting and useful.

I agree with your comment, as a matter of fact, I'm writing a full article about handling open branding challenges. I didn't want to include it in this same article because it's already quite a long read. This open branding topic is something that can be also deeply explored! I wonder if that will be ok if we link these tw

[2019-12-25 16:59] hasanozie commented on #118
Hi bang @fajarmln
Thank you for reviewing this article :)
I have corrected this article according to the advice you gave.

[Hasanozie - Benefits of Creating Design Prototype in Adobe XD for UI Design Challenges New.docx](https://github.com/topcoder-platform/thrive-submit/files/4000649/Hasanozie.-.Benefits.of.Creating.Design.Prototype.in.Adobe.XD.for.UI.Design.Challenges.New.docx)

[2019-12-25 21:45] mahestro commented on #165
Track Category: Design

https://docs.google.com/document/d/1StAYLiJ_VqUfllcFBOlWCd1-djkBimDyznC6PY8U4JE

[2019-12-25 21:48] mahestro opened #168 "[$150]THRIVE - Branding 101 - Part 2: How To Crack The Branding Of An Application Design Challenge"
Work In Progress.

[2019-12-25 23:12] Dara-K commented on #98
Anima is a toolkit that has several plugins in it namely Stacks, Padding, Prototype, and others. Can you update the Anima part to reflect that? The rest looks good.

Thank you.

[2019-12-25 23:48] Dara-K commented on #112
Thanks for the update.

How about designing a great banner through all the steps he mentioned above @fajarmln ? this way the reader will have the theory and the practice part with example below for each point. The banner will be build from scratch step by step.

[2019-12-26 03:12] rasreee opened #169 "[WIP] Algorithm: Backtracking"
Work in progress.

[2019-12-26 03:43] hasanozie commented on #98
Hi @Dara-K
I have added an explanation of the prototype, collaborate and handoff plugins contained in Anima.

[Hasanozie - The Best Sketch Plugins for UI UX Designers New.docx](https://github.com/topcoder-platform/thrive-submit/files/4001264/Hasanozie.-.The.Best.Sketch.Plugins.for.UI.UX.Designers.New.docx)

[2019-12-26 07:23] tcNickolas opened #170 "[$150]THRIVE - Solving problems using constraint logic programming"
[Solving problems using constraint logic programming.docx](https://github.com/topcoder-platform/thrive-submit/files/4007735/Solving.problems.using.constraint.logic.programming.docx)

[Banner](https://user-images.githubusercontent.com/10113024/71552145-b6b9d580-29ab-11ea-83c4-d7eaf12bc7ab.png)

Please let me know if you need any components in a different format.

[2019-12-26 08:00] hasanozie opened #171 "[$150]THRIVE - How To Create The Best Design For UI Design Challenges Even With Tight Deadlines"
Track Category: Design

[Hasanozie - How To Create The Best Design For UI Design Challenges Even With Tight Deadlines.docx](https://github.com/topcoder-platform/thrive-submit/files/4001826/Hasanozie.-.How.To.Create.The.Best.Design.For.UI.Design.Challenges.Even.With.Tight.Deadlines.docx)

[2019-12-26 10:31] billsedison commented on #56
@kkartunov How is the progress?

[2019-12-26 10:32] billsedison commented on #88
@anu0012 I mean can you open the pdf file and take a screenshot, then include the screenshot image in your article?

[2019-12-26 10:40] billsedison commented on #111
@sunhong Can you add more concrete examples (like some code snippets) to the Monitor Object model?

[2019-12-26 10:45] billsedison commented on #115
The article doesn't help.

For the Java code, it just shows a simple sum of weighted factors.

For the C++ code, the `mlModel()` function is even empty. And there are some syntax erros in the given C++ code.

Actually, from the entire articfle, I can't see any reason or benefit that C++/Java has in the artificial intelligence.

[2019-12-26 10:46] #115 closed

[2019-12-26 10:50] billsedison commented on #121
This article doesn't help either. I don't see any obvious importance or advantages of LISP or Prolog.

If you want to write such articles, please compare them with other popular languages (like python, R etc) and highlight their advantages or importance.

[2019-12-26 10:50] #121 closed

[2019-12-26 10:58] billsedison commented on #122
@trivia79 Good article! Some minor typos

1.
![image](https://user-images.githubusercontent.com/5657467/71473178-fbf5d000-2810-11ea-8941-ded49013ae81.png)

*let's* --> *let*

2.
![image](https://user-images.githubusercontent.com/5657467/71473191-057f3800-2811-11ea-8190-50e310dff187.png)

*you're problem* --> *your problem*

3.
![image](https://user-images.githubusercontent.com/5657467/71473235-281

[2019-12-26 11:00] Rokit12 commented on #121
cool

[2019-12-26 11:02] anu0012 commented on #88
@billsedison Updated.

[getting_started_puppeteer.md.zip](https://github.com/topcoder-platform/thrive-submit/files/4002317/getting_started_puppeteer.md.zip)

[2019-12-26 11:05] billsedison commented on #123
@Rokit12 You copied or translated the article from here http://www.zijin.net/news/tech/1119061.html (in Chinese)

See your code
[code]
And the sample code in the Chinese article
![image](https://user-images.githubusercontent.com/5657467/71473587-7f63f100-2812-11ea-97f6-303d9e0c1e7d.png)

You changed the function name from `one()` `two()` `three()` to `two()` `four()` `eight()` then try to cheat th

[2019-12-26 11:11] Rokit12 commented on #123
I know nothing about chinese, i actually referenced the articles where i learned about it here. The dragon site only i used. Kindly check here:https://dragon-lang.org/. The programming language original author site please

[2019-12-26 11:17] billsedison commented on #124
Duplicated with https://github.com/topcoder-platform/thrive-submit/issues/66

You just removed the code snippet that I pointed out is plagiarism.

Anyway, the format of the overall article looks pretty bad and the sentences are very oral (like gonna, wanna etc).

And for the content looks not good, you should write more concrete examples for ReactJS and axio.

[2019-12-26 11:17] #124 closed

[2019-12-26 11:20] billsedison commented on #140
@DjakaTechnology

Looks the GIF doesn't play in the MS Word, can you please provide the GIF separately, so that we can include in the published article? Thanks

![image](https://user-images.githubusercontent.com/5657467/71474054-af13f880-2814-11ea-84ea-e3bd0cb44f2b.png)

[2019-12-26 11:24] billsedison commented on #123
@Rokit12 Ok, but anyway why did you change function names in the sample code from `one()` `two()` `three()` to `two()` `four()` `eight()`.

The code snippet you provided is very similar to the Chinese site.

And even the calculator screenshot, it is not from you. As per the rule, if you cited the images from elsewhere, you should provide the link.

[2019-12-26 11:26] Rokit12 commented on #123
The code is from the coding i was trying out in my program. But it is okay, i think coincidence.

[2019-12-26 11:27] #123 closed

[2019-12-26 11:33] fajarmln commented on #105
That works, as long as you have the follow-up articles to manage both sides, then the topic will be complete

[2019-12-26 11:34] billsedison commented on #88
Cool, thank you. It's better now.

[2019-12-26 11:34] fajarmln commented on #105
I will close and pass review this one once the follow up article is ready for us

[2019-12-26 11:35] fajarmln commented on #112
that's good idea! cannot wait to see the complete article with this new improvement

[2019-12-26 11:41] fajarmln commented on #118
its' not good enough. You only revise one or two sentences about the Marvel and go with the same content again. FYI, Marvel have a desktop and also a mobile app that you can use for creating the prototype, so your articles can be misleading, also, the content details of this article can be found easily in the internet, so no value for THRIVE. I will reject this article, thank you.

[2019-12-26 11:41] #118 closed

[2019-12-26 12:06] anu0012 commented on #88
Thanks

[2019-12-26 16:11] trivia79 commented on #122
Minor typos resolved :)

I also added a sentence at the last paragraph.

Please check.

[2019-12-26 16:51] sunhong commented on #111
Thanks for your feedback.
Here is the updated article:
[ActiveObject & MonitorObject.docx](https://github.com/topcoder-platform/thrive-submit/files/4003020/ActiveObject.MonitorObject.docx)

[2019-12-26 20:07] Dara-K commented on #112
Great! Can you update the article this way @anharismail ?

Also 2 points that you're missing here is the Subtitles/ Subheaders and the Call to Actions/ buttons that show up frequently in the banners.

[2019-12-26 20:10] kkartunov commented on #104
Contest https://www.topcoder.com/challenges/30111920 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-26 20:10] kkartunov commented on #104
Contest https://www.topcoder.com/challenges/30111920 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-26 20:14] kkartunov commented on #88
Contest https://www.topcoder.com/challenges/30111921 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-26 20:14] kkartunov commented on #88
Contest https://www.topcoder.com/challenges/30111921 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-26 20:15] kkartunov commented on #151
@PereViki please, share public link to the doc we can't access it. Thanks.

[2019-12-26 20:17] kkartunov commented on #171
passed checks

[2019-12-26 20:18] kkartunov commented on #166
passed checks

[2019-12-26 20:19] kkartunov commented on #165
passed checks

[2019-12-26 20:21] kkartunov commented on #164
passed checks

[2019-12-26 20:22] kkartunov commented on #161
passed checks

[2019-12-26 20:24] kkartunov commented on #160
passed checks

[2019-12-26 20:25] PereViki commented on #151
https://docs.google.com/document/d/18xv0YcYay6pnUomoJeWGd7M63nXkKEFPh2WnojRoFJQ

I think this should work now. Please check. Thanks!

[2019-12-26 20:27] kkartunov commented on #156
passed checks

[2019-12-26 20:28] kkartunov commented on #155
PASSED CHECKS

[2019-12-26 20:30] kkartunov commented on #151
@PereViki great. Thanks! Passed check now.

[2019-12-26 20:32] #119 closed

[2019-12-26 20:34] kkartunov commented on #116
@jlhopkins28160 sorry but it fails again. Just closing this as it won't work this way. Try another topic

[2019-12-26 20:34] #116 closed

[2019-12-26 20:36] kkartunov commented on #126
@rafiudd it fails now the Plagiarism check. Sorry, closing this as it won't work this way.

[2019-12-26 20:36] #126 closed

[2019-12-26 20:43] kkartunov commented on #68
@hasanozie can't access the banner image for this one. Please, make it available to me

[2019-12-26 20:49] Dara-K commented on #68
@kkartunov  Please note that this article will go to the blog - not THRIVE.

[2019-12-26 20:50] Dara-K commented on #95
Thank you!

[2019-12-26 21:45] amany9000 commented on #159
@kkartunov , I have updated the doc, please check.
I have written it myself and it did pass the plag checker 3 days ago.

[2019-12-26 22:03] kkartunov commented on #11
@Rokit12 your articles will be no more considered for review. Please, stop submitting to this challenge. Your further submissions will be ignored.

[2019-12-26 22:03] #11 closed

[2019-12-26 22:04] kkartunov commented on #11
@Rokit12 you have waisted enough of the time people dedicate to this project. This is the result https://github.com/topcoder-platform/thrive-submit/issues?q=is%3Aissue+author%3ARokit12+is%3Aclosed

[2019-12-26 22:05] kkartunov commented on #168
@mahestro article?

[2019-12-26 22:32] mahestro commented on #168
Track Category: Design

https://docs.google.com/document/d/1dAM626WkDirMQXm0Ge_5lPxpLnsTu-sTFSroVgqh-NE

[2019-12-26 22:34] Dara-K commented on #109
Good catch @fajarmln , I forgot about that article. Sorry @hasanozie!

[2019-12-26 22:45] Dara-K commented on #120
I believe the Affinity Diagrams are a part of the Design Direction challenges as deliverables, but in addition to them so are the user flow diagrams, sitemaps, quick wireframes of specific or potentially complex screens, UX research,best practices documentation, and user profiles.

Perhaps you could transform this article into how to prepare for a Design Direction challenge? and write about the ot

[2019-12-26 22:56] jlhopkins28160 opened #172 "[$150]THRIVE - An Introduction to R and R Studio"
Category: Data Science
[IntoToR.docx](https://github.com/topcoder-platform/thrive-submit/files/4003589/IntoToR.docx)

[2019-12-26 23:05] #154 closed

[2019-12-26 23:14] mahestro commented on #105
Thanks for the consideration. Updated this article and created the follow up.

**Updated**
- https://docs.google.com/document/d/1SWOvGRvNs-yPIEFUiXP9FeqT1M75DnZQuhDr_4YB2gA

**Follow up**
- https://github.com/topcoder-platform/thrive-submit/issues/168
- https://docs.google.com/document/d/1dAM626WkDirMQXm0Ge_5lPxpLnsTu-sTFSroVgqh-NE

[2019-12-27 00:33] hasanozie commented on #68
Hi @kkartunov
I have updated the banner image link for this article.

[Hasanozie.-.Graphic.Design.Trends.That.Will.Become.Popular.in.2020_V2.docx](https://github.com/topcoder-platform/thrive-submit/files/4003710/Hasanozie.-.Graphic.Design.Trends.That.Will.Become.Popular.in.2020_V2.docx)

[2019-12-27 01:29] jlhopkins28160 commented on #153
Category: Development
[SymPy.docx](https://github.com/topcoder-platform/thrive-submit/files/4003774/SymPy.docx)

[2019-12-27 02:16] davidhumanize opened #173 "The Advantage of Design Challenge at Topcoder"
Track Category : Design

[david.humanize - The Advantage of Design Challenge at Topcoder.docx](https://github.com/topcoder-platform/thrive-submit/files/4003846/david.humanize.-.The.Advantage.of.Design.Challenge.at.Topcoder.docx)

[2019-12-27 05:39] iversonLv commented on #131
Update according to How To Transfer Help Article to Contentful.docx
1. https://help.topcoder.com/hc/en-us/articles/360008875654-User-Settings-and-Profile-Upgrade
related articles: Community Release Notes (not available at contentful && excel to create)

2. https://help.topcoder.com/hc/en-us/articles/360008608974-New-Submission-Services-and-Process-
inner content: 'font/stock photo/icon policies' (

[2019-12-27 06:16] iversonLv commented on #132
1. https://help.topcoder.com/hc/en-us/articles/360006805933-Sub-Processors
related articles: Getting Started With Topcoder(not available at contentful && excel to create)

2. https://help.topcoder.com/hc/en-us/articles/115003788208-Community-Code-of-Conduct
related articles: Hackathon Starter Kit (not available at contentful && **excel row marks red**)

3. https://help.topcoder.com/hc/en-us/articl

[2019-12-27 06:42] wahyu-ts commented on #145
Hi @kkartunov,

Kindly check again the link below:

https://docs.google.com/document/d/18Wu_eqXKZydqwB52rMy0cCO18rVg77cPHXxVZQQFWUs/edit?usp=sharing

As per checking, it passed the Plagiarism Checker.

[2019-12-27 06:45] iversonLv commented on #133
1. https://help.topcoder.com/hc/en-us/articles/217482128-Member-Photo-Guidelines
related articles: Hackathon Starter Kit (not available at contentful && excel row marks red)

@kkartunov Please review again

- Updated tags,
- Updated recommended article(some top3 can't be found note above and links 4-5)
- Updated article inner link which is related to helpcenter

[2019-12-27 06:48] Rokit12 commented on #11
apologies.

[2019-12-27 06:49] DjakaTechnology commented on #140
@billsedison here's the gif
[gif.zip](https://github.com/topcoder-platform/thrive-submit/files/4004508/gif.zip)

[2019-12-27 07:31] iversonLv commented on #134
1. https://help.topcoder.com/hc/en-us/articles/219122667-Formatting-Your-Submission-for-Design-Challenges
Content inner link:  https://help.topcoder.com/hc/en-us/sections/203967808-Design-Copyright-Font-and-Icon-Policies (not available at contentful && excel to create)

@kkartunov Please review again

- Updated tags,
- Updated recommended article(some top3 can't be found note above and links 4-5)

[2019-12-27 08:03] iversonLv commented on #135
1. https://help.topcoder.com/hc/en-us/articles/115015896208-Reappeal-Policy
related articles: Hackathon Starter Kit (not available at contentful && excel row marks red)

2. https://help.topcoder.com/hc/en-us/articles/231966907-Usable-Code-in-Dev-Challenges
related articles: Hackathon Starter Kit (not available at contentful && excel row marks red)

3. https://help.topcoder.com/hc/en-us/articles/22

[2019-12-27 09:00] iversonLv commented on #136
1. https://help.topcoder.com/hc/en-us/articles/360000620567-Solutions-for-Practice-Problems
related articles: Hackathon Starter Kit (not available at contentful && excel row marks red)

2. https://help.topcoder.com/hc/en-us/articles/115006351368-Write-Problems-for-Topcoder
related articles: Hackathon Starter Kit (not available at contentful && excel row marks red)

@kkartunov Please review again

[2019-12-27 09:36] iversonLv commented on #137
1. https://help.topcoder.com/hc/en-us/articles/360005693574-What-is-QA-
related articles: Hackathon Starter Kit (not available at contentful && excel row marks red)

2. https://help.topcoder.com/hc/en-us/articles/360005571773-Writing-Challenge-Specs
related articles: Getting Started With Topcoder(not available at contentful && excel to create)

@kkartunov Please review again

- Updated tags,
- Upd

[2019-12-27 09:58] iversonLv commented on #138
1. https://help.topcoder.com/hc/en-us/articles/360000305907-The-Basics-of-Problem-Writing
related articles: Hackathon Starter Kit (not available at contentful && excel row marks red)

@kkartunov Please review again

- Updated tags,
- Updated recommended article(some top3 can't be found note above and links 4-5)
- Updated article inner image source using contentful domain
- Updated article inner li

[2019-12-27 10:36] iversonLv commented on #139
1. https://help.topcoder.com/hc/en-us/articles/360005694174-Topcoder-Event-Terms-and-Conditions
related articles: Hackathon Starter Kit (not available at contentful && excel row marks red)

2. https://help.topcoder.com/hc/en-us/articles/360005694174-Topcoder-Event-Terms-and-Conditions
related articles: Hackathon Starter Kit (not available at contentful && excel row marks red)

@kkartunov Please re

[2019-12-27 10:36] SathyaJayabal opened #174 "[$150]THRIVE - A Beginner’s Guide to Automated Testing"

[2019-12-27 11:02] trivia79 opened #175 "[$150]THRIVE - Tableau: Basic Things You Should Not Missed (Desktop Version)"

[2019-12-27 11:31] SathyaJayabal commented on #174
Track: QA
https://drive.google.com/open?id=1jFdtqzc739aLbIIv0ufDAW20cpte9PdVAKgUNu9ca7E

[2019-12-27 11:33] SathyaJayabal commented on #174
Ready for review

Note:unable to add/edit labels

[2019-12-27 11:34] PereViki commented on #167
@kkartunov
Hello Kiril,

I finished the article:
https://docs.google.com/document/d/1F7TXArl676Mqaye-zrdj7zGtFlOcznwpOC1Ms6XNtWw/edit?usp=sharing

Looking forward to your thoughts.

Cheers,
Viki

[2019-12-27 12:58] MCC129 opened #176 "[$150]THRIVE - Linux Programming - dive into the select model"
Development
[Linux Programming - dive into the select model.docx](https://github.com/topcoder-platform/thrive-submit/files/4005320/Linux.Programming.-.dive.into.the.select.model.docx)

[2019-12-27 13:02] davidhumanize commented on #173
Hi guys!
If you had any feedback please comment, i will improving this article as best as i can.

[2019-12-27 13:03] MCC129 commented on #92
Hi @kkartunov , thanks for publishing my article. https://www.topcoder.com/thrive/articles/Linux%20Programming%20-%20Getting%20Started%20with%20the%20Select%20Model

I just see the format of the code in the article is messed. Do you want to fix them?

Like in C language, each include should be in a separate row.
![image](https://user-images.githubusercontent.com/58676992/71518112-2a94a900-28ec-11e

[2019-12-27 13:07] Dara-K commented on #68
Thanks @hasanozie ! I will share this with our editor to grammar check it and then we will publish it.

[2019-12-27 13:11] hasanozie commented on #68
You're welcome @Dara-K
I hope this article can be useful for all designers :)