[2019-12-27 15:47] Dara-K commented on #98
Thanks @hasanozie! This is ready to go out.

_I have updated 2-3 words here and it's perfect.  (Stack, Padding, etc. are features not plugins)_

[Hasanozie.-.The.Best.Sketch.Plugins.for.UI.UX.Designers.New.V3.docx](https://github.com/topcoder-platform/thrive-submit/files/4005694/Hasanozie.-.The.Best.Sketch.Plugins.for.UI.UX.Designers.New.V3.docx)

[2019-12-27 16:45] hasanozie commented on #98
Thank you @Dara-K

[2019-12-27 17:38] kkartunov commented on #95
Contest https://www.topcoder.com/challenges/30111994 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-27 17:38] kkartunov commented on #95
Contest https://www.topcoder.com/challenges/30111994 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-27 17:38] kkartunov commented on #98
Contest https://www.topcoder.com/challenges/30111995 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-27 17:38] kkartunov commented on #98
Contest https://www.topcoder.com/challenges/30111995 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-27 17:45] kkartunov commented on #176
passed checks

[2019-12-27 17:46] kkartunov commented on #174
passed checks

[2019-12-27 17:47] kkartunov commented on #173
passed checks

[2019-12-27 17:49] kkartunov commented on #172
passed checks

[2019-12-27 17:50] kkartunov commented on #168
passed checks

[2019-12-27 17:51] kkartunov commented on #167
passed checks

[2019-12-27 17:52] kkartunov commented on #159
passes checks now @amany9000

[2019-12-27 17:54] kkartunov commented on #145
@wahyu-ts passes checks now

[2019-12-27 19:19] bhagvank opened #177 "Quantum Computing for Beginners"
created the topic

[2019-12-27 19:20] #177 closed

[2019-12-27 20:09] Dara-K commented on #151
@PereViki I like the article, but it would be nice if we could read more about the content of each book on each point (as the technical part/ exact content). Do you think you can update it that way?

[2019-12-27 20:14] trivia79 commented on #147
Please see the article here:
https://docs.google.com/document/d/10R5-i_v-ho0UQVbvR90C1vXeSU7L6qaH_bOGTasfRNM/edit?usp=sharing

[2019-12-27 22:05] anu0012 opened #178 "Getting started with Markdown"
Category: Development

[getting_started_markdown.md.zip](https://github.com/topcoder-platform/thrive-submit/files/4006351/getting_started_markdown.md.zip)

[2019-12-28 04:52] hasanozie opened #179 "[$150]THRIVE - How to Create UI Design that Prioritizes the Best User Flow"
Track Category: Design

[Hasanozie - How to Create UI Design that Prioritizes the Best User Flow.docx](https://github.com/topcoder-platform/thrive-submit/files/4006720/Hasanozie.-.How.to.Create.UI.Design.that.Prioritizes.the.Best.User.Flow.docx)

[2019-12-28 06:06] GJAYA00 opened #180 "Ignore this ticket"
--

[2019-12-28 06:12] jganeshram opened #181 "Test Automation - Connect Android and iOS Device Wireless"
[Test Automation - Connect Android and iOS Device Wireless.docx](https://github.com/topcoder-platform/thrive-submit/files/4006759/Test.Automation.-.Connect.Android.and.iOS.Device.Wireless.docx)

[2019-12-28 06:14] #180 closed

[2019-12-28 06:14] GJAYA00 commented on #180
Created from different account which is not intended

[2019-12-28 06:52] kkartunov commented on #178
passed checks

[2019-12-28 06:53] kkartunov commented on #179
passed checks

[2019-12-28 06:57] kkartunov commented on #181
Fails check

[2019-12-28 07:00] kkartunov commented on #147
passed checks

[2019-12-28 07:18] dewiep925 opened #182 "Why Choose Topcoder ?"
Track Category : Topcoder
https://docs.google.com/document/d/1_UgadcYmAKJUvEmo7D5GOaxpKk2OP9jjiL1QAFfcXCI/edit

[2019-12-28 07:49] kkartunov commented on #182
@dewiep925 can't access this one

[2019-12-28 08:14] dewiep925 commented on #182
Oh, I'm sorry @kkartunov .. Maybe try this one
[Why Choose Topcoder ?.pdf](https://github.com/topcoder-platform/thrive-submit/files/4006856/Why.Choose.Topcoder.pdf)

[2019-12-28 09:45] iversonLv commented on #131
2. created  'font/stock photo/icon policies' (not available at contentful && excel to create)
https://www.topcoder.com/thrive/articles/Design%20Copyright,%20Font,%20and%20Icon%20Policies
https://app.contentful.com/spaces/piwi0eufbb2g/entries/38Nc1xmQlivgZCSQk7WU8T

@kkartunov
This article is under /section not /article, should I keep it under article? Btw, no author for this article, should use to

[2019-12-28 09:53] PereViki commented on #151
Hi @Dara-K,

Thank you for reviewing my article. I am happy to improve the content according to your opinion, though my intention was not writing book reviews, as that would be much longer, probably one of theses books would take up one article each. Do you have any suggestions how I should summarize them better (specially the loooong textbook)? Also taking into account that the plagiarism checker

[2019-12-28 15:17] hasanozie opened #183 "The Best Personal Branding for UI / UX Designers"
Track Category: Design

[Hasanozie - The Best Personal Branding for UI  UX Designers.docx](https://github.com/topcoder-platform/thrive-submit/files/4007210/Hasanozie.-.The.Best.Personal.Branding.for.UI.UX.Designers.docx)

[2019-12-28 18:44] Dara-K commented on #129
Hi! I have added comments in the doc to update.

[2019-12-28 18:45] Dara-K commented on #128
Hi! I have added comments in the doc to update.

[2019-12-28 21:18] ishitakanani opened #184 "An introduction to Game development using UNITY"
Work Completed.

[2019-12-28 23:07] iqbalhood opened #185 "[$150]THRIVE - 101 About Dart Programming Language"
@kkartunov
Hello Kiril,

I finished the article:

Track : Development

Article link:
https://docs.google.com/document/d/1fxT7jBH1sJKdXZ6d9RV7WnCEyKvv8HX2P4lNdCifwjQ/edit?usp=sharing

[2019-12-28 23:08] #142 closed

[2019-12-29 07:26] SathyaJayabal opened #186 "[WIP] Introduction to Automation Testing : Writing your first automation script"
Track:QA

[2019-12-29 08:00] asdspal opened #187 "Hyperparameter Tuning algorithms"
This article includes a small introduction to some algorithms used in hyperparameter tuning and their implementation with available tools & libraries.
The HTML file includes code blocks and figures also apart from text content so, I've included a separate txt file containing only text for easier plagiarism check.

[Thrive submission_ Hyperparamter tuning.docx](https://github.com/topcoder-platform/

[2019-12-29 08:10] kavukcutolga commented on #56
I will finish it before 31/12

[2019-12-29 08:23] #186 closed

[2019-12-29 12:31] kkartunov commented on #170
passed checks

[2019-12-29 12:32] Dara-K commented on #167
Good article, but I suggest you add few more sentences on the specific content of each book.

[2019-12-29 12:32] kkartunov commented on #183
passed checks

[2019-12-29 12:34] kkartunov commented on #185
passed checks

[2019-12-29 12:38] kkartunov commented on #187
@asdspal please submit a doc/pdf/md file with the article. I can't process your HTML

[2019-12-29 12:56] kkartunov commented on #150
Contest https://www.topcoder.com/challenges/30112033 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 12:56] kkartunov commented on #150
Contest https://www.topcoder.com/challenges/30112033 has been updated - it has been assigned to PereViki.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:26] #138 closed

[2019-12-29 13:27] kkartunov commented on #138
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111635<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:32] #68 closed

[2019-12-29 13:32] #88 closed

[2019-12-29 13:32] #104 closed

[2019-12-29 13:32] #131 closed

[2019-12-29 13:32] #133 closed

[2019-12-29 13:32] #134 closed

[2019-12-29 13:32] #135 closed

[2019-12-29 13:33] kkartunov commented on #135
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111626<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:33] kkartunov commented on #104
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111920<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:33] kkartunov commented on #134
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111627<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:33] kkartunov commented on #68
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111606<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:33] kkartunov commented on #88
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111921<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:33] kkartunov commented on #131
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111623<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:33] kkartunov commented on #133
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111625<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:33] #150 closed

[2019-12-29 13:34] kkartunov commented on #150
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112033<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:39] hasanozie opened #188 "Why Your Design Is Not Chosen As Winner In The UI Design Challenge"
Track Category: Design

[Hasanozie - Why Your Design Is Not Chosen As Winner In The UI Design Challenge.docx](https://github.com/topcoder-platform/thrive-submit/files/4008108/Hasanozie.-.Why.Your.Design.Is.Not.Chosen.As.Winner.In.The.UI.Design.Challenge.docx)

[2019-12-29 13:42] #132 closed

[2019-12-29 13:43] kkartunov commented on #132
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111624<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:45] #139 closed

[2019-12-29 13:46] kkartunov commented on #139
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111638<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:50] #137 closed

[2019-12-29 13:50] kkartunov commented on #137
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111634<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 13:55] #136 closed

[2019-12-29 13:56] kkartunov commented on #136
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111629<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-29 14:03] iqbalhood opened #189 "[$150]THRIVE - How Topcoder Design Bootcamp Boost my UI/UX design skills"
@kkartunov
Hello Kiril,

I finished the article:

Track : Design

Article:
https://docs.google.com/document/d/1fqzjdH1vVnx7_4YWg_IeWwwzF58KzHzmpVkhJemxA7Y/edit?usp=sharing

[2019-12-29 14:49] kavukcutolga commented on #56
@billsedison @kkartunov , please see the updates to the article. Please also note that the article not only explains the Saga patterns but also suggests two different frameworks for the implementation. So, I agree it should explain the Saga pattern clearly but the intention is not deep-diving into the pattern

[2019-12-29 16:28] asdspal commented on #187
Here is the pdf file
[hyper parameter tuning.pdf](https://github.com/topcoder-platform/thrive-submit/files/4008260/hyper.parameter.tuning.pdf)

[2019-12-29 17:01] iqbalhood opened #190 "[$150]THRIVE - GETTING STARTED WITH PROGRESSIVE WEB APP (PWA)"
@kkartunov
Hello Kiril,

I finished the article:

Track : Development

Article link:
https://docs.google.com/document/d/1HHsZ2MrJJjDM4N7nL5tXNhE603rRl0Dmn4vhIObHUOg/edit?usp=sharing

[2019-12-29 17:11] bhagvank opened #191 "Quantum computing for beginners"
This article is for beginners who want to know about quantum computing.

My article link below:
https://docs.google.com/document/d/1p3b09KhLpypAwipQGI4oOpAu2cKw7XaR5FJPWfp5KZ0/edit?usp=sharing

[2019-12-29 20:23] dewiep925 commented on #182
@kkartunov  would you please check my article
[Why Choose Topcoder ?.pdf](https://github.com/topcoder-platform/thrive-submit/files/4008523/Why.Choose.Topcoder.pdf)

[2019-12-29 20:31] amany9000 opened #192 "[$150]THRIVE - Blockchain Prerequisites - Computer Networking"
Track: Development
[blockchain_prerequisites_networking.docx](https://github.com/topcoder-platform/thrive-submit/files/4013582/blockchain_prerequisites_networking.docx)

[2019-12-30 04:37] hasanozie opened #193 "How to Make the Best Form for UI / UX Design"
Track Category: Design

[Hasanozie - How to Make the Best Form for UI  UX Design.docx](https://github.com/topcoder-platform/thrive-submit/files/4010373/Hasanozie.-.How.to.Make.the.Best.Form.for.UI.UX.Design.docx)

[2019-12-30 07:12] #144 closed

[2019-12-30 08:09] abilabbas opened #194 "Topcoder Phenomenon to Change Your Way of Life"
Track: Topcoder

https://docs.google.com/document/d/1Hl5zlCEiJMk9oB3hMlUfevcwoNT_srjKIzHoilg9rik/edit?usp=sharing

[2019-12-30 10:15] trivia79 commented on #175
Please see finished article in this link:

https://docs.google.com/document/d/1uWct7dhP4VvVmbRGljUmzMyhmDFs_YvPuPLI5YQAP2Q/edit?usp=sharing

[2019-12-30 10:55] iqbalhood opened #195 "The International Design World Cup - TCO Final!"
Track : Design
Work In Progress

Article :
https://docs.google.com/document/d/1J85MdxAoFHUKm8tuBwgUYeagySDWIgKCwTGsXRTecfI/edit?usp=sharing

[2019-12-30 12:54] kkartunov commented on #25
Contest https://www.topcoder.com/challenges/30112075 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:54] kkartunov commented on #72
Contest https://www.topcoder.com/challenges/30112077 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:54] kkartunov commented on #94
Contest https://www.topcoder.com/challenges/30112076 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:54] kkartunov commented on #25
@tarushi96, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:54] kkartunov commented on #72
@shubham-dota, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:54] kkartunov commented on #94
@shubham-dota, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:55] kkartunov commented on #96
Contest https://www.topcoder.com/challenges/30112078 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:55] kkartunov commented on #96
Contest https://www.topcoder.com/challenges/30112078 has been updated - it has been assigned to baldiyo.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:55] kkartunov commented on #100
Contest https://www.topcoder.com/challenges/30112079 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:55] kkartunov commented on #100
Contest https://www.topcoder.com/challenges/30112079 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:56] kkartunov commented on #172
Contest https://www.topcoder.com/challenges/30112080 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:56] kkartunov commented on #172
@jlhopkins28160, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-30 12:58] #181 closed

[2019-12-30 13:15] kkartunov commented on #191
@bhagvank we have a similar article already in Thrive. Thank You.

[2019-12-30 13:15] kkartunov commented on #191
https://www.topcoder.com/quantum-computing-for-beginners-what-you-need-to-know/

[2019-12-30 13:15] #191 closed

[2019-12-30 13:17] kkartunov commented on #175
passed checks

[2019-12-30 13:21] mahestro commented on #129
Doc updated. Thanks for the magic 🎉

[2019-12-30 13:21] mahestro commented on #128
Doc updated. Thanks for the magic 🎉

[2019-12-30 13:24] kkartunov commented on #182
Hi @dewiep925,
Thank You for your article. We are looking for more technical orientated articles for Thrive that is why can't accept it. We will consider it for the blog and eventually let you know.

[2019-12-30 13:24] #182 closed

[2019-12-30 13:25] kkartunov commented on #194
@abilabbas ,
Thank You for your article. We are looking for more technical orientated articles for Thrive that is why can't accept it. We will consider it for the blog and eventually let you know.

[2019-12-30 13:25] #194 closed

[2019-12-30 13:26] kkartunov commented on #190
passed checks

[2019-12-30 13:27] kkartunov commented on #189
passed checks

[2019-12-30 13:29] kkartunov commented on #188
passed checks

[2019-12-30 13:31] kkartunov commented on #187
@asdspal fails plagiarism check

[2019-12-30 14:22] iqbalhood opened #196 "[$150]THRIVE - 5 Simple Tips to Make Your Design Outstanding for Client Review"
@kkartunov
Hello Kiril,

I finished the article:

Track : Design

Article:

https://docs.google.com/document/d/1tBD0GHo15utPM6ARrmkQIDzi8h6eGpUjT2VwAH1pmqI/edit?usp=sharing

Thank You :)

[2019-12-30 15:34] aashutosh1803 opened #197 "Perfect UX/UI design Indian Recipe"
Please find attached document
It belongs to `Design` track

[Perfect UX RECIPE.docx](https://github.com/topcoder-platform/thrive-submit/files/4010183/Perfect.UX.RECIPE.docx)

[2019-12-30 16:46] PereViki commented on #167
@Dara-K

I performed the following modifications:
- I linked the challenge
- I included the advantages of the tool

What I haven't. done myself, is changing the title to the one you suggested "All about Card Sorting Tool/Technique and how it can help you win challenges", as I am afraid, that it is not a general thing to do in any challenge to win it, so it may be misleading. Though if you still th

[2019-12-30 17:40] asdspal commented on #187
Are you using Grammarly plagiarism checker?
This is the result of directly uploading the text-content.txt on grammarly
![grammarly](https://user-images.githubusercontent.com/10200210/71593304-84e67180-2b59-11ea-9bed-e254c4e1f7f8.jpg)

[2019-12-30 18:48] jganeshram opened #198 "Screen Recording Tools"
[Screen Recording Tools.docx](https://github.com/topcoder-platform/thrive-submit/files/4010681/Screen.Recording.Tools.docx)
This document contains details of various screen recording tools which helps during QA

[2019-12-30 19:24] jganeshram opened #199 "TestNG Testing Framework"
[TestNG Testing Framework.docx](https://github.com/topcoder-platform/thrive-submit/files/4010774/TestNG.Testing.Framework.docx)
This document contains about TestNG Framwork

[2019-12-30 20:19] jganeshram opened #200 "Title: Cucumber Tool - BDD Behavior Driven Development"
[Cucumber Tool - BDD Behavior Driven Development.docx](https://github.com/topcoder-platform/thrive-submit/files/4010906/Cucumber.Tool.-.BDD.Behavior.Driven.Development.docx)
Attached document about Cucumber Tool BDD

[2019-12-30 20:19] anu0012 opened #201 "Getting started with Firebase Cloud Firestore using Python"
Category: Development

[getting_started_firebase.md.zip](https://github.com/topcoder-platform/thrive-submit/files/4010909/getting_started_firebase.md.zip)

[2019-12-30 21:10] gadzzzz opened #202 "[$150]THRIVE - Tips and tricks for testing Salesforce"
Category: QA
[Title_ Tips and tricks for testing Salesforce.docx](https://github.com/topcoder-platform/thrive-submit/files/4011038/Title_.Tips.and.tricks.for.testing.Salesforce.docx)

[2019-12-30 21:32] quaddock opened #203 "[$150]THRIVE - Transfer Learning in Natural Language Processing"
**Title**: Transfer Learning in Natural Language Processing
**Category**: Data Science

Please find the document at:-
[Google Docs Link](https://docs.google.com/document/d/1oHn-_4pH9OHzlmIhMGa8NU4o87MqctRsz-JuP2bJMro/edit?usp=sharing)

[2019-12-30 22:05] Dara-K commented on #167
It's better now, thank you for the updates.

[2019-12-30 22:30] Dara-K commented on #156
Good article! I added some comments in the doc.

[2019-12-30 22:46] Dara-K commented on #145
Hi @wahyu-ts!
Having an article about Adobe XD shortcuts is not something that can't be quickly learned from the tool itself. They are practical indeed, but not a fit for the THRIVE design articles. Sorry.

[2019-12-30 22:52] Dara-K commented on #37
@KakaIdan
Please do the  all the updates as I mentioned above.

There are many points from those I mentioned who are missing.

[2019-12-31 00:48] jlhopkins28160 opened #204 "R and R Studio: Regression"
Track: Data Science
[Regression.docx](https://github.com/topcoder-platform/thrive-submit/files/4011621/Regression.docx)

Track: Data Science (Updated today for Appeals phase):
[Regression.docx](https://github.com/topcoder-platform/thrive-submit/files/4016193/Regression.docx)

Updated to rectify any issues with plagiarism.

[2019-12-31 03:54] iqbalhood opened #205 "[$150]THRIVE - Be a Problem Solver!"
@kkartunov
Hello Kiril,

I finished the article:

Track : Design

Article :
https://docs.google.com/document/d/1TDD0tia5FLXSm_GYXWSvuQm1_dydAaUGsRau_-JsDzI/edit?usp=sharing

Thank You :)

[2019-12-31 04:43] riskaand opened #206 "Payment Method Technology"
Learn from many things that happened in 2010, where most online shopping websites experienced some bad things. For example, the occurrence of fraud using credit cards by people who were not responsible. The lack of security posted on online shopping websites, so that leakage occurs during payment checkout. This error occurs because they do not use payment services or it called Escrow Service (ES).

[2019-12-31 04:44] riskaand opened #207 "Online Transportation Technology"
Along with the change in times, Transportation technology in Indonesia
increase very significantly. It proven, with the presence one of transportation technology which make the users feel easier to go to some places with no trouble or buy something without go anywhere. Or we can write “ Just Sit and Enjoy it”

The concrete example is Taxibike or we can call it with Transportation Online. It began

[2019-12-31 04:51] fajarmln commented on #207
This content is not related to THRIVE, make sure to read the requirement about article topics that we can accept for THRIVE before start writing an article, thank you.

[2019-12-31 04:51] #207 closed

[2019-12-31 04:51] fajarmln commented on #206
This content is not related to THRIVE, make sure to read the requirement about article topics that we can accept for THRIVE before start writing an article, thank you.

[2019-12-31 04:51] #206 closed

[2019-12-31 05:08] riskaand opened #208 "Payment Method Technology"
Learn from many things that happened in 2010, where most online shopping websites experienced some bad things. For example, the occurrence of fraud using credit cards by people who were not responsible. The lack of security posted on online shopping websites, so that leakage occurs during payment checkout. This error occurs because they do not use payment services or it called Escrow Service (ES).

[2019-12-31 05:08] #208 closed

[2019-12-31 05:09] fajarmln commented on #189
make sure to check my feedback on the article and apply it, thank you

[2019-12-31 05:09] riskaand opened #209 "Payment Method Technology"
Hi
I just finished my article
Please check this out..

Title : Payment Method Technology
Track Category : Data Scientist
https://docs.google.com/document/d/1SiKTR-V5a8HJODJC0uL5BbohL13haLs8eHpMY0_SS7M/edit?usp=sharing

[2019-12-31 05:16] riskaand opened #210 "Online Transportation Technology"
Hello
I finished My Article

Tittle : Online Transport Technology
Track Category : Data Scient

https://docs.google.com/document/d/1oKwGeUUROKkYiDjMeP4eVoLVFjmz110RgSSBtrYGT_o/edit?usp=sharing

[2019-12-31 05:21] riskaand commented on #209
Title: Payment Method Technology

Author: Riska Andria

Track Category : Data Scient
SubCategory :  Payment Method
Tags :  Payment Method, Escrow Service, Shopping Online
Read Time : 5 Minutes

Banner Image :
https://medium.com/@simpledex.org/decentralized-escrow-service-what-is-it-cd976b2c755

Content :
Learn from many things that happened in 2010, where most online shopping websites experienced

[2019-12-31 05:26] hasanozie opened #211 "How To Make UI / UX Designs For Foldable Smartphones That Have Bigger Screens"
Track Category: Design

[Hasanozie - How To Make UI UX Designs For Foldable Smartphones That Have Bigger Screens.docx](https://github.com/topcoder-platform/thrive-submit/files/4012217/Hasanozie.-.How.To.Make.UI.UX.Designs.For.Foldable.Smartphones.That.Have.Bigger.Screens.docx)

[2019-12-31 06:53] tarushi96 commented on #25
Hi,
My top coder user name is tarushi.gupta
email- tarushi13@gmail.com

[2019-12-31 06:55] tarushi96 commented on #25
I am not able to understand how to get paid

[2019-12-31 08:05] kkartunov commented on #172
@jlhopkins28160 please accept the invitation you got by email to join the org. After that sign-up with Topcoder X tool with the link https://x.topcoder.com/api/v1/github/teams/registration/16c17454-9260-443f-ab36-6e73c090de5f-1577779494602

[2019-12-31 08:05] kkartunov commented on #172
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-31 08:05] kkartunov commented on #172
@jlhopkins28160, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-31 08:06] kkartunov commented on #25
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-31 08:06] kkartunov commented on #25
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2019-12-31 08:07] kkartunov commented on #94
@shubham-dota  please accept the invitation you got by email to join the org. After that sign-up with Topcoder X tool with the link https://x.topcoder.com/api/v1/github/teams/registration/16c17454-9260-443f-ab36-6e73c090de5f-1577779494602

[2019-12-31 08:07] kkartunov commented on #25
@tarushi96 please accept the invitation you got by email to join the org. After that sign-up with Topcoder X tool with the link https://x.topcoder.com/api/v1/github/teams/registration/16c17454-9260-443f-ab36-6e73c090de5f-1577779494602

[2019-12-31 08:51] billsedison commented on #90
@ChrisChV Good article, thanks.

@kkartunov FYI, the content in the document is in markdown format, you can copy and paste it to some markdown editor to render them.

[2019-12-31 08:56] billsedison commented on #111
Looks good now, thank you.

[2019-12-31 08:57] shubham-dota commented on #94
@kkartunov I tried to open the link which redirects me to this url https://x.topcoder.com/#!/app/main and I just see a blank page
![Screenshot_2019-12-31-14-27-11-663_com android chrome](https://user-images.githubusercontent.com/58764896/71615921-b010a580-2bd9-11ea-8128-cb29a379e45b.jpg)

[2019-12-31 08:58] shubham-dota commented on #72
How do I sign up with Topcoder X?

[2019-12-31 09:00] jlhopkins28160 commented on #172
I tried the link, but I am getting an error message saying I was not added.

[2019-12-31 09:04] iqbalhood opened #212 "5 Ways to Improve your UI skills and career by participating in Topcoder Design Challenge"
@kkartunov
Hello Kiril,

I finished the article:

Track : Design

Article:
https://docs.google.com/document/d/1AzWGmTnj6bLaaPH4XFb_a9bedX_CR-Z9Jry3TmZrivQ/edit?usp=sharing

Thank You :)

[2019-12-31 09:10] quaddock opened #213 "[$150]THRIVE - Understanding Transformers-based Architectures for NLP"
Track: Data Science
Title: Understanding Transformers-based Architectures for NLP
Please find the submission at:-
[Google Drive Link](https://docs.google.com/document/d/11RMjOVYouvtpncwXEra7gN4ffewawx7kCUuv1JOWRYY/edit?usp=sharing)

[2019-12-31 10:51] #145 closed

[2019-12-31 10:56] jganeshram opened #214 "Logcat Command-Line Tool"
[Logcat command-line tool.docx](https://github.com/topcoder-platform/thrive-submit/files/4012488/Logcat.command-line.tool.docx)
Attached document about - Logcat Command-Line Tool
Android logcat is a command-line tool that dumps a log of system messages.

[2019-12-31 10:59] billsedison commented on #140
@DjakaTechnology Double checked this is the common tricks of the JetBrains IntelliJ series IDE, not just for Android Studio
https://www.jetbrains.com/help/webstorm/using-live-templates.html
https://www.jetbrains.com/help/phpstorm/template-variables.html
https://www.jetbrains.com/help/idea/creating-and-editing-live-templates.html
https://www.raywenderlich.com/4979242-live-templates-in-android-studi

[2019-12-31 10:59] #140 closed

[2019-12-31 10:59] jganeshram opened #215 "Agile Project Test Strategy"
[Agile Project Test Strategy.docx](https://github.com/topcoder-platform/thrive-submit/files/4012492/Agile.Project.Test.Strategy.docx)

The attached document contains about Agile Project Test Strategy

[2019-12-31 11:01] billsedison commented on #122
@trivia79 Looks good now, thanks.

[2019-12-31 11:02] jganeshram opened #216 "Android File Transfer – macOS - Windows - Chromebook"
[Android File Transfer – macOS  - Windows - Chromebook.docx](https://github.com/topcoder-platform/thrive-submit/files/4012501/Android.File.Transfer.macOS.-.Windows.-.Chromebook.docx)

The attached document content contains about Android File Transfer – macOS  - Windows - Chromebook

[2019-12-31 11:05] jganeshram opened #217 "Debug a Wear OS app"
[Debug a Wear OS app.docx](https://github.com/topcoder-platform/thrive-submit/files/4012503/Debug.a.Wear.OS.app.docx)

The attached document contains content about Debug a Wear OS app

[2019-12-31 11:10] jganeshram opened #218 "Appium Open Source Test Automation Framework"
[Appium Open Source Test Automation Framework.docx](https://github.com/topcoder-platform/thrive-submit/files/4012524/Appium.Open.Source.Test.Automation.Framework.docx)

The attached document contains content about Appium Open Source Test Automation Framework

[2019-12-31 11:16] billsedison commented on #147
@trivia79 Is the pic from your own or from elsewhere?

![image](https://user-images.githubusercontent.com/5657467/71619917-c7638900-2c01-11ea-86bb-7e7bd2b95cb2.png)

I can see the same pic from the following video
https://www.youtube.com/watch?v=xrt68qWD1CM

![image](https://user-images.githubusercontent.com/5657467/71619944-f417a080-2c01-11ea-9a81-2948e3e051a0.png)

Just hoping you were not writi

[2019-12-31 11:22] jganeshram opened #219 "Katalon Recorder"
[Katalon Recorder.docx](https://github.com/topcoder-platform/thrive-submit/files/4012549/Katalon.Recorder.docx)

The attached document contains content about Katalon Recorder

[2019-12-31 11:27] billsedison commented on #159
It's a high-level introduction of cryptography concepts, but it provides a good of references to all the cryptography methods. It's helpful to get people started in the cryptography concepts.

Accept this article.

[2019-12-31 11:29] billsedison commented on #161
@shubham-dota This article is not helpful. We can easily get these concepts from the AWS official site. So I can't accept your article, sorry.

[2019-12-31 11:29] #161 closed

[2019-12-31 11:32] billsedison commented on #164
@anu0012 This article is not that helpful. The official site provides more concrete tutorials to help member getting started: https://docs.mongodb.com/manual/tutorial/getting-started/

So I can't accept this article, sorry.

[2019-12-31 11:32] #164 closed

[2019-12-31 11:37] billsedison commented on #166
@sunhong

Can you add more concrete code for Immutable Object? How and why they are safe in the concurrency environment. If you can refer to some source code of JDK, it's better.

Also for Double checked locking, can you elaborate on why it's safer? If we don't use double checked locking, just use a single locking, what potential issue will be caused? Please add some sentences and diagrams to elab

[2019-12-31 11:44] billsedison commented on #178
@anu0012 This article is not that helpful. There are too many markdown start guide, like https://guides.github.com/features/mastering-markdown/

We don't need a markdown tutorial actually.

[2019-12-31 11:44] #178 closed

[2019-12-31 12:16] jganeshram opened #220 "Jenkins Pipeline Maven Project Setup"
[Jenkins Pipeline Maven Project Setup.docx](https://github.com/topcoder-platform/thrive-submit/files/4012652/Jenkins.Pipeline.Maven.Project.Setup.docx)

The attached document content contains about Jenkins Pipeline Maven Project Setup

[2019-12-31 12:41] jganeshram opened #221 "Maven vs Gradle Build Tool"
[Maven vs Gradle Build Tool .docx](https://github.com/topcoder-platform/thrive-submit/files/4012690/Maven.vs.Gradle.Build.Tool.docx)

The attached document content contains about Maven vs Gradle Build Tool

[2019-12-31 12:49] bhagvank commented on #191
changed the title .. the content is different from topcoder's article...  github repo has the code for Mutliquibutsystem with different quantum gates. https://docs.google.com/document/d/1p3b09KhLpypAwipQGI4oOpAu2cKw7XaR5FJPWfp5KZ0/edit?usp=sharing

[2019-12-31 13:39] bhagvank opened #222 "Mutli Qubitsystem with different quantum gates."
https://docs.google.com/document/d/1p3b09KhLpypAwipQGI4oOpAu2cKw7XaR5FJPWfp5KZ0/edit?usp=sharing

[2019-12-31 13:40] billsedison commented on #176
Good article. Elaborated on the select model detailedly.

[2019-12-31 13:53] YogSothothTopCoder opened #223 "[$150]THRIVE - The Decorator Pattern in C# and JavaScript"
TopCoder handle: Yog-Sothoth
Track: Development
5 min read
Tags: Design Patterns, Decorator, C#, JavaScript
Banner: ![DecoratorPattern_banner](https://user-images.githubusercontent.com/41329189/71623423-cc621180-2bdc-11ea-946d-23184b156aa5.png)

Text: [Decorator Pattern.docx](https://github.com/topcoder-platform/thrive-submit/files/4012790/Decorator.Pattern.docx)

[2019-12-31 14:27] hasanozie opened #224 "[$150]THRIVE - How to Create User Onboarding Design That Will Increase Conversion Rates"
Track Category: Design

[Hasanozie - How to Create User Onboarding Design That Will Increase Conversion Rates.docx](https://github.com/topcoder-platform/thrive-submit/files/4012993/Hasanozie.-.How.to.Create.User.Onboarding.Design.That.Will.Increase.Conversion.Rates.docx)

[2019-12-31 15:44] iqbalhood opened #225 "[$150]THRIVE - Harmony, building a balanced design that works!"
@kkartunov
Hello Kiril,

I finished the article:

Track : Design

Article:
https://docs.google.com/document/d/1lTGBsMhEwEBqXXs9ksKwUTLoNU2qhkkfEMf-eb2GHzU/edit?usp=sharing

Thank You :)

[2019-12-31 15:46] #143 closed

[2019-12-31 15:46] iqbalhood opened #226 "[WIP] Getting Started - Mobile Development with Flutter SDK"
Track : Development

[2019-12-31 15:47] iqbalhood opened #227 "[WIP] Start competing in development track with Ionic Framework"
Track : Development
Work In Progress

[2019-12-31 16:16] baldmer opened #228 "[$150]THRIVE - Introduction to Large Scale Knowledge Graphs"
track: Data Science, Development

https://docs.google.com/document/d/1d8zbo4kKEcHD2cGqvx9qvtgbeejtN6WfEIfuwW5_izU/edit?usp=sharing

[2019-12-31 16:42] YogSothothTopCoder opened #229 "Understanding the Liskov Substitution Principle"
TopCoder handle: Yog-Sothoth
Track: Development
5 min read
Tags: Software Design, SOLID, LSP, Liskov Substitution Principle
Banner - use generic TopCoder banner:
![Topcoder-Generic-Banner](https://user-images.githubusercontent.com/41329189/71627785-e60f5300-2bf4-11ea-96f8-94cfa85d58bd.jpg)

Text: [Liskov.docx](https://github.com/topcoder-platform/thrive-submit/files/4013093/Liskov.docx)

[2019-12-31 16:53] ishitakanani commented on #184
Category : Development
[An_Introduction_To_Game_Development_With_Unity.docx](https://github.com/topcoder-platform/thrive-submit/files/4013116/An_Introduction_To_Game_Development_With_Unity.docx)

[2019-12-31 17:11] introvertforachange opened #230 "[$150]THRIVE - Using Transformers Pipeline for Quickly Solving NLP tasks"
Track: DataScience
Title :  Using Transformers Pipeline for Quickly Solving NLP tasks
Handle: manu_456
Please find submission at-
[Google Doc Link
](https://docs.google.com/document/d/1Z8fRWo0TTWC1qe0vb_myoc4p-3GdnvsBEEnJeQ_CmAQ/edit?usp=sharing)

[2019-12-31 17:49] anu0012 commented on #6
Hi @Sande3p,

- Things that are marked in the image are not relevant to this tutorial.
- `cosmos_client.CosmosClient(url_connection=config['ENDPOINT'], auth={
                                    'masterKey': config['PRIMARYKEY']})
`
In this line, We are connecting with the connection string.

- Adding the record is also given in the tutorial.
`client.CreateItem(coll_link, document)
`

- Complete c

[2019-12-31 17:51] trivia79 commented on #147
@billsedison

Definitely I'm not copying/plagiarizing. The whole content is purely my own work. My purpose of writing that is to compare the process of creation of the most common charts we usually use to present insight. And my words came from my own experiences. So I'm confident with that :)

For that specific image, I did google it and grabbed it from one of the results which happens to came fr

[2019-12-31 21:20] ishitakanani opened #231 "The THRIVE Rule to be a better programmer"
Track Category : Topcoder
[Thrive_rule_to_be_a_better_programmer.docx](https://github.com/topcoder-platform/thrive-submit/files/4013523/Thrive_rule_to_be_a_better_programmer.docx)

[2019-12-31 21:23] jlhopkins28160 commented on #172
Here is the error message I got when I tried to join Topcoder X.

![Screenshot_20191231-162110](https://user-images.githubusercontent.com/498140/71634394-b60e8280-2be9-11ea-99e9-25d60ff836cf.png)

[2019-12-31 23:54] jlhopkins28160 commented on #152
Category: Data Science
[Regression_Weka.docx](https://github.com/topcoder-platform/thrive-submit/files/4013633/Regression_Weka.docx)

[2020-01-01 00:06] Shadow-Master-007 opened #232 "Segmented Sieve - Efficient method to find primes within a given range"
Track Category: Competitive Programming
[Segmented Sieve - Efficient method to find primes within a given range.docx](https://github.com/topcoder-platform/thrive-submit/files/4013650/Segmented.Sieve.-.Efficient.method.to.find.primes.within.a.given.range.docx)

[2020-01-01 00:23] PereViki opened #233 "[$150]THRIVE - Considering Human Error in Design"

[2020-01-01 01:01] PereViki commented on #233
Hey guys,

Here is an article about human error and how to design to prevent them. Please advise a better title if you feel like.
https://docs.google.com/document/d/1dVSsQw1EGXjIRVhzfP4jsf4kPSBreb6vhWuidTcPy2I/edit?usp=sharing

Happy New Year!

Cheers,
PereViki

[2020-01-01 01:01] PereViki commented on #233
Track: Design

[2020-01-01 01:36] ruchikakhemka commented on #125
[What and How of BackPropagation.docx](https://github.com/topcoder-platform/thrive-submit/files/4013700/What.and.How.of.BackPropagation.docx)

Data Science

[2020-01-01 04:30] sunhong opened #234 "[$150]THRIVE - Thread pool in Java"
[Thread Pool in Java.docx](https://github.com/topcoder-platform/thrive-submit/files/4013804/Thread.Pool.in.Java.docx)

[2020-01-01 14:36] #98 closed

[2020-01-01 14:36] kkartunov commented on #98
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111995<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 14:43] #95 closed

[2020-01-01 14:43] kkartunov commented on #95
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30111994<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 14:44] kkartunov commented on #94
Contest https://www.topcoder.com/challenges/30112076 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 15:09] kkartunov commented on #94
@shubham-dota it is all good now. Thank You.

[2020-01-01 15:09] #94 closed

[2020-01-01 15:10] kkartunov commented on #94
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112076<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 15:27] kkartunov commented on #72
Contest https://www.topcoder.com/challenges/30112077 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 15:28] #72 closed

[2020-01-01 15:28] kkartunov commented on #72
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112077<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 15:29] kkartunov commented on #25
@tarushi96, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 15:29] kkartunov commented on #25
@tarushi96 we can't proceed with your payment if you do not do https://github.com/topcoder-platform/thrive-submit/issues/25#issuecomment-569885444

[2020-01-01 15:38] #100 closed

[2020-01-01 15:38] kkartunov commented on #100
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112079<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 15:43] #96 closed

[2020-01-01 15:44] kkartunov commented on #96
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112078<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 15:45] kkartunov commented on #172
@jlhopkins28160, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:01] kkartunov commented on #172
Contest https://www.topcoder.com/challenges/30112080 has been updated - it has been assigned to hopkins28160.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:02] #172 closed

[2020-01-01 16:02] kkartunov commented on #172
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112080<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:07] kkartunov commented on #176
Contest https://www.topcoder.com/challenges/30112190 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:07] kkartunov commented on #176
@MCC129, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:07] kkartunov commented on #167
Contest https://www.topcoder.com/challenges/30112191 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:07] kkartunov commented on #167
Contest https://www.topcoder.com/challenges/30112191 has been updated - it has been assigned to PereViki.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:08] kkartunov commented on #159
Contest https://www.topcoder.com/challenges/30112192 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:08] kkartunov commented on #159
@amany9000, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:09] kkartunov commented on #111
Contest https://www.topcoder.com/challenges/30112193 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:09] kkartunov commented on #111
Contest https://www.topcoder.com/challenges/30112193 has been updated - it has been assigned to sunhong.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:09] kkartunov commented on #90
@billsedison Sure, thanks much.

[2020-01-01 16:10] kkartunov commented on #90
Contest https://www.topcoder.com/challenges/30112194 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:10] kkartunov commented on #90
Contest https://www.topcoder.com/challenges/30112194 has been updated - it has been assigned to XnpioChV.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-01 16:11] kkartunov commented on #187
yes @asdspal
unfortunately I can't confirm your result.

[2020-01-01 16:25] #162 closed

[2020-01-01 16:25] #169 closed

[2020-01-01 16:25] #226 closed

[2020-01-01 16:25] #227 closed

[2020-01-01 16:27] kkartunov commented on #125
fails checks

[2020-01-01 16:28] kkartunov commented on #146
fails checks

[2020-01-01 16:29] kkartunov commented on #152
fails checks

[2020-01-01 16:30] kkartunov commented on #153
fails checks

[2020-01-02 06:09] billsedison commented on #147
@trivia79

For the last 3 images, instead of grabbing from google searches, can you please make the images by yourself? As you did all the processes by yourself, I don't see any reason why the last 3 images need to be grabbed from the Internet.

Thanks.

[2020-01-02 06:16] billsedison commented on #184
@ishitakanani Copied from here https://medium.com/free-code-camp/the-ultimate-beginners-guide-to-game-development-in-unity-f9bfe972c2b5

[2020-01-02 07:51] #184 closed

[2020-01-02 07:54] kkartunov commented on #234
fails checks

[2020-01-02 07:55] kkartunov commented on #233
passed checks

[2020-01-02 07:57] kkartunov commented on #232
passed checks

[2020-01-02 07:59] kkartunov commented on #231
@ishitakanani this article is not suitable for Thrive. We are looking for technical detailed articles and won't accept "How to" type of wishes. Thanks

[2020-01-02 07:59] #231 closed

[2020-01-02 08:01] kkartunov commented on #230
passed checks

[2020-01-02 08:06] kkartunov commented on #229
passed checks

[2020-01-02 08:09] kkartunov commented on #228
passed checks

[2020-01-02 08:10] kkartunov commented on #225
passed checks

[2020-01-02 08:14] kkartunov commented on #223
passed checks

[2020-01-02 08:17] kkartunov commented on #222
passed checks

[2020-01-02 08:18] kkartunov commented on #221
fails checks

[2020-01-02 08:19] kkartunov commented on #220
fails checks

[2020-01-02 08:21] kkartunov commented on #219
fails checks

[2020-01-02 08:21] kkartunov commented on #218
fails checks

[2020-01-02 08:22] kkartunov commented on #217
fails checks

[2020-01-02 08:23] kkartunov commented on #216
fails checks

[2020-01-02 08:31] kkartunov commented on #215
fails checks

[2020-01-02 08:32] kkartunov commented on #214
fails checks

[2020-01-02 08:34] kkartunov commented on #213
passed checks

[2020-01-02 08:35] kkartunov commented on #212
passed checks

[2020-01-02 08:37] kkartunov commented on #211
passed checks

[2020-01-02 08:39] kkartunov commented on #210
@riskaand not suitable for Thrive and is below min length requirement.

[2020-01-02 08:39] #210 closed

[2020-01-02 08:40] kkartunov commented on #209
@riskaand not suitable for Thrive and should be > 500 words

[2020-01-02 08:40] #209 closed

[2020-01-02 08:41] kkartunov commented on #205
passed checks

[2020-01-02 08:43] kkartunov commented on #204
fails checks

[2020-01-02 08:44] kkartunov commented on #203
passed checks

[2020-01-02 08:45] kkartunov commented on #202
passed checks

[2020-01-02 08:47] kkartunov commented on #201
passed checks

[2020-01-02 08:48] kkartunov commented on #200
fails checks

[2020-01-02 08:49] kkartunov commented on #199
fails checks

[2020-01-02 08:50] kkartunov commented on #198
fails checks

[2020-01-02 12:55] kkartunov commented on #197
fails checks

[2020-01-02 12:56] kkartunov commented on #196
passed checks

[2020-01-02 12:58] kkartunov commented on #195
@iqbalhood thank you but this article is not suitable for Thrive. We are looking for more detailed in-deep technical submissions.

[2020-01-02 12:58] #195 closed

[2020-01-02 12:59] kkartunov commented on #193
passed checks

[2020-01-02 13:01] kkartunov commented on #192
passed checks

[2020-01-02 13:02] sunhong commented on #234
I promise there is no plagiarism.
The checker is tooo sensitive.
It marks a function signature as plagiarism

[2020-01-02 13:55] sunhong commented on #166
Updated:
[Immutable Object & Double-checked locking.docx](https://github.com/topcoder-platform/thrive-submit/files/4016026/Immutable.Object.Double-checked.locking.docx)

[2020-01-02 14:35] winterflame commented on #174
Hi @SathyaJayabal ,

The article is good - could please add some official links when introducing the testing tools/methods?

Thanks!

[2020-01-02 15:22] winterflame commented on #202
Hi @gadzzzz , thanks for your submission.

But the content is not very suitable for our QA track - there were no Salesforce related testing challenges like described. I think the article might be useful for beginners in a Salesforce developer team.

@kkartunov Maybe we need to ask dev reviewers to have a look, thanks!

[2020-01-02 15:30] kkartunov opened #235 "[$75]Create TCO19 Hall of Fame page"
**Expected result**: new page for TCO19 similar to https://www.topcoder.com/community/hall-of-fame/tco/18

[2020-01-02 15:51] kkartunov commented on #235
Contest https://www.topcoder.com/challenges/30112225 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-02 15:52] kkartunov commented on #235
Contest https://www.topcoder.com/challenges/30112225 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-02 17:19] SathyaJayabal commented on #174
@winterflame,
Thank you for your suggestion, it was a great one. I have included the official links to the document. Please review. Please also let me know if you any more suggestions.

https://drive.google.com/open?id=1jFdtqzc739aLbIIv0ufDAW20cpte9PdVAKgUNu9ca7E

[2020-01-02 17:54] iqbalhood commented on #189
Hello Sir, @fajarmln
Hello sir, I have fixed the article content according to the feedback you gave. Please check again.
Thank You

https://docs.google.com/document/d/1fqzjdH1vVnx7_4YWg_IeWwwzF58KzHzmpVkhJemxA7Y/edit?usp=sharing

[2020-01-03 00:21] winterflame commented on #174
Hi @SathyaJayabal,

Just some trivial punctuation updates needed:

1. Remove the dot in the title.
2. Change the comma to the dot in the sentence "There are cases when we would fare better with the age old method of manual testing,"

Thanks!

[2020-01-03 03:48] SathyaJayabal commented on #174
@winterflame ,
I have made the changes.

https://drive.google.com/open?id=1jFdtqzc739aLbIIv0ufDAW20cpte9PdVAKgUNu9ca7E

Thank you

[2020-01-03 07:54] iversonLv commented on #235
Ready_for_Review
Thanks.

[2020-01-03 07:56] kkartunov commented on #174
Contest https://www.topcoder.com/challenges/30112278 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 07:56] kkartunov commented on #174
@SathyaJayabal, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 08:12] kkartunov commented on #25
Contest https://www.topcoder.com/challenges/30112075 has been updated - it has been assigned to tarushi.gupta.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 08:12] #25 closed

[2020-01-03 08:12] kkartunov commented on #25
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112075<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 08:16] SathyaJayabal commented on #174
@kkartunov , I have signed up with Topcoder X. I have linked my Github account too. Is there anything else I must do?

[2020-01-03 12:06] Dara-K commented on #151
Hi @PereViki

I think we clarified this on Slack. I was suggesting just to add 2-3 more sentences to the book about the actual content. No need to use quotes or anything, just talk about the content.

Let me know if you need any further info.

[2020-01-03 13:37] #90 closed

[2020-01-03 13:37] kkartunov commented on #90
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112194<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 13:48] #111 closed

[2020-01-03 13:49] kkartunov commented on #111
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112193<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 14:00] #167 closed

[2020-01-03 14:00] kkartunov commented on #167
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112191<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 14:05] kkartunov commented on #176
@MCC129 please:accept the invite sent to you by GitHub per email to join our org.

[2020-01-03 14:30] MCC129 commented on #176
@kkartunov , I still don't receive the invitation from GitHub, can you send again? Thanks

[2020-01-03 14:35] kkartunov commented on #176
@MCC129 check your spam and github associated email please

[2020-01-03 14:38] MCC129 commented on #176
@kkartunov I checked just now but I don't see the invitation link. Can you remove me from the invitation list and invite me again?

[2020-01-03 14:48] kkartunov commented on #176
@MCC129 did that again. Check now

[2020-01-03 14:49] kkartunov commented on #159
@amany9000  please:
1. accept the invite sent to you by GitHub per email to join our org.
2. click the link https://x.topcoder.com/api/v1/github/teams/registration/f574f03c-7ae1-47ee-ae25-62a4f3880cac-1578060340082 to sign-up with Topcoder X tool

We can't process your payment otherwise. Thank You!

[2020-01-03 14:49] kkartunov commented on #174
Contest https://www.topcoder.com/challenges/30112278 has been updated - it has been assigned to picachui.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 15:31] MCC129 commented on #176
@kkartunov  Thanks, I got the invitation. I have set up the two factor authenticator and joined the org.

But after I clicked on the Topcoder-X link I saw the error
![image](https://user-images.githubusercontent.com/58676992/71731982-14a15e00-2e81-11ea-86b6-2bf616a6f860.png)

[2020-01-03 18:03] amany9000 commented on #159
@kkartunov , I have joined the org after establishing 2FA but I on clicking the link provided above, the app just loads in a loop and there is an error on this console -
![Screenshot 2020-01-03 at 11 29 38 PM](https://user-images.githubusercontent.com/25260406/71740091-54684580-2e81-11ea-86bb-76e31162e630.png)

[2020-01-03 20:10] kkartunov commented on #176
Contest https://www.topcoder.com/challenges/30112190 has been updated - it has been assigned to M_CC.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 20:14] #176 closed

[2020-01-03 20:14] kkartunov commented on #176
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112190<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 20:14] kkartunov commented on #176
@MCC129 everything fine now. Thanks

[2020-01-03 20:19] kkartunov commented on #159
Contest https://www.topcoder.com/challenges/30112192 has been updated - it has been assigned to amany9000.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 20:29] #159 closed

[2020-01-03 20:29] kkartunov commented on #159
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112192<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-03 20:29] kkartunov commented on #159
Thanks @amany9000 all fine now.

[2020-01-03 20:43] #174 closed

[2020-01-03 20:43] kkartunov commented on #174
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112278<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-04 02:35] irfanrosandi commented on #146
why this is plagiarism? I didn't copy/take it from other source? this is pure in my head.

[2020-01-04 04:50] sunhong commented on #234
[Thread Pool in Java.docx](https://github.com/topcoder-platform/thrive-submit/files/4021546/Thread.Pool.in.Java.docx)
Here is the updated version, passed check.

[2020-01-05 06:08] billsedison commented on #147
@trivia79 It looks good now, thanks.

[2020-01-05 06:12] billsedison commented on #175
Looks good

[2020-01-05 06:15] billsedison commented on #229
@YogSothothTopCoder Can you add more code examples instead of just describing the Liskov Substitution Principle in sentences? Thanks

[2020-01-05 11:23] fajarmln commented on #105
@mahestro can you provide some closing sentence at the end of the article and mentioned there will be part two of this topic? both articles looks great! :)

[2020-01-05 11:24] fajarmln commented on #168
This one looks good, I will close this one together with part 1 once the closing sentence article is provided for part 1.

[2020-01-05 11:34] fajarmln commented on #196
This one looks good, but the tips should not just related to UI enhancement only, think of the user flow, presentation screen, annotation/comments, etc

[2020-01-05 11:38] fajarmln commented on #225
This looks good, but some feedback:
1) For each point, make sure to provide visual example so it can be easy to understand by the reader.'
2) Use full and proper english, remove any text in "bahasa" language
3) The visual example needs to have deep meaning, provide some real case example and how this one works with your point in the article

[2020-01-05 11:58] fajarmln commented on #233
This topic looks really interesting @PereViki, but I would suggest to make it as general UX knowledge, we don't have to make it relate to topcoder challenge, can you revise it?

[2020-01-05 12:04] fajarmln commented on #212
The article topic is good to explain how designers can utilize topcoder to its maximum potential. Can you also add some new points such as:

- Build Portfolio based on real world problem
- Being certified (rating system and winning statistic history)
- Learning in THRIVE, UI/UX Design Bootcamp, and UI Workshop

[2020-01-05 12:11] iqbalhood commented on #196
Thank you for the Review Feedback, sir. I will update it and inform you soon.

[2020-01-05 12:15] iqbalhood commented on #225
Thank you for the feedback, sir, Coming soon with the article update

[2020-01-05 20:22] #235 closed

[2020-01-05 20:23] kkartunov commented on #235
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112225<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-05 20:31] kkartunov commented on #175
Contest https://www.topcoder.com/challenges/30112337 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-05 20:31] kkartunov commented on #175
@trivia79, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-05 20:32] kkartunov commented on #147
Contest https://www.topcoder.com/challenges/30112338 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-05 20:32] kkartunov commented on #147
@trivia79, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-05 20:33] kkartunov commented on #122
Contest https://www.topcoder.com/challenges/30112339 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-05 20:33] kkartunov commented on #122
@trivia79, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-05 23:08] jlhopkins28160 commented on #204
Category: Data Science
[Regression.docx](https://github.com/topcoder-platform/thrive-submit/files/4024181/Regression.docx)

[2020-01-05 23:14] jlhopkins28160 commented on #152
Category: Data Science
[Weka.docx](https://github.com/topcoder-platform/thrive-submit/files/4024202/Weka.docx)

[2020-01-05 23:19] jlhopkins28160 commented on #153
Category: Development
[SymPy.docx](https://github.com/topcoder-platform/thrive-submit/files/4024219/SymPy.docx)

[2020-01-06 05:39] #197 closed

[2020-01-06 05:39] #198 closed

[2020-01-06 05:39] #199 closed

[2020-01-06 05:39] #200 closed

[2020-01-06 05:39] #214 closed

[2020-01-06 05:39] #215 closed

[2020-01-06 05:39] #216 closed

[2020-01-06 05:39] #217 closed

[2020-01-06 05:39] #218 closed

[2020-01-06 05:39] #219 closed

[2020-01-06 05:39] #220 closed

[2020-01-06 05:39] #221 closed

[2020-01-06 05:42] kkartunov commented on #204
@jlhopkins28160 fails again. Sorry, but we can't process this anymore.

[2020-01-06 05:42] #204 closed

[2020-01-06 05:42] #187 closed

[2020-01-06 05:43] kkartunov commented on #153
@jlhopkins28160 fails again. Sorry, we can't process this anymore.

[2020-01-06 05:43] #153 closed

[2020-01-06 05:44] kkartunov commented on #152
@jlhopkins28160 fails checks again. Sorry, closing it.

[2020-01-06 05:44] #152 closed

[2020-01-06 05:45] kkartunov commented on #146
It fails the check https://www.grammarly.com/plagiarism-checker. Sorry, we can't accept it.

[2020-01-06 05:45] #146 closed

[2020-01-06 05:45] #125 closed

[2020-01-06 05:47] kkartunov commented on #202
@billsedison can you have a look? Thanks

[2020-01-06 11:54] YogSothothTopCoder commented on #229
@billsedison Sure, no problem, I'll come up with something soon.

[2020-01-06 17:44] kkartunov commented on #175
Contest https://www.topcoder.com/challenges/30112337 has been updated - it has been assigned to trivia79.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-06 17:45] #175 closed

[2020-01-06 17:45] kkartunov commented on #175
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112337<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-06 17:47] kkartunov commented on #147
Contest https://www.topcoder.com/challenges/30112338 has been updated - it has been assigned to trivia79.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-06 17:47] #147 closed

[2020-01-06 17:47] kkartunov commented on #147
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112338<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-06 17:48] kkartunov commented on #122
Contest https://www.topcoder.com/challenges/30112339 has been updated - it has been assigned to trivia79.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-06 17:49] #122 closed

[2020-01-06 17:50] kkartunov commented on #122
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112339<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-06 18:59] mahestro commented on #105
Thanks for checking, Fajar. I added the contextual link.

[2020-01-06 18:59] mahestro commented on #168
Great! Done.

[2020-01-07 13:26] Dara-K commented on #156
This article is approved - thanks.

[2020-01-07 14:30] kkartunov commented on #156
Contest https://www.topcoder.com/challenges/30112478 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-07 14:30] kkartunov commented on #156
Contest https://www.topcoder.com/challenges/30112478 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-07 19:01] Dara-K commented on #173
Hi @davidhumanize
I like your article but it has a lot of content overlapping with a previously written article: https://www.topcoder.com/why-be-a-topcoder-designer/
Sorry about that!

[2020-01-07 19:02] #173 closed

[2020-01-08 14:51] jganeshram commented on #221
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:52] jganeshram commented on #200
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:53] jganeshram commented on #218
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:53] jganeshram commented on #220
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:54] jganeshram commented on #217
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:54] jganeshram commented on #215
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:54] jganeshram commented on #216
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:55] jganeshram commented on #219
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:55] jganeshram commented on #199
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:55] jganeshram commented on #214
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:55] jganeshram commented on #198
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 14:56] jganeshram commented on #181
@kkartunov - You mean "fails checks" referring to grammarly plagiarism checker. If that so it is expect for all technical article. Because it contains syntax. I have put 2 hour effort to create one. Any technical person can understand this. Kindly re-review.

[2020-01-08 16:42] PereViki commented on #233
@fajarmln

Hi Fajar,

Thank you for reading my article! It is a bit strange that one reviewer asks for making the articles more connected to TC and emphasise how members can benefit, others on the other hand want to eliminate this from the articles.

I rephrased a couple of sentences so it is not anymore intended for TC challenges, but generally for designers. [Please check it](https://docs.google

[2020-01-09 07:29] #156 closed

[2020-01-09 07:30] kkartunov commented on #156
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112478<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 07:50] kkartunov commented on #229
@YogSothothTopCoder please complete the requested in a day or we will need to close this one.

[2020-01-09 07:50] kkartunov commented on #225
@iqbalhood  please complete the requested in a day or we will need to close this one.

[2020-01-09 07:51] kkartunov commented on #212
@iqbalhood  please complete the requested in a day or we will need to close this one.

[2020-01-09 07:51] kkartunov commented on #196
@iqbalhood  please complete the requested in a day or we will need to close this one.

[2020-01-09 07:52] kkartunov commented on #151
@PereViki  please complete the requested in a day or we will need to close this one.

[2020-01-09 07:53] kkartunov commented on #120
@iqbalhood  please complete the requested in a day or we will need to close this one.

[2020-01-09 07:53] kkartunov commented on #112
@anharismail  please complete the requested in a day or we will need to close this one.

[2020-01-09 07:54] kkartunov commented on #37
@KakaIdan  please complete the requested in a day or we will need to close this one.

[2020-01-09 09:00] harshitmehta123 commented on #99
Sorry for being late on this @shubham-dota. Thanks for the article!

[2020-01-09 09:04] harshitmehta123 commented on #203
Nice Article @quaddock

[2020-01-09 09:07] shubham-dota commented on #99
@harshitmehta123 thanks for the review.

[2020-01-09 09:11] harshitmehta123 commented on #230
Nice Read!

[2020-01-09 09:14] harshitmehta123 commented on #103
Nice simple article

[2020-01-09 09:15] harshitmehta123 commented on #170
Interesting! @tcNickolas :) Thanks for the Article!

[2020-01-09 09:18] harshitmehta123 commented on #8
@billsedison Don't know how I missed your comment here. It's a good resource :)

[2020-01-09 09:20] harshitmehta123 commented on #232
We already have an article on Topcoder around this. https://www.topcoder.com/community/competitive-programming/tutorials/mathematics-for-topcoders/
Written in a very similar fashion as you have.
Sorry!

[2020-01-09 09:21] harshitmehta123 commented on #232
Would suggest you to publish this on your medium blog and if you have any new topics you want to pen articles on. Reach out to us at thrive@topcoder.com

[2020-01-09 09:21] #232 closed

[2020-01-09 09:36] iqbalhood commented on #196
Okay sir @kkartunov

[2020-01-09 09:37] iqbalhood commented on #212
okay sir @kkartunov

[2020-01-09 09:37] iqbalhood commented on #225
okay sir @kkartunov

[2020-01-09 10:19] anu0012 commented on #8
Thanks @harshitmehta123 Glad that you liked it.

[2020-01-09 10:23] quaddock commented on #213
@harshitmehta123 Can you kindly review this issue?

[2020-01-09 10:45] kkartunov commented on #203
Contest https://www.topcoder.com/challenges/30112550 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:45] kkartunov commented on #228
Contest https://www.topcoder.com/challenges/30112549 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:45] kkartunov commented on #230
Contest https://www.topcoder.com/challenges/30112551 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:45] kkartunov commented on #230
@introvertforachange, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:45] kkartunov commented on #228
Contest https://www.topcoder.com/challenges/30112549 has been updated - it has been assigned to baldiyo.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:46] kkartunov commented on #103
Contest https://www.topcoder.com/challenges/30112552 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:46] kkartunov commented on #103
Contest https://www.topcoder.com/challenges/30112552 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:46] kkartunov commented on #99
Contest https://www.topcoder.com/challenges/30112553 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:46] kkartunov commented on #99
Contest https://www.topcoder.com/challenges/30112553 has been updated - it has been assigned to whoami.kdm.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:50] kkartunov commented on #170
Contest https://www.topcoder.com/challenges/30112554 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:50] kkartunov commented on #170
@tcNickolas, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:51] kkartunov commented on #8
Contest https://www.topcoder.com/challenges/30112555 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 10:51] kkartunov commented on #8
Contest https://www.topcoder.com/challenges/30112555 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-09 11:22] iqbalhood commented on #120
Hello @kkartunov  @fajarmln  @Dara-K ,

This is the update of the article according to what you requested.

https://docs.google.com/document/d/1jpu6NTKCMar_0jryg2F7aYDOdKlBStYzqffY8Jcc8W0/edit?usp=sharing

Please check it, and let me know if there is something in this article that need to fix.

Thanks,
iqbalhood

[2020-01-09 11:30] billsedison commented on #56
@kavukcutolga Sorry for the late reply

Can you elaborate on more details about how Orchestrator handles the failure cases, instead of just giving a picture?

![image](https://user-images.githubusercontent.com/5657467/72064048-05556100-3316-11ea-9d63-b0a0ab25f0bb.png)

Just by looking at this article, I still don't understand how Saga patterns work.

And for NETFLIX CONDUCTOR and ZEEBE, it's the s

[2020-01-09 13:35] Shadow-Master-007 commented on #232
https://www.topcoder.com/community/competitive-programming/tutorials/mathematics-for-topcoders/

This link contains methods to check whether a given number is prime or not and finding primes in a range (Sieve of Eratosthenes). But I posted this article because there is another advanced (or say generalized method to the sieve method called the segmented sieve) which is **not present on the topcoder

[2020-01-09 16:04] anharismail commented on #112
Hi @Dara-K and @fajarmln ,
Thanks for your suggestion and feedback.

I've updated the article by following your suggestion and feedback before.

This is the updated article:
[Banner Design - Things that Shouldn’t be Forgotten and Tutorial.docx](https://github.com/topcoder-platform/thrive-submit/files/4041257/Banner.Design.-.Things.that.Shouldn.t.be.Forgotten.and.Tutorial.docx)

And sorry for being

[2020-01-09 21:35] #8 closed

[2020-01-09 21:36] kkartunov commented on #8
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112555<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-10 00:26] PereViki commented on #151
Hi @kkartunov,
The update is in progress, though I will only be able to finish tomorrow before 9-11am GMT. I hope it is within the tolerable range.
Thanks,
Viki

[2020-01-10 03:10] iqbalhood commented on #212
Hello sir @fajarmln @kkartunov ,
I Have modified the article. You can check it here

https://docs.google.com/document/d/1AzWGmTnj6bLaaPH4XFb_a9bedX_CR-Z9Jry3TmZrivQ/edit?usp=drivesdk

Thanks

[2020-01-10 04:26] iqbalhood commented on #196
Hello, @kkartunov   @fajarmln,

This is the update of the article according to what you requested.

https://docs.google.com/document/d/1tBD0GHo15utPM6ARrmkQIDzi8h6eGpUjT2VwAH1pmqI/edit?usp=sharing

Please check it, and let me know if there is something in this article that needs to fix.

Thanks,
iqbalhood

[2020-01-10 04:40] iqbalhood commented on #225
Hello sir @fajarmln, @kkartunov
I have modified the article following your suggestion.
Please check it again.

https://docs.google.com/document/d/1lTGBsMhEwEBqXXs9ksKwUTLoNU2qhkkfEMf-eb2GHzU/edit?usp=sharing

Thank You,

[2020-01-10 06:47] harshitmehta123 commented on #213
Done! nice read! thanks :)

[2020-01-10 07:55] #103 closed

[2020-01-10 07:55] kkartunov commented on #103
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112552<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-10 08:02] #228 closed

[2020-01-10 08:02] kkartunov commented on #228
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112549<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-10 08:21] #99 closed

[2020-01-10 08:21] kkartunov commented on #99
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112553<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-10 08:35] kkartunov commented on #213
Contest https://www.topcoder.com/challenges/30112604 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-10 08:48] kkartunov commented on #229
Closing this due to inactivity.

[2020-01-10 08:48] #229 closed

[2020-01-10 08:52] kkartunov commented on #37
Closing this due to inactivity.

[2020-01-10 08:52] #37 closed

[2020-01-10 11:06] PereViki commented on #151
@Dara-K & @kkartunov

Done

[2020-01-10 12:15] introvertforachange commented on #230
@kkartunov, How can I sign-up with Topcoder X tool? My handle is manu_456.

[2020-01-10 20:44] kkartunov commented on #117
Contest https://www.topcoder.com/challenges/30112617 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-10 20:44] kkartunov commented on #117
Contest https://www.topcoder.com/challenges/30112617 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-10 20:56] Dara-K commented on #151
Looks good now - thanks for the updates.

[2020-01-10 21:28] Dara-K commented on #212
@iqbalhood  @fajarmln  Hey guys,
I have just read this article. While it has some great points and new ones, we already have a similar article written back in 2017 https://www.topcoder.com/why-be-a-topcoder-designer/

Besides, the article looks more like a better fit for a blog than THRIVE as it's not bringing any educational content for a designer. It helps guiding a person into the Topcoder desi

[2020-01-11 15:48] kkartunov commented on #151
Contest https://www.topcoder.com/challenges/30112628 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-11 15:48] kkartunov commented on #151
Contest https://www.topcoder.com/challenges/30112628 has been updated - it has been assigned to PereViki.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-11 16:05] #117 closed

[2020-01-11 16:05] kkartunov commented on #117
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112617<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-11 17:46] Dara-K commented on #112
@anharismail  Can you please add the tutorial in a google document? I have some comments to make and it would be faster to do it that way.

Thanks!

[2020-01-11 18:41] quaddock commented on #203
Thanks, @kkartunov. Is some step pending from my side?

[2020-01-11 19:29] Dara-K commented on #120
@iqbalhood  @fajarmln

Thank for the update - I have added my comments in the document.

[2020-01-11 19:57] Dara-K commented on #130
@mahestro I have checked the article and added my comments there

[2020-01-11 20:14] Dara-K commented on #155
@mahestro Hi! Good article here - I added some comments

[2020-01-11 20:48] Dara-K commented on #160
Great article! I like it a lot but I see it more of a fit for the blog than THRIVE as it's not revealing any  knowledge that is specific to winning a challenge, it's more of a motivational article to guide the new members on Topcoder design way. Would you agree to add it to the blog?

If yes, below are a couple of notes to update:

This sounds like 2 phrases more than 1. Can you separate them? Als

[2020-01-11 21:19] Dara-K commented on #171
Hi @hasanozie
Like this article, but I have several note/ comments on it that might be better to add directly. Could you please add the content in a google doc?
Thanks! well done

[2020-01-11 21:49] Dara-K commented on #179
Nice article @hasanozie !

Can you please add it into a google doc? I have some comments to add that would be faster to add/ comment that way. Thanks!

[2020-01-12 03:11] hasanozie commented on #171
Hi @Dara-K ,
I will also move other articles to google docs.
Please wait a few moments.

Google Docs link for this article
https://docs.google.com/document/d/1G3p8Cp_CIoffLDqYSuACjXg4OQrAOcuw0qMJN7lQmZ4/edit?usp=sharing

[2020-01-12 05:58] hasanozie commented on #179
Hi @Dara-K  ,
I will also move other articles to google docs.
Please wait a few moments.

Google Docs link for this article
https://docs.google.com/document/d/1G3p8Cp_CIoffLDqYSuACjXg4OQrAOcuw0qMJN7lQmZ4/edit?usp=sharing

[2020-01-12 08:20] hasanozie commented on #171
Hi @Dara-K ,
Below is the google docs link for this article
Thanks :)

https://docs.google.com/document/d/1Or5Aqb9-ndKtfRD8vZQDW6B4ljPzTzZnz8BcQMPK1zM/edit?usp=sharing

[2020-01-12 08:31] hasanozie commented on #160
Hi @Dara-K
It doesn't matter if this article will be added to the topcoder blog,
I will correct this article according to the advice you gave.
thanks.

[2020-01-12 08:38] hasanozie commented on #183
Google docs link for this article

https://docs.google.com/document/d/1DWiEj-ibULK7fSODueVLfkrvkVwFhg3VBCQ_15nuMNM/edit?usp=sharing

[2020-01-12 08:41] hasanozie commented on #188
Google docs link for this article

https://docs.google.com/document/d/1pRAxXAE-Ya4Z6n1PikRiMjdulyWNQREd36wj85eUenc/edit?usp=sharing

[2020-01-12 08:48] hasanozie commented on #193
Google docs link for this article

https://docs.google.com/document/d/15DxzvvMm6K2HfOsR6QS6L6s9enjlzVzLsRscf6p_EYk/edit?usp=sharing

[2020-01-12 08:55] hasanozie commented on #211
Google docs link for this article

https://docs.google.com/document/d/11xYNfm3ZdxLNkffitX-I2ulwdm6hgIeoS5wnaZ3_k4E/edit?usp=sharing

[2020-01-12 09:00] hasanozie commented on #224
Google docs link for this article

https://docs.google.com/document/d/1Tiwfst8Y4fQgL96k5ZP6zz3C4yzhXV4B880-kRqYk94/edit?usp=sharing

[2020-01-12 14:11] billsedison commented on #185
Good article for getting started with Dart language, thanks

[2020-01-12 14:20] billsedison commented on #190
Good article, thank you.

[2020-01-12 14:25] Dara-K commented on #165
Hi @mahestro ! I Great article - I have added one comment

[2020-01-12 15:50] kkartunov commented on #213
@quaddock, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-12 15:55] billsedison commented on #192
It's a high-level introduction of networking concepts, and it provides good references to all the related networking concepts regarding Blockchain. It's helpful to get people started.

Accept this article.

[2020-01-12 16:09] billsedison commented on #201
The article is not helpful. The official getting start guide provides more thorough steps and also provides more languages other than python.

https://firebase.google.com/docs/firestore/quickstart

[2020-01-12 16:11] billsedison commented on #202
Good and useful article for Salesforce testing.

[2020-01-12 16:13] billsedison commented on #222
@kkartunov I think it should be the Data Science track. @harshitmehta123 Can you please check?

[2020-01-12 16:15] kkartunov commented on #185
Contest https://www.topcoder.com/challenges/30112642 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-12 16:15] kkartunov commented on #185
Contest https://www.topcoder.com/challenges/30112642 has been updated - it has been assigned to iqbalhood.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-12 16:17] kkartunov commented on #202
Contest https://www.topcoder.com/challenges/30112643 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-12 16:17] kkartunov commented on #202
@gadzzzz, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-12 16:18] kkartunov commented on #129
Contest https://www.topcoder.com/challenges/30112644 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-12 16:18] kkartunov commented on #129
Contest https://www.topcoder.com/challenges/30112644 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-12 16:20] kkartunov commented on #128
Contest https://www.topcoder.com/challenges/30112645 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-12 16:20] kkartunov commented on #128
Contest https://www.topcoder.com/challenges/30112645 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-12 17:56] Dara-K commented on #160
Thank you!

[2020-01-12 20:26] kkartunov commented on #230
@introvertforachange please:

1. accept the invitation to join our org. I was sent to you by GitHub per email.
2. click the link https://x.topcoder.com/api/v1/github/teams/registration/f574f03c-7ae1-47ee-ae25-62a4f3880cac-1578060340082 to sign-up with Topcoder X tool

Thank You!

[2020-01-12 20:26] kkartunov commented on #213
@quaddock please:

1. accept the invitation to join our org. I was sent to you by GitHub per email.
2. click the link https://x.topcoder.com/api/v1/github/teams/registration/f574f03c-7ae1-47ee-ae25-62a4f3880cac-1578060340082 to sign-up with Topcoder X tool

Thank You!

[2020-01-12 20:27] kkartunov commented on #203
@quaddock please:

1. accept the invitation to join our org. It was sent to you by GitHub per email.
2. click the link https://x.topcoder.com/api/v1/github/teams/registration/f574f03c-7ae1-47ee-ae25-62a4f3880cac-1578060340082 to sign-up with Topcoder X tool

Thank You!

[2020-01-12 20:27] kkartunov commented on #202
@gadzzzz please:

1. accept the invitation to join our org. It was sent to you by GitHub per email.
2. click the link https://x.topcoder.com/api/v1/github/teams/registration/f574f03c-7ae1-47ee-ae25-62a4f3880cac-1578060340082 to sign-up with Topcoder X tool

Thank You!

[2020-01-12 20:28] kkartunov commented on #192
@quaddock please:

1. click the link https://x.topcoder.com/api/v1/github/teams/registration/f574f03c-7ae1-47ee-ae25-62a4f3880cac-1578060340082 to sign-up with Topcoder X tool

Thank You!

[2020-01-12 20:28] kkartunov commented on #170
@tcNickolas please:

1. accept the invitation to join our org. It was sent to you by GitHub per email.
2. click the link https://x.topcoder.com/api/v1/github/teams/registration/f574f03c-7ae1-47ee-ae25-62a4f3880cac-1578060340082 to sign-up with Topcoder X tool

Thank You!

[2020-01-12 20:39] kkartunov commented on #201
Thanks to @anu0012 and @billsedison. Closing this one

[2020-01-12 20:39] #201 closed

[2020-01-12 21:21] tcNickolas commented on #170
I accepted the GitHub org invitation; when I do the second step I get dark-blue screen with https://x.topcoder.com/#!/app/main url - is this expected or did something go wrong?

[2020-01-12 22:26] gadzzzz commented on #202
Hii @kkartunov . Done.

[2020-01-13 00:03] Dara-K commented on #171
Thank you! Looking good, but I think the phrasing can be improved here and there. I have added some suggestions in the doc.

[2020-01-13 00:53] Dara-K commented on #179
Thank you! I added some comments notes in the doc @hasanozie

[2020-01-13 05:48] billsedison commented on #223
Good article.

[2020-01-13 05:57] billsedison commented on #166
Looks good now, thanks.

[2020-01-13 06:13] billsedison commented on #234
@sunhong

Several issues

(1) What is the difference between `Create a new thread` and `new a new thread`?
![image](https://user-images.githubusercontent.com/5657467/72235497-6ed2b980-360d-11ea-820c-89e140ba387e.png)

(2) Some expression is a bit Chinglish

Like
![image](https://user-images.githubusercontent.com/5657467/72235587-fe786800-360d-11ea-8f4d-fa8c7336d5cd.png)

`an`  --> `a`
![image](htt

[2020-01-13 07:25] kkartunov commented on #230
@introvertforachange, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:26] kkartunov commented on #230
@introvertforachange please do as requested [here](https://github.com/topcoder-platform/thrive-submit/issues/230#issuecomment-573453647) otherwise we can't process your payment. Thanks

[2020-01-13 07:26] kkartunov commented on #213
Contest https://www.topcoder.com/challenges/30112604 has been updated - it has been assigned to quaddock.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:27] #213 closed

[2020-01-13 07:28] kkartunov commented on #213
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112604<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:30] kkartunov commented on #203
Contest https://www.topcoder.com/challenges/30112550 has been updated - it has been assigned to quaddock.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:31] #203 closed

[2020-01-13 07:31] kkartunov commented on #203
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112550<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:32] kkartunov commented on #202
Contest https://www.topcoder.com/challenges/30112643 has been updated - it has been assigned to gadzzzz.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:35] kkartunov commented on #223
Contest https://www.topcoder.com/challenges/30112670 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:35] kkartunov commented on #223
Contest https://www.topcoder.com/challenges/30112670 has been updated - it has been assigned to Yog-Sothoth.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:36] kkartunov commented on #166
Contest https://www.topcoder.com/challenges/30112671 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:36] kkartunov commented on #166
Contest https://www.topcoder.com/challenges/30112671 has been updated - it has been assigned to sunhong.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:37] kkartunov commented on #170
Contest https://www.topcoder.com/challenges/30112554 has been updated - it has been assigned to Nickolas.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:37] kkartunov commented on #170
@tcNickolas thank You. It is all good now.

[2020-01-13 07:37] #170 closed

[2020-01-13 07:38] kkartunov commented on #170
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112554<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 07:44] #151 closed

[2020-01-13 07:44] kkartunov commented on #151
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112628<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 08:01] #128 closed

[2020-01-13 08:01] kkartunov commented on #128
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112645<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 08:17] #129 closed

[2020-01-13 08:17] kkartunov commented on #129
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112644<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 08:23] anharismail commented on #112
Hi @Dara-K , I've posted the article on Google Docs.

Here the link: https://docs.google.com/document/d/150VeEfybDzGLiw0PvYQ-zGCvKnye7hMA7EeY0MBdb-k/edit?usp=sharing

[2020-01-13 09:15] #185 closed

[2020-01-13 09:15] kkartunov commented on #185
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112642<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 09:27] iqbalhood commented on #120
@Dara-K , @fajarmln,  @kkartunov
Hello friends,
I Have Updated the document based on @Dara-K comments
https://docs.google.com/document/d/1jpu6NTKCMar_0jryg2F7aYDOdKlBStYzqffY8Jcc8W0/edit?usp=sharing

Please check it again, and let me know if there is something in this article that needs to fix.

Thanks,
iqbalhood

[2020-01-13 11:30] introvertforachange commented on #230
@kkartunov I followed the above steps but I haven't set up the payment method on topcoder platform. when will the payment be released?

[2020-01-13 12:03] kkartunov commented on #230
Contest https://www.topcoder.com/challenges/30112551 has been updated - it has been assigned to manu_456.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 12:06] kkartunov commented on #230
@introvertforachange thanks, it is all good now.

Finish the payment setting in your Topcoder profile too. The payment will be released soon. Check articles here: https://www.topcoder.com/thrive/tracks?track=Topcoder&tax=Getting%20Paid

[2020-01-13 12:06] #230 closed

[2020-01-13 12:06] kkartunov commented on #230
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112551<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-13 13:17] amany9000 commented on #192
Hello, thank you for accepting my article. I just want to update the paragraph spacing and a couple of hyperlinks, could you tell me how to get on with that @kkartunov  ?

And the link is not working, error on my browser console -
![Screenshot 2020-01-13 at 6 39 42 PM](https://user-images.githubusercontent.com/25260406/72258837-10b9cc80-3635-11ea-8515-054d0281c7fe.png)

[2020-01-13 16:35] kkartunov commented on #192
@amany9000 investigating what is happening...
what is your exact TC handle?

[2020-01-13 18:13] Sande3p commented on #6
@anu0012
the like for is for the `azure-cosmos-python` repo & not for the code you added in this blog.

REf https://i.imgur.com/xgCATM9.png
in _quick_start_ tab, there are no such fields called `End point` or `primary key`. Instead there's a connection string & some other details.

[2020-01-13 18:45] amany9000 commented on #192
amany9000

[2020-01-13 21:16] fajarmln commented on #233
Thank you for the revision @PereViki.

Each reviewer will have their own thoughts about articles. In this case, I think the Topcoder part of this article is being enforced to get included as the content, so I want to clean it out.

Anyway, the article looks great now, thank you for the article

[2020-01-13 21:23] mahestro commented on #130
Thank you! Doc is updated.

[2020-01-13 21:27] fajarmln commented on #225
@iqbalhood, the overall article is great, but some of the images need to be replaced with a better resolution or complete change due to copyright or inappropriate for the article, please fix the images issue and we can close this ticket

[2020-01-13 21:31] PereViki commented on #233
Thank you @fajarmln

[2020-01-13 21:42] fajarmln commented on #224
I'm adding some comments in the google docs, please check and revise the article asap, thank you

[2020-01-13 21:43] mahestro commented on #155
Awesome! Updated 💪🏽

[2020-01-13 21:44] fajarmln commented on #212
Thank you for the reference @Dara-K.

I agree with it, let's close this ticket.

[2020-01-13 21:44] #212 closed

[2020-01-13 21:51] mahestro commented on #165
Thank you! Updated.

[2020-01-13 21:58] fajarmln commented on #211
Thank you for the article. However, in my opinion, the foldable phone screen size is the same thing as a tablet. So, it will be more useful if you create tutorial on how to create UI that works in two different resolutions (when the foldable phone is folded and opened). Right now, I believe this article does not bring much value, I will reject the article and close the ticket

[2020-01-13 21:58] #211 closed

[2020-01-13 22:05] Dara-K commented on #112
Hi @anharismail
Thank you. Can you give me edit right, please? my gmail address is keyla. blue1 @gmail.com (without spaces)

[2020-01-13 22:09] fajarmln commented on #205
Thank you for the article @iqbalhood, please check the google docs for my comment and apply it asap.

[2020-01-13 22:14] fajarmln commented on #196
@iqbalhood the article is good, but there are some issues with your article writing (grammar), please fix this issue asap, thank you

[2020-01-13 22:17] Dara-K commented on #120
Hi @iqbalhood
I have added a couple more comments there. Can you check again?
Thanks!

[2020-01-13 22:19] fajarmln commented on #193
This kind of article about how to create the best form design can be found a lot in the internet and not really interesting for us (not giving additional value for THRIVE), I will reject and close this ticket.

[2020-01-13 22:19] #193 closed

[2020-01-13 22:40] Dara-K commented on #165
Thank you! This is good to be published.

[2020-01-13 22:50] Dara-K commented on #155
Looks good now, thanks!

[2020-01-13 23:25] fajarmln commented on #188
Thank you for the article @hasanozie, but this article content is not deep enough and useful for THRIVE content. I will reject and close this ticket.

[2020-01-13 23:25] #188 closed

[2020-01-13 23:28] fajarmln commented on #183
Thank you for the article @hasanozie, but this content will encourage members to leave topcoder and start their own personal business or branding design agency which something that we want to have happened, we want people to get engaged more with topcoder, not leave it.

I will reject and close this ticket.

[2020-01-13 23:28] #183 closed

[2020-01-13 23:28] anharismail commented on #112
@Dara-K, I've done to giving the edit right for the article.

Thanks.

[2020-01-13 23:29] fajarmln commented on #105
This article is good to go!

[2020-01-13 23:31] fajarmln commented on #168
This one is good to go!

[2020-01-14 01:27] anu0012 commented on #6
Hi @Sande3p,
I'm not using Pymongo or MongoClient for this. In their python tab, they are using MongoClient for demonstration. Here I'm using Azure cosmos python library. If you go to others tab, you'll find the URL and primary key.

[2020-01-14 04:46] #223 closed

[2020-01-14 04:47] kkartunov commented on #223
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112670<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 04:55] #166 closed

[2020-01-14 04:55] kkartunov commented on #166
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112671<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:22] kkartunov commented on #190
Contest https://www.topcoder.com/challenges/30112717 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:22] kkartunov commented on #190
Contest https://www.topcoder.com/challenges/30112717 has been updated - it has been assigned to iqbalhood.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:23] kkartunov commented on #233
Contest https://www.topcoder.com/challenges/30112718 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:23] kkartunov commented on #233
Contest https://www.topcoder.com/challenges/30112718 has been updated - it has been assigned to PereViki.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:24] kkartunov commented on #168
Contest https://www.topcoder.com/challenges/30112719 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:24] kkartunov commented on #168
Contest https://www.topcoder.com/challenges/30112719 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:25] kkartunov commented on #165
Contest https://www.topcoder.com/challenges/30112720 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:25] kkartunov commented on #165
Contest https://www.topcoder.com/challenges/30112720 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:27] kkartunov commented on #155
Contest https://www.topcoder.com/challenges/30112721 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:27] kkartunov commented on #155
Contest https://www.topcoder.com/challenges/30112721 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:28] kkartunov commented on #105
Contest https://www.topcoder.com/challenges/30112722 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:28] kkartunov commented on #105
Contest https://www.topcoder.com/challenges/30112722 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:31] kkartunov commented on #190
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112717<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:31] #190 closed

[2020-01-14 05:32] kkartunov commented on #192
Contest https://www.topcoder.com/challenges/30112723 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:32] kkartunov commented on #192
Contest https://www.topcoder.com/challenges/30112723 has been updated - it has been assigned to amany9000.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:32] #192 closed

[2020-01-14 05:37] kkartunov commented on #192
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112723<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 05:52] #202 closed

[2020-01-14 05:53] kkartunov commented on #202
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112643<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-14 06:41] harshitmehta123 commented on #232
How about we work on improving the already existing article on sieve and adding to it? I will reach out to you to help in improving and adding to it. Drop me an email at harshit@topcoder.com if you are interested :)

[2020-01-14 07:01] harshitmehta123 commented on #222
We already have a an article on Quantum Computing for Beginners. https://www.topcoder.com/quantum-computing-for-beginners-what-you-need-to-know/

Also, we have a series on Quantum Algorithms written by you :)

[2020-01-14 07:45] hasanozie commented on #160
Hi @Dara-K  ,
Below is the google docs link for this article
Thanks :)

https://drive.google.com/file/d/1Oy9eeHZBE6ceYg9fsUvE9zrZQfOTrowV/view?usp=sharing

[2020-01-14 08:04] #222 closed

[2020-01-14 08:43] fajarmln commented on #189
@iqbalhood thank you for the revision, please check my comments about images in the article, fix it and we can close this ticket.

[2020-01-14 13:47] Sande3p commented on #6
I checked all the tabs but it's not present in any of them.
Okay, in this case, could you please include this snapshot of this tab in the blog.
Apart from this please create a git repo & add all the code you added in the article. This way it's easier for everyone to see it & embedding them in the article.

[2020-01-14 14:13] hasanozie commented on #141
Hi bang @fajarmln
I have created a version of Google Docs for this article.

https://docs.google.com/document/d/17tcD6sHBaMqO-QUPktEy0FaMQ4FeEwvz-RuHWE0dxJs/edit?usp=sharing

[2020-01-14 23:35] iqbalhood commented on #196
Hi, @fajarmln
I have fixed the grammar and changed the cover image to match the theme of the article.

https://docs.google.com/document/d/1tBD0GHo15utPM6ARrmkQIDzi8h6eGpUjT2VwAH1pmqI/edit?usp=sharing

Please check it again, and let me know if there is something in this article that needs to fix.

Thanks,
@iqbalhood

[2020-01-14 23:54] iqbalhood commented on #189
Hello Sir, @fajarmln
I Have Modified the document following your suggestion and comments. Please check it again

https://docs.google.com/document/d/1fqzjdH1vVnx7_4YWg_IeWwwzF58KzHzmpVkhJemxA7Y/edit?usp=sharing

Let me know if there is something need to be fixed
Thanks
@iqbalhood

[2020-01-14 23:55] iqbalhood commented on #212
Okay, No Problem, Thanks for the review @fajarmln @Dara-K

[2020-01-15 04:31] fajarmln commented on #196
@iqbalhood when I said the grammar issue, it's not just the one that I marked, but the entire article, it needs to be more in a formal format. Please check again and fix the issue, thank you.

[2020-01-15 07:03] fajarmln commented on #189
@iqbalhood can you replace one image in the docs with somethig else, the quality is bad

[2020-01-15 07:38] anu0012 commented on #6
Sorry @Sande3p I just checked it's there in the Keys section. And yes I'll create a repo for this.

[2020-01-15 09:33] tcNickolas commented on #170
Who can I talk to about the formatting of the post? All the links are lost, which makes it a lot less useful...

[2020-01-15 11:51] Dara-K commented on #160
Hi @hasanozie
Thanks for the updates. I have added a couple of comments in the document. Please review and confirm here when you did.

[2020-01-15 12:23] kkartunov commented on #170
@tcNickolas that would be me...
Please, share here what needs to be corrected. Thanks

[2020-01-15 12:31] kkartunov commented on #170
@tcNickolas I have added those links under references. If anything else needs an update let me know. Thank You for your collaboration!

[2020-01-15 12:41] Dara-K commented on #112
Hi @anharismail

Thank you for the access. I have reviewed your article and edited a little. Can you please check?

I have also left some comments for you there.

[2020-01-15 12:43] Dara-K commented on #120
Hi @iqbalhood
Thanks for the revision. I have added a couple more comments there after your last update. Can you check again?
Thanks!

[2020-01-15 12:46] iqbalhood commented on #120
Okay, I Will fix the article soon :)
Thanks @Dara-K

[2020-01-15 12:55] Dara-K commented on #171
Hi @hasanozie

Can you please check my latest comments? just 2 small ones to approve and we're done with this article

Thank you.

[2020-01-15 13:19] hasanozie commented on #171
Hi @Dara-K ,

I have corrected the article according to your suggestion. thank you.

[2020-01-15 14:19] hasanozie commented on #160
Hi @Dara-K
I have corrected the article according to your suggestion. is there anything else that needs to be fixed?

[2020-01-15 15:51] kkartunov commented on #234
@sunhong please complete the reviewer's request in a day otherwise we will be forced to close it.
Thank you

[2020-01-15 16:41] hasanozie commented on #179
Hi @Dara-K
Is there anything else in this article that needs to be fixed?

[2020-01-15 16:52] Dara-K commented on #171
Thank you! Looks good now!

[2020-01-15 16:54] anharismail commented on #112
Hi there @Dara-K

Thanks a lot for your revisions.

I've updated the article as you commented on.

https://docs.google.com/document/d/150VeEfybDzGLiw0PvYQ-zGCvKnye7hMA7EeY0MBdb-k/edit

[2020-01-15 16:54] Dara-K commented on #160
Thank you, it's good to go. Well done!

[2020-01-15 17:16] Dara-K commented on #179
This looks good now, thank you.

[2020-01-15 17:37] Dara-K commented on #112
Thanks for the updates.
I change the title a little bit too and I think we're good now. This article is good to go.
Well done!

[2020-01-15 18:19] anu0012 commented on #6
Hi @Sande3p This is the link to the repo.

https://github.com/anu0012/cosmos_getting_started

[2020-01-15 18:29] kkartunov commented on #179
Contest https://www.topcoder.com/challenges/30112834 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-15 18:29] kkartunov commented on #179
Contest https://www.topcoder.com/challenges/30112834 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-15 18:30] kkartunov commented on #171
Contest https://www.topcoder.com/challenges/30112835 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-15 18:30] kkartunov commented on #171
Contest https://www.topcoder.com/challenges/30112835 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-15 18:31] kkartunov commented on #160
Contest https://www.topcoder.com/challenges/30112836 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-15 18:31] kkartunov commented on #160
Contest https://www.topcoder.com/challenges/30112836 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-15 18:33] kkartunov commented on #112
Contest https://www.topcoder.com/challenges/30112837 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-15 18:33] kkartunov commented on #112
@anharismail, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-15 19:43] anharismail commented on #112
Hi @kkartunov, I actually have different handle in Topcoder and GitHub. My topcoder handle: aizenanhar

thanks

[2020-01-15 20:11] Sande3p commented on #6
Hey @anu0012, thanks for the update. It's good to go now.

[2020-01-15 20:17] kkartunov commented on #112
@anharismail we will see to give you access to the org and then will handle the rest. Please, stay tuned for awhile...

[2020-01-16 03:36] sunhong commented on #234
Working on it, will post it very soon.

[2020-01-16 07:37] #105 closed

[2020-01-16 07:38] kkartunov commented on #105
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112722<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-16 07:49] #168 closed

[2020-01-16 07:50] kkartunov commented on #168
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112719<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-16 08:01] #155 closed

[2020-01-16 08:02] kkartunov commented on #155
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112721<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-16 08:16] #165 closed

[2020-01-16 08:16] kkartunov commented on #165
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112720<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-16 08:22] fajarmln commented on #225
Any updates @iqbalhood ?

[2020-01-16 08:22] fajarmln commented on #224
Any updates @hasanozie?

[2020-01-16 08:22] fajarmln commented on #205
Any updates @iqbalhood ?

[2020-01-16 08:23] fajarmln commented on #196
any updates @iqbalhood ?

[2020-01-16 08:23] fajarmln commented on #189
any updates @iqbalhood ?

[2020-01-16 08:27] hasanozie commented on #224
Hi bang @fajarmln
I have made an update to this article yesterday.
please check the google docs comments.
thanks :)

[2020-01-16 08:38] kkartunov commented on #6
Contest https://www.topcoder.com/challenges/30112868 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-16 08:38] kkartunov commented on #6
Contest https://www.topcoder.com/challenges/30112868 has been updated - it has been assigned to anu0012.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-16 08:43] kkartunov commented on #6
Payment failed: [500]: Failed to get challenge details by Id<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-16 08:58] #6 closed

[2020-01-16 08:59] kkartunov commented on #6
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112868<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-16 09:13] iqbalhood commented on #225
@fajarmln
I'm working on it, sir, I'll send it in the next few hours.

[2020-01-16 09:13] iqbalhood commented on #196
@fajarmln
I'm working on it, sir, I'll send it in the next few hours.

[2020-01-16 09:49] iqbalhood commented on #120
Hello @Dara-K ,  @fajarmln , @kkartunov
I have edited the article in accordance with the comments given by @Dara-K  on Google Docs. Sorry for the rather long editing time. If there is anything that needs to be fixed please let me know.

https://docs.google.com/document/d/1jpu6NTKCMar_0jryg2F7aYDOdKlBStYzqffY8Jcc8W0/edit?usp=sharing

Thanks !

[2020-01-16 10:03] iqbalhood commented on #189
@fajarmln
Hello, Sir,
I have fixed the image and content according to the suggestion you gave. Please review this draft article again. And let me know if something needs to be fixed.

https://docs.google.com/document/d/1fqzjdH1vVnx7_4YWg_IeWwwzF58KzHzmpVkhJemxA7Y/edit?usp=sharing

Thanks
**iqbalhood**

[2020-01-16 21:29] kkartunov commented on #112
@anharismail you should have the invitation in your email linked with GitHub.
1. Please, accept it
2. Then click this link to join TCX https://x.topcoder.com/api/v1/github/teams/registration/fc240587-d83a-4a6f-a937-83700bf9c25c-1579210157054

[2020-01-16 21:53] anharismail commented on #112
@kkartunov, I've accepted the invitation from the platform. Then, clicking your link and give authorization. But, still displayed nothing when opened the x.topcoder.com

[2020-01-17 02:56] tcNickolas commented on #170
It's probably better to do links to the pages directly from the relevant phrases in the text, since references style doesn't really work if the reader can't click on [1] to get to the reference easily.

[2020-01-17 10:04] kkartunov commented on #112
Contest https://www.topcoder.com/challenges/30112837 has been updated - it has been assigned to aizenanhar.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-17 10:22] kkartunov commented on #112
@anharismail it is all good now. Thank You!

[2020-01-17 10:28] kkartunov commented on #112
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-17 10:36] kkartunov commented on #112
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-17 10:37] kkartunov commented on #233
Payment failed: [400]: Failed to update challenge. Detail: javax.ejb.EJBTransactionRolledbackException<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-17 12:46] #233 closed

[2020-01-17 12:46] kkartunov commented on #233
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112718<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-17 12:46] #179 closed

[2020-01-17 12:47] kkartunov commented on #179
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112834<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-17 12:47] #171 closed

[2020-01-17 12:47] kkartunov commented on #171
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112835<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-17 12:48] #160 closed

[2020-01-17 12:48] kkartunov commented on #160
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112836<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-17 12:48] #112 closed

[2020-01-17 12:49] kkartunov commented on #112
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30112837<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-17 12:51] kkartunov commented on #234
@billsedison this awaits your final review. Thanks

[2020-01-17 12:52] kkartunov commented on #225
@iqbalhood are you planning to complete this one or I should close it?

[2020-01-17 12:53] kkartunov commented on #205
@iqbalhood are you planning to complete this one or I should close it?

[2020-01-17 12:53] kkartunov commented on #196
@iqbalhood are you planning to complete this one or I should close it?

[2020-01-17 12:55] kkartunov commented on #56
Closing this due to long inactivity.

[2020-01-17 12:55] #56 closed

[2020-01-17 13:34] iqbalhood commented on #196
@kkartunov  , I'm working on it. I will finish it in 2 hours.

[2020-01-17 13:35] iqbalhood commented on #205
@kkartunov  , I'm working on it. I will finish it in 2 hours.

[2020-01-17 13:36] iqbalhood commented on #225
@kkartunov  , I'm working on it. I will finish it in 2 hours.

[2020-01-17 15:16] iqbalhood commented on #196
Hello Sir @fajarmln ,
I Have updated the article.
https://docs.google.com/document/d/1tBD0GHo15utPM6ARrmkQIDzi8h6eGpUjT2VwAH1pmqI/edit?usp=sharing

 Please check it again.
Thank's

[2020-01-17 16:02] iqbalhood commented on #225
Hello Sir @fajarmln
I Have fixed the image issue. Please check it again
https://docs.google.com/document/d/1lTGBsMhEwEBqXXs9ksKwUTLoNU2qhkkfEMf-eb2GHzU/edit?usp=sharing

Thank You

[2020-01-17 16:23] iqbalhood commented on #205
Hello Sir, @fajarmln
I have modified the article.
https://docs.google.com/document/d/1TDD0tia5FLXSm_GYXWSvuQm1_dydAaUGsRau_-JsDzI/edit?usp=sharing

Please check it again.
Thanks

[2020-01-18 12:23] Dara-K commented on #120
Hi @iqbalhood
Thanks for the updates.
I added a few more comments. Can you review again please?

[2020-01-18 16:41] billsedison commented on #234
Looks good now, thanks.

[2020-01-19 02:37] iqbalhood commented on #120
Hi, @Dara-K ,
I Have updated the article. But I have some questions about your comment on the article.
Can You Chek it again?

[2020-01-19 07:41] Dara-K commented on #120
Thanks @iqbalhood

I have just replied to you.

[2020-01-19 07:42] Dara-K commented on #130
Thank you! There is just one more comment left open and then we can close this. Could you update that part too? @mahestro

[2020-01-19 07:47] iqbalhood commented on #120
Hi @Dara-K , I have applied all your comments in this article.

Please check it again. :)

[2020-01-19 07:54] Dara-K commented on #120
Looks great now, thank you!

[2020-01-19 09:05] iqbalhood commented on #120
Thank You @Dara-K  :)

[2020-01-20 12:27] kkartunov commented on #234
Contest https://www.topcoder.com/challenges/30113132 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-20 12:30] kkartunov commented on #120
Contest https://www.topcoder.com/challenges/30113133 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-20 12:30] kkartunov commented on #120
Contest https://www.topcoder.com/challenges/30113133 has been updated - it has been assigned to iqbalhood.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-20 12:31] kkartunov commented on #234
Contest https://www.topcoder.com/challenges/30113132 has been updated - it has been assigned to sunhong.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-20 12:32] kkartunov commented on #234
Ah download works now @sunhong ...

[2020-01-20 15:33] kkartunov commented on #130
Contest https://www.topcoder.com/challenges/30113142 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-20 15:33] kkartunov commented on #130
Contest https://www.topcoder.com/challenges/30113142 has been updated - it has been assigned to mahestro.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-20 17:42] fajarmln commented on #189
This looks good now @iqbalhood, the article is approved. Thank you.

[2020-01-20 17:45] fajarmln commented on #224
This looks good now, article is approved.

[2020-01-20 17:56] fajarmln commented on #225
It still have some issues, small one, let's fix this asap so we can close this article

[2020-01-20 18:11] fajarmln commented on #205
@iqbalhood some phrasing and grammar mistakes still need to be fixed, please make sure to fix them asap.

[2020-01-20 18:14] fajarmln commented on #196
Please fix the phrasing and grammar issue in the article, thank you

[2020-01-21 00:07] iqbalhood commented on #189
Thank You Sir, :)

[2020-01-21 05:48] kkartunov commented on #189
Contest https://www.topcoder.com/challenges/30113173 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-21 05:48] kkartunov commented on #224
Contest https://www.topcoder.com/challenges/30113172 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-21 05:48] kkartunov commented on #189
Contest https://www.topcoder.com/challenges/30113173 has been updated - it has been assigned to iqbalhood.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-21 05:48] kkartunov commented on #224
Contest https://www.topcoder.com/challenges/30113172 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-21 05:57] #130 closed

[2020-01-21 05:58] kkartunov commented on #130
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113142<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-21 06:23] #120 closed

[2020-01-21 06:24] kkartunov commented on #120
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113133<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-21 06:32] #234 closed

[2020-01-21 06:33] kkartunov commented on #234
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113132<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-21 11:05] iqbalhood commented on #196
Hello sir, @fajarmln
The grammar issue has been fixed. I Have updated the article.
Please check the document again.
Thank You

[2020-01-21 11:05] fajarmln commented on #141
@hasanozie lot if phrasing issue appears in your article, I cannot mark it one by one, please revise the article today and fix the issue so the viewer can easily read the article.

[2020-01-21 11:11] iqbalhood commented on #225
Hello sir, The issue has been fixed.
Please check the document again.
Thank You

[2020-01-21 11:14] fajarmln commented on #196
It looks good now, thank you. This article is passed review

[2020-01-21 12:31] fajarmln commented on #205
Looks good now, article is approved!

[2020-01-21 12:32] iqbalhood commented on #205
@fajarmln
Thank you, sir :)

[2020-01-21 12:32] iqbalhood commented on #225
@fajarmln
Thank you, sir :)

[2020-01-21 12:35] iqbalhood commented on #196
@fajarmln
Thank you, sir :)

[2020-01-21 16:09] hasanozie commented on #141
Hi bang @fajarmln
I have corrected the phrase errors in this article.
Let me know if there is something that needs to be fixed.
Thanks :)

https://docs.google.com/document/d/17tcD6sHBaMqO-QUPktEy0FaMQ4FeEwvz-RuHWE0dxJs/edit?usp=sharing

[2020-01-22 06:11] #189 closed

[2020-01-22 06:12] kkartunov commented on #189
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113173<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-22 06:27] #224 closed

[2020-01-22 06:27] kkartunov commented on #224
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113172<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-22 06:31] kkartunov commented on #225
Contest https://www.topcoder.com/challenges/30113271 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-22 06:31] kkartunov commented on #225
Contest https://www.topcoder.com/challenges/30113271 has been updated - it has been assigned to iqbalhood.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-22 06:32] kkartunov commented on #205
Contest https://www.topcoder.com/challenges/30113272 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-22 06:32] kkartunov commented on #205
Contest https://www.topcoder.com/challenges/30113272 has been updated - it has been assigned to iqbalhood.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-22 06:33] kkartunov commented on #196
Contest https://www.topcoder.com/challenges/30113273 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-22 06:33] kkartunov commented on #196
Contest https://www.topcoder.com/challenges/30113273 has been updated - it has been assigned to iqbalhood.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-22 06:34] fajarmln commented on #141
@hasanozie, just small issue in your article, lets fix it so we can close this one

[2020-01-22 06:50] hasanozie commented on #141
Hi bang @fajarmln
I have made improvements to this article according to the advice you gave.
Thanks :)

[2020-01-22 06:52] fajarmln commented on #141
It looks good now, article approved!

[2020-01-22 06:52] hasanozie commented on #141
Thanks bang @fajarmln :)

[2020-01-22 07:24] kkartunov commented on #141
Contest https://www.topcoder.com/challenges/30113274 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-22 07:24] kkartunov commented on #141
Contest https://www.topcoder.com/challenges/30113274 has been updated - it has been assigned to hasanozie.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-23 07:53] #141 closed

[2020-01-23 07:54] kkartunov commented on #141
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113274<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-23 08:08] #196 closed

[2020-01-23 08:09] kkartunov commented on #196
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113273<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-23 08:22] #225 closed

[2020-01-23 08:23] kkartunov commented on #225
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113271<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-01-23 08:34] #205 closed

[2020-01-23 08:35] kkartunov commented on #205
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30113272<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 11:06] kkartunov opened #236 "[$75]Development Resources and Learning page"
In the scope of this ticket is to convert all links from https://www.topcoder.com/community/development/learn to Thrive articles.

- Only the first 3 from the beginning are complete articles that need full re-creation in Thrive.
- Rest are external sources. We should create them as such and link to them. **Make sure the article is not already in Thrive by searching for its title.** Some of them ar

[2020-02-17 11:16] kkartunov commented on #236
Contest https://www.topcoder.com/challenges/30116036 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 11:18] kkartunov commented on #236
Contest https://www.topcoder.com/challenges/30116036 has been updated - it has been assigned to kiril.kartunov.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 11:18] kkartunov commented on #236
Contest https://www.topcoder.com/challenges/30116036 has been updated - iversonLv has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 11:18] kkartunov commented on #236
Contest https://www.topcoder.com/challenges/30116036 has been updated - iversonLv has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 11:19] kkartunov commented on #236
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 11:19] kkartunov commented on #236
Contest https://www.topcoder.com/challenges/30116036 has been updated - iversonLv has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 11:39] iversonLv commented on #236
Rest are external sources. We should create them as such and link to them. Make sure the article is not already in Thrive by searching for its title.

So they still need to be created?

[2020-02-17 11:58] kkartunov commented on #236
Just the 1st sentence as a description. No need to duplicate them. Example of external article: https://app.contentful.com/spaces/piwi0eufbb2g/entries/1WjBd7EC53IIQ8gkLCfzip

[2020-02-17 11:58] kkartunov commented on #236
Contest https://www.topcoder.com/challenges/30116036 has been updated - iversonLv has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 12:21] kkartunov commented on #236
Contest https://www.topcoder.com/challenges/30116036 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 12:30] iversonLv commented on #236
If all are required to created, 30 articles = $75 looked quite low.

Some aritcles are created example 'A HOW TO: UI PROTOTYPE CHALLENGES AT TOPCODER' however, it's just a sample paragraph.

Please consider the payment

[2020-02-17 12:42] iversonLv commented on #236
BTW, some articles looked similar or the same except the title
4th: Development Workshop w/ Akinwale
Contentful article: Development Workshop - 5 Weeks to Learn Topcoder with Akinwale

So should I re-create one with the title?
should I update the contentful article title to new one and update the content to first paragraph?

[2020-02-17 15:07] iversonLv commented on #236
4. How could I know the tags/track category/author for other article?

[2020-02-17 15:19] kkartunov opened #237 "[$75]How To Compete in SRMs"
In scope is this page https://www.topcoder.com/community/competitive-programming/how-to-compete

We need to convert it to Thrive using this format https://www.topcoder.com/thrive/articles/How%20To%20Compete%20in%20Design. Note how:

- There should be Contents section with anchors
- All images (please check on this as well) are already uploaded to Community space so we can directly link to them usi

[2020-02-17 15:22] kkartunov commented on #237
Contest https://www.topcoder.com/challenges/30116086 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 15:22] kkartunov commented on #237
All those links at left are H3 with anchors. Others should be h4 or h5.

[2020-02-17 15:23] kkartunov commented on #237
Contest https://www.topcoder.com/challenges/30116086 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 16:14] kkartunov opened #238 "[$150]DS Datasets pages"
In scope to convert as Thrive articles are:

- https://www.topcoder.com/community/data-science/datasets/yellowstone
- https://www.topcoder.com/community/data-science/datasets/atrocity-prevention
- https://www.topcoder.com/community/data-science/datasets/iss-longeron
- https://www.topcoder.com/community/data-science/datasets/precision-medicine
- https://www.topcoder.com/community/data-science/model

[2020-02-17 16:17] kkartunov commented on #238
Contest https://www.topcoder.com/challenges/30116088 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 16:21] kkartunov commented on #238
Contest https://www.topcoder.com/challenges/30116088 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-17 17:20] iversonLv commented on #236
'+' means created by me
'-' means 503 won't create
' ' means they are already converted

**List of Development Resources** article will contain a list of the external source

Total of 12 new articles

|   | Title                                                                      |
|---|----------------------------------------------------------------------------|
| + | JavaScript Essentials - Par

[2020-02-17 17:21] iversonLv commented on #236
@kkartunov ready for review

[2020-02-18 06:07] iversonLv commented on #237
@kkartunov Ready for review
For extra and FAQ , I followed the example article to show them at last.

For FQA section, I make consistent with the extra structure use h5 for the title rather bold because I noticed SRMs FQA section, some are long paragraph rather than only one line sentence which with some sub-title
So main title keep with h5, sub-title with bold

Thanks.

[2020-02-18 08:10] iversonLv commented on #238
@kkartunov Ready for review

[2020-02-18 17:00] kkartunov commented on #237
Done. Thanks

[2020-02-18 17:00] #237 closed

[2020-02-18 17:00] kkartunov commented on #237
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30116086<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-18 17:27] kkartunov commented on #236
Done. Thanks

[2020-02-19 10:24] kkartunov commented on #238
Done. Thanks

[2020-02-19 10:24] #238 closed

[2020-02-19 10:24] kkartunov commented on #238
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30116088<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-19 13:03] kkartunov commented on #236
Thank You

[2020-02-19 13:03] #236 closed

[2020-02-19 13:03] kkartunov commented on #236
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30116036<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-20 05:33] kkartunov opened #239 "[$100]Competitive Programming Tutorials 1"
Source https://www.topcoder.com/community/competitive-programming/tutorials/

In scope to convert:
![Screenshot from 2020-02-20 07-27-40](https://user-images.githubusercontent.com/5585002/74903749-8d696480-53b2-11ea-869c-76093863c34b.png)

- Track "Competitive Programming"
- Content Category - best passing one, please select
- Tags - from content
- Date from the source table(index page)
- Read tim

[2020-02-20 05:37] kkartunov commented on #239
Contest https://www.topcoder.com/challenges/30116407 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-20 05:38] kkartunov commented on #239
Contest https://www.topcoder.com/challenges/30116407 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-20 05:53] kkartunov opened #240 "[$100]Competitive Programming Tutorials 2"
Source https://www.topcoder.com/community/competitive-programming/tutorials/

In scope to convert:
![Screenshot from 2020-02-20 07-52-52](https://user-images.githubusercontent.com/5585002/74905103-04542c80-53b6-11ea-941f-cda19e6824d6.png)

- Track "Competitive Programming"
- Content Category - best passing one, please select
- Tags - from content
- Date from the source table(index page)
- Read tim

[2020-02-20 05:57] kkartunov commented on #240
Contest https://www.topcoder.com/challenges/30116410 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-20 07:31] kkartunov commented on #240
Contest https://www.topcoder.com/challenges/30116410 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-20 09:31] iversonLv commented on #239
@kkartunov Ready for review
Geometry Concepts part 1: Basic Concepts
https://www.topcoder.com/thrive/articles/Geometry%20Concepts%20part%201:%20Basic%20Concepts

Geometry Concepts part 2:  Line Intersection and its Applications
https://www.topcoder.com/thrive/articles/Geometry%20Concepts%20part%202:%20%20Line%20Intersection%20and%20its%20Applications

Geometry Concepts part 3: Using Geometry in To

[2020-02-20 15:55] iversonLv commented on #240
@kkartunov Ready for review

Computational Complexity part one
https://www.topcoder.com/thrive/articles/Computational%20Complexity%20part%20one

Computational Complexity part two
https://www.topcoder.com/thrive/articles/Computational%20Complexity%20part%20two

Using Regular Expressions
https://www.topcoder.com/thrive/articles/Using%20Regular%20Expressions

Understanding Probabilities
https://www.t

[2020-02-21 08:06] kkartunov opened #241 "[$100]Competitive Programming Tutorials 3"
Source https://www.topcoder.com/community/competitive-programming/tutorials/

In scope to convert:
![Screenshot from 2020-02-21 10-04-06](https://user-images.githubusercontent.com/5585002/75015597-abf25d00-5491-11ea-9498-fb3cb88c6532.png)

- Track "Competitive Programming"
- Content Category - best passing one, please select
- Tags - from content context. Follow https://topcoder.slack.com/archives

[2020-02-21 08:14] kkartunov opened #242 "[$100]Competitive Programming Tutorials 4"
Source https://www.topcoder.com/community/competitive-programming/tutorials/

In scope to convert:
![Screenshot from 2020-02-21 10-13-50](https://user-images.githubusercontent.com/5585002/75016086-df81b700-5492-11ea-834d-2e2fc3937c93.png)

- Track "Competitive Programming"
- Content Category - best passing one, please select
- Tags - from content context. Follow https://topcoder.slack.com/archives

[2020-02-21 16:33] iversonLv commented on #242
@kkartunov ready for review

242
Range Minimum Query and Lowest Common Ancestor
https://www.topcoder.com/thrive/articles/Range%20Minimum%20Query%20and%20Lowest%20Common%20Ancestor

Power up C++ with the Standard Template Library Part One
https://www.topcoder.com/thrive/articles/Power%20up%20C++%20with%20the%20Standard%20Template%20Library%20Part%20One

Power up C++ with the Standard Template Libra

[2020-02-21 16:33] iversonLv commented on #241
@kkartunov  ready for review

241
Maximum Flow Part one
https://www.topcoder.com/thrive/articles/Maximum%20Flow%20Part%20one

Maximum Flow Part Two
https://www.topcoder.com/thrive/articles/Maximum%20Flow%20Part%20Two

Representation of Integers and Reals Part One
https://www.topcoder.com/thrive/articles/Representation%20of%20Integers%20and%20Reals%20Part%20One

Representation of Integers and Reals

[2020-02-22 10:40] kkartunov commented on #239
Done. Thank You

[2020-02-22 10:40] #239 closed

[2020-02-22 10:40] kkartunov commented on #239
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30116407<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-22 10:55] kkartunov commented on #241
Contest https://www.topcoder.com/challenges/30116789 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-22 10:55] kkartunov commented on #241
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-22 10:55] kkartunov commented on #242
Contest https://www.topcoder.com/challenges/30116790 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-22 10:55] kkartunov commented on #242
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-22 10:56] kkartunov commented on #242
Contest https://www.topcoder.com/challenges/30116790 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-22 10:58] kkartunov commented on #241
Contest https://www.topcoder.com/challenges/30116789 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-22 11:17] kkartunov opened #243 "[$200]Competitive Programming Tutorials 5"
Source https://www.topcoder.com/community/competitive-programming/tutorials/

In scope to convert:
![Screenshot from 2020-02-22 13-12-10](https://user-images.githubusercontent.com/5585002/75091370-10d2b380-5575-11ea-9c68-ed00d3710d8c.png)

- Track "Competitive Programming"
- Content Category - best passing one, please select
- Tags - from content context. Follow https://topcoder.slack.com/archives

[2020-02-22 11:19] kkartunov commented on #243
Contest https://www.topcoder.com/challenges/30116792 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-22 11:23] kkartunov commented on #243
Contest https://www.topcoder.com/challenges/30116792 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-22 17:11] iversonLv commented on #243
@kkartunov ready for review
Please consider the payment. $200 is fair enough.

Line Sweep Algorithms
https://www.topcoder.com/thrive/articles/Line%20Sweep%20Algorithms

Minimum Cost Flow Part One: Key Concepts
https://www.topcoder.com/thrive/articles/Minimum%20Cost%20Flow%20Part%20One:%20Key%20Concepts

Minimum Cost Flow Part Two: Algorithms
https://www.topcoder.com/thrive/articles/Minimum%20Cost%

[2020-02-23 23:19] jlhopkins28160 opened #244 "[$50]Thrive - Explore This!: Exploratory Data Analysis using Python"
Track: Data Science
Author: hopkins28160

[Exploratory Data Analysis with Python.docx](https://github.com/topcoder-platform/thrive-submit/files/4242667/Exploratory.Data.Analysis.with.Python.docx)

[2020-02-24 13:33] kkartunov commented on #240
Done.

[2020-02-24 13:33] #240 closed

[2020-02-24 13:33] kkartunov commented on #240
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30116410<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-24 13:40] kkartunov commented on #241
Done.

[2020-02-24 13:40] #241 closed

[2020-02-24 13:41] kkartunov commented on #241
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30116789<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-24 15:45] kkartunov commented on #242
Done.

[2020-02-24 15:45] #242 closed

[2020-02-24 15:45] kkartunov commented on #242
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30116790<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-25 07:40] kkartunov commented on #243
Done.

[2020-02-25 07:40] #243 closed

[2020-02-25 07:41] kkartunov commented on #243
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30116792<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-25 08:06] kkartunov commented on #244
Passed basic checks.

[2020-02-25 12:05] harshitmehta123 commented on #244
https://docs.google.com/document/d/1oricYwZVC1JcBACVbsKUYVsWPn5-X9vsUtAl829rl6k/edit

Hey, @jlhopkins28160 I have updated the title and tags.

This is good to go!

[2020-02-26 07:27] kkartunov commented on #244
@jlhopkins28160 please comment on the document https://docs.google.com/document/d/1oricYwZVC1JcBACVbsKUYVsWPn5-X9vsUtAl829rl6k/edit **on all images post the image source url** where we can download them. After that, we will proceed with your submission.

Thanks

[2020-02-26 12:26] kkartunov opened #245 "[$75]MVP and Contact pages to Contentful"
In scope is to complete 2 pages:

**MVPs page**
Design: https://marvelapp.com/535c9ga/screen/66441663/handoff
Contentful: https://app.contentful.com/spaces/b5f1djy59z3a/entries/4qj9c9pzhmRZSzWhYDrEAI

**Contact US page**
Design: https://marvelapp.com/535c9ga/screen/66441679/handoff
Contentful: https://app.contentful.com/spaces/b5f1djy59z3a/entries/ZBbwDQXgOKUC2ms9SJfTk

[2020-02-26 12:29] kkartunov commented on #245
Contest https://www.topcoder.com/challenges/30117292 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-26 14:56] jlhopkins28160 commented on #244
Track: Data Science
Author: hopkins28160

@kkartunov I made the changes to the document here: https://docs.google.com/document/d/1oricYwZVC1JcBACVbsKUYVsWPn5-X9vsUtAl829rl6k/edit

[2020-02-27 07:15] iversonLv commented on #245
@kkartunov  ready for review.

MVPs page
https://community-app.topcoder.com/examples/contentful/viewport/4qj9c9pzhmRZSzWhYDrEAI

Contact Us page
https://community-app.topcoder.com/examples/contentful/viewport/ZBbwDQXgOKUC2ms9SJfTk

[2020-02-27 07:58] kkartunov commented on #245
Contest https://www.topcoder.com/challenges/30117292 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-27 08:00] kkartunov commented on #244
@jlhopkins28160 thank you but please make one final effort and link the images properly not just the repo link. Thanks You

[2020-02-27 10:21] kkartunov commented on #245
Done.

[2020-02-27 10:21] #245 closed

[2020-02-27 10:22] kkartunov commented on #245
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30117292<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-27 12:51] jlhopkins28160 commented on #244
Track: Data Science
Author: hopkins28160

@kkartunov Linked images here: https://docs.google.com/document/d/1oricYwZVC1JcBACVbsKUYVsWPn5-X9vsUtAl829rl6k/edit

[2020-02-28 07:58] kkartunov commented on #244
Contest https://www.topcoder.com/challenges/30117559 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-28 07:59] kkartunov commented on #244
Contest https://www.topcoder.com/challenges/30117559 has been updated - it has been assigned to hopkins28160.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-02-28 08:00] kkartunov commented on #244
Done.

[2020-02-28 08:00] #244 closed

[2020-02-28 08:02] kkartunov commented on #244
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30117559<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-02 11:42] kkartunov opened #246 "[$75]Community - how it works pages refresh"
In scope is to update how it works pages to match new design and content. List:

- Privacy Policy - https://marvelapp.com/535c9ga/screen/66381056
- TOPCODER Event Terms & Conditions - https://marvelapp.com/535c9ga/screen/66381057/handoff
- Terms & Conditions OF USE - https://marvelapp.com/535c9ga/screen/66381058/handoff
- Community Code of Conduct - https://marvelapp.com/535c9ga/screen/66381059/ha

[2020-03-02 11:45] kkartunov commented on #246
Contest https://www.topcoder.com/challenges/30117837 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-02 11:46] kkartunov commented on #246
Contest https://www.topcoder.com/challenges/30117837 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-02 15:43] iversonLv commented on #246
@kkartunov Ready for review

Privacy Policy
https://app.contentful.com/spaces/b5f1djy59z3a/entries/1fe6CQwZyULYhvshr5K7ie

TOPCODER Event Terms & Conditions
https://app.contentful.com/spaces/b5f1djy59z3a/entries/63H8o8xhFrBhht9xVbaMie

Terms & Conditions OF USE
https://app.contentful.com/spaces/b5f1djy59z3a/entries/xMmfiEcJZtAerMIRFrBq9

Community Code of Conduct
https://app.contentful.com/spaces/

[2020-03-03 07:26] kkartunov commented on #246
Done.

[2020-03-03 07:26] #246 closed

[2020-03-03 07:27] kkartunov commented on #246
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30117837<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-04 13:07] kkartunov opened #247 "[$75]Create 2 Community pages with updated design"
In scope to create as new viewports are:

1. An Inclusive World at Topcoder - https://marvelapp.com/535c9ga/screen/66441664/handoff
2. MEMBER PROGRAMS - https://marvelapp.com/535c9ga/screen/66441676/handoff

Viewports created should match the design. Please list Contentful links as a result.

Links of the member programs cards from here https://www.topcoder.com/community/member-programs

[2020-03-04 17:55] iversonLv commented on #247
@kkartunov Ready for review

An Inclusive World at Topcoder
https://app.contentful.com/spaces/b5f1djy59z3a/entries/3XZGmoK8Lo7tKpYy7KZVfp

MEMBER PROGRAMS
https://community-app.topcoder.com/examples/contentful/viewport/6zkJYiiEJChVegYQ1mztpo

[2020-03-05 03:47] kkartunov commented on #247
Contest https://www.topcoder.com/challenges/30118324 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-05 03:47] kkartunov commented on #247
This ticket was not processed for payment. If you would like to process it for payment, please reopen it, add the ```tcx_FixAccepted``` label, and then close it again<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-05 03:48] kkartunov commented on #247
Contest https://www.topcoder.com/challenges/30118324 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-05 05:00] kkartunov commented on #247
Done.

[2020-03-05 05:00] #247 closed

[2020-03-05 05:01] kkartunov commented on #247
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30118324<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-05 08:57] kkartunov opened #248 "[$325]Create Member stories pages for Community redesign"
In scope:

- https://marvelapp.com/535c9ga/screen/66381060/handoff
- https://marvelapp.com/535c9ga/screen/66381061/handoff such layout for each of the existing member series (currently 18)

Notes:
- reuse existing viewports and directly update them **but do not publish them before review**. List of entries here https://app.contentful.com/spaces/b5f1djy59z3a/entries/3RttDbTjrOYsOm0EuG0G8M?previousE

[2020-03-05 09:02] kkartunov commented on #248
Contest https://www.topcoder.com/challenges/30118373 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-05 13:05] kkartunov commented on #248
Contest https://www.topcoder.com/challenges/30118373 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-05 16:44] jlhopkins28160 opened #249 "An Introduction to SymPy"
Track: Development
Author; hopkins28160

[An Introduction to SymPy.docx](https://github.com/topcoder-platform/thrive-submit/files/4294055/An.Introduction.to.SymPy.docx)

[2020-03-05 18:57] iversonLv commented on #248
@kkartunov ready for review

| page         | contentful url                                                                                  | preview url     |
|--------------|-------------------------------------------------------------------------------------------------|-----------------|
| Stories main | [contentful url](https://app.contentful.com/spaces/b5f1djy59z3a/entries/5xnJEMP49q86WaSs

[2020-03-08 17:17] kkartunov commented on #249
passed min checks

[2020-03-09 03:34] kkartunov commented on #248
Done.

[2020-03-09 03:34] #248 closed

[2020-03-09 03:34] kkartunov commented on #248
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30118373<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-19 12:23] billsedison commented on #249
Looks okay to me, but it is more related Data Science track. @kkartunov

@harshitmehta123 Maybe you want to have a look?

[2020-03-19 12:34] billsedison commented on #249
Discussed with @harshitmehta123, the article is not that helpful, the main resources can be found from https://docs.sympy.org/latest/tutorial/index.html. People is better to get started by the official tutorial.

So we have to decline your article. Thanks for your efforts anyway.

[2020-03-19 12:43] #249 closed

[2020-03-20 06:58] kkartunov opened #250 "[$400]SRM editorials extraction for Thrive #1"
In scope are https://docs.google.com/spreadsheets/d/1tUkyzCHGUV5PJTP9Ca9aMiEgtoJNuA0tSV7vQD4MKC8/edit#gid=2101795644&range=1:110

[2020-03-20 07:00] kkartunov commented on #250
Contest https://www.topcoder.com/challenges/30120194 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-20 07:08] kkartunov commented on #250
Contest https://www.topcoder.com/challenges/30120194 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-20 18:13] iversonLv commented on #250
@kkartunov Ready for review
Thanks

From row 1- 110, total 99 rows as one row is not regular one which I commented, 10 orange bg rows are out of scope

[2020-03-23 16:33] kkartunov commented on #250
Done.

[2020-03-23 16:33] #250 closed

[2020-03-23 16:34] kkartunov commented on #250
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120194<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-23 16:46] kkartunov opened #251 "[$250]SRM editorials - content formatting for Thrive #1"
In scope is to update content for https://docs.google.com/spreadsheets/d/1tUkyzCHGUV5PJTP9Ca9aMiEgtoJNuA0tSV7vQD4MKC8/edit#gid=0&range=1:464

[2020-03-23 17:16] kkartunov commented on #251
Contest https://www.topcoder.com/challenges/30120656 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-23 17:16] kkartunov commented on #251
Contest https://www.topcoder.com/challenges/30120656 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-24 11:51] hockshem opened #252 "[$50]A Foodie Map built using Google Maps Web Service"

[2020-03-26 14:54] kkartunov opened #253 "[$400]SRM editorials extraction for Thrive #2"
In scope are: https://docs.google.com/spreadsheets/d/1tUkyzCHGUV5PJTP9Ca9aMiEgtoJNuA0tSV7vQD4MKC8/edit#gid=2101795644&range=B112:B221

[2020-03-26 14:59] kkartunov commented on #253
Contest https://www.topcoder.com/challenges/30120967 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-26 15:00] kkartunov commented on #253
Contest https://www.topcoder.com/challenges/30120967 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-27 03:41] hockshem commented on #252
**Track:** Development
**Author:** hockshem.c

[Thrive.docx](https://github.com/topcoder-platform/thrive-submit/files/4391335/Thrive.docx)

[2020-03-27 03:44] hockshem commented on #252
While I'm certain that the content in the submission is 100% original and I did not plagiarize, the Grammarly check deduced that plagiarism was detected in my document. Since I have included some code snippets, could it be the reason that I failed the plagiarism check? Please advice.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/48983083/77719423-2d548680-7020-11ea-

[2020-03-28 04:12] iversonLv commented on #253
@kkartunov Ready for review

https://github.com/topcoder-platform/thrive-submit/issues/253
https://docs.google.com/spreadsheets/d/1tUkyzCHGUV5PJTP9Ca9aMiEgtoJNuA0tSV7vQD4MKC8/edit#gid=0&range=A465:A911
https://docs.google.com/spreadsheets/d/1tUkyzCHGUV5PJTP9Ca9aMiEgtoJNuA0tSV7vQD4MKC8/edit#gid=2101795644&range=B112:B223
There are some SRMs do not have forum url
There are some SRMs are not regular

[2020-03-28 09:25] kkartunov opened #254 "[$250]SRM editorials - content formatting for Thrive #2"
In scope are 85 SRM pages. Rows 465 - 834 as marked it in magenta color in sheet https://docs.google.com/spreadsheets/d/1tUkyzCHGUV5PJTP9Ca9aMiEgtoJNuA0tSV7vQD4MKC8/edit#gid=0&range=465:834

[2020-03-28 09:27] kkartunov commented on #253
Forum links on top header if not on the problems button. For the next iterations pay attention and add.
Thanks. This is done.

[2020-03-28 09:27] #253 closed

[2020-03-28 09:27] kkartunov commented on #253
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120967<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-28 09:30] kkartunov commented on #254
Contest https://www.topcoder.com/challenges/30121106 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-28 09:41] kkartunov commented on #254
Contest https://www.topcoder.com/challenges/30121106 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-28 09:43] kkartunov commented on #252
@hockshem your article needs to pass Grammarly check to be accepted for review. Please, make sure it does. The reasons could be code, references or etc.

Recheck and submit an updated version. Thanks

[2020-03-28 15:46] hockshem commented on #252
[Thrive.docx](https://github.com/topcoder-platform/thrive-submit/files/4397385/Thrive.docx)

@kkartunov done updating, please review. thanks

[2020-03-30 06:34] kkartunov commented on #251
Done.

[2020-03-30 06:34] #251 closed

[2020-03-30 06:35] kkartunov commented on #251
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30120656<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-03-30 06:38] kkartunov commented on #252
passed min checks.

[2020-03-30 13:12] rajanmourya opened #255 "Add Google Map in Flutter And Get Users current Location"
[Flutter Article Thrive.docx](https://github.com/topcoder-platform/thrive-submit/files/4402936/Flutter.Article.Thrive.docx)

Track - Development

[2020-03-30 22:59] VanitaW opened #256 "[$50]QA at Topcoder: A Beginner’s Guide"
Track:  QA
Topcoder Handle:  VanitaW

https://docs.google.com/document/d/1A-6_WG0CGn9c1R9fGhPNNiVUqvHu2lF-mMjM7Nc7Mlo/edit?usp=sharing

[2020-03-30 23:04] VanitaW commented on #256
I originally uploaded the article image links to dropbox. The dropbox links did not past the plagiarism checker.  I did not have an issue with plagiarism when I changed the image links to google drive links.  The banner image is from Adobe stock and is royalty free.

[2020-04-01 13:21] kkartunov commented on #256
passed min checks

[2020-04-01 13:22] kkartunov commented on #255
passed min checks

[2020-04-01 15:02] iversonLv commented on #254
@kkartunov Ready for review

[2020-04-02 05:08] kkartunov commented on #252
@billsedison, please review.

[2020-04-02 05:08] kkartunov commented on #255
@billsedison, please review.

[2020-04-02 05:08] kkartunov commented on #256
@winterflame please review.

[2020-04-02 06:24] kkartunov opened #257 "[$250]SRM editorials extraction for Thrive #3"
Scrape and prepare for import 217 SRMs. Exact rows https://docs.google.com/spreadsheets/d/1tUkyzCHGUV5PJTP9Ca9aMiEgtoJNuA0tSV7vQD4MKC8/edit#gid=2101795644&range=225:477 (without orange-colored rows).

[2020-04-02 06:29] kkartunov commented on #257
Contest https://www.topcoder.com/challenges/30121575 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-02 07:05] kkartunov commented on #257
Contest https://www.topcoder.com/challenges/30121575 has been updated - it has been assigned to iversonLv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-02 08:06] kkartunov commented on #254
Payment failed: [500]: Failed to get billing detail for the project.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-02 08:54] winterflame commented on #256
Hi @kkartunov , I think the content is pretty good for new members to get started in the QA track.

@VanitaW Just some tiny issues, please correct them if you agree:
1) Test Case Creation -> Test Cases Creation  (same issue in 2 places).
2) Ending dots missing for the paragraphs "Test Scenarios and Test Case Creation" and "Automated Testing".

Thanks!

[2020-04-02 17:51] VanitaW commented on #256
@kkartunov @winterflame I made the corrections.  Thank you!

[2020-04-02 19:10] iversonLv commented on #257
@kkartunov Ready for review

[2020-04-03 16:07] iversonLv commented on #254
@kkartunov Could you please update the ticket status again? Topcoder X seems failed for the payment process.

THanks.

[2020-04-03 21:30] #254 closed

[2020-04-03 21:30] kkartunov commented on #254
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30121106<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-03 21:31] kkartunov commented on #254
Done. @iversonLv

[2020-04-03 21:32] kkartunov commented on #257
Done.

[2020-04-03 21:32] #257 closed

[2020-04-03 21:32] kkartunov commented on #257
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30121575<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-08 13:05] billsedison commented on #252
Good article! Shared detailed steps about how to build a foodie map using Google Maps Web Service.

[2020-04-08 13:09] billsedison commented on #255
Good article. However, in the article https://github.com/topcoder-platform/thrive-submit/issues/252, it already contains the code about how to get the current location. So we can't accept the article that has the similar content. Sorry.

[2020-04-08 13:20] rajanmourya commented on #255
Ok, No Problem

[2020-04-09 04:10] winterflame commented on #256
@VanitaW Sorry for the delay, thanks.

[2020-04-09 07:23] hockshem commented on #252
Thanks. So is there anything else pending from me?
Besides, I have two questions regarding the thrive article payment:
1. When will the payment be processed?
2. How much will I be paid? The guideline [https://www.topcoder.com/thrive/articles/Submitting%20a%20Thrive%20Article](here) mentioned that I will get paid 50 dollars per article, but the Flutter Challenge Series stated that I will be paid 10

[2020-04-10 03:10] billsedison commented on #252
Hi @hockshem ,

1. @kkartunov please help process the payment.
2. For now, the article will be paid $50.
As per the specification

Then $100 will be paid when the third challenge is completed and we will pay the top 5 articles $100 each. So if your article is one of the top 5, we will pay you an extra $50.

[2020-04-10 07:15] hockshem commented on #252
I see, thank you so much for the clarification.

On Fri, 10 Apr 2020 at 11:10, billsedison <notifications@github.com> wrote:

[2020-04-10 10:58] #255 closed

[2020-04-10 11:01] kkartunov commented on #252
Yes @hockshem $50 is the rate. Thank You for your article and feel welcome to submit again.

[2020-04-10 11:16] rajanmourya opened #258 "Learn How to Parse Complex JSON in Flutter for Beginners"

[2020-04-10 11:20] kkartunov commented on #252
Contest https://www.topcoder.com/challenges/30122067 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 11:20] kkartunov commented on #256
Contest https://www.topcoder.com/challenges/30122068 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 11:21] kkartunov commented on #256
Contest https://www.topcoder.com/challenges/30122068 has been updated - it has been assigned to VanitaW.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 11:21] kkartunov commented on #252
@hockshem, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 12:20] kkartunov commented on #252
@hockshem to process your payment please:

1. Check your github email, you have been invited to our org https://github.com/topcoder-platform. Accept the invitation.
2. click this link to sign-up with X https://x.topcoder.com/api/v1/github/teams/registration/105e772b-d566-4fb8-8a88-a3a33493a673-1586520961795

[2020-04-10 13:55] rajanmourya commented on #258
[Json Parsing.docx](https://github.com/topcoder-platform/thrive-submit/files/4461811/Json.Parsing.docx)

Track - Development
Topcoder handle - rajanmourya2015

[2020-04-10 16:13] hockshem commented on #252
@kkartunov both steps done. Thanks.

[2020-04-10 16:16] kkartunov opened #259 "[$100]SRM Editorials Formatting #1"
This one is related to challenge https://www.topcoder.com/challenges/30122094. It is now open for pickup. @topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity

**Pages in scope**:

https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm284
https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm283
https://www.topcoder.com/tc?module=Static&d1=match_editor

[2020-04-10 16:19] kkartunov commented on #259
Contest https://www.topcoder.com/challenges/30122086 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 16:20] kkartunov opened #260 "[$100]SRM Editorials Formatting #2"
This one is related to challenge https://www.topcoder.com/challenges/30122094. It is now open for pickup. @topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity

**Pages in scope:**

https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=tco05_qual4
https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=tco05_qual3
https://www.topcoder.com/tc?module=Static&d1=ma

[2020-04-10 16:23] kkartunov commented on #260
Contest https://www.topcoder.com/challenges/30122087 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 16:25] kkartunov opened #261 "[$100]SRM Editorials Formatting #3"
This one is related to challenge https://www.topcoder.com/challenges/30122094. It is now open for pickup. @topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity

**Pages in scope:**

https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm231
https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm230
https://www.topcoder.com/tc?module=Static&d1=match_editor

[2020-04-10 16:27] kkartunov commented on #261
Contest https://www.topcoder.com/challenges/30122088 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 16:27] kkartunov opened #262 "[$100]SRM Editorials Formatting #4"
This one is related to challenge https://www.topcoder.com/challenges/30122094. It is now open for pickup. @topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity

**Pages in scope:**

https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=tco04_online_rd_3
https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=tco04_online_rd_2
https://www.topcoder.com/tc?module=

[2020-04-10 16:29] kkartunov opened #263 "[$100]SRM Editorials Formatting #5"
This one is related to challenge https://www.topcoder.com/challenges/30122094. It is now open for pickup. @topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity

**Pages in scope:**

https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm193
https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm192
https://www.topcoder.com/tc?module=Static&d1=match_editor

[2020-04-10 16:29] kkartunov commented on #262
Contest https://www.topcoder.com/challenges/30122089 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 16:31] kkartunov opened #264 "[$100]SRM Editorials Formatting #6"
This one is related to challenge https://www.topcoder.com/challenges/30122094. It is now open for pickup. @topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity

**Pages in scope:**

https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm172
https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=crpf_finals
https://www.topcoder.com/tc?module=Static&d1=match_e

[2020-04-10 16:31] kkartunov commented on #263
Contest https://www.topcoder.com/challenges/30122090 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 16:32] kkartunov opened #265 "[$100]SRM Editorials Formatting #7"
This one is related to challenge https://www.topcoder.com/challenges/30122094. It is now open for pickup. @topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity

**Pages in scope:**

https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm150
https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm149
https://www.topcoder.com/tc?module=Static&d1=match_editor

[2020-04-10 16:33] kkartunov opened #266 "[$100]SRM Editorials Formatting #8"
This one is related to challenge https://www.topcoder.com/challenges/30122094. It is now open for pickup. @topcoder-platform/topcodercompetitors @topcoder-platform/tcxcommunity

**Pages in scope:**

https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm125
https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm124
https://www.topcoder.com/tc?module=Static&d1=match_editor

[2020-04-10 16:33] kkartunov commented on #264
Contest https://www.topcoder.com/challenges/30122091 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 16:34] kkartunov commented on #265
Contest https://www.topcoder.com/challenges/30122092 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 16:35] kkartunov commented on #266
Contest https://www.topcoder.com/challenges/30122093 has been created for this ticket.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 23:09] kkartunov commented on #258
ready for review

[2020-04-10 23:09] kkartunov commented on #252
@hockshem, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-10 23:10] kkartunov commented on #252
Hmm, @hockshem still not working. Can you retry?

[2020-04-10 23:12] kkartunov commented on #252
@hockshem, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 04:17] mark-nakachon commented on #262
Hi I want to pick up this issue @kkartunov

[2020-04-11 04:30] iversonLv commented on #259
@kkartunov Can I take it?

[2020-04-11 04:43] hockshem commented on #252
@kkartunov Just by clicking the link that you gave right? I clicked on this https://x.topcoder.com/api/v1/github/teams/registration/105e772b-d566-4fb8-8a88-a3a33493a673-1586520961795
and it redirected me to the Topcoder homepage.

<img width="1680" alt="image" src="https://user-images.githubusercontent.com/48983083/79035522-0a1a0180-7bf2-11ea-8ae6-fbd20df16465.png">

[2020-04-11 05:20] iversonLv commented on #259
https://github.com/topcoder-platform/community-app/blob/develop/config/contentful/thrive-core.json
Could you please grant the access for this ?

[2020-04-11 05:27] iversonLv commented on #259
contentful space import --space-id <add here> --mt <add here> --content-file ./tc-core.json
I face problem
[code]

[2020-04-11 05:54] iversonLv commented on #259
Please ignore my request, can't  deploy the community-app under windows
If other members wanna take this ticket, go ahead.
Thanks.

[2020-04-11 07:41] igatanasov commented on #266
I'm starting working on this issue

[2020-04-11 07:52] kkartunov commented on #266
Contest https://www.topcoder.com/challenges/30122093 has been updated - it has been assigned to iatanasov.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 07:54] kkartunov commented on #252
@hockshem, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 08:10] fctorial commented on #264
I would like to work on this task.

[2020-04-11 08:12] AliGebily commented on #265
@kkartunov, I'm going to work on this issue

[2020-04-11 08:25] kkartunov commented on #265
Contest https://www.topcoder.com/challenges/30122092 has been updated - it has been assigned to AliGebily.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 08:25] kkartunov commented on #264
@fctorial, please sign-up with Topcoder X tool<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 08:26] simranb86 commented on #259
@kkartunov can you assign me ? I would like to try this

[2020-04-11 08:44] fctorial commented on #264
@kkartunov I've registered for the challenge at topcoder.com just now. Do I need to register somewhere else as well to get assigned?

[2020-04-11 08:51] rashmi73 commented on #263
@kkartunov kindly assign me this

[2020-04-11 08:55] simranb86 commented on #259
@kkartunov kindly assign me this.

[2020-04-11 08:57] fctorial commented on #260
Can I get assigned for this issue?

[2020-04-11 09:01] vivkv commented on #260
@kkartunov please assign this to me

[2020-04-11 09:02] vivkv commented on #261
@kkartunov please assign this to me if possible

[2020-04-11 09:31] hockshem commented on #252
@kkartunov I'm really sorry for the delay caused. I am quite new to this and don't have clue on what to do next. Please advice.

[2020-04-11 09:34] kkartunov commented on #263
Contest https://www.topcoder.com/challenges/30122090 has been updated - it has been assigned to rashmi73.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 09:34] kkartunov commented on #261
Contest https://www.topcoder.com/challenges/30122088 has been updated - it has been assigned to vivkv.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 09:35] kkartunov commented on #259
Contest https://www.topcoder.com/challenges/30122086 has been updated - it has been assigned to sr_jr.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 10:42] kkartunov commented on #262
Contest https://www.topcoder.com/challenges/30122089 has been updated - it has been assigned to harishchennupa.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 11:00] iqbalhood opened #267 "[WIP] Getting Started - Mobile Development with Flutter SDK"
Work In Progress

[2020-04-11 11:59] kkartunov commented on #260
@vivkv you have one assigned already. Only one at the time is allowed.

[2020-04-11 12:00] Gauravseta commented on #260
@kkartunov pls assign me

[2020-04-11 13:44] anu0012 commented on #260
@kkartunov Can you please assign this issue to me?

[2020-04-11 13:47] anu0012 commented on #264
@kkartunov Can you please assign this issue to me?

[2020-04-11 14:53] kkartunov commented on #260
@fctorial was first here but he/she has no TCX access yet thus let's move to the next one, please. This is @Gauravseta . Thank You all!

[2020-04-11 14:53] kkartunov commented on #260
Contest https://www.topcoder.com/challenges/30122087 has been updated - it has been assigned to gauravseta.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 14:59] kkartunov commented on #264
@fctorial you can start working on this. We will be granting you access in some time...
Please, confirm you take it or we going to give it to another one. Thank You.

[2020-04-11 15:02] kkartunov commented on #252
@hockshem it looks system can't recognize you. Are you sure you clicked on this link and logged in with your TC account? https://x.topcoder.com/api/v1/github/teams/registration/64e827e3-465e-4ea0-a532-1416b6e4268f-1586617289528

[2020-04-11 15:10] kkartunov commented on #264
@fctorial
We sent you invite to our org on your github email. Please, accept it and the click this link https://x.topcoder.com/api/v1/github/teams/registration/64e827e3-465e-4ea0-a532-1416b6e4268f-1586617289528 to register.

[2020-04-11 15:44] fctorial commented on #264
@kkartunov Yes I would like to work on this issue.

I've joined using the link sent on email and and the above link.

[2020-04-11 17:55] hockshem commented on #252
@kkartunov I tried it using another browser. Should be fine now .

[2020-04-11 19:48] AliGebily commented on #265
@kkartunov, I'm sorry because it seems that I will not be able meet deadline of the issue.
I spent many hours trying to setup environment because I'm using windows. Also, I was interrupted many times during work by other tasks.

[2020-04-11 21:27] kkartunov commented on #264
Contest https://www.topcoder.com/challenges/30122091 has been updated - it has been assigned to fctorial.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 21:30] kkartunov commented on #265
Thank you @AliGebily for your efforts.

[2020-04-11 21:33] kkartunov commented on #252
Contest https://www.topcoder.com/challenges/30122067 has been updated - it has been assigned to hockshem.c.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-11 22:36] sjbr commented on #265
@kkartunov
Please, assign this ticket to me

[2020-04-12 00:31] mark-nakachon commented on #265
@kkartunov I completed many pages and will submit within few hours please assign it to me

[2020-04-12 00:57] mark-nakachon commented on #259
@kkartunov I completed many pages for #262 and will submit within few hours and I see that @simranb86 removed his assignment please assign this to me

[2020-04-12 01:08] mark-nakachon commented on #262
@kkartunov where to submit the file exported after completing all pages .

[2020-04-12 02:18] Gauravseta commented on #260
@kkartunov will submit it in sometime else I will open it

[2020-04-12 05:14] mark-nakachon commented on #265
@kkartunov I completed #262 I want to pick up this please assign me this

[2020-04-12 05:15] mark-nakachon commented on #259
@kkartunov I completed #262 please assign me this

[2020-04-12 05:18] mark-nakachon commented on #262
@kkartunov I completed this please review

[2020-04-12 06:12] anu0012 commented on #265
@kkartunov Please assign this to me.

[2020-04-12 06:29] radoy commented on #265
@kkartunov please assign to me, i'm going to work on these issues.

thank you

[2020-04-12 06:44] kkartunov commented on #265
@sjbr was first requesting so it is fair to assign to him/her. If it doesn't work we will move to next one.

Thanks much all for your collaboration.

[2020-04-12 06:44] kkartunov commented on #265
Contest https://www.topcoder.com/challenges/30122092 has been updated - it has been assigned to sjbr.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-12 06:46] kkartunov commented on #262
@mark-nakachon please submit URL to download here and to OR. Here GitHub does not allow json attachments. Thanks

[2020-04-12 06:49] kkartunov commented on #260
@Gauravseta you do have approx. 20h more. We extended time for tickets to 36h. Please, complete. If you plan to NOT to complete open the ticket to others and not waist time. Thanks

[2020-04-12 06:51] kkartunov commented on #259
@mark-nakachon please submit for #262 and will assign this to you. Thanks

[2020-04-12 07:52] vivkv commented on #261
@kkartunov  please assign to someone else as upgrade to node version 12 in order to import contentful file is not compatible to build the app it seems (npm install is failing now).

[2020-04-12 08:16] kkartunov commented on #261
@vivkv you can use nvm https://github.com/nvm-sh/nvm and just switch versions on you env. You want to try before I unassign you?

[2020-04-12 08:31] vivkv commented on #261
@kkartunov I think I will not be able to finish in the given timeline as till now not a single page has been formatted and setup is also pending. Please give it to someone else.

[2020-04-12 08:35] rashmi73 commented on #263
@kkartunov just some time more

[2020-04-12 08:58] PrakashDurlabhji commented on #261
@kkartunov pls let me try thanks. Kindly assign me

[2020-04-12 09:09] mark-nakachon commented on #262
https://drive.google.com/file/d/1RbuhEVlqoHC1q-DZcstv0FCv4U5rgc5M/view?usp=sharing

You can download the file from here

[2020-04-12 09:24] mark-nakachon commented on #259
Yeahh submitted

[2020-04-12 10:21] kkartunov commented on #259
Contest https://www.topcoder.com/challenges/30122086 has been updated - harishchennupa has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-12 10:22] kkartunov commented on #259
Contest https://www.topcoder.com/challenges/30122086 has been updated - harishchennupa has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-12 10:28] kkartunov commented on #261
Contest https://www.topcoder.com/challenges/30122088 has been updated - PkDurlabhji has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-12 10:28] kkartunov commented on #261
Contest https://www.topcoder.com/challenges/30122088 has been updated - PkDurlabhji has been unassigned.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-12 10:29] kkartunov commented on #261
Contest https://www.topcoder.com/challenges/30122088 has been updated - it has been assigned to PkDurlabhji.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-12 10:30] kkartunov commented on #261
Done. @PrakashDurlabhji good luck.

[2020-04-12 10:34] kkartunov commented on #259
Contest https://www.topcoder.com/challenges/30122086 has been updated - it has been assigned to harishchennupa.<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-12 11:36] PrakashDurlabhji commented on #261
@kkartunov I have few doubts, I done with setup almost.

this is screenshot of SRM 224 article which I am editing it.

<img width="943" alt="Capture17" src="https://user-images.githubusercontent.com/28830240/79067685-eda7c300-7cde-11ea-97a5-f6919b68f14e.PNG">

1. On above page I see title, Type, Track Category, Content Category, Tags, Content and many more.
2. So out of above all, I just need to t

[2020-04-12 13:02] igatanasov commented on #266
@kkartunov I have one more item for conversion - https://www.topcoder.com/tc?module=Static&d1=match_editorials&d2=srm125. Please add it to the list

[2020-04-12 13:39] shubajitsaha commented on #263
I am interested to pick this up.

[2020-04-12 13:51] igatanasov commented on #266
@kkartunov submitted the ticket, ready for review

[2020-04-12 13:56] rashmi73 commented on #263
@kkartunov PR in 1 hour. I am actively working

[2020-04-12 13:57] Gauravseta commented on #260
@kkartunov time will not be wasted  I will complete it

[2020-04-12 13:59] igatanasov commented on #266
[submission-266.zip](https://github.com/topcoder-platform/thrive-submit/files/4466444/submission-266.zip)

[2020-04-12 15:29] kkartunov commented on #261
@PrakashDurlabhji
2.yes
3.yes
4.yes
5.yes

Thank you!

[2020-04-12 15:37] mark-nakachon commented on #259
@kkartunov when I am importing this file using this
 contentful space import --space-id <space-id> --mt <-mt> --content-file ./SRM1.json
I am not getting any article in my contenful space

Is provided file is correct one please check once

I used same procedure when worked on this one #262 but it's not working with this
seem's issu with file

[2020-04-12 16:24] PrakashDurlabhji commented on #261
@kkartunov kindly request you to see this screenshot for SRM 231. this is how it looks on localhost:3000

<img width="942" alt="srm1" src="https://user-images.githubusercontent.com/28830240/79074091-0f697000-7d08-11ea-8c32-00e8b4ea099c.PNG">
<img width="938" alt="srm2" src="https://user-images.githubusercontent.com/28830240/79074094-109a9d00-7d08-11ea-84a1-1486344503a8.PNG">
<img width="938" alt="

[2020-04-12 17:04] fctorial commented on #264
The work is ready for review:

https://drive.google.com/file/d/1EpkFvvOnbOh_mj_q9ouHo9DWiGexwMjl/view?usp=sharing

[2020-04-12 17:10] kkartunov commented on #261
@PrakashDurlabhji not sure what you asking here? If this is SRM 231 it looks far different from its source. This is not okay. Why problems are different? Fix them

[2020-04-12 17:20] kkartunov commented on #259
@mark-nakachon file is working fine for me and others. Check on your side and make sure command is correct.

[2020-04-12 17:22] PrakashDurlabhji commented on #261
@kkartunov these are 4 screenshots in sequence and it may look confusing but click on each screenshot and it will open in new tab and u may get an idea.

yes header in first problem is wrong i am talking about styles and spacing.

[2020-04-12 17:26] kkartunov commented on #261
@PrakashDurlabhji styles look ok. Education is not a problem part of SRM 231! I will make an exact review when you submit. Thanks

[2020-04-12 17:31] PrakashDurlabhji commented on #261
@kkartunov yes I know content is wrong as i am replacing it in sequence from bottom to top.

I was previewing it locally and took screenshot and pasted and then suddenly it stopped working locally? anything i missed locally?

[2020-04-12 17:32] PrakashDurlabhji commented on #261
<img width="781" alt="Capture" src="https://user-images.githubusercontent.com/28830240/79075618-9d962400-7d11-11ea-899f-d034aca46743.PNG">

[2020-04-12 17:34] PrakashDurlabhji commented on #261
@kkartunov I just cros verified, even non edited SRM 228 having just 2 lines of markdown content showing such error, I guess some problem at Contentful.

[2020-04-12 17:37] mark-nakachon commented on #259
https://prnt.sc/rxx1aa

When I am importing SRM4.json I am getting 60 entries

but when
https://prnt.sc/rxx22n
I am importing SRM1.json I am getting only 1 entry

So this is a problem of SRM file right??

[2020-04-12 17:37] kkartunov commented on #261
@PrakashDurlabhji not sure why this error but it should not be there. It looks  it is the origin of "suddenly it stopped working".

[2020-04-12 17:53] fctorial commented on #264
Contentful credentials:

[code]

[2020-04-12 18:20] fctorial commented on #264
Env config:

[code]

[2020-04-12 21:35] PrakashDurlabhji commented on #261
@kkartunov

set COMMUNITY_APP_URL="http://localhost:3000"
set CONTENTFUL_LOCAL_MODE=1
set NODE_CONFIG_ENV="development"
set NODE_OPTIONS=--max_old_space_size=8172

# For working with Community space
set CONTENTFUL_CDN_API_KEY=QKamyywksud-uEsKaqh5Wu4XhUW5couCGVqY7-23gw8
set CONTENTFUL_PREVIEW_API_KEY=aCCsAq4zFNHU3Ah9wElYGsmQq_fba-92GllfR6eEvKI
set CONTENTFUL_SPACE_ID=4lgas96jqa6o

# For working wit

[2020-04-12 21:39] PrakashDurlabhji commented on #261
[submission_pkdurlabhji.zip](https://github.com/topcoder-platform/thrive-submit/files/4467205/submission_pkdurlabhji.zip)

[2020-04-12 22:15] Gauravseta commented on #260
@kkartunov kindly verify
[submission_gauravseta.zip](https://github.com/topcoder-platform/thrive-submit/files/4467262/submission_gauravseta.zip)

[2020-04-12 22:18] rashmi73 commented on #263
@kkartunov please unassignn me as it may take more time this can be opened

[2020-04-12 22:19] PrakashDurlabhji commented on #263
@kkartunov Please give it to me thanks

[2020-04-13 03:48] sjbr commented on #265
@kkartunov
I submitted
Ticket is ready for review

[2020-04-13 06:29] kkartunov commented on #259
@mark-nakachon is your space clean before you import? Spec says explicitly to clean it, right. There is no file with 60 entries to work we limited to max 30. Also, probably you have imported the file but can't difference entries as space was not empty.

Make space empty and try again.

[2020-04-13 06:32] mark-nakachon commented on #259
@kkartunov I created a separate space not the one for which I worked on #262 but I am getting that
and in those 60 entries I only saw less than 30 articles which I worked on for #262 I will try with a new account then once please check on your side too

[2020-04-13 06:50] mark-nakachon commented on #259
@kkartunov unable to get articles to see these
http://prnt.sc/ry7sip
http://prnt.sc/ry7s9q

[2020-04-13 08:10] kkartunov commented on #259
@mark-nakachon It looks the file is indeed broken. Not sure how this happened. Thank You for efforts so far and for making this bug known to use.

Here is the updated file https://drive.google.com/file/d/1TNEZx0K7PJJ8chbldkdKkCdVq_2boAps/view?usp=sharing

Please, work with it. Thanks much

[2020-04-13 08:15] kkartunov commented on #261
@PrakashDurlabhji what have you submitted here? Why path file to community-app? We need your Contentful space export file no work is expected on community-app itself.

Please, explain quickly your doings?

[2020-04-13 08:16] kkartunov commented on #263
@PrakashDurlabhji not before we clear https://github.com/topcoder-platform/thrive-submit/issues/261 with you. Thanks

[2020-04-13 08:29] khushimehta03 commented on #263
@kkartunov Can I work on it? I may have to register with x.topcoder. doing it.

[2020-04-13 08:30] PrakashDurlabhji commented on #261
@kkartunov yes I exported and a json file is attached. let me recheck

[2020-04-13 08:37] khushimehta03 commented on #263
@kkartunov I have started working.

[2020-04-13 09:53] kkartunov commented on #256
Done. Thanks You @VanitaW

[2020-04-13 09:53] #256 closed

[2020-04-13 09:54] kkartunov commented on #256
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122068<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-13 10:02] kkartunov commented on #252
Done. Thank You @hockshem !

[2020-04-13 10:02] #252 closed

[2020-04-13 10:03] kkartunov commented on #252
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122067<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-13 10:05] kkartunov commented on #263
OK @khushimehta03, this ticket will be assigned for you. We will need you to sign with TCX. I will prepare the needed. You continue your work...

[2020-04-13 12:09] hockshem commented on #252
Thank you so much. :)

On Mon, 13 Apr 2020 at 18:03, Kiril Kartunov <notifications@github.com>
wrote:

[2020-04-13 12:56] kkartunov commented on #266
@igatanasov Thanks for your work. I have reviewed and notice some minor fixes needed:
- Please be consistent. There are entries where you use `<h4>Implementation</h4>` and on some you use `**Implementation**`
- Problem links have an additional `<br>` which makes them break more than example. See
![Screenshot from 2020-04-13 15-52-18](https://user-images.githubusercontent.com/5585002/79121966-3e7ef

[2020-04-13 13:09] kkartunov commented on #264
@fctorial  Thanks for your work. I have reviewed and notice some minor fixes needed:
- **Some** Problem links have an additional `<br>` which makes them break more than example. See
![Screenshot from 2020-04-13 15-52-18](https://user-images.githubusercontent.com/5585002/79121966-3e7ef080-7d9f-11ea-915e-c0036c2cb5d2.png) Should not be br between those 2 `<a>` tags in title.

Please, correct those e

[2020-04-13 13:19] igatanasov commented on #266
thanks for the feedback, will fix them and resubmit

[2020-04-13 14:00] quyjs commented on #263
@kkartunov hi! Are there any issues to work on? I just find out only this one.

[2020-04-13 14:22] kkartunov commented on #262
Great work @mark-nakachon! This is now done.

[2020-04-13 14:22] #262 closed

[2020-04-13 14:23] kkartunov commented on #262
Payment task has been updated: https://software.topcoder.com/review/actions/ViewProjectDetails?pid=30122089<br/><br/>```This is an automated message for kiril.kartunov via Topcoder X```

[2020-04-13 14:30] igatanasov commented on #266
[submission-266.zip](https://github.com/topcoder-platform/thrive-submit/files/4469891/submission-266.zip)

done

[2020-04-13 14:46] kkartunov commented on #266
@igatanasov thanks, will review it soon...

[2020-04-13 14:49] kkartunov commented on #263
@khushimehta03
- are you working on it?
- we have sent you an invite to our org in your GitHub email. Accept it to be able to work on TCX tickets.

[2020-04-13 15:07] PrakashDurlabhji commented on #261
@kkartunov sorry I uploaded wrong folder. this is latest one

[2020-04-13 15:11] fctorial commented on #264
@kkartunov Is this OK?

https://prnt.sc/ryijls

[2020-04-13 15:11] PrakashDurlabhji commented on #261
[submission-pkdurlabhji.zip](https://github.com/topcoder-platform/thrive-submit/files/4470057/submission-pkdurlabhji.zip)

kindly check this.

[2020-04-13 15:32] fctorial commented on #264
This export includes these changes:

https://drive.google.com/file/d/1QGd8mJoEUd30hiwZ4xeSIAOAau6-agMG/view?usp=sharing

[2020-04-13 15:41] mark-nakachon commented on #262
@kkartunov thanks 😊